function validate() {
	var err_count = 0;
	return err_count == 0;
}

function simpanPulanganDeposit(){
	if ( window.confirm("Anda pasti?") ){
		doDivAjaxCall$formname('div_main_entry','simpanPulanganDeposit','');
	}
}