<select id="idJenisPerjanjian" name="idJenisPerjanjian" style="width:100%" onChange="$('err_idJenisPerjanjian').innerHTML=''; at(this, event);doDivAjaxCall3$formname('popupPerjanjian','doChangeJenisPermohonanPerjanjianTambahan','')">
   <option value="">SILA PILIH</option>
    <option #if ( "2" ==  $!perjanjian.idJenisPerjanjian ) selected #end value="2">PERMOHONAN PERLANJUTAN SEWA</option>
    <option #if ( "3" ==  $!perjanjian.idJenisPerjanjian ) selected #end value="3">PERMOHONAN PENGURANGAN KADAR SEWA</option>
    <option #if ( "4" ==  $!perjanjian.idJenisPerjanjian ) selected #end value="4">PERMOHONAN PENGECUALIAN KADAR SEWA</option>   
    <option #if ( "5" ==  $!perjanjian.idJenisPerjanjian ) selected #end value="5">LAIN-LAIN</option>  
    ##<option #if ( "5" ==  $!perjanjian.idJenisPerjanjian ) selected #end value="5">PERMOHONAN PENAMATAN SEWA</option>   
</select>