<script>
	var flagSuccessDaftar = "$!flagSuccessDaftar";
	var errMsg = "$!errMsg";
	
	if ( flagSuccessDaftar == "Y" ) {
		swal({
				title: "Makluman!",
				text: "Permohonan telah berjaya didaftarkan!. Sila semak permohonan tersebut di Menu Senarai Permohonan.",
				type: "success"
				});
	} else {
		swal({
				title: "Perhatian!",
				text: errMsg,
				type: "error"
				});
	}
</script>