<script>
function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Kuarters",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaKuartersRecord";
	document.${formName}.submit();
}

function gotoPermohonanBaru() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPermohonanRecord";
	document.${formName}.submit();
}

function gotoPertukaranLokasi() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPermohonanTukarLokasiRecord";
	document.${formName}.submit();
}

function gotoNaikTarafKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPermohonanNaikTarafRecord";
	document.${formName}.submit();
}

function gotoDowngrade() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPermohonanDowngradeRecord";
	document.${formName}.submit();
}

function gotoSenaraiPermohonan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPermohonanOverallRecord";
	document.${formName}.submit();
}

function gotoRayuan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaRayuanRecord";
	document.${formName}.submit();
}

function gotoSenaraiMenunggu() {
	document.${formName}.action = "$lebahUtil.getTabID("Penawaran",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaAgihanRecord";
	document.${formName}.submit();
}

function gotoSenaraiMenungguBersyarat() {
	document.${formName}.action = "$lebahUtil.getTabID("Penawaran",$portal_role)?_portal_module=bph.modules.qtr.agihan.FrmKuaBersyaratRecord";
	document.${formName}.submit();
}

function gotoSenaraiTawaran() {
	document.${formName}.action = "$lebahUtil.getTabID("Penawaran",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaTawaranRecord";
	document.${formName}.submit();
}

function gotoPenyerahanKunci() {
	document.${formName}.action = "$lebahUtil.getTabID("Penawaran",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaDepositRecord";
	document.${formName}.submit();
}

function gotoRekodPenghuni() {
	document.${formName}.action = "$lebahUtil.getTabID("Penghuni",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPenghuniRecord";
	document.${formName}.submit();
}

function gotoSejarahPenghuni() {
	document.${formName}.action = "$lebahUtil.getTabID("Penghuni",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPenghuniHistoryRecord";
	document.${formName}.submit();
}

function gotoTemujanji() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengosongan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaTemujanjiRecord";
	document.${formName}.submit();
}

function gotoTemujanjiUtiliti() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengosongan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaTemujanjiInternalRecord";
	document.${formName}.submit();
}

function gotoPengesahanPengguna() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengesahan Pengguna",$portal_role)?_portal_module=portal.module.QTRPengesahanPenggunaRecordModule";
	document.${formName}.submit();
}

function gotoAuditTrail() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaAuditTrailRecord";
	document.${formName}.submit();
}

function gotoLogAktiviti() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.modules.qtr.FrmQTRAuditTrailRecord";
	document.${formName}.submit();
}

function gotoSenaraiAduan() {
	document.${formName}.action = "$lebahUtil.getTabID("Aduan",$portal_role)?_portal_module=bph.modules.pro.SenaraiAduanRecordModule";
	document.${formName}.submit();
}

function gotoLaporan() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaLaporanRecord";
	document.${formName}.submit();
}
</script>