#parse("bph/dashboard/style.vm")
#parse("$path/script.vm")
<table width="100%" border="0" cellspacing="0" cellpadding="5">
   <tr>
      <td width="60%" valign="top">
         <table width="100%" border="0" cellspacing="0" cellpadding="5">
            ## LAYER 1 - 1
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/myprofile.png"  width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Profil</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoKataLaluan()" class="help" title="Tukar Kata Laluan">
                                                <li><font color="blue" style="font-size:110%">&nbsp;Tukar Kata Laluan</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoProfile()" class="help" title="Profil Pengguna">
                                                <li><font color="blue" style="font-size:110%">&nbsp;Profil Pengguna</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Kuarters</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                    
                                             <a href="javascript:gotoKuarters()" class="help" title="Senarai Kuarters">
                                                <li><font color="blue" style="font-size:110%">&nbsp;Senarai Kuarters</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            ## LAYER 2 - 1
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Permohonan</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoPermohonanBaru()" class="help" title="Permohonan Baru">
                                                <li><font color="blue" style="font-size:110%">&nbsp;Permohonan Baru</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoPertukaranLokasi()" class="help" title="Pertukaran Lokasi" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Pertukaran Lokasi</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoNaikTarafKuarters()" class="help" title="Naik Taraf" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Naik Taraf Kuarters</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoDowngrade()" class="help" title="Downgrade Permohonan" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Downgrade</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoRayuan()" class="help" title="Rayuan" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Rayuan</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSenaraiPermohonan()" class="help" title="Senarai Permohonan Keseluruhan" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Senarai Permohonan Keseluruhan</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Penawaran</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSenaraiMenunggu()" class="help" title="Senarai Menunggu" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Senarai Menunggu</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSenaraiMenungguBersyarat()" class="help" title="Senarai Menunggu Bersyarat" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Senarai Menunggu Bersyarat</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSenaraiTawaran()" class="help" title="Senarai Tawaran" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Senarai Tawaran</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoPenyerahanKunci()" class="help" title="Penyerahan Kunci" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Penyerahan Kunci</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            ## LAYER 2 - 2
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Penghuni</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoRekodPenghuni()" class="help" title="Rekod Penghuni" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Rekod Penghuni</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSejarahPenghuni()" class="help" title="Sejarah Penghuni" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Sejarah Penghuni</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Pengosongan</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoTemujanji()" class="help" title="e-Temujanji" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;e-Temujanji</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoTemujanjiUtiliti()" class="help" title="e-Temujanji Utiliti" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;e-Temujanji Utiliti</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            ## LAYER 2 - 3
            ## LAYER 2 - 4
            ##Laporan
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 </td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Pengesahan</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoPengesahanPengguna()" class="help" title="Pengesahan Pengguna" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Pengesahan Pengguna</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                        <tr>
                                          <td>
                                             <a href="javascript:gotoAuditTrail()" class="help" title="Audit Trail" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Audit Trail</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                        <tr>
                                          <td>
                                             <a href="javascript:gotoLogAktiviti()" class="help" title="Log Aktiviti" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Log Aktiviti Pengguna</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Aduan</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSenaraiAduan()" class="help" title="Aduan" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Senarai Aduan</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>                    
                     </tr>
                  </table>
               </td>
            </tr>
            ##endlaporan
            ##Laporan
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center">
                                    <img  src="../bph/dashboard/picture/images_stat.png" width="30" height="30" align="center"/>
                                 </td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Laporan</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoLaporan()" class="help" title="Laporan" >
                                                <li><font color="blue" style="font-size:110%">&nbsp;Laporan</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                                 
                              </tr>
                           </table>
                        </td>
                       
                        <td width="50%" valign="top">
                       
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            ##endlaporan
         </table>
      </td>
   </tr>
</table>
</td>
</tr>
</table>