<select class="texts" id="findLokasiRPP" name="findLokasiRPP" style="width:100%">
  <option value="">SILA PILIH</option>
	#foreach( $n in $selectLokasiRPP )
	<option value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
	#end
</select>