<table width="80%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
	#input("findUserName" "Nama" "")
	#input("findNoKP" "No. KP" "")
	<tr>
    <td class="label" valign="top">Status</td>
    <td valign="top">:</td>
    <td><select class="texts" id="findFlagPulangDeposit" name="findFlagPulangDeposit" style="width:100%">
    	<option value="">SILA PILIH</option>
		<option value="Y">DEPOSIT TELAH DIPULANGKAN</option>
    	<option value="T">DEPOSIT BELUM DIPULANGKAN</option>
	</select>
	</td>
  </tr>
   <tr>
	<td class="label" valign="top">Tarikh Dari</td>
	<td class="label" valign="top" align="center">:</td>
	<td valign="top" align="left">
		<div>
    		<input type="text" id="findTarikhDari" name="findTarikhDari">
			<span style="color:#FF2A00">&nbsp;cth: dd-mm-yyyy</span>
    		<script>
            	_jq("#findTarikhDari").Zebra_DatePicker({ 
    				format: 'd-m-Y',
					readonly_element: false
            	});
				_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
    		</script>
		</div>
	</tr>
	<tr>
	<td class="label" valign="top">Tarikh Sehingga</td>
	<td class="label" valign="top" align="center">:</td>
	<td valign="top" align="left">
		<div>
    		<input type="text" id="findTarikhHingga" name="findTarikhHingga">
			<span style="color:#FF2A00">&nbsp;cth: dd-mm-yyyy</span>
    		<script>
            	_jq("#findTarikhHingga").Zebra_DatePicker({ 
    				format: 'd-m-Y',
					readonly_element: false
            	});
				_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
    		</script>
		</div>
	</td>
</tr>
</table>