<div class="pages" id="pages">
    <div class="container">
        <div class="bread-crumbs">
            <ol class="breadcrumb">
                <li><a href="#" onclick="location.href='$!userSessionId?_portal_module=bph.mobile.module.MobileKuarters'">Unit Kuarters</a></li>
                <li><a href="#" onclick="location.href='$!userSessionId?_portal_module=bph.mobile.module.MobileSubNaziran'">Unit Penguatkuasa</a></li>
                <li class="active">Unit Kesejahteraan Komuniti</li>
				<li><a href="#" onclick="location.href='$!userSessionId?_portal_module=bph.mobile.module.MobileSubSenggara'">Unit Senggara</a></li>
            </ol>
        </div>
		<div class="single-top">
			<div class="comments heading">
				<h3>Info</h3>
				<div class="media">
					<div class="media-body">
						<p align="justify">Unit Kesejahteraan Komuniti menguruskan kemudahan utiliti dan bayaran bil utiliti bagi setiap ruang-ruang gunasama dan kuarters-kuarters kosong di sekitar Putrajaya, Kompleks Kediaman Kakitangan Awam Jalan Duta, Kompleks Kediaman Kakitangan Awam Jalan U-Thant, KIK Tanjung Kupang dan KLIA, Nilai dan Brickfields.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Fungsi Utama</h4>
						<p>&raquo;&nbsp;&nbsp;Menyelaras pembayaran bil utiliti dan kebocoran paip bagi penghuni kuarters;</p>
        				<p>&raquo;&nbsp;&nbsp;Mengurus tempahan gelanggang Badminton dan Futsal;</p>
        				<p>&raquo;&nbsp;&nbsp;Mengurus penyewaan Dewan Serbaguna;</p>
        				<p>&raquo;&nbsp;&nbsp;Mengurus penyewaan Ruang Komersil, Ruang Telekomunikasi dan Vending Machine;</p>
        				<p>&raquo;&nbsp;&nbsp;Menyelaras program aktiviti kemasyarakatan bagi penghuni kuarters;</p>
						<p>&raquo;&nbsp;&nbsp;Penambahbaikan kemudahan awam di kuarters Apartmen; dan</p>
						<p>&raquo;&nbsp;&nbsp;Menyelaras penceriaan persekitaran kuarters Apartmen</p>
						<p>&raquo;&nbsp;&nbsp;Mengurus penyewaan ruang telekomunikasi di kuarters apartmen</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Kemudahan-Kemudahan Rekreasi Dan Sukan Di Kawasan Kuarters Apartmen</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Bahagian Pengurusan Hartanah mempunyai kemudahan-kemudahan sukan dan rekreasi di kawasan kuarters yang boleh di sewa dengan kadar berpatutan, selain itu dewan serba guna juga boleh di sewa bagi tujuan majlis kahwin atau keramaian.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Jenis-jenis Kemudahan Rekreasi</p>
						<p>&raquo;&nbsp;&nbsp;Dewan Serbaguna</p>
        				<p>&raquo;&nbsp;&nbsp;Gelanggang Badminton</p>
        				<p>&raquo;&nbsp;&nbsp;Gelanggang Skuash</p>
        				<p>&raquo;&nbsp;&nbsp;Futsal</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Lokasi Dewan dan Gelanggang</p>
						<p>&raquo;&nbsp;&nbsp;Presint 5</p>
        				<p>&raquo;&nbsp;&nbsp;Presint 9</p>
        				<p>&raquo;&nbsp;&nbsp;Presint 11</p>
        				<p>&raquo;&nbsp;&nbsp;Presint 14</p>
						<p>&raquo;&nbsp;&nbsp;Presint 15</p>
        				<p>&raquo;&nbsp;&nbsp;Presint 16</p>
        				<p>&raquo;&nbsp;&nbsp;Presint 17</p>
        				<p>&raquo;&nbsp;&nbsp;Presint 18</p>
					</div>
				</div>
			</div>
			<div class="comments heading">
				<h3>Kadar</h3>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Kadar Sewa</h4>
						<p align="justify">Dewan</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Tempahan bagi tujuan majlis perkahwinan atau keramaian kadar sewa hanya RM50.00 sehari dari pukul 9.00 pagi hingga 11.00 malam</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Gelanggang</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p>&raquo;&nbsp;&nbsp;9.00 pagi hingga 6.00 petang RM5.00 sejam</p>
						<p>&raquo;&nbsp;&nbsp;6.00 petang hingga 11.00 malam RM6.00 sejam</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Futsal</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p>&raquo;&nbsp;&nbsp;9.00 pagi hingga 6.00 petang RM10.00 sejam</p>
						<p>&raquo;&nbsp;&nbsp;6.00 petang hingga 11.00 malam RM15.00 sejam</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Penyewaan Ruang Komersial di Kuarters Kerajaan</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p>&raquo;&nbsp;&nbsp;Tadika</p>
						<p>&raquo;&nbsp;&nbsp;Taska</p>
						<p>&raquo;&nbsp;&nbsp;Kedai runcit/serbaneka</p>
						<p>&raquo;&nbsp;&nbsp;Kedai dobi (launderette)</p>
						<p>&raquo;&nbsp;&nbsp;Kedai Gunting</p>
						<p>&raquo;&nbsp;&nbsp;Kafetaria</p>
						<p>&raquo;&nbsp;&nbsp;Kedai Pelbagai</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Lokasi Ruang Komersial</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p>&raquo;&nbsp;&nbsp;W.P Putrajaya</p>
						<p>&raquo;&nbsp;&nbsp;W.P Kuala Lumpur</p>
						<p>&raquo;&nbsp;&nbsp;Negeri Sembilan</p>
						<p>&raquo;&nbsp;&nbsp;Johor</p>
					</div>
				</div>
			</div>
		</div>	
    </div>
</div>
