<div class="pages" id="pages">
    <div class="container">
        <div class="bread-crumbs">
            <ol class="breadcrumb">
                <li><a href="#" onclick="location.href='$!userSessionId?_portal_module=bph.mobile.module.MobileKuarters'">Unit Kuarters</a></li>
                <li><a href="#" onclick="location.href='$!userSessionId?_portal_module=bph.mobile.module.MobileSubNaziran'">Unit Penguatkuasa</a></li>
                <li><a href="#" onclick="location.href='$!userSessionId?_portal_module=bph.mobile.module.MobileSubKesejahteraan'">Unit Kesejahteraan Komuniti</a></li>
				<li class="active">Unit Senggara</li>
            </ol>
        </div>
		<div class="single-top">
			<div class="comments heading">
				<h3>Info</h3>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Ibu Pejabat</h4>
						<p align="justify">Aras 4, Blok B3, Kompleks Jabatan Perdana Menteri, Putrajaya</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Cawangan</h4>
						<p>&raquo;&nbsp;&nbsp;Pejabat Cawangan Bahagian Pengurusan Hartanah Kompleks Kediaman Kakitangan Awam (KKKA) Jalan Duta, Kuala Lumpur</p>
        				<p>&raquo;&nbsp;&nbsp;Pejabat Cawangan Bahagian Pengurusan Hartanah Kompleks Kediaman Kakitangan Awam (KKKA) Jalan U-Thant, Kuala Lumpur</p>
        				<p>&raquo;&nbsp;&nbsp;Pejabat Cawangan Bahagian Pengurusan Hartanah Perumahan Penjawat Awam (PPA) KLIA, Nilai, Negeri Sembilan</p>
        				<p>&raquo;&nbsp;&nbsp;Pejabat Cawangan Bahagian Pengurusan Hartanah Kompleks Kediaman Kakitangan Awam (KKKA) Tanjung Kupang, Jalan Bukit Kuching, Gelang Patah, Johor</p>
        				<p>&raquo;&nbsp;&nbsp;Pejabat Cawangan Bahagian Pengurusan Hartanah Kuarters Kakitangan Kerajaan Awam Layang Layangan, Wilayah Persekutuan Labuan</p>
						<p>&raquo;&nbsp;&nbsp;Pejabat Cawangan Bahagian Pengurusan Hartanah Kompleks Kediaman Kakitangan Awam (KKKA) Brickfields, Jalan Ang Seng, Kuala Lumpur</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Keanggotaan Unit Senggara terdiri daripada 79 orang yang terdiri daripada pegawai dan kakitangan teknikal (mahir dan separuh mahir) serta bukan teknikal. Pegawai dan kakitangan teknikal terdiri daripada penjawat jawatan kader gred professional dan kumpulan pelaksana daripada Jabatan Kerja Raya Malaysia.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Fungsi Utama</h4>
						<p>&raquo;&nbsp;&nbsp;Menguruskan pembaikan kuarters kosong dan mengawalselia pelaksanaan kerja-kerja pembaikan tersebut oleh kontraktor pembaikan.</p>
        				<p>&raquo;&nbsp;&nbsp;Menerima dan menyelaras aduan kerosakan kuarters oleh penghuni.</p>
        				<p>&raquo;&nbsp;&nbsp;Memantau kerja-kerja penyelenggaraan/pembaikan yang dilaksanakan oleh agensi pelaksana Jabatan Kerja Raya/Perbadanan Putrajaya (JKR/PPj) ke atas aduan yang diterima daripada penghuni kuarters.</p>
        				<p>&raquo;&nbsp;&nbsp;Menyelaras peruntukan dan perbelanjaan bagi kontrak penyelenggaraan kuarters oleh agensi pelaksana (JKR/PPj).</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Konsep Penyelenggaraan</h4>
						<p>&raquo;&nbsp;&nbsp;Penyelenggaraan merupakan satu rangkaian aktiviti yang diurus dengan teliti, dikawalselia dengan rapi berdasarkan standard teknikal tertentu yang telah ditetapkan serta dilaksanakan secara berterusan.</p>
        				<p>&raquo;&nbsp;&nbsp;Penyelenggaraan adalah bagi memastikan semua kuarters Kerajaan serta kemudahannya sentiasa terpelihara, ceria, selamat serta dapat digunakan secara produktif sepanjang masa.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Medium Aduan Penyelenggaraan</h4>
						<p align="justify">Aduan boleh dibuat melalui medium seperti berikut :</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p>&raquo;&nbsp;&nbsp;Kaunter</p>
        				<p>&raquo;&nbsp;&nbsp;Telefon</p>
        				<p>&raquo;&nbsp;&nbsp;Faksimili</p>
        				<p>&raquo;&nbsp;&nbsp;E-Mel</p>
						<p>&raquo;&nbsp;&nbsp;Laman Web</p>
        				<p>&raquo;&nbsp;&nbsp;MySMS Aduan Penyelenggaraan</p>
					</div>
				</div>
			</div>
			<div class="comments heading">
				<h3>Kontraktor</h3>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Definasi Kontraktor Penyelenggaraan</h4>
						<p align="justify">Kontraktor yang dilantik oleh agensi pelaksana Jabatan Kerja Raya/Perbadanan Putrajaya (JKR/PPj) melalui kaedah perolehan secara tender untuk suatu tempoh tertentu mengikut syarat dan terma yang ditetapkan dalam kontrak.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<p align="justify">Kontraktor ini melaksanakan Kerja-Kerja Perkhidmatan Pengurusan, Operasi dan Penyelenggaraan Secara Komprehensif bagi Kejuruteraan Awam, Mekanikal, Elektrikal, Lanskap dan Kawalan Serangga Perosak ke atas kuarters yang berpenghuni.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Definasi Kontraktor Pembaikan</h4>
						<p align="justify">Kontraktor yang dilantik oleh Bahagian Pengurusan Hartanah (BPH) secara undian atau pusingan di kalangan Kontraktor Gred G1 tempatan yang berdaftar dengan Lembaga Pembangunan Industri Pembinaan Malaysia (CIDB) dalam gred dan kategori yang berkaitan serta Taraf Bumiputera daripada Pusat Khidmat Kontraktor (PKK) untuk melaksanakan kerja-kerja requisition seperti kerja-kerja pembaikan kuarters kosong selepas penghuni keluar kuarters sebelum ditawarkan kepada penghuni baru.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Proses Kerja Pembaikan Kuarters Kosong</h4>
						<p>&raquo;&nbsp;&nbsp;Menerima kunci kuarters yang dikosongkan penghuni dari Unit Kuarters.</p>
        				<p>&raquo;&nbsp;&nbsp;Membuat pemeriksaan kuarters awalan untuk mengenalpasti item rosak/perlu dibaiki.</p>
        				<p>&raquo;&nbsp;&nbsp;Menyediakan Senarai Kuantiti berdasarkan Jadual Kadar Harga (JKH) terkini yang dikeluarkan oleh JKR.</p>
        				<p>&raquo;&nbsp;&nbsp;Membuat pemantauan secara berkala bagi kerja-kerja yang dilaksanakan oleh kontraktor untuk memastikan skop kerja, kualiti dan kuantiti kerja dipatuhi sebagaimana yang telah dinyatakan dalam kontrak/arahan kerja.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Proses Kerja Aduan</h4>
						<p>&raquo;&nbsp;&nbsp;Unit Senggara menerima aduan kerosakan daripada penghuni.</p>
        				<p>&raquo;&nbsp;&nbsp;Merekod dan mendaftarkan aduan ke dalam Rekod Aduan.</p>
        				<p>&raquo;&nbsp;&nbsp;Memajukan aduan kepada pihak kontraktor penyelenggaraan dan salinan kepada agensi pelaksana (JKR/PPj).</p>
        				<p>&raquo;&nbsp;&nbsp;Failkan aduan.</p>
						<p>&raquo;&nbsp;&nbsp;Mengemaskini rekod dan status aduan.</p>
					</div>
				</div>
			</div>
		</div>	
    </div>
</div>
