<select id="idLokasiDibenar" name="idLokasiDibenar" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $ld in $selectLokasiDibenar )
        <option value="$ld.id">$!ld.keterangan.toUpperCase()</option>
    #end
</select>
