<select id="idDaerah" name="idDaerah" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $d in $selectDaerah)
        <option value="$d.id">$d.keterangan.toUpperCase()</option>
    #end
</select>
