<select id="idKondisiKuarters" name="idKondisiKuarters" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $k in $selectKondisiKuarters )
        <option value="$k.id">$k.keterangan.toUpperCase()</option>
    #end
</select>
