<select id="idStatusKuarters" name="idStatusKuarters" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $sk in $selectStatusKuarters )
        <option value="$sk.id">$sk.keterangan.toUpperCase()</option>
    #end
</select>
