###set($list_seksyen = ["PENGURUSAN RUMAH PERANGINAN", "PENGURUSAN BANGUNAN KERAJAAN", "PENGURUSAN KUARTERS", "UNIT NAZIRAN"])
##<select class="texts" id="findListSeksyen" name="findListSeksyen" style="width:100%">
##  <option value="">SILA PILIH</option>
##	#foreach( $n in $selectJenisHakmilik )
##	<option value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
##	#end
##</select>

###set($list_seksyen = ["PENGURUSAN RUMAH PERANGINAN", "PENGURUSAN BANGUNAN KERAJAAN", "PENGURUSAN KUARTERS", "UNIT NAZIRAN"])
##<select id="listSeksyen" name="listSeksyen" style="width:100%">
##<option value="" >SILA PILIH</option>
###foreach($y in $list_seksyen)
##<option value="$y">$y</option>
###end
##</select>

#set($tahun = ["2015", "2016", "2017", "2018"])
<select id="listTahun" name="listTahun" style="width:100%">
<option value="" >SILA PILIH</option>
#foreach($y in $tahun)
<option value="$y">$y</option>
#end
</select>

##PENGURUSAN RUMAH PERANGINAN (72311,74304)
##PENGURUSAN BANGUNAN KERAJAAN (74202)
##PENGURUSAN KUARTERS (72310,74201,74207)
##UNIT NAZIRAN (76103)
