<select id="findLokasiKuarters" name="findLokasiKuarters" style="width:100%" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
    <option value="">SILA PILIH</option>
    #foreach( $flk in $selectLokasiKuarters )
        <option value="$flk.id">$!flk.lokasi.toUpperCase()</option>
    #end
</select>
