##function validate() {
##	var err_count = 0;
##	
##	var dateStart = $('dateStart').value;
##	if ( dateStart == "" ) {$('err_dateStart').innerHTML = "Tarikh Mula adalah mandatori!"; err_count++;  }
##	
##	return err_count == 0;
##}

##function doJanaLaporan() {
##	var err_count = 0;
##	$('err_yearStart').innerHTML = "";	
##	var yearStart = $('yearStart').value;
##	if ( yearStart == "" ) {$('err_yearStart').innerHTML = " Tahun adalah mandatori!"; err_count++;  }
##	if (err_count == 0) {
##		doDivAjaxCall3$formname('divTab','janaLaporan','')
##	}
##}
##</script>
