<select id="idPetugas" name="idPetugas" style="width:100%" onChange="$('err_idPetugas').innerHTML=''; at(this, event); javascript:doAgihPetugas();" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPetugas )
        <option #if ( $n.id ==  $!r.petugas.id ) selected #end value="$n.id">$n.userName.toUpperCase()</option>
    #end
</select>
