<select class="texts" id="findNegeri" name="findNegeri" style="width:100%"onChange="doDivAjaxCall3$formname('findBandar','findBandar','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectNegeri)
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>