<select class="texts" id="findStatusPermohonan" name="findStatusPermohonan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectStatus)
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>

