
<fieldset>
<legend class="legend">MAKLUMAT PERMOHONAN</legend>
<table width="100%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:84%"></td>
  </tr>
  #if ($!r.tarikhSurat) #set ($dateSurat = $!r.tarikhSurat)  #end
  #input_readonly_all_label("tarikhSurat1" "Tarikh Permohonan" "$!util.getDateTime($dateSurat,'dd-MM-yyyy')")<input type="hidden" id="tarikhSurat" name="tarikhSurat" value="$!util.getDateTime($dateSurat,'dd-MM-yyyy')"/>
  #if ($!userRole != '(JRP) Pemohon')
  #if ($!r.tarikhTerima) 
  #set ($dateTerima = "$!util.getDateTime($!r.tarikhTerima,'dd-MM-yyyy')")
  #else #set ($dateTerima = "") #end
  #date_input_required("tarikhTerima" "Tarikh Terima" "$dateTerima")
  #end
  
  <tr>
    <td class="label">Jenis Permohonan &nbsp;<span style="color:#FF2A00">*</span></td>
    <td>:</td>
    <td>#parse("$path/selectJenisPermohonanJRP.vm")
      <div id="err_idJenisPermohonanJRP" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
  </tr>
  
##  #input_required("tujuanPermohonan" "Tujuan Permohonan" "$!r.tujuanPermohonan")
   <tr>
	<td class="label" valign="top">Tujuan Permohonan &nbsp;<span style="color:#FF2A00">*</span></td>
	<td class="label" valign="top">:</td>
	<td valign="top"><select class="texts" id="tujuanPermohonan" name="tujuanPermohonan" style="width:100%" onChange="javascript=doChangeTujuan()">
    <option value="">SILA PILIH</option>
    <option value="TABIKA" #if($!r.tujuanPermohonan == "TABIKA") selected #end>TABIKA</option>
    <option value="STOR" #if($!r.tujuanPermohonan == "STOR") selected #end>STOR</option>
    <option value="RUANG PEJABAT" #if($!r.tujuanPermohonan == "RUANG PEJABAT") selected #end>RUANG PEJABAT</option>
    <option value="BALAI POLIS/PONDOK POLIS" #if($!r.tujuanPermohonan == "BALAI POLIS/PONDOK POLIS") selected #end>BALAI POLIS/PONDOK POLIS</option>
    <option value="KLINIK" #if($!r.tujuanPermohonan == "KLINIK") selected #end>KLINIK</option>
    <option value="LAIN - LAIN" #if($!r.tujuanPermohonan == "" && $!r.tujuanPermohonan != "TABIKA" && $!r.tujuanPermohonan != "STOR" && $!r.tujuanPermohonan != "RUANG PEJABAT" && $!r.tujuanPermohonan != "BALAI POLIS/PONDOK POLIS" && $!r.tujuanPermohonan != "KLINIK") selected #end>LAIN - LAIN</option>
	</select>
	<div id="err_tujuanPermohonan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
	</td>
	</tr>
	</table>
<div id="divTujuanPermohonan" name="divTujuanPermohonan" #if($!r.tujuanPermohonan != "STOR" && $!r.tujuanPermohonan != "RUANG PEJABAT" && $!r.tujuanPermohonan != "BALAI POLIS/PONDOK POLIS" && $!r.tujuanPermohonan != "KLINIK") style="display:none;" #else style="display:block;" #end>
	<table width="100%" cellpadding="1" cellspacing="2">
	<tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:84%"></td>
  </tr>
   <tr>
  <tr>
	<td class="label" valign="top">**Sila Nyatakan</td>
	<td class="label" valign="top">:</td>
	<td valign="top">
		<input type="text" id="tujuanPermohonan2" name="tujuanPermohonan2" value="$!r.tujuanPermohonan"/>
	</td>
</tr>
</table>
</div>
<table width="100%" cellpadding="1" cellspacing="2">
	<tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:84%"></td>
  </tr>
	#if($!r.alasanPermohonan.length() > 0)
    		#set($totalAksara = 512 - $!r.alasanPermohonan.length())
    	#else
    		#set($totalAksara = 512)
        #end
  <tr>
	<td class="label" valign="top">Justifikasi Permohonan &nbsp;<span style="color:#FF2A00">*</span></td>
	<td class="label" valign="top">:</td>
	<td valign="top">
		<textarea id="alasanPermohonan" maxlength="512" name="alasanPermohonan" onKeyUp="$('err_alasanPermohonan').innerHTML=''; at(this, event);calculateJumlahAksara(this.value, 'jumlahAksara')" onBlur="this.value=this.value.toUpperCase();">$!r.alasanPermohonan</textarea>
		<span style="color:#FF2A00" id="jumlahAksara">Baki Aksara: $totalAksara </span>
		<br><span style="color:#FF2A00">Sila lampirkan justifikasi permohonan di Dokumen Sokongan jika melebihi 512 aksara</span>
		<div id="err_alasanPermohonan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
	</td>
</tr>
</table>
</div>
</fieldset>
##<div id="divTujuanPermohonan" name="divTujuanPermohonan" style="display:none;">
##<legend class="legend">SENARAI LAPORAN</legend>
##<table width="100%" >
##	<tr>
##		<td><a href="#" style="color:blue" id="cmdCetakBorangJRP">Borang JRP</a></td>		
##	</tr>
##</table>
##</div>
<fieldset>
<legend class="legend">MAKLUMAT PEMOHON</legend>
<table width="100%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:84%"></td>
  </tr>
  #if ($!userRole == '(JRP) Pemohon')
  <tr>
    <td class="label">Kementerian</td>
    <td>:</td>
    <td>$users.agensi.kementerian.keterangan</td>
  </tr>
  <tr>
    <td class="label">Agensi / Jabatan</td>
    <td>:</td>
    <td>$users.agensi.keterangan</td>
  </tr>  	
  #else
  <tr>
    <td class="label">Kementerian &nbsp;<span style="color:#FF2A00">*</span></td>
    <td>:</td>
    <td>#parse("$path/selectKementerian.vm")
      <div id="err_idKementerian" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
  </tr>
  <tr>
    <td class="label">Agensi / Jabatan &nbsp;<span style="color:#FF2A00">*</span></td>
    <td>:</td>
    <td><div id="selectAgensi">
      #parse("$path/selectAgensi.vm")
      <div id="err_idAgensi" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
  </tr>
  #end
  
  #input_required("alamat1" "Alamat" "$!r.alamat1")
  #input("alamat2" "" "$!r.alamat2")
  #input("alamat3" "" "$!r.alamat3")
  <td></td>
    <td></td>
    <td><div id="err_alamat1" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
    #postcode_required("poskod" "Poskod" "$!r.poskod")
  <tr>
    <td class="label">Negeri &nbsp;<span style="color:#FF2A00">*</span></td>
    <td>:</td>
    <td>#parse("$path/selectNegeriPemohon.vm")
      <div id="err_idNegeriPemohon" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
  </tr>
  <tr>
    <td class="label">Bandar &nbsp;<span style="color:#FF2A00">*</span></td>
    <td>:</td>
    <td><div id="selectBandarPemohon">
      #parse("$path/selectBandarPemohon.vm")
      <div id="err_idBandarPemohon" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
  </tr>
  #input_required("namaPegawai1" "Nama Pegawai 1" "$!r.namaPegawai1")
  #input("namaPegawai2" "Nama Pegawai 2" "$!r.namaPegawai2")
  #phone_number_required("noTelefonPegawai1" "No. Telefon Pegawai 1" "$!r.noTelefonPegawai1")
  #phone_number("noTelefonPegawai2" "No. Telefon Pegawai 2" "$!r.noTelefonPegawai2")
  #input_email_required("emelPegawai1" "E-mel Pegawai 1" "$!r.emelPegawai1")
  #input_email("emelPegawai2" "E-mel Pegawai 2" "$!r.emelPegawai2")
  #phone_number("noFaks" "No. Faks Jabatan" "$!r.noFaks")
</table>
</fieldset>
