<select class="texts" id="idJenisPermohonanLanjutanJRP" name="idJenisPermohonanLanjutanJRP" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisPermohonanPindahJRP)
    	<option #if ( $n.id == $r.jenisPermohonanJrp.id ) selected #end value="$n.id" onKeyUp=" $('err_idJenisPermohonanLanjutanJRP').innerHTML=''; at(this, event);">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
    #end
</select>

