<select style="width:100%" name="findJenisPermohonan" id="findJenisPermohonan" class="texts" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
  <option value="">SILA PILIH</option>
  <option value="D">ONLINE</option>
  <option value="B">WALKIN</option>
</select>
