<select id="findGelanggang" name="findGelanggang" style="width:100%" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $findGelanggang )
    	<option value="$n.id">$n.nama.toUpperCase()</option>
    #end
</select>