
<td class="record_header">No. Maklumbalas<img src="../img/sortdown.png" class="sorting" onclick="sort('noMaklumbalas')" /></td>
<td class="record_header">Jenis Maklumbalas<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisMaklumBalas.keterangan')" /></td>
<td class="record_header">No. Pengenalan<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.noKP')" /></td>
##<td class="record_header">Nama Pemohon<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.userName')" /></td>
<td class="record_header">Keterangan<img src="../img/sortdown.png" class="sorting" onclick="sort('keterangan')" /></td>
<td class="record_header">Tarikh Maklumbalas<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMaklumbalas')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status.keterangan')" /></td>