<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr> 
    <td class="label">No. Maklumbalas</td>
    <td>:</td>
    <td><input class="texts" type="text" name="findNoMaklumBalas"></td>
  </tr>
  <tr>
    <td class="label">No. Pengenalan</td>
    <td>:</td>
    <td><input type="text" class="texts" name="findIdPemohon" id="findIdPemohon" style="width:100%"></td>
  </tr>
  ##<tr>
  ##  <td class="label">Nama Pemohon</td>
  ##  <td>:</td>
  ##  <td><input type="text" class="texts" name="findNamaPemohon" id="findNamaPemohon" style="width:100%"></td>
  ##</tr>
    <tr>
    <td class="label">Jenis Maklumbalas</td>
    <td>:</td>
    <td> #parse("$path/findJenisMaklumBalas.vm") </td>
  </tr>
</table>
