##<td class="record_header" align="center" nowrap>No Penghuni<class="sorting" onclick="sort('penghuni.id')" /></td>
<td class="record_header" align="center" nowrap>No Unit Kuarters<class="sorting" onclick="sort('penghuni.kuarters.noUnit')" /></td>
<td class="record_header" align="center" nowrap>Nama / No Kad Pengenalan<class="sorting" onclick="sort('penghuni.pemohon.userName')" /></td>
<td class="record_header" align="center" nowrap>Tarikh Dirujuk Kepada JPN <class="sorting" onclick="sort('')" /></td>
<td class="record_header" align="center" nowrap>Status Kes<class="sorting" onclick="sort('')" /></td>
<td class="record_header" align="center" nowrap>Jenis Kes<class="sorting" onclick="sort('')" /></td>
<td class="record_header" align="center" nowrap>Catatan<class="sorting" onclick="sort('')" /></td>
