	
###parse("$path/kelulusanPermohonan/senaraiSubTab.vm")

<input type="hidden" id="idKertasPertimbangan" name="idKertasPertimbangan" value="$!kp.id"/>
<div id="mainForm" name="mainForm">
###if($!r.status.id == "1424860634481" || $!r.status.id == "1424860634484" || $!r.status.id == "1424860634487" || $!r.status.id == "1424860634490" )
#if($!r.status.id == "1438356583116" || $!r.status.id == "1436921583144" || $!r.status.id == "471300128898077" || $!r.status.id == "1424860634478" || $!r.status.id == "1424860634481" || $!r.status.id == "1424860634484" || $!r.status.id == "1424860634487" || $!r.status.id == "1424860634490" || $!r.status.id == "1424860634493" || $!r.status.id == "1424860634496" || $!r.status.id == "1424860634499" || $!r.status.id == "1424924558493" || $!r.status.id == "1424860634502" || ($kp.flagAktif=="T"))
<fieldset>
<legend class="legend">Kertas Pertimbangan</legend>
	<table width="100%" cellspacing="2" cellpadding="2">
		<tr>
			<td style="width:24%"></td>
            <td style="width:1%"></td>
            <td style="width:75%"></td>
		</tr>
		<tr>
        	<td class="label" valign="top">Kategori</td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
				$!r.getKategoriPermohonan()
			</td>
        </tr>
		<tr>
        	<td class="label" valign="top">Bil. mesyuarat</td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
				<input style="width:30%" type="text" id="bilMesyuarat" class="uppercasefont" name="bilMesyuarat" value="$!kp.bilMesyuarat" onKeyUp="$('err_bilMesyuarat').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
				<div id="err_bilMesyuarat" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			</td>
        </tr>
		<tr>
        	<td class="label" valign="top">No. Daftar</td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
				<input style="width:30%" type="text" id="noDaftar" class="uppercasefont" name="noDaftar" value="$!kp.noDaftar" onKeyUp="$('err_noDaftar').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
				<div id="err_noDaftar" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			</td>
        </tr>
		<tr>
        	<td class="label" valign="top">Syor bersyarat</td>##&nbsp;<span style="color:#FF2A00">*</span></td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
    			<input type="radio" #if($!kp.flagSyorBersyarat=='Y')checked#end id="flagSyorBersyarat1" name="flagSyorBersyarat" value="Y" onclick=" $('err_flagSyorBersyarat').innerHTML=''; at(this, event);">&nbsp;Ya
    			<input type="radio" #if($!kp.flagSyorBersyarat=='T')checked#end id="flagSyorBersyarat2" name="flagSyorBersyarat" value="T" onclick=" $('err_flagSyorBersyarat').innerHTML=''; at(this, event);">&nbsp;Tidak
				<div id="err_flagSyorBersyarat" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
    		</td>
        </tr>
##		<tr>
##        	<td  valign="top" class="label">Tarikh lengkap permohonan</td>
##        	<td  valign="top" class="label">:</td>
##        	<td valign="top">
##				<input type="text" id="tarikhLengkapPermohonan" name="tarikhLengkapPermohonan" value="$!util.getDateTime($!kp.tarikhLengkapPermohonan,'dd-MM-yyyy')" style="width: 18%" onChange=" $('err_tarikhLengkapPermohonan').innerHTML=''; at(this, event);this.value=this.value.toUpperCase()">
##        		<script>
##                _jq(function() {
##                	jQuery("#tarikhLengkapPermohonan").datepicker({ 
##                		dateFormat: "dd-mm-yy",
##        				showOn: "both",
##        				buttonImageOnly: true,
##        				buttonImage: "../img/calendar_icon.gif",
##        				buttonText: "Calendar",
##                	});
##                });
##        		</script>
##				<div id="err_tarikhLengkapPermohonan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
##        	</td>
##        </tr>
			#if($!kp.catatan.length() > 0)
        		#set($totalAksara1 = 512 - $!kp.catatan.length())
        	#else
        		#set($totalAksara1 = 512)
	        #end
		<tr>
        	<td class="label" valign="top">Catatan</td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
				<textarea id="catatan" maxlength="512" style="width:40% !important" class="uppercasefont" name="catatan" onKeyUp=" $('err_catatan').innerHTML=''; at(this, event);calculateJumlahAksara(this.value, 'jumlahAksara')" onBlur="this.value=this.value.toUpperCase();">$!kp.catatan</textarea>
				<div id="err_catatan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			<span style="color:#FF2A00" id="jumlahAksara">Baki Aksara: $totalAksara1</span></td>
        </tr>
        <tr>
        	<td colspan="3"><hr></td>
        </tr>
        #if($!kp.ulasanUrusetia.length() > 0)
        		#set($totalAksara2 = 512 - $!kp.ulasanUrusetia.length())
        	#else
        		#set($totalAksara2 = 512)
	        #end
		<tr>
        	<td class="label" valign="top">Ulasan</td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
				<textarea id="ulasanUrusetia" maxlength="512" style="width:40% !important" class="uppercasefont" name="ulasanUrusetia" onKeyUp=" $('err_ulasanUrusetia').innerHTML=''; at(this, event);calculateJumlahAksara(this.value, 'jumlahAksara1')" onBlur="this.value=this.value.toUpperCase();">$!kp.ulasanUrusetia</textarea>
				<div id="err_ulasanUrusetia" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			<span style="color:#FF2A00" id="jumlahAksara1">Baki Aksara: $totalAksara2</span></td>
        </tr>
        #if(!$!kp.disediakanOleh) 
        	#set($urusetia = $users.userName) #set($idUrusetia = $users.id) 
        #else 
        	#set($urusetia = $kp.disediakanOleh.userName) #set($idUrusetia = $kp.disediakanOleh.id) 
        #end
        #input_readonly_all_label("sedia" "Disediakan oleh" "$!urusetia")<input type="hidden" id="disediakanOleh" name="disediakanOleh" value="$!idUrusetia"/>
        #input_readonly_all_label("tarikhSedia" "Tarikh Disediakan" "$!util.getDateTime($!kp.tarikhMasuk,'dd-MM-yyyy')")
        #input_readonly_all_label("kemaskini" "Dikemaskini oleh" "$!kp.idKemaskini.userName")
        #input_readonly_all_label("tarikhKemaskini" "Tarikh Kemaskini" "$!util.getDateTime($!kp.tarikhKemaskini,'dd-MM-yyyy')")
        
##		<tr>
##        	<td class="label" valign="top">Disediakan oleh</td>
##        	<td class="label" valign="top">:</td>
##        	<td valign="top">
##				<input style="width:30%" type="text" id="disediakanOleh" class="uppercasefont" name="disediakanOleh" value="$!kp.disediakanOleh" onKeyUp="$('err_disediakanOleh').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
##				<div id="err_disediakanOleh" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
##			</td>
##        </tr>
	</table>	
</fieldset>

<table width="100%">
	<tr>
		<td align="right">
			#if($kp.flagPindaan !='Y' && ($!r.status.id == "1424860634478" || $!r.status.id == "1424860634481" || (($!r.status.id == "1436921583144" || $!r.status.id == "471300128898077") && ($!kp.flagPindaan!="Y" || !$!kp.flagPindaan))) && $userRole == '(JRP) Penyedia')
    			#if($kp.id != "" && $kp.id)
    			<input type="button" value="Cetak"  id="cmdCetak"/>
    			#else
    			<input type="button" value="Cetak"  id="cmdCetak" disabled="disabled"/>
    			#end
    			#if(($kp.id != "" && $kp.id) && ($!r.status.id == "1424860634481" || $!r.status.id == "1436921583144" || $!r.status.id == "471300128898077"))
				<input type="button" value="Hantar Semakan" id="cmdHantarSemakan" />
				#end
    			<input type="button" value="Simpan" id="cmdSaveKertasPertimbangan1" />
    			<input type="button" value="Kosongkan" id="cmdKosongkanKp1" />
##    			<input type="button" value="Batal Permohonan" id="cmdBatalPermohonan" />
    			<input id="cmdKembali" type="button" value="Kembali" onclick="doDivAjaxCall3$formname('divTab','getSenaraiKelulusanPermohonan','')" />
			#end
		</td>
	</tr>
</table>
#end
</div>
###if($!r.status.id == "1424860634484" || $!r.status.id == "1424860634487" || $!r.status.id == "1424860634490")
#if($!r.status.id == "1438356583116" || $!r.status.id == "1424860634484" || $!r.status.id == "1424860634487" || $!r.status.id == "1424860634490" || $!r.status.id == "1424860634493" || $!r.status.id == "1424860634496" || $!r.status.id == "1424860634499" || $!r.status.id == "1424924558493" || $!r.status.id == "1424860634502" || (($!r.status.id == "1436921583144" || $!r.status.id == "471300128898077") && $kp.flagPindaan=="Y" && $kp.disemakOleh) || ($kp.flagAktif=="T" && $kp.disemakOleh))
<fieldset>
<legend class="legend">Semakan Kertas Pertimbangan</legend>
	<table width="100%" cellspacing="2" cellpadding="2">
		<tr>
			<td style="width:24%"></td>
            <td style="width:1%"></td>
            <td style="width:75%"></td>
		</tr>
		 #if($!kp.ulasanPenolongUrusetia.length() > 0)
        		#set($totalAksara3 = 512 - $!kp.ulasanPenolongUrusetia.length())
        	#else
        		#set($totalAksara3 = 512)
	        #end
		<tr>
        	<td class="label" valign="top">Ulasan</td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
				<textarea id="ulasanPenolongUrusetia" maxlength="512" style="width:40% !important" class="uppercasefont" name="ulasanPenolongUrusetia" onKeyUp=" $('err_ulasanPenolongUrusetia').innerHTML=''; at(this, event);calculateJumlahAksara(this.value, 'jumlahAksara3')" onBlur="this.value=this.value.toUpperCase();">$!kp.ulasanPenolongUrusetia</textarea>
				<div id="err_ulasanPenolongUrusetia" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			<span style="color:#FF2A00" id="jumlahAksara3">Baki Aksara: $totalAksara3</span></td>
        </tr>
        
        #if(!$!kp.disemakOleh && $!userRole.equalsIgnoreCase("(JRP) Penyemak")) 
        	#set($urusetia1 = $users.userName) #set($idUrusetia1 = $users.id) 
        #else 
        	#set($urusetia1 = $kp.disemakOleh.userName) #set($idUrusetia1 = $kp.disemakOleh.id) 
        #end
        
        #input_readonly_all_label("semak" "Disemak oleh" "$!urusetia1")<input type="hidden" id="disemakOleh" name="disemakOleh" value="$!idUrusetia1"/>
        <tr>
        	<td  valign="top" class="label">Tarikh semakan</td>
        	<td  valign="top" class="label">:</td>
        	<td valign="top"> $!util.getDateTime($!tarikhSemakan,'dd-MM-yyyy')<input type="hidden" id="tarikhSemakan" name="tarikhSemakan" value="$!util.getDateTime($!tarikhSemakan,'dd-MM-yyyy')"/>
        	</td>
        </tr>
	</table>	
</fieldset>

<table width="100%">
	<tr>
		<td align="right">
				
			#if($kp.flagPindaan !='Y' && $!r.status.id == "1424860634484" && $!kp.flagAktif =="Y")
				#if($kp.id != "" && $kp.id)
    			<input type="button" value="Cetak"  id="cmdCetak"/>
    			#else
    			<input type="button" value="Cetak"  id="cmdCetak" disabled="disabled"/>
    			#end
    			#if($userRole.equalsIgnoreCase("(JRP) Penyemak"))
    			#if(($kp.disemakOleh != "" && $kp.disemakOleh) && $!r.status.id == "1424860634484")
    			<input type="button" value="Hantar Kelulusan" id="cmdHantarPengesahan" />
    			<input type="button" value="Hantar Pindaan" id="cmdHantarPindaan" />
    			#end				
##				<input type="button" value="Batal Permohonan" id="cmdBatalPermohonan" />
    			<input type="button" value="Simpan" id="cmdSaveKertasPertimbangan2" />
    			<input type="button" value="Kosongkan" id="cmdKosongkanKp2" />
    			#end
    			<input id="cmdKembali" type="button" value="Kembali" onclick="doDivAjaxCall3$formname('divTab','getSenaraiKelulusanPermohonan','')" />     			
			#end
		</td>
	</tr>
</table>
#end


###if($!r.status.id == "1424860634487" || $!r.status.id == "1424860634490")
#if($!r.status.id == "1438356583116" || $!r.status.id == "1424860634487" || $!r.status.id == "1424860634490" || $!r.status.id == "1424860634493" || $!r.status.id == "1424860634496" || $!r.status.id == "1424860634499" || $!r.status.id == "1424924558493" || $!r.status.id == "1424860634502"|| (($!r.status.id == "1436921583144" || $!r.status.id == "471300128898077") && $kp.flagPindaan=="Y" && $kp.disahkanOleh) || ($kp.flagAktif=="T" && $kp.disahkanOleh))
<fieldset>
<legend class="legend">Kelulusan Kertas Pertimbangan</legend>
	<table width="100%" cellspacing="2" cellpadding="2">
		<tr>
			<td style="width:24%"></td>
            <td style="width:1%"></td>
            <td style="width:75%"></td>
		</tr>
		 #if($!kp.ulasanKetuaUrusetia.length() > 0)
        		#set($totalAksara4 = 512 - $!kp.ulasanKetuaUrusetia.length())
        	#else
        		#set($totalAksara4 = 512)
	        #end
		<tr>
        	<td class="label" valign="top">Ulasan</td>
        	<td class="label" valign="top">:</td>
        	<td valign="top">
				<textarea id="ulasanKetuaUrusetia" maxlength="512" style="width:40% !important" class="uppercasefont" name="ulasanKetuaUrusetia" onKeyUp=" $('err_ulasanKetuaUrusetia').innerHTML=''; at(this, event);calculateJumlahAksara(this.value, 'jumlahAksara4')" onBlur="this.value=this.value.toUpperCase();">$!kp.ulasanKetuaUrusetia</textarea>
				<div id="err_ulasanKetuaUrusetia" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			<span style="color:#FF2A00" id="jumlahAksara4">Baki Aksara: $totalAksara4</span></td>
        </tr>
        #if(!$!kp.disahkanOleh && $!userRole.equalsIgnoreCase("(JRP) Pelulus")) #set($urusetia2 = $users.userName) #set($idUrusetia2 = $users.id)
        #else #set($urusetia2 = $kp.disahkanOleh.userName) #set($idUrusetia2 = $kp.disahkanOleh.id)#end
        #input_readonly_all_label("sah" "Diluluskan oleh" "$!urusetia2")<input type="hidden" id="disahkanOleh" name="disahkanOleh" value="$!idUrusetia2"/>
        <tr>
        	<td  valign="top" class="label">Tarikh Kelulusan</td>
        	<td  valign="top" class="label">:</td>
        	<td valign="top">$!util.getDateTime($tarikhPengesahan,'dd-MM-yyyy')<input type="hidden" id="tarikhPengesahan" name="tarikhPengesahan" value="$!util.getDateTime($!tarikhPengesahan,'dd-MM-yyyy')"/>
##				<input type="text" id="tarikhPengesahan" name="tarikhPengesahan" value="$!util.getDateTime($!kp.tarikhPengesahan,'dd-MM-yyyy')" style="width: 18%" onChange=" $('err_tarikhPengesahan').innerHTML=''; at(this, event);this.value=this.value.toUpperCase()">
##        		<script>
##                _jq(function() {
##                	jQuery("#tarikhPengesahan").datepicker({ 
##                		dateFormat: "dd-mm-yy",
##        				showOn: "both",
##        				buttonImageOnly: true,
##        				buttonImage: "../img/calendar_icon.gif",
##        				buttonText: "Calendar",
##                	});
##                });
##        		</script>
##				<div id="err_tarikhPengesahan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
        	</td>
        </tr>
	</table>	
</fieldset>

<table width="100%">
	<tr>
		<td align="right">
			#if($kp.flagPindaan !='Y' && $!r.status.id != "1436921583144" && $!r.status.id != "471300128898077")
##			#if($!r.status.id == "1424860634487" && $userRole.equalsIgnoreCase("(JRP) Pelulus"))
			#if($!r.status.id != "1424860634481" && $!r.status.id != "1424860634484")
				#if($kp.id != "" && $kp.id)
    			<input type="button" value="Cetak"  id="cmdCetak"/>
    			#else
    			<input type="button" value="Cetak"  id="cmdCetak" disabled="disabled"/>
    			#end
    		
			#if($userRole.equalsIgnoreCase("(JRP) Pelulus"))
    		#if($!r.status.id == "1424860634487" && $!kp.flagAktif =="Y")
    			#if($kp.disahkanOleh != "" && $kp.disahkanOleh)
    			<input type="button" value="Hantar Kelulusan ke Penyedia" id="cmdHantarMesyuarat" />
    			<input type="button" value="Hantar Pindaan" id="cmdHantarPindaan" />
    			#end
			<input type="button" value="Simpan" id="cmdSaveKertasPertimbangan3" />
			<input type="button" value="Kosongkan" id="cmdKosongkanKp3" />
			#end
			#end
			<input id="cmdKembali" type="button" value="Kembali" onclick="doDivAjaxCall3$formname('divTab','getSenaraiKelulusanPermohonan','')" />
			#end
			#end
		</td>
	</tr>
</table>
#end
##		#if((($!r.status.id == "1436921583144" || $!r.status.id == "471300128898077") && $kp.flagPindaan=="Y") || ($!r.status.id != "1424860634487" && $!kp.flagAktif =="T"))
##		<table width="100%">
##		<tr>
##			<td align="right">	
##				#if($kp.id != "" && $kp.id)
##    			<input type="button" value="Cetak"  id="cmdCetak"/>
##    			#else
##    			<input type="button" value="Cetak"  id="cmdCetak" disabled="disabled"/>
##    			#end
##    			<input id="cmdKembali" type="button" value="Kembali" onclick="doDivAjaxCall3$formname('divTab','getSenaraiKelulusanPermohonan','')" />
##    			</td>
##			</tr>
##		</table>     			
##			#end
<table width="100%">
	<tr>
		<td align="right">
			#if($kp.flagPindaan =='Y')
				#if($kp.id != "" && $kp.id)
    			<input type="button" value="Cetak"  id="cmdCetak"/>
    			#else
    			<input type="button" value="Cetak"  id="cmdCetak" disabled="disabled"/>
    			#end
    			<input id="cmdKembali" type="button" value="Kembali" onclick="doDivAjaxCall3$formname('divTab','getSenaraiKelulusanPermohonan','')" />
			#end
		</td>
	</tr>
</table>
<fieldset id="tableReport" style="display:none;">
<legend class="legend">SENARAI LAPORAN</legend>
<table width="100%" >
	<tr>
		<td><a href="#" style="color:blue" id="cmdCetakBorangJRP">Borang JRP</a></td>		
	</tr>
	<tr>	
		<td><a href="#" style="color:blue"  id="cmdCetakKertasPertimbangan">Kertas Pertimbangan</a></td>
	</tr>
</table>
</fieldset>

##<div id="statusKp"></div>
##<div id="statusBp"></div>	
<script>
##_jq('#catatan').on('keyup', function(){
##
##	var ulasan = $('ulasan').value;
##	calculateJumlahAksara(ulasan, 'jumlahAksara');
##});
_jq('#cmdHantarPindaan').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idPermohonan = '$!r.id';
	if (window.confirm("Anda pasti?") ){
		doDivAjaxChainCall$formname('editKp','hantarPindaanKp','idPermohonan='+idPermohonan);
##		doDivAjaxChainCall$formname('statusKp','hantarPindaanKp','idPermohonan='+idPermohonan+'&selectedSubTab='+tabNo+'','divTab','getKelulusanPermohonan','selectedSubTab=1');
	}
});
_jq('#cmdHantarMesyuarat').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idPermohonan = '$!r.id';
	if (window.confirm("Anda pasti?") ){
		doDivAjaxChainCall$formname('editKp','hantarMesyuarat','idPermohonan='+idPermohonan);
##		doDivAjaxChainCall$formname('statusKp','hantarMesyuarat','idPermohonan='+idPermohonan+'&selectedSubTab='+tabNo+'','divTab','getKelulusanPermohonan','selectedSubTab=1');
	}
});
_jq('#cmdHantarPengesahan').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idPermohonan = '$!r.id';
	if (window.confirm("Anda pasti?") ){
		doDivAjaxChainCall$formname('editKp','hantarPengesahanKp','idPermohonan='+idPermohonan);
##		doDivAjaxChainCall$formname('statusKp','hantarPengesahanKp','idPermohonan='+idPermohonan+'&selectedSubTab='+tabNo+'','divTab','getKelulusanPermohonan','selectedSubTab=1');
	}
});
_jq('#cmdHantarSemakan').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idPermohonan = '$!r.id';
	if (window.confirm("Anda pasti?") ){
		doDivAjaxChainCall$formname('editKp','hantarSemakanKp','idPermohonan='+idPermohonan);
##		doDivAjaxChainCall$formname('statusKp','hantarSemakanKp','idPermohonan='+idPermohonan+'&selectedSubTab='+tabNo+'','divTab','getKelulusanPermohonan','selectedSubTab=1');
	}
});
_jq('#cmdKosongkanKp1').on('click', function(){
	$('bilMesyuarat').value = "";
	$('noDaftar').value = "";
	$('tarikhLengkapPermohonan').value = "";
	$('catatan').value = "";
	$('disediakanOleh').value = "";
	var inputs = document.${formname}.flagSyorBersyarat;
    for(var i = inputs.length-1;i>=0;i--){
        if(inputs[i].getAttribute("type")==="radio"){
            inputs[i].checked=false;
        }
    }
});
_jq('#cmdKosongkanKp2').on('click', function(){
	$('ulasanPenolongUrusetia').value = "";
	$('disemakOleh').value = "";
	$('tarikhSemakan').value = "";
});
_jq('#cmdKosongkanKp3').on('click', function(){
	$('ulasanKetuaUrusetia').value = "";
	$('disahkanOleh').value = "";
	$('tarikhPengesahan').value = "";
});
_jq('#cmdSaveKertasPertimbangan1').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idPermohonan = '$!r.id';
	if (window.confirm("Anda pasti?") ){
##		doDivAjaxChainCall$formname('statusKp','saveKertasPertimbanganUrusetia','idPermohonan='+idPermohonan+'&selectedSubTab='+tabNo+'','divTab','getSenaraiKelulusanPermohonan','selectedSubTab=1');
		alert("Sila Hantar Kertas Pertimbangan Untuk Semakan.");
		doDivAjaxChainCall$formname('editKp','saveKertasPertimbanganUrusetia','idPermohonan='+idPermohonan);
##		
##		_jq.Zebra_Dialog('Sila Hantar Kertas Pertimbangan Untuk Semakan.',{
##		'type': 'error',
##		'title': 'Makluman'
##		});
	}
});
_jq('#cmdSaveKertasPertimbangan2').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idKertasPertimbangan = '$!kp.id';
	if (window.confirm("Anda pasti?") ){
		alert("Sila Hantar Pindaan / Kelulusan.");
		doDivAjaxChainCall$formname('editKp','saveKertasPertimbanganPenolongUrusetia','idKertasPertimbangan='+idKertasPertimbangan);
##		doDivAjaxChainCall$formname('statusKp','saveKertasPertimbanganPenolongUrusetia','idKertasPertimbangan='+idKertasPertimbangan+'&selectedSubTab='+tabNo+'','divTab','getKelulusanPermohonan','selectedSubTab=1');
		
	}
});
_jq('#cmdSaveKertasPertimbangan3').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idKertasPertimbangan = '$!kp.id';
	if (window.confirm("Anda pasti?") ){
		alert("Sila Hantar Pindaan / Kelulusan.");
		doDivAjaxChainCall$formname('editKp','saveKertasPertimbanganKetuaUrusetia','idKertasPertimbangan='+idKertasPertimbangan);
##		doDivAjaxChainCall$formname('statusKp','saveKertasPertimbanganKetuaUrusetia','idKertasPertimbangan='+idKertasPertimbangan+'&selectedSubTab='+tabNo+'','divTab','getKelulusanPermohonan','selectedSubTab=1');
		
	}
});

_jq('#cmdBatalPermohonan').on('click', function(){
	var tabNo = $!selectedSubTab;
	var idPermohonan = $!r.id;
	
	var mainForm = document.getElementById('mainForm');
    	mainForm.style.display = 'none';
    	
		##doDivAjaxChainCall$formname('statusBp','batalPermohonan','idPermohonan='+idPermohonan+'&selectedSubTab='+tabNo+'','divTab','getKelulusanPermohonan','selectedSubTab=1');
		doDivAjaxChainCall$formname('statusBp','batalPermohonan','idPermohonan='+idPermohonan);
});

_jq('#cmdCetak').on('click', function(){

			if(document.getElementById('tableReport').style.display=="none"){
				document.getElementById('tableReport').style.display="block";
				}
			else if(document.getElementById('tableReport').style.display=="block"){
				document.getElementById('tableReport').style.display="none";
				}
});

_jq('#cmdCetakBorangJRP').on('click', function(){
	
	var idPermohonan = $!r.id;
	var jenis = $('flagJenis').value;
	
			var url = "../servlet/bph.laporan.jrp.JRPBorangJRP?idPermohonan="+idPermohonan+"&jenisPermohonan="+jenis;
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
});
_jq('#cmdCetakKertasPertimbangan').on('click', function(){
	
	var idPermohonan = $!r.id;
	var jenis = $('flagJenis').value;
	if(jenis == "JRP7"){
			var url = "../servlet/bph.laporan.jrp.JRPKertasPertimbangan?idPermohonan="+idPermohonan+"&jenis="+jenis;
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) 	hWnd.focus();
			}
			else{
			var url = "../servlet/bph.laporan.jrp.JRPKertasPertimbangan2?idPermohonan="+idPermohonan+"&jenis="+jenis;
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
			}
});
</script>

	
