<select id="idBandarPasangan" name="idBandarPasangan" style="width:100%" onChange="$('err_idBandarPasangan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $bp in $selectBandarPasangan )
        <option #if ( $bp.id == $us.bandarPejabat.id)) selected #end value="$bp.id">$bp.keterangan.toUpperCase()</option>
    #end
</select>

