<select class="texts" name="idJenisKesalahan" id="idJenisKesalahan" style="width:100%" >
<option value="">SILA PILIH</option>
#foreach( $n in $selectKesalahanHilang )
##<option value="$n.id">$n.kod.toUpperCase() - $n.keterangan.toUpperCase()</option>
<option #if ( $n.id == $r.kesalahanhilangKelayakan.id ) selected #end value="$n.id">$n.jenisKesalahan.toUpperCase()</option>
#end
</select>