<select class="texts" id="findStatusResit" name="findStatusResit" style="width:100%">
    <option value="">SILA PILIH</option>
    <option value="T">AKTIF</option>
	<option value="Y">BATAL</option>
</select>
