<select class="texts" id="findKodHasil" name="findKodHasil" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectKodHasil)
    	<option value="$n.id">$!n.kod - $!n.keterangan.toUpperCase()</option>
    #end
</select>