<td>$!r.noResit.toUpperCase()</td>
<td>$!r.noResitLama.toUpperCase()</td>
<td>$!r.idTransaksiBank.toUpperCase()</td>
<td>$!r.noPengenalanPembayar</td>
<td>$!r.namaPembayar</td>
<td align="center">$!util.getDateTime($!r.tarikhBayaran,'dd-MM-yyyy')</td>
<td>$!r.getKeteranganFlagJenisResit()</td>
<td align="right">$!util.formatDecimal($!r.jumlahAmaunBayaran)</td>
#if($!r.flagVoid == 'Y')
	<td align="center">BATAL</td>
#else
	<td align="center">AKTIF</td>
#end