
<td class="record_header" >No. Resit<img src="../img/sortdown.png" class="sorting" onclick="sort('noResit')" /></td>
<td class="record_header" >No. Resit Lama<img src="../img/sortdown.png" class="sorting" onclick="sort('noResitLama')" /></td>
<td class="record_header" >FPX ID<img src="../img/sortdown.png" class="sorting" onclick="sort('idTransaksiBank')" /></td>
<td class="record_header" >No. Kad Pengenalan / No. SSM<img src="../img/sortdown.png" class="sorting" onclick="sort('noPengenalanPembayar')" /></td>
<td class="record_header" >Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('namaPembayar')" /></td>
<td class="record_header" >Tarikh Bayaran<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhResit')" /></td>
<td class="record_header" >Jenis Resit<img src="../img/sortdown.png" class="sorting" onclick="sort('flagJenisResit')" /></td>
<td class="record_header" >Bayaran (RM)<img src="../img/sortdown.png" class="sorting" onclick="sort('jumlahAmaunBayaran')" /></td>
<td class="record_header" >Status Resit<img src="../img/sortdown.png" class="sorting" onclick="sort('flagVoid')" /></td>