<table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
  <tr>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%" valign="top"></td>
          <td style="width:1%" valign="top"></td>
          <td style="width:70%" valign="top"></td>
        </tr>
        <tr>
          <td class="label" valign="top">No. Kad Pengenalan / No. SSM</td>
          <td valign="top">:</td>
          <td valign="top"><input type="text" name="findNoKp"></td>
        </tr>
        <tr>
          <td class="label" valign="top">Nama</td>
          <td valign="top">:</td>
          <td valign="top"><input type="text" name="findNamaPembayar" ></td>
        </tr>
        <tr>
          <td class="label" valign="top">No. Resit</td>
          <td valign="top">:</td>
          <td valign="top"><input type="text" name="findNoResit" ></td>
        </tr>
        <tr>
          <td class="label" valign="top">No. Resit Lama</td>
          <td valign="top">:</td>
          <td valign="top"><input type="text" name="findNoResitLama" ></td>
        </tr>      
      </table></td>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%" valign="top"></td>
          <td style="width:1%" valign="top"></td>
          <td style="width:70%" valign="top"></td>
        </tr>
        <tr>
          <td class="label" valign="top">FPX Transaction ID</td>
          <td valign="top">:</td>
          <td valign="top"><input type="text" name="findFpxId" ></td>
        </tr>
        <tr>
          <td class="label" valign="top">Kod Hasil</td>
          <td valign="top">:</td>
          <td valign="top"> #parse("$path/findKodHasil.vm") </td>
        </tr>
        <tr>
          <td class="label" valign="top">Jenis Bayaran</td>
          <td valign="top">:</td>
          <td valign="top"> #parse("$path/findJenisBayaran.vm") </td>
        </tr>
        <tr>
          <td class="label" valign="top">Status Resit</td>
          <td valign="top">:</td>
          <td valign="top"> #parse("$path/findStatusResit.vm") </td>
        </tr>
        <tr>
			<td class="label" valign="top">Tarikh Bayaran</td>
			<td class="label" valign="top">:</td>
			<td valign="top">
				<span>
		    		<input type="text" id="findTarikhBayaran" name="findTarikhBayaran" placeholder="dd-mm-yyyy">
		    		<script>
		            	_jq("#findTarikhBayaran").Zebra_DatePicker({ 
		    				format: 'd-m-Y',
							readonly_element: false
		            	});
						_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
		    		</script>
					&nbsp;&nbsp; - &nbsp;&nbsp;
		    		<input type="text" id="findTarikhBayaranHingga" name="findTarikhBayaranHingga" placeholder="dd-mm-yyyy">
		    		<script>
		            	_jq("#findTarikhBayaranHingga").Zebra_DatePicker({ 
		    				format: 'd-m-Y',
							readonly_element: false
		            	});
						_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
		    		</script>
				</span>
			</td>
		</tr>
      </table></td>
  </tr>
</table>