<script>
## START BLINK NOTIFICATION
function blinker() {
    _jq('#blinkRekodBilTertunggak').fadeOut(500);
    _jq('#blinkRekodBilTertunggak').fadeIn(500);
}
setInterval(blinker, 100);
## END BLINK NOTIFICATION		
	
function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoKalendar() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=eventCalendar";
	document.${formName}.submit();
}

function gotoKaunterController() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Hasil Kaunter",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.KaunterController";
	document.${formName}.submit();
}

function gotoHasilBerkelompok() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Hasil Berkelompok",$portal_role)?_portal_module=bph.modules.kew.terimaanHasil.HasilBerkelompokRecordModule";
	document.${formName}.submit();
}

function gotoHasilBerkelompokKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Hasil Berkelompok",$portal_role)?_portal_module=bph.modules.kewangan.kelompok.HasilBerkelompokKuarters";
	document.${formName}.submit();
}

function gotoJanaInvoisBayaran() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Hasil Manual",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.JanaInvoisBayaran";
	document.${formName}.submit();
}

function gotoHasilManualController() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Hasil Manual",$portal_role)?_portal_module=bph.modules.kew.terimaanHasil.HasilManualController";
	document.${formName}.submit();
}

function gotoCekManual() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Hasil Manual",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.CekManualRecordModule";
	document.${formName}.submit();
}

function gotoPenyataPemungut() {
	document.${formName}.action = "$lebahUtil.getTabID("Penyata Pemungut",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.PenyataPemungutRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiResit() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Resit",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.SenaraiResitRecordModule";
	document.${formName}.submit();
}

function gotoSejarahResit() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Resit",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.SejarahResitRecordModule";
	document.${formName}.submit();
}

function gotoSemakanPemohon() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan RPP",$portal_role)?_portal_module=bph.modules.rpp.SemakanPemohonRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiLaporan() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.laporan.kewangan.SenaraiLaporanRecordModulen";
	document.${formName}.submit();
}

function gotoKemaskiniRekodBayaran() {
	document.${formName}.action = "$lebahUtil.getTabID("Task Force",$portal_role)?_portal_module=bph.utils.KemaskiniRekodBayaran";
	document.${formName}.submit();
}

function gotoHasilManual() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Hasil Manual",$portal_role)?_portal_module=bph.modules.kew.terimaanHasil.HasilManualRecordModule";
	document.${formName}.submit();
}

function gotoPembatalanResit() {
	document.${formName}.action = "$lebahUtil.getTabID("Pembatalan Resit",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.PembatalanResitRecordModule";
	document.${formName}.submit();
}

function gotoKodHasil() {
	document.${formName}.action = "$lebahUtil.getTabID("Penyelenggaraan Kod",$portal_role)?_portal_module=bph.modules.kod.KodHasilRecordModule";
	document.${formName}.submit();
}

function gotoKodJuruwang() {
	document.${formName}.action = "$lebahUtil.getTabID("Penyelenggaraan Kod",$portal_role)?_portal_module=bph.modules.kod.KodJuruwangRecordModule";
	document.${formName}.submit();
}

function gotoKodKaedahBayaran() {
	document.${formName}.action = "$lebahUtil.getTabID("Penyelenggaraan Kod",$portal_role)?_portal_module=bph.modules.kod.KodKaedahBayaranRecordModule";
	document.${formName}.submit();
}

function gotoKodMesin() {
	document.${formName}.action = "$lebahUtil.getTabID("Penyelenggaraan Kod",$portal_role)?_portal_module=bph.modules.kod.KodMesinRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiAduan() {
	document.${formName}.action = "$lebahUtil.getTabID("Aduan",$portal_role)?_portal_module=bph.modules.pro.SenaraiAduanRecordModule";
	document.${formName}.submit();
}

function gotoPerakuanPenyataPemungut() {
	document.${formName}.action = "$lebahUtil.getTabID("Penyata Pemungut",$portal_role)?_portal_module=bph.modules.kewangan.terimaanHasil.PerakuanPenyataPemungut";
	document.${formName}.submit();
}

function gotoPelarasanDepositKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan Dan Pelarasan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.pelarasan.PelarasanDepositKuarters";
	document.${formName}.submit();
}

function gotoPelarasanDepositRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan Dan Pelarasan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.pelarasan.PelarasanDepositRK";
	document.${formName}.submit();
}

function gotoPelarasanDepositIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan Dan Pelarasan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.pelarasan.PelarasanDepositIR";
	document.${formName}.submit();
}

function gotoPewartaanDeposit() {
	document.${formName}.action = "$lebahUtil.getTabID("Pewartaan Deposit",$portal_role)?_portal_module=bph.modules.kewangan.deposit.PewartaanDeposit";
	document.${formName}.submit();
}

function gotoLejarIndividuKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Kuarters",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.individu.LejarIndividuKuarters";
	document.${formName}.submit();
}

function gotoMasterLejarKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Kuarters",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.master.MasterLejarKuarters";
	document.${formName}.submit();
}

function gotoSenaraiPendepositKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Kuarters",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.senarai.SenaraiPendepositKuarters";
	document.${formName}.submit();
}

function gotoHistoryLejarIndividuKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Kuarters",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.individu.HistoryLejarIndividuKuarters";
	document.${formName}.submit();
}

function gotoLejarIndividuRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Ruang Komersil",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.individu.LejarIndividuRK";
	document.${formName}.submit();
}

function gotoMasterLejarRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Ruang Komersil",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.master.MasterLejarRK";
	document.${formName}.submit();
}

function gotoSenaraiPendepositRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Ruang Komersil",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.senarai.SenaraiPendepositRK";
	document.${formName}.submit();
}

function gotoHistoryLejarIndividuRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Ruang Komersil",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.individu.HistoryLejarIndividuRK";
	document.${formName}.submit();
}

function gotoLejarIndividuIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Rumah Peranginan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.individu.LejarIndividuIR";
	document.${formName}.submit();
}

function gotoMasterLejarIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Rumah Peranginan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.master.MasterLejarIR";
	document.${formName}.submit();
}

function gotoSenaraiPendepositIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Pendeposit Rumah Peranginan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.lejar.senarai.SenaraiPendepositIR";
	document.${formName}.submit();
}

function gotoSenaraiLaporanLejar() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.laporan.kewangan.SenaraiLaporanLejarRecordModule";
	document.${formName}.submit();
}

function gotoAgihanDepositKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengesahan Dan Agihan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.agihan.AgihanDepositKuarters";
	document.${formName}.submit();
}

function gotoAgihanDepositRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengesahan Dan Agihan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.agihan.AgihanDepositRK";
	document.${formName}.submit();
}

function gotoAgihanDepositIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengesahan Dan Agihan",$portal_role)?_portal_module=bph.modules.kewangan.deposit.agihan.AgihanDepositIR";
	document.${formName}.submit();
}

function gotoPelarasanSubsidiariKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan Tunggakan Dan Lebihan",$portal_role)?_portal_module=bph.modules.kewangan.subsidiari.pelarasan.PelarasanSubsidiariKuarters";
	document.${formName}.submit();
}

function gotoPelarasanSubsidiariIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan Tunggakan Dan Lebihan",$portal_role)?_portal_module=bph.modules.kewangan.subsidiari.pelarasan.PelarasanSubsidiariIR";
	document.${formName}.submit();
}

function gotoLejarIndividu() {
	document.${formName}.action = "$lebahUtil.getTabID("Lejar Sewa",$portal_role)?_portal_module=bph.modules.kewangan.subsidiari.lejar.LejarIndividu";
	document.${formName}.submit();
}

function gotoAgihanSubsidiariKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengesahan Dan Agihan",$portal_role)?_portal_module=bph.modules.kewangan.subsidiari.agihan.AgihanSubsidiariKuarters";
	document.${formName}.submit();
}

function gotoAgihanSubsidiariIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengesahan Dan Agihan",$portal_role)?_portal_module=bph.modules.kewangan.subsidiari.agihan.AgihanSubsidiariIR";
	document.${formName}.submit();
}

function gotoPermohonan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan Perolehan",$portal_role)?_portal_module=bph.modules.kew.perolehan.PermohonanRecordModule";
	document.${formName}.submit();
}

function gotoSokongan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan Perolehan",$portal_role)?_portal_module=bph.modules.kew.perolehan.SokonganRecordModule";
	document.${formName}.submit();
}

function gotoKelulusan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan Perolehan",$portal_role)?_portal_module=bph.modules.kew.perolehan.KelulusanRecordModule";
	document.${formName}.submit();
}
## BIL - tak paka pun 
##function gotoPengurusanBil() {
##	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Bil",$portal_role)?_portal_module=bph.modules.kew.bil.MaklumatBayaranRecordModule";
##	document.${formName}.submit();
##}
</script>