<select id="jawatan" name="jawatan" style="width:180px" onChange="$('err_jawatan').innerHTML=''; at(this, event);doDivAjaxCall3$formname('divRekod','getJawatan','')">
	<option value="">SILA PILIH</option>
    <option value="PENYELIA" #if ($!jawatan == 'PENYELIA') selected #end>PENYELIA</option>
    <option value="JURUWANG" #if ($!jawatan == 'JURUWANG') selected #end>JURUWANG</option>
</select>