<select id="flagAktif" name="flagAktif" style="width:180px" onChange="$('err_flagAktif').innerHTML=''; at(this, event);">
	<option value="">SILA PILIH</option>
    <option value="Y" #if ($!flagAktif == 'Y' || $!r.flagAktif == 'Y') selected #end>AKTIF</option>
    <option value="T" #if ($!flagAktif == 'T' || $!r.flagAktif == 'T') selected #end>TIDAK AKTIF</option>
</select>