<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr valign="top">
    <td width="50%" valign="top"><table border="0" cellspacing="10" cellpadding="0" align="right">
        <tcontent> #foreach($rekod in $listUnit2)
          <tr height="20px">
            <td align="center" valign="middle"><input type="button" class="direktoriButton" onClick="doDivAjaxCall3$formname('content','getSubSubDirektori','idUnit=$!rekod.id')" value="$!rekod.keterangan">
            </td>
          </tr>
          #end </tcontent>
      </table></td>
    <td width="50%" valign="top"><table border="0" cellspacing="10" cellpadding="0" align="left">
        <tcontent> #foreach($rekod in $listUnit1)
          <tr height="20px">
            <td align="center" valign="middle"><input type="button" class="direktoriButton" onClick="doDivAjaxCall3$formname('content','getSubSubDirektori','idUnit=$!rekod.id')" value="$!rekod.keterangan">
            </td>
          </tr>
          #end </tcontent>
      </table></td>
  </tr>
</table>
