<select id="flagAktifSubProfilKorporat" name="flagAktifSubProfilKorporat" style="width:180px" onChange="$('err_flagAktifSubProfilKorporat').innerHTML=''; at(this, event);">
	<option value="">SILA PILIH</option>
    <option value="Y" #if ($!subProfilKorporat.flagAktif == 'Y') selected #end>AKTIF</option>
    <option value="T" #if ($!subProfilKorporat.flagAktif == 'T') selected #end>TIDAK AKTIF</option>
</select>