<table style="width:100%" cellpadding="1" cellspacing="1" border="0" align="center">
	<tr>
		<td align="center">
			<div id="divCarianPendeposit">#parse("$templateDir/carian.vm")</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="divMaklumatLejarPendeposti">#parse("$templateDir/index.vm")</div>
		</td>
	</tr>
</table>