<select id="idJabatanPasangan" name="idJabatanPasangan" style="width:100%" onChange="$('err_idJabatanPasangan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $jp in $selectJabatanPasangan )
        <option #if ( $jp.id ==  $!us.agensi.id) selected #end value="$jp.id">$jp.keterangan.toUpperCase()</option>
    #end
</select>
