<select id="idBadanBerkanunPasangan" name="idBadanBerkanunPasangan" style="width:100%" onChange="$('err_idBadanBerkanunPasangan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $bbp in $selectBadanBerkanunPasangan )
        <option #if ( $bbp.id ==  $!us.badanBerkanun.id ) selected #end value="$bbp.id">$bbp.keterangan.toUpperCase()</option>
    #end
</select>
