


<nav class="breadcrumbs">
  <ul>
	
	#if(!$!userRole.equalsIgnoreCase("(JRP) JawatanKuasa Teknikal") || ($!idAgensiLogin.equalsIgnoreCase("1306")))
		<li #if($!selectedSubTab=='1') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='1') onClick="doDivAjaxCall3$formname('divTab','getMaklumatUlasan','')" #end >JPPH</a></li>
	#end
	
	#if(!$!userRole.equalsIgnoreCase("(JRP) JawatanKuasa Teknikal") || ($!idAgensiLogin.equalsIgnoreCase("1262")))
	<li #if($!selectedSubTab=='2') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='2') onClick="doDivAjaxCall3$formname('divTab','getMaklumatKpkk','')" #end >KPKK</a></li>
	#end
	
	#if(!$!userRole.equalsIgnoreCase("(JRP) JawatanKuasa Teknikal") || ($!idAgensiLogin.equalsIgnoreCase("2005")))
	<li #if($!selectedSubTab=='3') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='3') onClick="doDivAjaxCall3$formname('divTab','getMaklumatJbpm','')" #end >JBPM</a></li>
	#end
	
	#if(!$!userRole.equalsIgnoreCase("(JRP) JawatanKuasa Teknikal") || ($!idAgensiLogin.equalsIgnoreCase("1804")))
	<li #if($!selectedSubTab=='6') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='6') onClick="doDivAjaxCall3$formname('divTab','getMaklumatJkptg','')" #end >JKPTG</a></li>
	#end
	
	#if(!$!userRole.equalsIgnoreCase("(JRP) JawatanKuasa Teknikal") || ($!idAgensiLogin.equalsIgnoreCase("1216")))
	<li #if($!selectedSubTab=='4') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='4') onClick="doDivAjaxCall3$formname('divTab','getMaklumatUpe','')" #end >EPU</a></li>
	#end
	
	#if(!$!userRole.equalsIgnoreCase("(JRP) JawatanKuasa Teknikal") || ($!idAgensiLogin.equalsIgnoreCase("1301")))
	<li #if($!selectedSubTab=='5') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='5') onClick="doDivAjaxCall3$formname('divTab','getMaklumatMof','')" #end >MOF</a></li>
	#end
  </ul>
</nav>
	
<br/>