
#set($idAgensiLogin = $!users.agensi.id)

##Body
<div id="divTab">	
	#if($!selectedSubTab=='1')
		#parse("$path/ulasanTeknikal/jpph.vm")
	#elseif($!selectedSubTab=='2')
		#parse("$path/ulasanTeknikal/kpkk.vm")
	#elseif($!selectedSubTab=='3')
		#parse("$path/ulasanTeknikal/jbpm.vm")
	#elseif($!selectedSubTab=='6')
		#parse("$path/ulasanTeknikal/jkptg.vm")
	#elseif($!selectedSubTab=='4')
		#parse("$path/ulasanTeknikal/upe.vm")
	#elseif($!selectedSubTab=='5')
		#parse("$path/ulasanTeknikal/mof.vm")
	#else	
		#parse("$path/ulasanTeknikal/jpph.vm")
	#end	
</div>


	
