<td class="record_header" >No.Tempahan<img src="../img/sortdown.png" class="sorting" onclick="sort('idTempahan')" /></td>
<td class="record_header" >Nama Pemohon<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.userName')" /></td>
<td class="record_header" >Nama Gelanggang<img src="../img/sortdown.png" class="sorting" onclick="sort('gelanggang.nama')" /></td>
<td class="record_header" >Lokasi<img src="../img/sortdown.png" class="sorting" onclick="sort('gelanggang.lokasi')" /></td>
<td class="record_header" >Tarikh Tempahan<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMula')" /></td>
<td class="record_header" >Masa Mula<img src="../img/sortdown.png" class="sorting" onclick="sort('masaMula')" /></td>
<td class="record_header" >Masa Tamat<img src="../img/sortdown.png" class="sorting" onclick="sort('masaTamat')" /></td>
<td class="record_header" >Status Bayaran<img src="../img/sortdown.png" class="sorting" onclick="sort('statusBayaran')" /></td>
<td class="record_header" >Status Permohonan<img src="../img/sortdown.png" class="sorting" onclick="sort('statusPermohonan')" /></td>
<td class="record_header" >Cetak</td>