<select id="idGelanggang" name="idGelanggang" style="width:100%" onChange="javascript:doPaintJadual()">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectGelanggang )
    		<option #if ( $n.id == $r.gelanggang.id ) selected #end value="$n.id">$n.nama.toUpperCase()</option>
    #end
</select>