<fieldset>
<legend class="legend">Laporan Senarai Penyewaan Akan Tamat</legend>
<table width="100%">
  <tr>
    <td width="19%" valign="top"></td>
    <td width="1%" valign="top"></td>
    <td valign="top"></td>
  </tr>
  <tr>
    <td valign="top">Negeri</td>
    <td valign="top">:</td>
    <td valign="top">#parse("$path/selectNegeri.vm")</td>
  </tr>
  <td class="label">Tamat Dalam Tempoh</td>
    <td>:</td>
    <td><select style="width:100%" name="tempoh" id="tempoh" class="texts">
        <option value="" >SILA PILIH</option>
        <option value="1" >HINGGA SATU (1) BULAN</option>
        <option value="3" >HINGGA TIGA (3) BULAN</option>
        <option value="6" >HINGGA ENAM (6) BULAN</option>
        <option value="12" >HINGGA DUA BELAS (12) BULAN</option>
      </select>
    </td>
  </tr>
  <td></td>
    <td class="label"></td>
    <td><input type="button" name="cmdCetak" id="cmdCetak" value="Jana Laporan" onClick="javascript:doCetakLaporanSenaraiPenyewaanAkanTamat()"/>
      <input type="button" name="cmdKembali" id="cmdKembali" value="Kembali" onClick="doDivAjaxCall3$formname('divMain','kembali','');"/></td>
  </tr>
</table>
</fieldset>