<select id="idJenisKegunaanRuang" name="idJenisKegunaanRuang" style="width:100%">
  <option value="">SILA PILIH</option>
	#foreach( $n in $selectJenisKegunaanRuang )
		<option value="$n.id">$n.keterangan.toUpperCase()</option>
  	#end
</select>
