
<td class="record_header" >nama<img src="../img/sortdown.png" class="sorting" onclick="sort('nama')" /></td>
<td class="record_header" >nombor_kad_pengenalan<img src="../img/sortdown.png" class="sorting" onclick="sort('nombor_kad_pengenalan')" /></td>
<td class="record_header" >nombor_telefon<img src="../img/sortdown.png" class="sorting" onclick="sort('nombor_telefon')" /></td>
<td class="record_header" >kategori_aduan<img src="../img/sortdown.png" class="sorting" onclick="sort('kategori_aduan')" /></td>
<td class="record_header" >butiran<img src="../img/sortdown.png" class="sorting" onclick="sort('butiran')" /></td>
