<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>PENGURUSAN BARU RPP PORT DICKSON</header>
  <fieldset>
      <section>
        <p>BPH INGIN MEMAKLUMKAN BAHAWA PENGURUSAN RPP PORT DICKSON AKAN DIURUSKAN OLEH OPERATOR BARU IAITU PUTERI BEACH RESORT MULAI 1 DISEMBER 2013.</p>
    	<p>SEHUBUNGAN ITU, SEBARANG TEMPAHAN UNTUK MENGINAP MULAI JANUARI 2014 BOLEH DIBUAT SECARA TERUS KEPADA PIHAK BPH DENGAN MENGEMUKAKAN BORANG PERMOHONAN. TEMPOH TEMPAHAN DIBUKA ADALAH UNTUK 3 BULAN KEHADAPAN.</p>
      </section>
  </fieldset>
</div>

##Link target <a href="javascript:void()" target=""></a>
## _blank = Opens the linked document in a new window or tab
## _self = Opens the linked document in the same frame as it was clicked (this is default)
## _parent = Opens the linked document in the parent frame
## _top = Opens the linked document in the full body of the window
## framename = Opens the linked document in a named frame
