<select id="findKategoriBil" name="findKategoriBil" style="width:100%" >
	<option value="">SILA PILIH</option>
	#foreach( $n in $selectKategoriBil)
		<option value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>
