<select class="texts" name="idUrusanJKPTG" id="idUrusanJKPTG" style="width: 100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectUrusanJKPTG )
    	<option #if ( $n.id == $rekod.urusanJKPTG.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>

