<select class="texts" name="idStatusCadangan" id="idStatusCadangan" style="width: 100%">
    <option value="">SILA PILIH</option>
	<option value="1">PROJEK DALAM PERANCANGAN</option>
	<option value="2">PROJEK DALAM PEMBINAAN</option>
	<option value="3">PROJEK TELAH SIAP</option>
</select>

