<fieldset><legend class="legend">Permohonan Kuarters</legend>
    <fieldset><legend class="legend">Kriteria Carian</legend>
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
    		<tr>
        		<td width="150px">No. Kad Pengenalan</td>
        		<td width="15px">:</td>
        		<td>
        			<input type="text" id="noKadPemohon" name="noKadPemohon" value="">
        		</td>
        	</tr>
    		<tr>
    			<td colspan="3" align="center">
    				<input type="button" id="btnCari" name="btnCari" value="Carian" onclick="doDivAjaxCall3$formname('carianPermohonanKuarters','carianPermohonanKuarters','')">&nbsp;&nbsp;
    				<input type="button" id="btnKosong" name="btnKosong" value="Kosongkan">
    			</td>
    		</tr>
    	</table>
    </fieldset>
    
    <div id="carianPermohonanKuarters" name="carianPermohonanKuarters"></div>
</fieldset>