<fieldset><legend class="legend">Jenis Laporan</legend>
	<select id="idJenisLaporan" name="idJenisLaporan" onChange="doDivAjaxCall3$formname('jenisLaporan','jenisLaporan','')">
		<option value="01">Senarai Permohonan</option>
		<option value="02">Senarai Menunggu</option>
	</select>
</fieldset>

<div id="jenisLaporan" name="jenisLaporan"></div>