<table cellpadding="5" cellspacing="0" border="0" width="95%" id="subLeft">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
    #input_normal("noUnit" "No. Unit" "$!r.agihan.kuarters.noUnit")
	#input_normal("noUnit" "Alamat" "$!r.agihan.kuarters.alamat1")
	#input_normal("noUnit" "" "$!r.agihan.kuarters.alamat2")
	#input_normal("noUnit" "" "$!r.agihan.kuarters.alamat3")
	#input_normal("noUnit" "Poskod" "$!r.agihan.kuarters.poskod")
	
	##input_normal("noUnit" "Negeri" "$!r.agihan.kuarters.bandar.negeri.keterangan")
	##input_normal("noUnit" "Bandar" "$!r.agihan.kuarters.bandar.keterangan")
	##input_readonly_label("noRujukan" "No. Rujukan" "$!r.agihan.kuarters.noRujukan")
    ##input_readonly_label("kawasan" "Kawasan" "$!r.agihan.kuarters.kawasan")
	##input_readonly_label("jalan" "Jalan" "$!r.agihan.kuarters.alamat1")
</table>
