<table cellpadding="5" cellspacing="0" border="0" width="95%" id="subRight">
    <tr>
        <td style="width:205px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
    #input_normal("noRujukan" "No. Rujukan" "$!r.agihan.kuarters.noRujukan")
	#input_normal("kelas" "Kelas Kuarters" "$!r.agihan.kuarters.kelas.id")
	#input_normal("deposit" "Deposit (RM)" "$!r.agihan.kuarters.deposit")
	#input_normal("noUnit" "Negeri" "$!r.agihan.kuarters.bandar.negeri.keterangan")
	#input_normal("noUnit" "Bandar" "$!r.agihan.kuarters.bandar.keterangan")
</table>

<script>
  _jq(function($) {
      $('.currency').autoNumeric('init', {aSign: 'RM '}); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
	  $('.phone_number').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>