#if ($command == 'simpanPermohonan')	
<select id="masaMula" name="masaMula" disabled>
#else
<select id="masaMula" name="masaMula" onChange="$('err_masaMula').innerHTML=''">
#end

<option value="">SILA PILIH</option>
<option value="9" #if ( '9' == $r.masaMula ) selected #end >9.00 AM</option>
<option value="10" #if ( '10' == $r.masaMula ) selected #end >10.00 AM</option>
<option value="11" #if ( '11' == $r.masaMula ) selected #end >11.00 AM</option>
<option value="12" #if ( '12' == $r.masaMula ) selected #end >12.00 PM</option>
<option value="13" #if ( '13' == $r.masaMula ) selected #end >1.00 PM</option>
<option value="14" #if ( '14' == $r.masaMula ) selected #end >2.00 PM</option>
<option value="15" #if ( '15' == $r.masaMula ) selected #end >3.00 PM</option>
<option value="16" #if ( '16' == $r.masaMula ) selected #end >4.00 PM</option>
<option value="17" #if ( '17' == $r.masaMula ) selected #end >5.00 PM</option>
<option value="18" #if ( '18' == $r.masaMula ) selected #end >6.00 PM</option>
<option value="19" #if ( '19' == $r.masaMula ) selected #end >7.00 PM</option>
<option value="20" #if ( '20' == $r.masaMula ) selected #end >8.00 PM</option>
<option value="21" #if ( '21' == $r.masaMula ) selected #end >9.00 PM</option>
<option value="22" #if ( '22' == $r.masaMula ) selected #end >10.00 PM</option>

</select>