<style type="text/css">
table.dashboard_sub {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px dotted #088A4B;
}
table.dashboard_tepi {
	border-top:1px solid #7A5123;
	border-left:1px solid #7A5123;
	border-right:1px solid #7A5123;
	border-bottom:1px solid #7A5123;
}
td.dashboard_sub_kiri {
	border-top:none;
	border-left:1px dotted #088A4B;
	border-right:none;
	border-bottom:none;
}
table.dashboard_kiri {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;
}
table.dashboard_bawah {
	border-top:1px solid #7A5123;
	border-left:1px solid #7A5123;
	border-right:1px solid #7A5123;
	border-bottom:1px solid #7A5123;
}
table.dashboard_tepi_bawah {
	border-top:none;
	border-left:1px solid #088A4B;
	border-right:none;
	border-bottom:none;
}
table.nav {
	border-top:3px solid #088A4B;
	border-left:none;
	border-right:none;
	border-bottom:3px solid #088A4B;
}
table.alert {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #088A4B;
}
.tooltip {
	position: absolute!important;
	overflow:hidden;
	font-size: 12px;
	z-index: 10000!important;
}
.tooltip .xtop, .tooltip .xbottom {
	background: transparent;
	font-size: 0px;
}
.tooltip .xb1, .tooltip .xb2, .tooltip .xb3, .tooltip .xb4 {
	display: block;
	overflow: hidden;
}
.tooltip .xb1, .tooltip .xb2, .tooltip .xb3 {
	height: 0px;
}
.tooltip .xb2, .tooltip .xb3, .tooltip .xb4 {
	background: #666;
}
.tooltip .xbottom .xb2, .tooltip .xbottom .xb3, .tooltip .xbottom .xb4 {
	background: #666;
}
.tooltip .xb1 {
	margin: 0 0px;
}
.tooltip .xb2 {
	margin: 0 0px;
}
.tooltip .xb3 {
	margin: 0 0px;
}
.tooltip .xb4 {
	height: 0px;
}
.tooltip .xboxcontent {
	padding: 0 .5em;
	margin: 0;
	color: #000;
	word-wrap:break-word;
	border: none;
	background-color:white;
	font-family: Verdana;
}
a.nav:link {
	link:#333333;
}
a.nav:visited {
	color: #333333;
	text-decoration: none;
}
#marquee_replacement {
	border: 3px solid #088A4B;
	height: 300px;
	margin-bottom: 10px;
	overflow: auto;
	width: 100%;
}
.blink {
	animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
 to {
 visibility: hidden;
}
</style>