<style>
	.uppercasefont{
		text-transform: uppercase !important;
	}
</style>

<input type="hidden" id="id" name="id" value="$!r.id"/>
<input type="hidden" id="idResit" name="idResit" value="$!rs.resit.id"/>

<fieldset>
<legend class="legend">MAKLUMAT BAYARAN</legend>
	<table width="100%" style="padding-bottom:0.2cm">
    <tr>
    	<td class="label" valign="top" width="20%" >KOD HASIL</td>
    	<td class="label" valign="top" width="1%">:</td>
    	<td valign="top" width="79%">$!r.kodHasil.kod</td>
    </tr> 
	<tr>
    	<td class="label" valign="top">NO. INVOIS</td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">$!r.noInvois</td> 
	</tr>  
  	<tr>
    	<td class="label" valign="top">NO. RUJUKAN</td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">$!r.noRujukan.toUpperCase()</td> 
	</tr>  
	<tr>
    	<td class="label" valign="top">KETERANGAN BAYARAN</td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">$!util.replaceIfNull($!r.keteranganBayaran.toUpperCase(),'-')</td> 
	</tr>  
	<tr>
        <td class="label" width="20%" valign="top">NAMA</td>
        <td class="label" width="2%" valign="top">:</td>
        <td width="78%" valign="top">$!r.pembayar.userName.toUpperCase()</td>
	</tr>
	<tr>
    	<td class="label" valign="top">NO. KP</td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">$!r.pembayar.noKP</td>
    </tr>

	<tr>
    	<td class="label" valign="top">JUMLAH BAYARAN (RM)</td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">$!util.formatDecimal($!r.debit)</td>
    </tr>
</table>
</fieldset>


<fieldset>
<legend class="legend">MAKLUMAT CEK</legend>

<table width="100%" style="padding-top:0.2cm">
	
	<tr>
		<td width="150px"></td>
		<td width="10px"></td>
		<td></td>
	</tr>

	#input_required("noCek" "NO. CEK" "$!rkb.noCek")
	#date_input_required("tarikhCek" "TARIKH CEK" "$!util.getDateTime($!rkb.tarikhCek,'dd-MM-yyyy')")
	#date_input_required("tarikhBayaran" "TARIKH BAYARAN" "$!util.getDateTime($!rs.resit.tarikhBayaran,'dd-MM-yyyy')")
	#currency_required("amaunBayaran" "AMAUN BAYARAN (RM)" "$!util.formatDecimal($!rs.resit.jumlahAmaunBayaran)")
	#textarea("catatanCek" "CATATAN" "$!rkb.catatanCek")
	
</tr>
	
</table>
</fieldset>


<table width="100%" style="padding-top:0.4cm">
	<tr>
		<td>
			Sila lengkapkan medan yang mandatori!
			<div style="color:blue">Nota: Sila tekan butang TAB untuk bergerak ke field seterusnya.</div>
		</td>
	</tr>	
	<tr>
		<td align="right">
			##if($!rsi.resit)
				<input type="button" id="cetak" name="cetak" value="Cetak" onclick="doCetakResit()"/>
			##end
			<input type="button" id="simpan" name="simpan" value="Simpan" onclick="doSimpan()"/>
			<input id="button" type="button" value="Kembali" onclick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
		</td>
	</tr>
</table>



<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>