<fieldset>
<legend class="legend">Maklumat Urusan</legend>

<input type="hidden" id="idUrusan" name="idUrusan" value="$!rekod.id">
<input type="hidden" id="selectedSubTab" name="selectedSubTab" value="$!selectedSubTab">

<table cellpadding="5" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="label" style="width:25%">&nbsp;</td>
    <td style="width:1%">&nbsp;</td>
    <td style="width:74%">&nbsp;</td>
  </tr>
  #input_required("noFail" "No. Fail" "$!rekod.noFail")
  #input("noRujukan" "No. Rujukan" "$!rekod.noRujukan")
  #textarea("keterangan" "Keterangan" "$!rekod.keterangan")
  #if ($!selectedSubTab == '1')
	  <tr>
	    <td class="label">Urusan JKPTG</td>
	    <td>:</td>
	    <td> #parse("$path/rekodUrusan/selectUrusanJKPTG.vm") </td>
	  </tr>
	  #if ($rekod.tarikhMohon) #set ($dateMohon="$!util.getDateTime($rekod.tarikhMohon,'dd-MM-yyyy')") #else #set ($dateMohon="") #end
	  #date_input("tarikhMohon" "Tarikh Mohon" "$!dateMohon") 
	  #if ($rekod.tarikhMula) #set ($dateMula="$!util.getDateTime($rekod.tarikhMula,'dd-MM-yyyy')") #else #set ($dateMula="") #end
	  #date_input("tarikhMula" "Tarikh Mula" "$!dateMula") 
	  #if ($rekod.tarikhAkhir) #set ($dateAkhir="$!util.getDateTime($rekod.tarikhAkhir,'dd-MM-yyyy')") #else #set ($dateAkhir="") #end
	  #date_input("tarikhAkhir" "Tarikh Akhir" "$!dateAkhir")
  #end
  
  #if ($!selectedSubTab == '2')
	  #if ($rekod.tarikhMohon) #set ($dateMohon="$!util.getDateTime($rekod.tarikhMohon,'dd-MM-yyyy')") #else #set ($dateMohon="") #end
	  #date_input("tarikhMohon" "Tarikh Mohon" "$!dateMohon") 
	  #date_input("tarikhTerimaMaklumbalas" " Tarikh Terima Maklumbalas" "$!util.getDateTime($rekod.tarikhTerimaMaklumbalas,'dd-MM-yyyy')")
	  <tr>
	    <td class="label">Nilaian JPPH (RM)</td>
	    <td class="label">:</td>
	    <td><input class="currency" type="text" id="nilaian" name="nilaian" value="$!util.formatDecimal($!rekod.nilaian)" onKeyUp="at(this, event)"></td>
	  </tr>
	  #textarea("catatanMaklumbalas" "Catatan" "$!rekod.catatanMaklumbalas")
  #end
  
  <tr>
    <td></td>
    <td></td>
    <td>#if ($allowUpdate) <input type="button" id="saveRekodUrusan" name="saveRekodUrusan" value="Simpan" onClick="javascript:doSaveRekodUrusan();"> #end
      <input type="button" id="batalRekodUrusan" name="batalRekodUrusan" value="Keluar"></td>
  </tr>
</table>
</fieldset>

<script>
_jq('#batalRekodUrusan').on('click', function(){
	#if ($!selectedSubTab == '1')
		doDivAjaxCall3$formname('divTab','getRekodUrusan','');
	#end
	#if ($!selectedSubTab == '2')
		doDivAjaxCall3$formname('divTab','getRekodUrusanJPPH','');
	#end
    jQuery('#popupMaklumatUrusan').fadeOut();
});
</script>
<script>
	  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>
