##<div id="content-format">
    <div id="closeButton" onclick="doDivAjaxCall3$formname('tabs-2','getRumahPeranginanSUB','')"></div>
	
    <header>PERANGINAN PERSEKUTUAN MORIB</header>
##    <nav class="breadcrumbs">
##        <ul>
##            <li>
##                <a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getRumahPeranginan','')">Rumah Peranginan</a>
##            </li>
##            <li class="active">
##                <a href="javascript:void()">Rumah Peranginan Persekutuan Morib</a>
##            </li>
##        </ul>
##    </nav>
    <section>
        <!-- <p class="title">Rumah Peranginan Persekutuan Morib</p>
        -->
        <table cellpadding="5" cellspacing="0" border="1" align="center" width="100%">
            <tr>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanMorib/dsc_0403.jpg" height="175px" width="275px" />
                </td>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanMorib/dsc_0216.jpg" height="175px" width="275px" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanMorib/dsc_0081.jpg" height="175px" width="275px" />
                </td>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanMorib/dsc_0438.jpg" height="175px" width="275px" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanMorib/dsc_0305.jpg" height="175px" width="275px" />
                </td>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanMorib/dsc_0079.jpg" height="175px" width="275px" />
                </td>
            </tr>
        </table>
        <br />
        <hr />
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
                <td valign="top" width="50%">
    				<table cellpadding="0" cellspacing="0" width="100%" border="0">
    					<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
    					<tr>
    						<td>Alamat</td>
    						<td>:</td>
    						<td>Rumah Peranginan Persekutuan Morib KM 57</td>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td>Jalan Morib,</td>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td>42700 Banting, Selangor Darul Ehsan</td>
    					</tr>
    					<tr>
    						<td>Pejabat</td>
    						<td>:</td>
    						<td>03 – 3198 2108</td>
    					</tr>
    				</table>
                </td>
                <td valign="top" width="50%">
    				<table cellpadding="0" cellspacing="0" width="100%">
    					<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
                        <tr>
    						<td colspan="3">Penyelia & No. Talian :</td>
    					</tr>
						<tr>
    						<td></td>
    						<td></td>
    						<td>EN.AHMAD SYAFIQ BIN IKRAM</td>
    					</tr>
						<tr>
    						<td>Tel</td>
    						<td>:</td>
    						<td>03 – 3198 2108</td>
    					</tr>
    					<tr>
    						<td>Faks</td>
    						<td>:</td>
    						<td>03 - 3198 2312</td>
    					</tr>
    				</table>
                </td>
            </tr>
    		<tr>
    			<td colspan="2">
    				<hr />
    			</td>
    		</tr>
			<tr>
                <td colspan="2" align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanMorib/morib1.jpg" width="100%" />
                </td>
            </tr>
        </table>
    </section>
    ##</div>
    ##Link target <a href="javascript:void()" target=""></a>
    ## _blank = Opens the linked document in a new window or tab
    ## _self = Opens the linked document in the same frame as it was clicked (this is default)
    ## _parent = Opens the linked document in the parent frame
    ## _top = Opens the linked document in the full body of the window
    ## framename = Opens the linked document in a named frame
