<select id="flagPekerjaAsing" name="flagPekerjaAsing" style="width:100%" onChange="at(this, event);">
    <option value="">SILA PILIH</option>
    <option #if ( "Y" ==  $!maklumatLain.flagPekerjaAsing ) selected #end value="Y">YA</option>
    <option #if ( "T" ==  $!maklumatLain.flagPekerjaAsing ) selected #end value="T">TIDAK</option>
</select>
