<select id="flagSewaPihakLain" name="flagSewaPihakLain" style="width:100%" onChange="at(this, event);">
    <option value="">SILA PILIH</option>
    <option #if ( "Y" ==  $!maklumatLain.flagSewaPihakLain ) selected #end value="Y">YA</option>
    <option #if ( "T" ==  $!maklumatLain.flagSewaPihakLain ) selected #end value="T">TIDAK</option>
</select>
