#if ($command == 'getPemohon')
 	<input class="texts" type="text" id="selectIdPemohon" name="selectIdPemohon" value="$namaPemohon" readonly="true" onKeyUp="$('err_namaPemohon').innerHTML=''; at(this, event)" onBlur="this.value=this.value.toUpperCase();">
#else
	<input class="texts" type="text" id="selectIdPemohon" name="selectIdPemohon" value="$!r.pemohon.userName" readonly="true" onKeyUp="$('err_namaPemohon').innerHTML=''; at(this, event)" onBlur="this.value=this.value.toUpperCase();">
#end