<select class="texts" id="selectIdPemohon" name="selectIdPemohon" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPemohon)
    	<option #if ( $n.id == $r.pemohon.id ) selected #end value="$n.id">$n.userName.toUpperCase()</option>
    #end
</select>
