<select class="texts" id="selectJenisMaklumBalas" name="selectJenisMaklumBalas" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisMaklumBalas)
    	<option #if ( $n.id == $r.jenisMaklumBalas.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
