<select id="idPenolakan" name="idPenolakan" style="width:100%" onChange="$('err_idPenolakan').innerHTML=''; at(this, event);" >
    <option value="">SILA PILIH</option>
    #foreach( $sp in $selectPenolakan )
        <option #if ( $sp.id ==  $!r.sebabTolak.id ) selected #end value="$sp.id">$sp.keterangan.toUpperCase()</option>
    #end
</select>
