<div id="info" >
<header>Rumah Peranginan Persekutuan</header>

<section>
	<div id="tabs">
        <ul>
            <li><a href="#tabs-1">Info</a></li>
			<li><a href="#tabs-2">Rumah Peranginan</a></li>
			<li><a href="#tabs-3">Cara Memohon</a></li>
			<li><a href="#tabs-4">Kadar Sewa</a></li>
        </ul>
		<div id="tabs-1">
			<h3>Info</h3>
			<title>FUNGSI SEKSYEN PENGURUSAN RUMAH PERANGINAN</title>
			<ul>
				<li>Mengurus permohonan menginap di Rumah Peranginan (RPP) Persekutuan dan Rumah Penginapan Persekutuan (RP)</li>
				<li>Mengurus permohonan menginap di Rumah Transit untuk kakitangan Perkhidmatan Awam</li>
				<li>Mengurus operasi RPP/RP termasuk pemantauan ke atas kerja-kerja yang diuruskan oleh kontraktor swasta yang dilantik</li>
				<li>Mengurus dan merancang penyelenggaraan dan pembaikan RPP, RP dan Rumah Transit dibawah kawal selia BPH</li>
				<li>Mengawalselia perjanjian penswastaan Rumah Peranginan Persekutuan (RPP) Pulau Langkawi , Rumah Peranginan Persekutuan (RPP) Port Dickson dan Carcosa Seri Negara (CSN)</li>
			</ul>
			
			<title>PUNCA KUASA:-</title>
			<p>Pekeliling</p>
			<ol>
				<li>
					Surat Pekeliling Am Bilangan 2 Tahun 2006
					<ul>
						<li>Peraturan Bagi Menggunakan Rumah Penginapan Persekutuan Di Dalam Dan Luar Negeri</li>
					</ul>
				</li>
				<li>
					Surat Pekeliling Am Bilangan 1 Tahun 2010
					<ul>
						<li>Peraturan Bagi Menggunakan Rumah Peranginan Persekutuan</li>
					</ul>
				</li>
				<li>
					Surat Pekeliling Am Bilangan 4 Tahun 2013- (Terbaru)
					<ul>
						<li>Kemudahan Tambahan Yang disediakan di Rumah Peranginan Persekutuan Tasik Kenyir, Terengganu (13 Mei 2013)</li>
					</ul>
				</li>
			</ol>
					
			<title>Kelayakan Memohon</title>
			<p>Anggota perkhidmatan awam yang layak untuk memohon menginap di mana-mana RPP adalah seperti berikut :</p>
			<ul>
				<li>Perkhidmatan Awam Persekutuan</li>
				<li>Perkhidmatan Awam Negeri</li>
				<li>Perkhidmatan Badan Berkanun ( 7 hari dari tarikh menginap)</li>
				<li>Persara yang memiliki Kad Pesara Kerajaan Malaysia</li>
			</ul>
        </div>
        <div id="tabs-2">
        	<h3>Rumah Peranginan</h3>
			<table cellpadding="10" cellspacing="0" border="0" align="center">
        		<tr>
        			<td align="right" style="border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getPeranginanBukitFraser','')"><img src="../images/rumahPeranginan/dsc_0160.jpg" height="200px" width="345px"></a>
        			</td>
        			<td style="border-top: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getPeranginanMorib','')"><img src="../images/rumahPeranginan/dsc_0316.jpg" height="200px" width="345px"></a>
        			</td>
					<td align="left" style="border-top: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getPeranginanCameron','')"><img src="../images/rumahPeranginan/dsc_0654.jpg" height="200px" width="345px"></a>
        			</td>
        		</tr>
        		<tr>
        			<td align="center" style="border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<span>RPP Bukit Fraser (RPP BF)</span>
        			</td>
        			<td align="center" style="border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<span>RPP Morib (RPP M)</span>
        			</td>
					<td align="center" style="border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<span>RPP Cameron Highlands (RPP CH)</span>
        			</td>
        		</tr>
        		<tr>
        			<td align="right" style="border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getPeranginanPD','')"><img src="../images/rumahPeranginan/img_0212.jpg" height="200px" width="345px"></a>
        			</td>
        			<td style="border-right: 1px solid #CCC;">
        				<a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getPeranginanLangkawi','')"><img src="../images/rumahPeranginan/dsc_0526.jpg" height="200px" width="345px"></a>
        			</td>
        			<td align="left" style="border-right: 1px solid #CCC;">
        				<a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getPeranginanKenyir','')"><img src="../images/rumahPeranginan/dsc_0154.jpg" height="200px" width="345px"></a>
        			</td>
        		</tr>
        		<tr>
					<td align="center" style="border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<span>RPP Port Dickson (RPP PD)</span>
        			</td>
        			<td align="center" style="border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<span>RPP Pulau Langkawi (RPP PL)</span>
        			</td>
        			<td align="center" style="border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;">
        				<span>RPP Tasik Kenyir (RPP TK)</span>
        			</td>
        		</tr>				
        	</table>
        </div>
		<div id="tabs-3">
			<h3>Cara Memohon</h3>
				<p>Permohonan <i>'Online'</i></p>
            	<p>Permohonan <i>'Walk In'</i></p>
            	<p>Permohonan secara 'walk in' juga diterima di semua RPP.Walaubagaimanapun, bagi RPP Pulau Langkawi dan RPP Port Dickson, kadar sewa bilik pada harga anggota Perkhidmatan Awam adalah tertakluk kepada kekosongan kuota Kerajaan.</p>
            	<p>* Permohonan yang lengkap dan disahkan oleh Ketua Jabatan pemohon perlu dikemukakan kepada BPH melalui pos atau faks ke 03-88883032</p>
            	<p>Pertanyaan</p>
            	<p>Sila hubungi : 03 8880 0155</p>
        </div>
    


	<div id="tabs-4">
		<h3>Kadar Sewa</h3>
		<title>Rumah Peranginan Persekutuan</title>
		
		<br />
		<p>RPP Bukit Fraser</p>
    		<table cellpadding="5" cellspacing="0" border="1" width="70%">
			<thead>
			<tr>
				<td>Jenis</td>
				<td>Jumlah Unit</td>
				<td>Bilangan Bilik</td>
				<td>Kadar Sewa (rm)</td>
				<td>Kelayakan</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Banglo 6 bilik</td>
				<td>1</td>
				<td>6</td>
				<td>200.00</td>
				<td></td>
			</tr>
			<tr>
				<td>Bilik Besar</td>
				<td>3</td>
				<td>-</td>
				<td>50.00</td>
				<td></td>
			</tr>
			<tr>
				<td>Bilik Kecil</td>
				<td>3</td>
				<td>-</td>
				<td>40.00</td>
				<td></td>
			</tr>
			</tbody>
			</table>
	
			<p>RPP Cameron Highlands</p>
	
			<table cellpadding="5" cellspacing="0" border="1" width="70%">
			<thead>
			<tr>
				<td>Jenis</td>
				<td>Jumlah Unit</td>
				<td>Bilangan Bilik</td>
				<td>Kadar Sewa (rm)</td>
				<td>Kelayakan</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Banglo 3 bilik</td>
				<td>3</td>
				<td>3</td>
				<td>100.00</td>
				<td>Gred 48 keatas</td>
			</tr>
			<tr>
				<td>Apartment 2 bilik</td>
				<td>4</td>
				<td>2</td>
				<td>50.00</td>
				<td></td>
			</tr>
			<tr>
				<td>Bilik Biasa</td>
				<td>16</td>
				<td>1</td>
				<td>25.00</td>
				<td></td>
			</tr>
			<tr>
				<td>Asrama 30 katil</td>
				<td>2</td>
				<td></td>
				<td>150 / 1 unit<br>300.00 / 2 unit</td>
				<td></td>
			</tr>
			</tbody>
			</table>
	
			<p>RPP Morib</p>
	
			<table cellpadding="5" cellspacing="0" border="1" width="70%">
			<thead>
			<tr>
				<td>Jenis</td>
				<td>Jumlah Unit</td>
				<td>Bilangan Bilik</td>
				<td>Kadar Sewa (rm)</td>
				<td>Kelayakan</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Banglo 3 bilik</td>
				<td>2</td>
				<td>3</td>
				<td>60.00</td>
				<td></td>
			</tr>
				<tr>
				<td>Rumah berkembar 2 bilik</td>
				<td>7</td>
				<td>2</td>
				<td>50.00</td>
				<td></td>
			</tr>
			
			</tbody>
			</table>
	
			<p>RPP Pulau Pinang</p>
	
			<table cellpadding="5" cellspacing="0" border="1" width="70%">
			<thead>
			<tr>
				<td>Jenis(banglo)</td>
				<td>Jumlah Unit</td>
				<td>Bilangan Bilik</td>
				<td>Kadar Sewa (rm)</td>
				<td>Kelayakan</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Suite vip</td>
				<td>1</td>
				<td>-</td>
				<td>150.00</td>
				<td>Jusa a keatas</td>
			</tr>
			<tr>
				<td>Suite eksklusif</td>
				<td>4</td>
				<td>-</td>
				<td>100.00</td>
				<td>54 - jusa b</td>
			</tr>
			<tr>
				<td>Suite deluxe</td>
				<td>6</td>
				<td>-</td>
				<td>70.00</td>
				<td>41 - 52</td>
			</tr>
			
			</tbody>
			</table>
	
			<p>RPP Tasik Kenyir</p>
	
			<table cellpadding="5" cellspacing="0" border="1" width="70%">
			<thead>
			<tr>
				<td>Jenis</td>
				<td>Jumlah Unit</td>
				<td>Bilangan Bilik</td>
				<td>Kadar Sewa (rm)</td>
				<td>Kelayakan</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Banglo 3 bilik</td>
				<td>4</td>
				<td>3</td>
				<td>60.00</td>
				<td></td>
			</tr>
			<tr>
				<td>Rumah 2 bilik</td>
				<td>5</td>
				<td>2</td>
				<td>50.00</td>
				<td></td>
			</tr>
			<tr>
				<td>Asrama 40 katil</td>
				<td>2</td>
				<td></td>
				<td>150.00 / 1 <br> 250.00 / 2 unit</td>
				<td></td>
			</tr>
			
			</tbody>
			</table>
	
			<p>RPP Port Dickson</p>
	
			<table cellpadding="5" cellspacing="0" border="1" width="70%">
			<thead>
			<tr>
				<td>Jenis</td>
				<td>Jumlah Unit</td>
				<td>Bilangan Bilik</td>
				<td>Kadar Sewa (rm)</td>
				<td>Kelayakan</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Banglo vvip</td>
				<td>2</td>
				<td>3</td>
				<td>172.50</td>
				<td>Jusa a keatas</td>
			</tr>
			<tr>
				<td>VIP</td>
				<td>6</td>
				<td>3</td>
				<td>172.50</td>
				<td>Gred 48 keatas</td>
			</tr>
			<tr>
				<td>3 Bilik</td>
				<td>22</td>
				<td>3</td>
				<td>115.00</td>
				<td></td>
			</tr>
			<tr>
				<td>1 Bilik</td>
				<td>8</td>
				<td>1</td>
				<td>88.55</td>
				<td></td>
			</tr>
			<tr>
				<td>Studio</td>
				<td>8</td>
				<td>-</td>
				<td>63.25</td>
				<td></td>
			</tr>
			<tr>
				<td>2 Bilik (Blok lama)</td>
				<td>8</td>
				<td>2</td>
				<td>46.00</td>
				<td></td>
			</tr>
			
			</tbody>
			</table>
	
			<p>RPP Pulau Langkawi - Holiday Villa</p>
	
			<table cellpadding="5" cellspacing="0" border="1" width="70%">
			<thead>
			<tr>
				<td>Jenis</td>
				<td>Jumlah Unit</td>
				<td>Bilangan Bilik</td>
				<td>Kadar Sewa (rm)</td>
				<td>Kelayakan</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Bilik suite</td>
				<td>2</td>
				<td>-</td>
				<td>132.00</td>
				<td>Gred 48 keatas</td>
			</tr>
			<tr>
				<td>Bilik deluxe</td>
				<td>15</td>
				<td>-</td>
				<td>77.00</td>
				<td></td>
			</tr>
			<tr>
				<td>Bilik standard</td>
				<td>15</td>
				<td>-</td>
				<td>55.00</td>
				<td></td>
			</tr>
			
			</tbody>
			</table>
			
			<p>Kemudahan yang disediakan di RPP/RP</p>
			<ul>
				<li>WiFi</li>
				<li>Siaran Televisyen Berbayar (Astro)</li>
				<li>Kemudahan PA sistem</li>
				<li>Taman Permainan kanak-kanak</li>
				<li>Permainan Dalaman (indoor games)</li>
				<li>Kemudahan peralatan memasak</li>
				<li>Kayak(RPP Tasik Kenyir)</li>
				<li>Tempat untuk BBQ</li>
				<li>Kolam renang (RPP Port Dickson)</li>
				<li>Kolam renang kanak-kanak (RPP Tasik Kenyir)</li>
			</ul>
	
	</div>		
	</div>

</section>
</div>