<script>
## START BLINK NOTIFICATION
function blinker() {
	_jq('#blinkRekodBilAktif').fadeOut(500);
    _jq('#blinkRekodBilAktif').fadeIn(500);
    
    _jq('#blinkRekodBilTertunggak').fadeOut(500);
    _jq('#blinkRekodBilTertunggak').fadeIn(500);
}
setInterval(blinker, 100);
## END BLINK NOTIFICATION	
	
function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoKalendar() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=eventCalendar";
	document.${formName}.submit();
}

function gotoPendaftaranBil() {
	document.${formName}.action = "$lebahUtil.getTabID("Pendaftaran Bil",$portal_role)?_portal_module=bph.modules.bil.DaftarBilRecordModule";
	document.${formName}.submit();
}

function gotoPengurusanBil() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Bil",$portal_role)?_portal_module=bph.modules.bil.MaklumatBayaranRecordModule";
	document.${formName}.submit();
}
</script>