<form name="f" method="post">

				<table cellpadding="0" cellspacing="2" border="0">
		<tr>
		<td>
				<a href="javascript:imageWindow('$item.fileName')">
												<img src="../download?file=$item.thumbFilename" border="0">
				</a>
								</td>
								</tr>
				
				<br>
								<tr>
				<td valign="top">
$item.description
	<br>
	<input type="button" value="Edit Description" onclick="editImage()">
				</td>
				</tr>
				</table>
				
				<table width="100%">
				<tr>
				<td>
											[
				<a href="javascript:addImage()">
			Add New Image
				</a>
				]			
				[
				<a href="javascript:goBack()">
	Back to Gallery
				</a>
				]
				
				</td>
				</tr>
				</table>
								
</form>

<script>
function imageWindow(filename) {
window.open('../download?file=' + filename,'imageWindow','width=600,height=400,toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,copyhistory=yes,resizable=yes');
}
function addImage() {
document.f.action = "?command=addImage";
document.f.submit();
}
function goBack() {
document.f.action = "?command=";
document.f.submit();
}
function editImage() {
document.f.action = "?command=editImage&item_id=$item.id";
document.f.submit();
}

</script>