<form name="library" method="post" action="?command=UploadFile" enctype="multipart/form-data">
	<table class="table_row" width="100%"align="center" cellpadding="1" cellspacing="0">
		<tr class="table_header">	
			<td colspan="2" align="center">
				<b>$group.Name</b>
			</td>
		</tr>
		<tr>
			<td align="right">
			File:
			</td>
			<td>
								<input id="fileupload" name="fileupload" type="file" size="30">
			</td>
		</tr>	
		<tr>
			<td align="right" valign="top">
				Description:
			</td>
			<td>
				<textarea name="item_description" cols="60" rows="8" style="font-family:verdana, helvetica; font-size:8pt"></textarea>
			</td>
		</tr>			
		<tr>		
		<td>
		</td>
			<td>
				<input type="submit" name="Submit" value="Add Item">
			</td>
		</tr>		
	</table>
<input type="hidden" name="command">
<input type="hidden" name="group_id" value="$group_id">
<input type="hidden" name="pagenum" value="$page_number">
</form>
