<select class="texts" id="idKelulusan" name="idKelulusan" style="width:100%">
    <option value="">SILA PILIH</option>
    <option #if ( $rekod.flagKelulusanSub == 'L' ) selected #end value="L">LULUS</option>
    <option #if ( $rekod.flagKelulusanSub == 'T' ) selected #end value="T">TOLAK</option>
</select>