#parse("bph/dashboard/style.vm")
#parse("$path/script.vm")
<table width="100%" border="0" cellspacing="0" cellpadding="5">
   <tr>
      <td width="60%" valign="top">
         <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/myprofile.png"  width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Profil</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoKataLaluan()" class="help" title="Tukar Kata Laluan">
                                                <li><font color="blue" style="font-size:110%">&nbsp;Tukar Kata Laluan</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoProfile()" class="help" title="Profil Pengguna">
                                                <li><font color="blue" style="font-size:110%">&nbsp;Profil Pengguna</font></li>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="50%" valign="top">&nbsp;</td>
                     </tr>
                  </table>
               </td>
            </tr>
            ### LAYER 2 - 1
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Kuarters</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSenaraiKuartersKosong()" class="help" title="Jumlah Kuarters Kosong">
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kuarters Kosong <b></font><font color="red">($jumKuartersKosong)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <a href="javascript:gotoSenaraiKuartersBerpenghuni()" class="help" title="Jumlah Kuarters Berpenghuni">
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kuarters Berpenghuni <b></font><font color="red">($jumKuartersPenghuni)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Permohonan Baru Kuarters <b></font><font color="red">($jumMohonKuarters)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Penguatkuasa</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kesalahan Berat <b></font><font color="red">($jumKesalahanBerat)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kesalahan Ringan <b></font><font color="red">($jumKesalahanRingan)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td></td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>        
            ## LAYER 2 - 3
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
                     <tr>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Utiliti</b></td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Dewan Yang Aktif <b></font><font color="red">($jumDewanAktif)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Gelanggang Yang Aktif <b></font><font color="red">($jumGelanggangAktif)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Permohonan Dewan <b></font><font color="red">($jumMohonDewan)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             <font color="black">
                                                <li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Permohonan Gelanggang <b></font><font color="red">($jumMohonGelanggang)</b></font></li>
                                             </font>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="50%" valign="top">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" >
                              <tr>
                                 <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                                 <td width="85%" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                       <tr>
                                          <td><font color="black" style="font-size:120%"><b>Senggara</b></td>
                                       </tr>
                                       <tr>
                                          ##link1
                                       </tr>
                                       <tr>
                                          ##link1
                                       </tr>
                                       <tr>
                                          ##link1
                                       </tr>
                                       <tr>
                                          ##link1
                                       </tr>
                                       <tr>
                                          <td></td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            
            </tr>
         </table>
      </td>
   </tr>
</table>
