<select class="texts" id="findStatusPermohonan" name="findStatusPermohonanJRP" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectStatusPermohonan)
    	<option value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
    #end
</select>

