<script>
function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoKalendar() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=eventCalendar";
	document.${formName}.submit();
}

function gotoSenaraiTempahanRPP() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.TempahanRPRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiTempahanLondon() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RekodTempahanLondonRecordModule";
	document.${formName}.submit();
}

function gotoSejarahPermohonan() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RppHistoryRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiTempahanRT() {
	document.${formName}.action = "$lebahUtil.getTabID("Rumah Transit",$portal_role)?_portal_module=bph.modules.rpp.TempahanRT";
	document.${formName}.submit();
}

function gotoPermohonanKelompok() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Kelompok",$portal_role)?_portal_module=bph.modules.rpp.TempahanBerkelompok";
	document.${formName}.submit();
}

function gotoBayaranBalik() {
	document.${formName}.action = "$lebahUtil.getTabID("Bayaran Balik",$portal_role)?_portal_module=bph.modules.rpp.SenaraiPermohonanBayaranBalikRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiBlackList() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Hitam",$portal_role)?_portal_module=bph.modules.rpp.SenaraiHitamRecordModule";
	document.${formName}.submit();
}

function gotoHQAduan() {
	document.${formName}.action = "$lebahUtil.getTabID("Aduan Kerosakan",$portal_role)?_portal_module=bph.modules.rpp.HQAduanRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiCatatanPenyelia() {
	document.${formName}.action = "$lebahUtil.getTabID("Catatan Penyelia",$portal_role)?_portal_module=bph.modules.rpp.catatanPenyelia.CatatanPenyeliaRecordModule";
	document.${formName}.submit();
}
###
function gotoSenaraiBlocking() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.rpp.tetapan.SelenggaraRppRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiTermaDanSyarat() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.rpp.tetapan.RppTermaSyaratPeranginanRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiTarikhBukaTempahan() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.rpp.tetapan.SenaraiTarikhBukaTempahanRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiCuti() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.kod.CutiRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiLaporan() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.laporan.rpp.SenaraiLaporanRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiPenggunaKemudahan() {
	document.${formName}.action = "$lebahUtil.getTabID("Penggunaan Kemudahan",$portal_role)?_portal_module=bph.modules.rpp.RppPenggunaanKemudahanRecordModule";
	document.${formName}.submit();
}

##Penyelia
function gotoWalkIn() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif / Transit",$portal_role)?_portal_module=bph.modules.rpp.WalkInRecordModule";
	document.${formName}.submit();
}
function gotoSemakanTempahan() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif / Transit",$portal_role)?_portal_module=bph.modules.rpp.TempahanRPRecordModule";
	document.${formName}.submit();
}
function gotoPengurusanBilik() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif / Transit",$portal_role)?_portal_module=bph.modules.rpp.RppPengurusanBilikRecordModule";
	document.${formName}.submit();
}
function gotoSejarahPermohonanPenyelia() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif / Transit",$portal_role)?_portal_module=bph.modules.rpp.RppHistoryRecordModule";
	document.${formName}.submit();
}
function gotoTidakHadir() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif / Transit",$portal_role)?_portal_module=bph.modules.rpp.NoShowRecordModule";
	document.${formName}.submit();
}

function gotoPengesahanPengguna() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengesahan Pengguna",$portal_role)?_portal_module=portal.module.RPPPengesahanPenggunaRecordModule";
	document.${formName}.submit();
}

function addNewNotice() {
	doDivAjaxCall3$formname('popupDaftar','openPopupDaftar','');
	jQuery('#popupDaftar').fadeIn();
}

function deleteMaklumat(idrekod) {
	if ( window.confirm("Adakah anda pasti?") ){
		doDivAjaxCall$formname('divListMaklumatTerkini','deleteRecord','idrekod='+idrekod)
	}
}

function gotoSenaraiKelulusanPremier() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.SUBKelulusanRP";
	document.${formName}.submit();
}

function gotoSenaraiDeposit() {
	document.${formName}.action = "$lebahUtil.getTabID("Bayaran Balik",$portal_role)?_portal_module=bph.modules.rpp.SenaraiDepositRppRecordModule";
	document.${formName}.submit();
}

function gotoDaftarBilRPP() {
	document.${formName}.action = "$lebahUtil.getTabID("Bil",$portal_role)?_portal_module=bph.modules.bil.DaftarBilRPPRecordModule";
	document.${formName}.submit();
}

function gotoMaklumatBayaranRPP() {
	document.${formName}.action = "$lebahUtil.getTabID("Bil",$portal_role)?_portal_module=bph.modules.bil.MaklumatBayaranRPPRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiKontrakBayaranRPP() {
	document.${formName}.action = "$lebahUtil.getTabID("Kontrak",$portal_role)?_portal_module=bph.modules.kontrak.SenaraiKontrakBayaranRPPRecordModule";
	document.${formName}.submit();
}

function gotoSemakanKekosongan() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan",$portal_role)?_portal_module=bph.modules.rpp.SemakanKekosonganRecordModule";
	document.${formName}.submit();
}

function gotoSemakanPemohon() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan",$portal_role)?_portal_module=bph.modules.rpp.SemakanPemohonRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiAduan() {
	document.${formName}.action = "$lebahUtil.getTabID("Aduan",$portal_role)?_portal_module=bph.modules.pro.SenaraiAduanRecordModule";
	document.${formName}.submit();
}

function gotoHistoryRumahTransit() {
	document.${formName}.action = "$lebahUtil.getTabID("Rumah Transit",$portal_role)?_portal_module=bph.modules.rpp.HistoryRumahTransit";
	document.${formName}.submit();
}

function gotoHistoryKelompok() {
	document.${formName}.action = "$lebahUtil.getTabID("Terimaan Kelompok",$portal_role)?_portal_module=bph.modules.rpp.HistoryKelompok";
	document.${formName}.submit();
}

function gotoSenaraiPeranginan() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.rpp.SenaraiPeranginanRecordModule";
	document.${formName}.submit();
}

function gotoTermaSyaratRpp() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.kod.TermaSyaratRppRecordModule";
	document.${formName}.submit();
}

function gotoRppTetapanCajTambahan() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.rpp.tetapan.RppTetapanCajTambahanRecordModule";
	document.${formName}.submit();
}

function gotoRppTetapanBarangDeposit() {
	document.${formName}.action = "$lebahUtil.getTabID("Tetapan",$portal_role)?_portal_module=bph.modules.rpp.tetapan.RppTetapanBarangDepositRecordModule";
	document.${formName}.submit();
}

function gotoRppSkrin() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RppSkrinTempahan";
	document.${formName}.submit();
}

function gotoRppPembatalan() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RppPembatalanRecordModule";
	document.${formName}.submit();
}

function gotoHQKelulusanRT() {
	document.${formName}.action = "$lebahUtil.getTabID("Rumah Transit",$portal_role)?_portal_module=bph.modules.rpp.HQKelulusanRT";
	document.${formName}.submit();
}

function gotoRppSkrinTempahanRT() {
	document.${formName}.action = "$lebahUtil.getTabID("Rumah Transit",$portal_role)?_portal_module=bph.modules.rpp.RppSkrinTempahanRT";
	document.${formName}.submit();
}

## BLINK NOTIFICATION
function blinker() {
	_jq('#blinkBilPrmhnKelompokBaru').fadeOut(500);
    _jq('#blinkBilPrmhnKelompokBaru').fadeIn(500);
    
    _jq('#bilPrmhnKelompokSejarah').fadeOut(500);
    _jq('#bilPrmhnKelompokSejarah').fadeIn(500);
    
    _jq('#blinkBilPrmhnPremierBaru').fadeOut(500);
    _jq('#blinkBilPrmhnPremierBaru').fadeIn(500);
	
	_jq('#blinkBilTuntutanDeposit').fadeOut(500);
    _jq('#blinkBilTuntutanDeposit').fadeIn(500);
	
	_jq('#blinkBilPrmhnLondonBaru').fadeOut(500);
    _jq('#blinkBilPrmhnLondonBaru').fadeIn(500);
    
    _jq('#blinkJumPengesahanPengguna').fadeOut(500);
    _jq('#blinkJumPengesahanPengguna').fadeIn(500);
}
setInterval(blinker, 100);
</script>

