<td class="record_header" >No. Resit<img src="../img/sortdown.png" class="sorting" onclick="sort('noResit')" /></td>
<td class="record_header" >Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('pembayar.userName')" /></td>
<td class="record_header" >No. Kad Pengenalan<img src="../img/sortdown.png" class="sorting" onclick="sort('pembayar.noKP')" /></td>
<td class="record_header" >Tarikh Bayaran<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhBayaran')" /></td>
<td class="record_header" >Bayaran (RM)<img src="../img/sortdown.png" class="sorting" onclick="sort('jumlahAmaunBayaran')" /></td>
