<div id="dataPemohon">
	<fieldset id="carian">
    <legend class="legend">Maklumat Pemohon</legend>
    <table width="95%" cellpadding="5" cellspacing="0" border="0" align="center">
		<tr>
			<td width="50%" valign="top">
				<table width="95%" cellpadding="5" cellspacing="0" border="0">
					<tr>
                        <td style="width:150px"></td>
                        <td style="width:10px"></td>
                        <td></td>
                    </tr>
                    #input("userNoKP" "No. Pengenalan" "$!pemohon.noKP")
					#input("idPermohonan" "No. Daftar" "$!permohonan.noPermohonan") 
            		#input("userName" "Nama" "$!pemohon.userName")
					#input("userEmel" "Emel" "$!pemohon.emel")
##					#input("kelasKuarters" "Kelas Kuarters" "$!pekerjaan.kelasKuarters.keterangan")
##					<tr>
##                        <td class="label">Kelas Kuarters</td>
##                        <td>:</td>
##                        <td>
##                            <span id="listKelasKuarters">
##                                #parse("$path/sub_page/select/selectKelasKuarters.vm")
##                            </span>
##                        </td>
##                    </tr>
					#input("statusPermohonan" "Status Permohonan" "$!permohonan.status.keterangan")
				</table>
			</td>
			<td width="50%" valign="top">
				<table width="95%" cellpadding="5" cellspacing="0" border="0">
					<tr>
                        <td style="width:150px"></td>
                        <td style="width:10px"></td>
                        <td></td>
                    </tr>
                    #input("kelasPerkhidmatan" "Skim Perkhidmatan" "$!pekerjaan.kelasPerkhidmatan.keterangan")
                    #input("gredJawatan" "Jenis Perkhidmatan" "$!pekerjaan.jenisPerkhidmatan.keterangan")
                    #input("kementerian" "Nama Kementerian" "$!pekerjaan.agensi.keterangan")
                    #input("namaJabatan" "Nama Bahagian" "$!pekerjaan.bahagian")
                    #input("jawatan" "Gred Jawatan" "$!pekerjaan.gredJawatan.keterangan")
				</table>
			</td>
		</tr>
##		<tr>
##			<td colspan="2" align="center">
##				<input type="button" id="btnKemaskini" value="Kemaskini Data Pemohon" onclick="doDivAjaxCall3$formname('dataPemohon','kemaskiniDataPemohon','')" />
##			</td>
##		</tr>
    </table>
</fieldset>
##	#if ($permohonan.pemohon.noKP)
	<script>
		doDivAjaxCall3$formname('detailRayuan','listRayuan','');
	</script>
##	#end
<div id="detailRayuan"></div>
</div> 
