function validate() {
	var err_count = 0;
	
	var idKategori = $('idKategori').value;
	if ( idKategori == "" ) {$('err_idKategori').innerHTML = "Kategori Bil $label.get('label_mandatori')"; err_count++;  }
	
	var kod = $('kod').value;
	if ( kod == "" ) {$('err_kod').innerHTML = "Kod $label.get('label_mandatori')"; err_count++;  }
	
	var keterangan = $('keterangan').value;
	if ( keterangan == "" ) {$('err_keterangan').innerHTML = "Keterangan $label.get('label_mandatori')"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("$label.get('label_anda_pasti')") ){
			return;
		}
	}
	return err_count == 0;
	
}