<select id="idGred" name="idGred" style="width:100%" onChange="$('err_idGred').innerHTML=''; at(this, event);" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectGred )
    	<option #if ( $n.id == $rekod.gred.id ) selected #end value="$n.id">$n.id - $n.keterangan</option>
    #end
</select>
	