<select class="texts" id="idKategori" name="idKategori" style="width:100%" onChange="$('err_idKategori').innerHTML=''; at(this, event); doDivAjaxCall3$formname('selectPengkhususan','selectPengkhususan','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectKategori)
    	<option #if ( $n.id == $rekod.pengkhususan.kategori.id ) selected #end value="$n.id">$n.id - $n.keterangan</option>
    #end
</select>

