
<h2><span style="color: #0000ff;">
<span style="color: #000000;">
<center>HARAP MAAF, SEMAKAN NOMBOR GILIRAN TIDAK DAPAT DIPROSES BUAT MASA INI.<br> 
TINDAKAN PENAMBAHBAIKAN DAN PENYELENGGARAAN SISTEM BERSEPADU BAHAGIAN PENGURUSAN HARTANAH (SBBPH) 
<br>SEDANG GIAT DILAKUKAN KE ARAH MEWUJUDKAN SISTEM YANG LEBIH EFISYEN PADA MASA AKAN DATANG.<br>
SEGALA KESULITAN AMATLAH DIKESALI. SEBARANG PERTANYAAN SILA EMAIL KEPADA:<br>
muharam@bph.gov.my /
rohisham@bph.gov.my / 
maslinda@bph.gov.my<br>
HARAP MAKLUM.</center>
</span></span></h2>	



