##<td class="record_header" style="width:300px;font-weight:bold">No. Fail<img src="../img/sortdown.png" class="sorting" onclick="sort('rujukanFail')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">No Rujukan Operasi<img src="../img/sortdown.png" class="sorting" onclick="sort('rujukanFail')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Jenis Kesalahan<img src="../img/sortdown.png" class="sorting" onclick="sort('tajuk')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Jenis Kuarters<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisKuarters.keterangan')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Jenis Operasi<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisOperasi.keterangan')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Zon<img src="../img/sortdown.png" class="sorting" onclick="sort('zon.keterangan')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Kawasan<img src="../img/sortdown.png" class="sorting" onclick="sort('kawasan.keterangan')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Fasa<img src="../img/sortdown.png" class="sorting" onclick="sort('fasa.keterangan')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Blok<img src="../img/sortdown.png" class="sorting" onclick="sort('blok.keterangan')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Tarikh Operasi<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhOperasi')" /></td>




