<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>HUBUNGI KAMI</header>
  <fieldset>
      <section>
    	<table cellpadding="0" cellspacing="0" border="0" style="margin: 0 auto; height: 290px; width: 500px; color: #000; background: #fff url('../images/menu/contact-us.jpg') no-repeat bottom right; background-size: 300px 125px; padding-top: 15px">
    		<tr>
    			<td valign="top" width="50px">
    				&nbsp;
    			</td>	
    			<td valign="top" style="font-size: 14px;">
    				<i class="icon-location"></i>&nbsp;&nbsp;Bahagian Pengurusan Hartanah<br />
    				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jabatan Perdana Menteri<br />
    				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aras 4 & Aras 7, Blok Setia Perdana 3<br />
    				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kompleks  Setia Perdana<br />
    				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pusat Pentadbiran Kerajaan Persekutuan<br />
    				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;62502 Putrajaya<br /><br />
    				<i class="icon-phone"></i>&nbsp;&nbsp;03 - 8000 8000<br />
    				<i class="icon-mail"></i>&nbsp;&nbsp;Emel : 80008000@1mocc.gov.my
    			</td>
    		</tr>
    	</table>
      </section>
  </fieldset>
</div>
