<table width="80%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
	#input("findNoKP" "No. KP" "")
	#input("findPemohon" "Nama" "")
	<tr>
			<td class="label" valign="top">Tarikh Permohonan</td>
			<td class="label" valign="top">:</td>
			<td valign="top">
				<span>
		    		<input type="text" id="findTarikhPermohonan" name="findTarikhPermohonan" placeholder="dd-mm-yyyy">
		    		<script>
		            	_jq("#findTarikhPermohonan").Zebra_DatePicker({ 
		    				format: 'd-m-Y',
							readonly_element: false
		            	});
						_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
		    		</script>
					&nbsp;&nbsp; - &nbsp;&nbsp;
		    		<input type="text" id="findTarikhPermohonanHingga" name="findTarikhPermohonanHingga" placeholder="dd-mm-yyyy">
		    		<script>
		            	_jq("#findTarikhPermohonanHingga").Zebra_DatePicker({ 
		    				format: 'd-m-Y',
							readonly_element: false
		            	});
						_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
		    		</script>
				</span>
			</td>
		</tr>
</table>