<select class="texts" id="idJenisPelanggaran" name="idJenisPelanggaran" style="width:100%" onChange="$('err_idJenisPelanggaran').innerHTML='';doDivAjaxCall3$formname('divKes','selectKes','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisPelanggaran)
    	<option #if ( $n.id == $jenisPelanggaranSyarat || $n.id == $rekod.jenisPelanggaranSyarat.id) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>