<fieldset id="makluman" style="background-color:linen;text-align:justify">
    <legend class="legend">MAKLUMAN</legend>
    <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
            <td style="width:150px"></td>
            <td style="width:10px"></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:justify;">
                Kuarters adalah satu kemudahan yang disediakan oleh kerajaan dan kuantiti yang ditawarkan adalah terhad.
                Permohonan Tuan/Puan akan disenaraikan dalam senarai menunggu dan penawaran kuarters adalah berdasarkan giliran tertakluk kepada kekosongan.
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align:justify;">
                Saya telah membaca dan memahami maklumat yang diberikan dan bersedia mematuhi segala peraturan untuk memohon kuarters kerajaan.
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align:justify;">
                Syarat - syarat permohonan
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align:justify;">
                Kuarters di bawah seliaan Bahagian Pengurusan Hartanah, Jabatan Perdana Menteri dibuka kepada :
				<ol>
					<li>Anggota Perkhidmatan Awam Persekutuan</li>
					<li>Anggota Perkhidmatan Badan Berkanun Persekutuan</li>
				</ol>
                Kelayakan Permohonan adalah tertakluk kepada terma dan peraturan yang berkuatkuasa dari semasa ke semasa
            </td>
        </tr>
    </table>
    <p align="center">
        <input type="button" value="Setuju" align='left' id="cmdSetujuMakluman" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','add_new_record','');jQuery('#newPermohonan').fadeOut();"/>
        <input type="button" value="Tidak setuju dan kembali ke `Dashboard`" align='left' id="cmdTidak" onclick="document.location.href='../c/1434075828541?_portal_module=bph.dashboard.awam.FrmDashboard'" />
    </p>
</fieldset>