#if ($aktiviti)
<div id="content-format">
  <pinLeft></pinLeft>
  <pinRight></pinRight>
  <header>$!aktiviti.namaAktiviti</header>
  <fieldset>
  <section>
    <p>$!aktiviti.keterangan</p>
    #foreach ($i in $listGambarAktivitiKeharta)
    <div style="vertical-align:top;float:left;margin: 20px 20px 10px 20px;width:20%">
      <table width="100%" cellpadding="1" cellspacing="1">
        <tr>
          <td class="$row" align="center"><a href="../download?file=$!uploadDir$!i.fileName" > <img style="margin:4px 0 4px;" id="photoImg" src="../download?file=$!uploadDir$i.avatarName" border="0"> </a> </td>
        </tr>
      </table>
    </div>
    #end
    <table width="100%" cellpadding="1" cellspacing="1">
      <tr>
        <td><hr />
        </td>
      </tr>
      <tr>
        <td><input type="button" class="button-style" value="Kembali" onclick="doDivAjaxCall3$formname('content','getTabKeharta','idKeharta=$!aktiviti.keharta.id')">
        </td>
      </tr>
    </table>
  </section>
  </fieldset>
</div>
#end 