###if( $!userRole.equalsIgnoreCase("(QTR) Penyedia") || $!userRole.equalsIgnoreCase("(QTR) Pelulus"))
	<input type="button" value="Cetak"  id="cmdCetak" align="right"/>
###end

<script>

_jq('#cmdCetak').on('click', function(){
		
##	alert("masuk masuk")
	var findNoKP = $('findNoKP').value;
	var findDateTarikhTemujanji = $('findDateTarikhTemujanji').value;
	
	if(!findNoKP){
		findNoKP = "";
	}
	if(!findDateTarikhTemujanji){
		findDateTarikhTemujanji = "";
	}

	var url = "../servlet/bph.laporan.qtr.CetakSenaraiEtemujanji?findNoKP="+findNoKP+"&findDateTarikhTemujanji="+findDateTarikhTemujanji;
	var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
	if ((document.window != null) && (!hWnd.opener)){
		hWnd.opener = document.window;
	}
	if (hWnd.focus != null){ 
		hWnd.focus();
	}
});

</script>