<table width="80%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>	
	#date_input_range("findTarikhTemujanjiMula", "Tarikh Penutupan", "", "findTarikhTemujanjiHingga", "")
	#input("findKeterangan", "Keterangan", "")
</table>