<select id="idBangsa" name="idBangsa" style="width:100%" onChange="$('err_idBangsa').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $b in $selectBangsa )
        <option #if ( $b.id ==  $!r.pemohon.bangsa.id ) selected #end value="$b.id">$b.keterangan.toUpperCase()</option>
    #end
</select>
