<select id="idBandarUser" name="idBandarUser" style="width:100%" onChange="$('err_idBandarUser').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $b in $selectBandar )
        <option #if ( $b.id ==  $!r.pemohon.bandar.id ) selected #end value="$b.id">$b.keterangan.toUpperCase()</option>
    #end
</select>
