<select id="idEtnik" name="idEtnik" style="width:100%" onChange="$('err_idEtnik').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $e in $selectEtnik )
        <option #if ( $e.id ==  $!r.pemohon.etnik.id ) selected #end value="$e.id">$e.keterangan.toUpperCase()</option>
    #end
</select>
