<select id="idNegeriPekerjaan" name="idNegeriPekerjaan" style="width:100%" onChange="$('err_idNegeriPekerjaan').innerHTML=''; at(this, event); doDivAjaxCall3$formname('listBandarPekerjaan','selectBandarPekerjaan','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectNegeriPekerjaan )
        <option #if ( $n.id ==  $!uj.bandar.negeri.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
<script>
    doDivAjaxCall3$formname('listBandarPekerjaan','selectBandarPekerjaan','')
</script>
