 #if ($!r.status == "B")
	<textarea id="catatanKeputusan$cTangguh.id" name="catatanKeputusan$cTangguh.id" onBlur="doDivAjaxCall3$formname('catatanKeputusanTangguh$!cTangguh.id','doSaveCatatanKeputusanTangguh','idMesyuaratPermohonan=$!cTangguh.id')">$!cTangguh.catatan</textarea>
#else
	<b>$!cTangguh.catatan</b>
#end