 #if ($!r.status == "B")
	<textarea id="catatanKeputusan$cBaru.id" name="catatanKeputusan$cBaru.id" onBlur="doDivAjaxCall3$formname('catatanKeputusanBaru$!cBaru.id','doSaveCatatanKeputusanBaru','idMesyuaratPermohonan=$!cBaru.id')">$!cBaru.catatan</textarea>
#else
	<b>$!cBaru.catatan</b>
#end