<script>
	var flagSelesaiMesyuarat = "$!flagSelesaiMesyuarat";
	var errMsg = "$!errMsg";
	
	if ( flagSelesaiMesyuarat == "Y" ) {
		swal({
				title: "Makluman!",
				text: "Mesyuarat telah diselesaikan!",
				type: "success"
				});
	} else {
		swal({
				title: "Perhatian!",
				text: errMsg,
				type: "error"
				});
	}
</script>