
<td>$!r.moduleName</td>
<td>$!r.userID</td>
#set ( $tarikh = "-" )
#if ( $r.tarikhAktiviti )
	#set ( $tarikh = $shortDate.format($!r.tarikhAktiviti) )
#end
<td align="center">$tarikh</td>
#set ( $masa = "-" )
#if ( $r.masaAktiviti )
	#set ( $masa = $shortTime.format($!r.masaAktiviti) )
#end
<td align="center">$masa</td>	
<td align="center">$!r.jenisAktiviti</td>
<td align="center">$!r.ipAddress</td>
