<style>
a:link {
	color:#000000;
	background-color:transparent;
	text-decoration:none
}
a:visited {
	color:#000000;
	background-color:transparent;
	text-decoration:none
}
a:hover {
	color:#0000FF;
	background-color:transparent;
	text-decoration:underline
}
a:active {
	color:#0000FF;
	background-color:transparent;
	text-decoration:underline
}
</style>
<td><a href="javascript:void()" title="Klik untuk melihat maklumat lengkap."  onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">$!r.aras.bangunan.premis.namaPremis</a></td>
<td>$!r.aras.bangunan.namaBangunan</td>
<td>$!r.aras.namaAras</td>
<td>$!r.namaRuang</td>
##<td>
##	<b>Negeri :</b> $!r.aras.bangunan.premis.bandar.negeri.keterangan<br />
##	<b>Bandar :</b> $!r.aras.bangunan.premis.bandar.keterangan<br />
##</td>
##<td>$!r.aras.bangunan.premis.mukim.daerah.negeri.zon.keterangan</td>
