<fieldset>
	<legend class="legend">Reset Kata Laluan</legend>
	<table cellpadding="5" cellspacing="0" border="0">
		<tr>
			<td>Masukkan Kelompok MyKad</td>
			<td>:</td>
			<td>
				<textarea id="kelompokMyKad"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td>
				<span style="font-style: italic; color: #666">
					** Sila masukkan tanda `,` selepas setiap 1 MyKad cth: 900909091234, 800808081231
				</span>
			</td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td>
				<input type="button" id="btnHantar" name="btnHantar" value="Hantar" />
			</td>
		</tr>
	</table>
</fieldset>
	
<div id="infoResult"></div>

<script>
	_jq('#btnHantar').click(function() {
		doDivAjaxCall$formname('infoResult','passwordResetScreen','');
	});
</script>
