##<div id="content-format">
    <div id="closeButton" onclick="doDivAjaxCall3$formname('tabs-2','getRumahTransitSUB','')"></div>
	
    <header>Rumah Transit KKKA, KIK Tg Kupang, Johor</header>
    <section>
##        <br />
        <hr />
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
                <td valign="top" width="50%">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
						<tr>
							<td>Alamat</td>
							<td>:</td>
							<td>BPH/Cawangan Tanjung Kupang Johor</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Kompleks Kediaman Kakitangan Awam (KKKA)</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Tanjung Kupang, Jalan Bukit Kuching</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Gelang Patah 81560 Johor</td>
						</tr>
					</table>
                </td>
                <td valign="top" width="50%">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
						<tr>
							<td>Penyelia</td>
							<td>:</td>
							<td>EN. MOHD SAHIMI BIN RAMLI</td>
						</tr>
						<tr>
							<td>Emel</td>
							<td>:</td>
							<td>sahimi@bph.gov.my </td>
						</tr>
						<tr>
							<td>Pejabat</td>
							<td>:</td>
							<td>017 – 776 6518</td>
						</tr>
					</table>
                </td>
            </tr>
			<tr>
				<td colspan="2">
					<hr />
				</td>
			</tr>
        </table>
    </section>
    ##</div>
    ##Link target <a href="javascript:void()" target=""></a>
    ## _blank = Opens the linked document in a new window or tab
    ## _self = Opens the linked document in the same frame as it was clicked (this is default)
    ## _parent = Opens the linked document in the parent frame
    ## _top = Opens the linked document in the full body of the window
    ## framename = Opens the linked document in a named frame
