	#if($!blacklisted)
	<div align="left" style="color:red;border: 1px solid silver; height: 40px; padding:5px">
		<p>
			<strong>* MAAF, PERMOHONAN TIDAK DAPAT DITERUSKAN. NAMA ANDA TELAH DISENARAIHITAM.</strong>
	    </p>
	</div>
	#end
###if($!Awam==true)
##<div align="center" style="color:red;border: 1px solid silver; height: 60px; padding:5px">
##		<p>
##			<b>
##				<strong>
##				</strong><font size="3">
##DIMAKLUMKAN BAHAWA PERMOHONAN KUARTERS SECARA ONLINE DITUTUP SEHINGGA 6 NOVEMBER 2016 BAGI PELAKSANAAN KERJA-KERJA PENYELENGGARAAN.SEGALA KESULITAN AMAT DIKESALI.TERIMA KASIH.</strong>
##				</font></b>
##		</p></div>
###end
