<script>
## BLINK NOTIFICATION
function blinker() {
	_jq('#blinkBilPermohonanRuangPejabat').fadeOut(500);
    _jq('#blinkBilPermohonanRuangPejabat').fadeIn(500);
    
    _jq('#blinkBilSemakanKertasPertimbangan').fadeOut(500);
    _jq('#blinkBilSemakanKertasPertimbangan').fadeIn(500);
	
	_jq('#blinkBilPengesahanPertimbangan').fadeOut(500);
    _jq('#blinkBilPengesahanPertimbangan').fadeIn(500);
    
    _jq('#blinkBilPermohonanPenyewaanRK').fadeOut(500);
    _jq('#blinkBilPermohonanPenyewaanRK').fadeIn(500);
    
    _jq('#blinkBilAkaunPenyewaRK').fadeOut(500);
    _jq('#blinkBilAkaunPenyewaRK').fadeIn(500);
    
    _jq('#blinkBilRuangKomersil').fadeOut(500);
    _jq('#blinkBilRuangKomersil').fadeIn(500);
}
setInterval(blinker, 100);

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoPermohonanRuangPejabat() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan Ruang Pejabat",$portal_role)?_portal_module=bph.modules.bgs.SenaraiPermohonanBGSPenyediaRecordModule";
	document.${formName}.submit();
}

function gotoSemakanKertasPertimbangan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan Ruang Pejabat",$portal_role)?_portal_module=bph.modules.bgs.SemakanPenyediaanKertasPertimbanganRecordModule";
	document.${formName}.submit();
}

function gotoPengesahanKertasPertimbangan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan Ruang Pejabat",$portal_role)?_portal_module=bph.modules.bgs.PengesahanPenyediaanKertasPertimbanganRecordModule";
	document.${formName}.submit();
}

function gotoBangunanGunaSama() {
	document.${formName}.action = "$lebahUtil.getTabID("Bangunan Gunasama",$portal_role)?_portal_module=bph.modules.bgs.SenaraiArasBGSRecordModule";
	document.${formName}.submit();
}

function gotoPendaftaranPemohon() {
	document.${formName}.action = "$lebahUtil.getTabID("Pendaftaran Pemohon",$portal_role)?_portal_module=bph.modules.bgs.PendaftaranPemohonBGSRecordModule";
	document.${formName}.submit();
}

function gotoPendaftaranBil() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Bil Utiliti",$portal_role)?_portal_module=bph.modules.bil.DaftarBilBGSRecordModule";
	document.${formName}.submit();
}

function gotoMaklumatBayaranBil() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Bil Utiliti",$portal_role)?_portal_module=bph.modules.bil.MaklumatBayaranBGSRecordModule";
	document.${formName}.submit();
}

function gotoKontrak() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Kontrak",$portal_role)?_portal_module=bph.modules.kontrak.SenaraiKontrakBayaranBGSRecordModule";
	document.${formName}.submit();
}

function gotoLaporan() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.modules.bgs.SenaraiLaporanRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiAduan() {
	document.${formName}.action = "$lebahUtil.getTabID("Aduan",$portal_role)?_portal_module=bph.modules.pro.SenaraiAduanRecordModule";
	document.${formName}.submit();
}

function gotoPermohonanPenyewaanRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Ruang Komersil",$portal_role)?_portal_module=bph.modules.rk.SenaraiPermohonanRuangKomersilBGSRecordModule";
	document.${formName}.submit();
}

function gotoAkaunPenyewaRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Ruang Komersil",$portal_role)?_portal_module=bph.modules.rk.SenaraiAkaunPenyewaBGSRecordModule";
	document.${formName}.submit();
}

function gotoKutipanDataPenyewaRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Ruang Komersil",$portal_role)?_portal_module=bph.modules.rk.KutipanDataFailPenyewaBGS";
	document.${formName}.submit();
}

function gotoSenaraiRuangKomersil() {
	document.${formName}.action = "$lebahUtil.getTabID("Pengurusan Ruang Komersil",$portal_role)?_portal_module=bph.modules.rk.SenaraiRuangKomersilBGSRecordModule";
	document.${formName}.submit();
}

function gotoLaporanRK() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.laporan.rk.SenaraiLaporanRecordModule";
	document.${formName}.submit();
}
</script>