<select id="idSebabBertukar" name="idSebabBertukar" style="width:100%" onChange="$('err_idSebabBertukar').innerHTML=''; at(this, event); doDivAjaxCall3$formname('divMaklumatPertukaranJabatan','doChangeSebabBertukar','')">
  <option value="">SILA PILIH</option>
    #foreach( $n in $selectSebabBertukar )  
      <option #if ( $n.id == $r.sebabBertukar.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
