<select id="idMasaTemujanji" name="idMasaTemujanji" style="width:100%" onChange="$('err_idMasaTemujanji').innerHTML=''; at(this, event);">
  <option value="">SILA PILIH</option>
  <option value="09:00 AM" #if ( '09:00 AM' == $r.masaMula ) selected #end >09:00 AM</option>
  <option value="09:30 AM" #if ( '09:30 AM' == $r.masaMula ) selected #end >09:30 AM</option>
  <option value="10:00 AM" #if ( '10:00 AM' == $r.masaMula ) selected #end >10:00 AM</option>
  <option value="10:30 AM" #if ( '10:30 AM' == $r.masaMula ) selected #end >10:30 AM</option>
  <option value="11:00 AM" #if ( '11:00 AM' == $r.masaMula ) selected #end >11:00 AM</option>
  <option value="11:30 AM" #if ( '11:30 AM' == $r.masaMula ) selected #end >11:30 AM</option>
  <option value="12:00 PM" #if ( '12:00 PM' == $r.masaMula ) selected #end >12:00 PM</option>
  <option value="12:30 PM" #if ( '12:30 PM' == $r.masaMula ) selected #end >12:30 PM</option>
  <option value="02:00 PM" #if ( '02:00 PM' == $r.masaMula ) selected #end >02:00 PM</option>
  <option value="02:30 PM" #if ( '02:30 PM' == $r.masaMula ) selected #end >02:30 PM</option>
  <option value="03:00 PM" #if ( '03:00 PM' == $r.masaMula ) selected #end >03:00 PM</option>
  <option value="03:30 PM" #if ( '03:30 PM' == $r.masaMula ) selected #end >03:30 PM</option>
</select>
