<fieldset>
<legend class="legend">Maklumat Premis</legend>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
        <tr>
          <td style="width:150px"></td>
          <td style="width:10px"></td>
          <td></td>
        </tr>
        #input_normal("kodDPA" "Kod DPA" "$!r.kodDPA")
        #input_normal("namaPremis" "Nama Premis" "$!r.namaPremis")
        #input_normal("zon" "Zon" "$!r.mukim.daerah.negeri.zon.keterangan")
		#input_normal("negeri" "Negeri" "$!r.mukim.daerah.negeri.keterangan")
        #input_normal("daerah" "Daerah" "$!r.mukim.daerah.keterangan")
        #input_normal("mukim" "Mukim" "$!r.mukim.keterangan")
        #input_normal("alamat1" "Alamat" "$!r.premis.alamat1")
        #input_normal("alamat2" "" "$!r.premis.alamat2")  
        #input_normal("alamat3" "" "$!r.premis.alamat3")
        #input_normal("poskod" "Bidang Kerja Perunding" "$!r.premis.poskod")  
        #input_normal("negeri" "Negeri" "$!r.bandar.negeri.keterangan")
        #input_normal("bandar" "Bandar" "$!r.bandar.keterangan") 
        #textarea_readonly("catatan" "Catatan" "$!r.catatan")        
        <tr>
          <td colspan="3" height="10px">&nbsp;</td>
        </tr>
      </table></td>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
        <tr>
          <td style="width:150px"></td>
          <td style="width:10px"></td>
          <td></td>
        </tr>
        #input_normal("pemilikPremis" "Pemilik Premis" "$!r.pemilikPremis")
        #input_normal("kementerian" "Kementerian" "$!r.agensi.kementerian.keterangan")
        #input_normal("agensi" "Agensi" "$!r.agensi.keterangan")
        #input_normal("kategoriPremis" "Kategori Premis" "$!r.kategoriPremis")	
        #input_normal("subKategoriPremis" "Subkategori Premis" "$!r.subkategoriPremis")
        #input_normal("tahunSiapBina" "Tahun Siap Bina" "$!r.tahunSiapBina")
        #input_normal("luasPremis" "Luas Premis (Hektar)" "$!r.luasPremis")
        #input_normal("luasBangunan" "Luas Bangunan (Meter Persegi)" "$!r.luasBangunan")  
        #input_normal("luasBinaanLuar" "Luas Binaan Luar (Meter Persegi)" "$!r.luasBinaanLuar")
        #input_normal("kosAsal" "Kos Asal (RM)" "$!r.kosAsal")  
        #input_normal("kosTambahan" "Kos Tambahan (RM)" "$!r.kosTambahan")
        #input_normal("jumlahKos" "Jumlah Kos (RM)" "$!r.jumlahKos")      
                                  
      </table></td>
  </tr>
</table>
</fieldset>
<table width="100%">
	<tr>
		<td align="right">
			<input id="button" type="button" value="Kembali" onclick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
		</td>
	</tr>
</table>