<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  <tr>
    <td class="label">Perkara</td>
    <td>:</td>
    <td><input type="text" name="find_perkara"></td>
  </tr>
  
  <tr>
	<td class="label">Lokasi Peranginan</td>
	<td>:</td>
	<td>
		<select class="texts" id="find_idrp" name="find_idrp" style="width:100%" onChange="doDivAjaxCall3$formname('divJenisUnit','filterJenisUnit','')" >
            <option value="">SILA PILIH</option>
            #foreach( $n in $listPeranginan)
            	<option value="$n.id">$n.namaPeranginan.toUpperCase()</option>
            #end
        </select>
	</td>
  </tr>
  
  <tr>
	<td class="label">Jenis Unit</td>
	<td>:</td>
	<td>
		<div id="divJenisUnit">#parse("$path/senaraiJenisUnit.vm")</div>
	</td>
  </tr>
  
  <tr>
	<td class="label">Unit</td>
	<td>:</td>
	<td>
		<div id="divUnit">#parse("$path/senaraiUnit.vm")</div>
	</td>
  </tr>
  
</table>
	

