
<td>
	<a href="javascript:void()" style="color:blue" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">
	$!r.pemohon.userName.toUpperCase()
	</a>
</td>
<td>$!r.kemudahan.nama.toUpperCase()</td>
<td>$!util.getDateTime($!r.tarikhMulaGuna,'dd-MM-yyyy')</td>
<td>$!util.getDateTime($!r.tarikhTamatGuna,'dd-MM-yyyy')</td>