<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  <tr>
    <td class="label">Nama Pengguna</td>
    <td>:</td>
    <td><input type="text" name="findNama"></td>
  </tr>
  <tr>
    <td class="label">No. Pengenalan</td>
    <td>:</td>
    <td><input type="text" name="findNoKP"></td>
  </tr>
  <tr>
    <td class="label">Kemudahan</td>
    <td>:</td>
    <td>
		<select class="texts" id="findKemudahan" name="findKemudahan" style="width:100%">
                <option value="">SILA PILIH</option>
                #foreach( $n in $listKemudahan)
                	<option value="$n.id">$n.nama.toUpperCase()</option>
                #end
         </select>
	</td>
  </tr>
</table>