<table style="width:100%">
	<tr>
		<td colspan="2">
			Announcement Title:<br/><input name="announcement_title" style="width:100%">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			Expiry Date:<br/>
			$html.dateField.name("announcement_expired").value("$!dateValue").style("width:200px")
		</td>
	</tr>
	<tr>
		<td colspan="2">
			Announcement Place:
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="portalCheck" value="Portal" checked>Portal
		</td>
		<td>
			<input type="checkbox" name="mobileCheck" value="Mobile" checked>Mobile
		</td>
	</tr>
	<tr>
		<td colspan="2">
			Announcement Text:<br/>
			<textarea name="announcement_text" style="height:100px;width:100%"></textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="Cancel" onclick="doDivAjaxCall$formname('div_${_moduleId}','list_announcements','')">
			<input type="button" value="Save" onclick="doDivAjaxCall$formname('div_${_moduleId}','add_announcement','')">
		</td>
	</tr>
</table>