
<div class="rounded shadow" style="border:1px solid #ABABAB;padding:5px">

<div style="padding:3px">
<table style="width:100%" cellpadding="0" cellspacing="0">

<tr>
<td style="font-weight:bold;font-size:11pt;font-weight:bold;color:#000">
$!announcement.title
</td>
</tr>

<tr>
<td style="font-size:10pt;color:#000">

<div style="margin:20px;">
$_util.putLineBreak($!announcement.text)
</div>

</td>
</tr>
</table>
<div>
<table width="90%" align="center">
<tr><td align="right">
<input class="rounded gradient" type="button" value="Announcements List" style="height:30px;font-weight:bold" onclick="closeView('$_moduleId');">
</td></tr>

</table>

</div>