##<tr>
##	<td>Lokasi Permohonan</td>
##	<td>:</td>
##	<td>
##		<input type="text" id="lokasiPermohonan" name="lokasiPermohonan" value="$valueLokasiPermohonan" readonly />
##	</td>
##</tr>
##<tr>
##	<td>Kelas Kuarters</td>
##	<td>:</td>
##	<td>
##		<input type="text" id="kelasKuarters" name="kelasKuarters" value="$valueKelasKuarters" readonly />
##	</td>
##</tr>

##<script>
####	var x = $kUtils.autoFixNoGiliran($valueLokasiPermohonan);
####	if ( x == 100 ) alert("AutoFix No. Giliran Telah Berjaya...");
##</script>

<script>
	var x = "$!success";
	
	if ( x != "" ) {
		swal({
				title: "Makluman!",
				text: "Penyusunan semula no.giliran berjaya dikemaskini!",
				type: "success"
				});
	} else {
		swal({
				title: "Harap maaf",
				text: "Penyusunan semula no.giliran tidak berjaya.Sila semak semula.",
				type: "error"
				});
	}
</script>