<tr>
	<td>No. MyKad</td>
	<td>:</td>
	<td>
		<textarea id="noMyKad" name="noMyKad"></textarea>
	</td>
</tr>
<tr>
	<td colspan="2"></td>
	<td>
		<input type="button" id="btnSubmit" value="Mula Tarik" onclick="doDivAjaxCall3$formname('tarikDataHrmis','getDataHRMIS','')" />	
	</td>
</tr>