<div id="autoFixNoGiliran">
<tr>
	<td>Lokasi Permohonan</td>
	<td>:</td>
	<td>
		<span id="selectLokasiPermohonan">
            #parse("$path/selectLokasiPermohonan.vm")
        </span>
	</td>
	<td>Kelas</td>
	<td>:</td>
	<td>
		<span id="selectKelas">
            #parse("$path/selectKelasKuarters.vm")
        </span>
	</td>
	<td colspan="2"></td>
	<td>
		<input type="button" id="btnSubmit" value="Kemaskini No.Giliran" onclick="doDivAjaxCall3$formname('autoFixNoGiliran','getAutoFixNoGiliran','')" />	
	</td>
</tr>
</div>