<select id="idKelasKuarters" name="idKelasKuarters" style="width:100%" onChange="$('err_idKelasKuarters').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $k in $selectKelasKuarters )
        <option value="$k.id">$!k.id</option>
    #end
</select>
