  		
	<fieldset>
	<legend class="legend">Penyelenggaraan Rekod Kuarters</legend>
	<table cellpadding="5" cellspacing="0" border="0">
		<tr>
			<td colspan="3">
				<h3>Kemaskini No.Giliran Menunggu Mengikut Lokasi</h3>
			</td>
		</tr>
		<tbody id="afng">
			#parse("$path/entry_page.vm")
		</tbody>
		<tbody id="autoFixNoGiliran2">   			
		</tbody>


##		<tr>
##			<td colspan="3">
##				<h3>Tarik Data HRMIS</h3>
##			</td>
##		</tr>
##		<tbody id="tdh">
##			#parse("$path/entry_page_1.vm")
##		</tbody>
##		<tbody id="tarikDataHrmis">
##    			
##		</tbody>
	</table>
</fieldset>
