
<td class="record_header" >Tarikh<img src="../img/sortdown.png" class="sorting" onclick="sort('timeStamp')" /></td>
<td class="record_header" >ID Pengubah Rekod<img src="../img/sortdown.png" class="sorting" onclick="sort('usersLog.userName')" /></td>
<td class="record_header" >Jenis Aktiviti<img src="../img/sortdown.png" class="sorting" onclick="sort('getAction')" /></td>
