<style>
	.time {
		padding:5px 0 5px;
		font-size:10pt;
		font-family:verdana;
		color:white;
	}
</style>
<fieldset>
<legend class="legend">Jadual Tempahan</legend>
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td align="center" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" colspan="3">
    <table width="70%" style="background-color:#000;font-size:13px;" cellpadding="1" cellspacing="1"> 
        <tr>
          <td class="time" id="8" width="25%" align="center" bgcolor="#999999">8:00 AM - 9:00 AM</td>
          <td class="time" id="9" width="25%" align="center" bgcolor="$!hour9">9:00 AM - 10:00 AM</td>
          <td class="time" id="10" width="25%" align="center" bgcolor="$!hour10">10:00 AM - 11:00 AM</td>
          <td class="time" id="11" width="25%" align="center" bgcolor="$!hour11">11:00 AM - 12:00 PM</td>
        </tr>
        <tr>
          <td class="time" id="12" width="25%" align="center" bgcolor="$!hour12">12:00 PM - 1:00 PM</td>
          <td class="time" id="13" width="25%" align="center" bgcolor="$!hour13">1:00 PM - 2:00 PM</td>
          <td class="time" id="14" width="25%" align="center" bgcolor="$!hour14">2:00 AM - 3:00 AM</td>
          <td class="time" id="15" width="25%" align="center" bgcolor="$!hour15">3:00 PM - 4:00 PM</td>      
        </tr>
        <tr>
          <td class="time" id="16" width="25%" align="center" bgcolor="$!hour16">4:00 PM - 5:00 PM</td>
          <td class="time" id="17" width="25%" align="center" bgcolor="$!hour17">5:00 PM - 6:00 PM</td>
          <td class="time" id="18" width="25%" align="center" bgcolor="$!hour18">6:00 PM - 7:00 PM</td>
          <td class="time" id="19" width="25%" align="center" bgcolor="$!hour19">7:00 PM - 8:00 PM</td>
        </tr>
        <tr>
          <td class="time" id="20" width="25%" align="center" bgcolor="$!hour20">8:00 PM - 9:00 PM</td>
          <td class="time" id="21" width="25%" align="center" bgcolor="$!hour21">9:00 PM - 10:00 PM</td>
          <td class="time" id="22" width="25%" align="center" bgcolor="$!hour22">10:00 PM - 11:00 PM</td>
          <td class="time" id="23" width="25%" align="center" bgcolor="#999999">11:00 PM - 12:00 AM</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" colspan="3">&nbsp;</td>
  </tr>

  <tr>
    <td align="left" colspan="3"><table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr>
          <td bgcolor="#e67400">&nbsp;</td>
          <td>Slot Pilihan Masa Aktif</td>
        </tr>
        <tr>
          <td bgcolor="#999999">&nbsp;</td>
          <td>Tidak Dibuka Untuk Tempahan</td>
        </tr>
        <tr>
          <td bgcolor="#008800">&nbsp;</td>
          <td>Dibuka Untuk Tempahan</td>
        </tr>
        <tr>
          <td bgcolor="#bb0000">&nbsp;</td>
          <td>Telah Ditempah</td>
        </tr>  
      </table></td>
  </tr>
</table>
</fieldset>
