<td class="record_header" >No.Tempahan<img src="../img/sortdown.png" class="sorting" onclick="sort('idTempahan')" /></td>
<td class="record_header" >Nama Dewan<img src="../img/sortdown.png" class="sorting" onclick="sort('dewan.nama')" /></td>
<td class="record_header" >Tarikh Tempahan<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMula')" /></td>
<td class="record_header" >Masa Mula<img src="../img/sortdown.png" class="sorting" onclick="sort('masaMula')" /></td>
<td class="record_header" >Masa Tamat<img src="../img/sortdown.png" class="sorting" onclick="sort('masaTamat')" /></td>
