<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
    <tr>
    <td class="label">No. Pengenalan</td>
    <td>:</td>
    <td><input type="text" name="find_noMykad"></td>
  </tr>
  <tr>
    <td class="label">No. Tempahan</td>
    <td>:</td>
    <td><input type="text" name="find_noTempahan"></td>
  </tr>
  <tr>
    <td class="label">Nama Dewan</td>
    <td>:</td>
    <td><input type="text" name="find_dewan"></td>
  </tr>
 <tr>
    <td class="label">Negeri</td>
    <td>:</td>
    <td> #parse("$path/findNegeri.vm") </td>
  </tr>
  <tr>
    <td class="label">Bandar</td>
    <td>:</td>
    <td><div id="findBandar"> #parse("$path/findBandar.vm") </div></td>
  </tr>
  <tr>
    <td class="label">Lokasi</td>
    <td>:</td>
    <td><input type="text" name="find_lokasi"></td>
  </tr>
</table>