<select id="idGelanggang" name="idGelanggang" style="width:100%" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectGelanggang )
    	#if ($!utiliti != "")
    		<option #if ( $n.id == $utiliti.gelanggang.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    	#else
    		<option #if ( $n.id == $r.utiliti.gelanggang.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    	#end
    #end
</select>