<select class="texts" id="idKeputusan" name="idKeputusan" style="width:100%" onChange="doDivAjaxCall3$formname('divPengesyoranPenyediaanJKH','doChangeKeputusanPengesyoranJKH','')">
    <option value="">SILA PILIH</option>
    <option value="1" #if ($!idKeputusan == '1') selected #end >SYOR</option>
    <option value="2" #if ($!idKeputusan == '2') selected #end >PINDAAN</option>
</select>
