<select class="texts" id="kategoriTanah" name="kategoriTanah" style="width:100%;">
	<option value="">SILA PILIH</option>
	#foreach( $n in $selectKategoriTanah )
		<option #if( $n.id == $r.kategoriTanah.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>