<table cellpadding="5" cellspacing="0" border="0" width="95%" id="subRight">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
	#input_readonly_label("kelas" "Kelas Kuarters" "$!kuarters.kelas.id")
	#input_readonly_label("kapasiti" "Kapasiti" "$!kuarters.kapasiti")
    #input_readonly_label("jenisKuarters" "Jenis Kuarters" "$!kuarters.jenisKediaman.keterangan")
	#input_readonly_label("kategoriPenghuni" "Kategori Penghuni" "$!kuarters.kategoriPenghuni")
</table>
