<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  <tr>
    <td class="label">Nama Dewan / Gelanggang</td>
    <td>:</td>
    <td><input type="text" name="findNama"></td>
  </tr>
  <tr>
    <td class="label">Lokasi</td>
    <td>:</td>
    <td><input type="text" name="findLokasi"></td>
  </tr>
  <tr>
    <td class="label" valign="top">Negeri</td>
    <td valign="top">:</td>
    <td>#parse("$path/findNegeri.vm") 
  </tr>
  <tr>
    <td class="label" valign="top">Bandar</td>
    <td valign="top">:</td>
    <td><div id="findBandar">
      #parse("$path/findBandar.vm") 
  </tr>  
  <tr>
    <td class="label" valign="top">Seliaan Oleh</td>
    <td valign="top">:</td>
    <td>#parse("$path/findSeksyen.vm") 
  </tr>
  <tr>
    <td class="label" valign="top">Status</td>
    <td valign="top">:</td>
    <td>#parse("$path/findStatus.vm") 
  </tr>
</table>
