<select id="idCawangan" name="idCawangan" style="width:100%" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPusatTerima )
			<option #if ( $n.id == $r.kodCawangan.id ) selected #end value="$n.id">$n.kodPusatTerima.toUpperCase() - $n.unit.toUpperCase()</option>
    #end
</select>