<select id="flagAktif" name="flagAktif" style="width:100%" >
    <option #if ( $r.flagAktif == "Y" ) selected #end value="Y">AKTIF</option>
    <option #if ( $r.flagAktif == "T" ) selected #end value="T">TIDAK AKTIF</option>
</select>