<select class="texts" id="statusJenisKes" name="statusJenisKes" onChange="$('err_statusJenisKes').innerHTML=''">
    <option value="">SILA PILIH</option>
    <option #if ( $!rekod.statusJenisKes == '1' ) selected #end value="1">TUNTUTAN TUNGGAKAN</option>
    <option #if ( $!rekod.statusJenisKes == '2' ) selected #end value="2">PENGUSIRAN</option>
</select>