<select class="texts" id="flagKeputusan" name="flagKeputusan" onChange="$('err_flagKeputusan').innerHTML=''">
    <option value="">SILA PILIH</option>
## comment dari UAT no 3 = Tambah medan status kes a. Selesai b. Tidak selesai, 
## Note: telah ada pada keputusan cuma ubah title keputusan kepada status Kes
##    <option #if ( $!rekod.flagKeputusan == '1' ) selected #end value="1">BERSALAH</option>
##    <option #if ( $!rekod.flagKeputusan == '2' ) selected #end value="2">TIDAK BERSALAH</option>
##    <option #if ( $!rekod.flagKeputusan == '3' ) selected #end value="3">SELESAI</option>
##    <option #if ( $!rekod.flagKeputusan == '4' ) selected #end value="4">TIDAK SELESAI</option>
##	Ubah pada 2015-10-10
    <option #if ( $!rekod.flagKeputusan == '1' ) selected #end value="1">SELESAI</option>
    <option #if ( $!rekod.flagKeputusan == '2' ) selected #end value="2">TIDAK SELESAI</option>
</select>