<select id="idJenisPerkhidmatan" name="idJenisPerkhidmatan" style="width:100%" onChange="$('err_idJenisPerkhidmatan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisPerkhidmatan )
        <option #if ( $n.id ==  $!uj.jenisPerkhidmatan.id) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
