<select id="idBandarPekerjaan" name="idBandarPekerjaan" style="width:100%" onChange="$('err_idBandarPekerjaan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $b in $selectBandarPekerjaan )
        <option #if ( $b.id ==  $!uj.bandar.id ) selected #end value="$b.id">$b.keterangan.toUpperCase()</option>
    #end
</select>
