<select id="idJabatan" name="idJabatan" style="width:100%" onChange="$('err_idJabatan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJabatan)
        <option #if ( $n.id ==  $!uj.agensi.id) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
