<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td width="50%"><table width="80%" cellpadding="1" cellspacing="2">
        <tr>
          <td class="label" style="width:20%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        <tr>
          <td class="label">No. Fail</td>
          <td>:</td>
          <td><input type="text" name="findNoFail"></td>
        </tr>
        <tr>
          <td class="label">Kementerian</td>
          <td>:</td>
          <td> #parse("$path/findKementerian.vm") </td>
        </tr>
        <tr>
          <td class="label">Agensi</td>
          <td>:</td>
          <td><div id="findAgensi"> #parse("$path/findAgensi.vm") </div></td>
        </tr>
        <tr>
          <td class="label">Nama Jabatan</td>
          <td>:</td>
          <td><input type="text" name="findJabatan"></td>
        </tr>
      </table></td>
    <td width="50%"><table width="80%" cellpadding="1" cellspacing="2">
        <tr>
          <td class="label" style="width:20%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        <tr>
          <td class="label">Negeri</td>
          <td>:</td>
          <td>#parse("$path/findNegeri.vm") </td>
        </tr>
        <tr>
          <td class="label">Daerah</td>
          <td>:</td>
          <td><div id="findDaerah"> #parse("$path/findDaerah.vm") </div></td>
        </tr>
        <tr>
          <td class="label">Mukim</td>
          <td>:</td>
          <td><div id="findMukim"> #parse("$path/findMukim.vm") </div></td>
        </tr>
        <tr>
          <td class="label">Premis</td>
          <td>:</td>
          <td><div id="findPremis"> #parse("$path/findPremis.vm") </div></td>
        </tr>
        <tr>
          <td class="label">Bangunan</td>
          <td>:</td>
          <td><div id="findBangunan"> #parse("$path/findBangunan.vm") </div></td>
        </tr>
      </table></td>
  </tr>
</table>
