<select id="findBidang" name="findBidang" style="width:100%">
    <option value="">SILA PILIH</option>
    <option value="A">AWAM</option>
    <option value="E">ELEKTRIK</option>
    <option value="AE">AWAM DAN ELEKTRIK</option>
</select>
	