<select class="texts" id="findKategori" name="findKategori" style="width:100%" onChange="doDivAjaxCall3$formname('findPengkhususan','findPengkhususan','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectKategori)
    	<option value="$n.id">$n.id - $n.keterangan</option>
    #end
</select>

