
<td class="record_header" style="width:15%;font-weight:bold">No. Pendaftaran<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.id')" /></td>
<td class="record_header" style="width:20%;font-weight:bold">Nama Kontraktor<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.namaKontraktor')" /></td>
<td class="record_header" style="width:20%;font-weight:bold">Nama Pemilik<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.namaPemilik')" /></td>
<td class="record_header" style="width:10%;font-weight:bold">Kawasan<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.kawasan.lokasi')" /></td>
<td class="record_header" style="width:10%;font-weight:bold">Tahun Pendaftaran<img src="../img/sortdown.png" class="sorting" onclick="sort('tahun')" /></td>
<td class="record_header" style="width:5%;font-weight:bold">No. Giliran<img src="../img/sortdown.png" class="sorting" onclick="sort('turutan')" /></td>
<td class="record_header" style="width:35%;font-weight:bold">Status</td>