<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td style="width:48%" valign="top"><table width="100%" cellpadding="1" cellspacing="2">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        <tr>
          <td class="label">No. Pendaftaran</td>
          <td>:</td>
          <td><input class="texts" type="text" name="findNoPendaftaran"></td>
        </tr>
        <tr>
          <td class="label">Nama Kontraktor</td>
          <td>:</td>
          <td><input class="texts" type="text" name="findNamaKontraktor"></td>
        </tr>
        <tr>
          <td class="label">Nama Pemilik</td>
          <td>:</td>
          <td><input class="texts" type="text" name="findNamaPemilik"></td>
        </tr>
        <tr>
          <td class="label">Tahun Pendaftaran</td>
          <td>:</td>
          <td><input class="texts" type="text" name="findTahunPendaftaran"></td>
        </tr>
        <tr>
          <td class="label">Kawasan</td>
          <td>:</td>
          <td> #parse("$path/findKawasan.vm") </td>
        </tr>
      </table></td>
    <td style="width:2%" valign="top">&nbsp;</td>
    <td style="width:48%" valign="top"><table width="100%" cellpadding="1" cellspacing="2">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        <tr>
          <td class="label">Gred</td>
          <td>:</td>
          <td> #parse("$path/findGred.vm") </td>
        </tr>
        <tr>
          <td class="label">Bidang</td>
          <td>:</td>
          <td> #parse("$path/findBidang.vm") </td>
        </tr>
        <tr>
          <td class="label">Kategori</td>
          <td>:</td>
          <td> #parse("$path/findKategori.vm") </td>
        </tr>
        <tr>
          <td class="label">Pengkhususan</td>
          <td>:</td>
          <td><div id="findPengkhususan">#parse("$path/findPengkhususan.vm") </div></td>
        </tr>
        <tr>
          <td class="label">Proses Undian ?</td>
          <td>:</td>
          <td> #parse("$path/findKehadiran.vm") </td>
        </tr>
      </table></td>
  </tr>
</table>
