
<td>
	<a href="javascript:void()" style="color:blue" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">
		$!r.tajuk.toUpperCase()
	</a>
</td>
#if(!$!userRole.equalsIgnoreCase("(RPP) Penyelia"))
<td>$!r.peranginan.namaPeranginan.toUpperCase()</td>
#end
<td>$!util.getDateTime($!r.tarikhCatatan,'dd-MM-yyyy')</td>

