
<td class="record_header" >Tajuk<img src="../img/sortdown.png" class="sorting" onclick="sort('tajuk')" /></td>
#if(!$!userRole.equalsIgnoreCase("(RPP) Penyelia"))
<td class="record_header" >Rumah Peranginan<img src="../img/sortdown.png" class="sorting" onclick="sort('peranginan.namaPeranginan')" /></td>
#end
<td class="record_header" >Tarikh Catatan Dibuat<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhCatatan')" /></td>


