
<td class="record_header" style="width:300px;font-weight:bold">Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('nama')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Bilangan<img src="../img/sortdown.png" class="sorting" onclick="sort('bilangan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Untuk Disewa<img src="../img/sortdown.png" class="sorting" onclick="sort('flagSewa')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Kadar Sewa (RM)<img src="../img/sortdown.png" class="sorting" onclick="sort('kadarSewa')" /></td>

##Fatin 13/06/2015
<script>
      _jq(document).ready(function () { 
            _jq('#btnAddNewRecordTemplate').val('Tambah Kemudahan RPP'); ##ubah nama kepada nama yang diperlukan
      });
</script>