##Fatin 13/06/2015

<td><a href="javascript:void()" style="color:blue" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">$!r.nama</a></td>
<td>$!r.bilangan</td>
<td>$!r.getKeteranganFlagSewa()</td>
<td>$!r.kadarSewa</td>	