

<fieldset style="width:60%">
<legend class="legend">catatan hq</legend>
	
<br/>

	<table cellpadding="1" cellspacing="1" width="100%">
		
		<tr><td colspan="2">&nbsp;</td></tr>
		
		<tr>
			<td width:"10px"></td>
			<td>$!rp.catatanBookingHq</td>
		</tr>
		
	</table>
	
	<br/>
	
	<table width="100%">
    	<tr>
    		<td align="right">
    			<input type="button" id="btnKeluar" name="btnKeluar" value="Keluar">
    		</td>
    	</tr>
    </table>

</fieldset>
	
<script>
  _jq('#btnKeluar').on('click', function(){
    jQuery('#popupCatatanHQ').fadeOut();
  });
</script>


