
<style type="text/css">
table.dashboard_sub {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px dotted #088A4B;
}
table.dashboard_tepi {
	border-top:1px solid #7A5123;
	border-left:1px solid #7A5123;
	border-right:1px solid #7A5123;
	border-bottom:1px solid #7A5123;
}
td.dashboard_sub_kiri {
	border-top:none;
	border-left:1px dotted #088A4B;
	border-right:none;
	border-bottom:none;
}
table.dashboard_kiri {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;
}
table.dashboard_bawah {
	border-top:1px solid #7A5123;
	border-left:1px solid #7A5123;
	border-right:1px solid #7A5123;
	border-bottom:1px solid #7A5123;
}
table.dashboard_tepi_bawah {
	border-top:none;
	border-left:1px solid #088A4B;
	border-right:none;
	border-bottom:none;
}
table.nav {
	border-top:3px solid #088A4B;
	border-left:none;
	border-right:none;
	border-bottom:3px solid #088A4B;
}
table.alert {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #088A4B;
}
.tooltip {
	position: absolute!important;
	overflow:hidden;
	font-size: 12px;
	z-index: 10000!important;
}
.tooltip .xtop, .tooltip .xbottom {
	background: transparent;
	font-size: 0px;
}
.tooltip .xb1, .tooltip .xb2, .tooltip .xb3, .tooltip .xb4 {
	display: block;
	overflow: hidden;
}
.tooltip .xb1, .tooltip .xb2, .tooltip .xb3 {
	height: 0px;
}
.tooltip .xb2, .tooltip .xb3, .tooltip .xb4 {
	background: #666;
}
.tooltip .xbottom .xb2, .tooltip .xbottom .xb3, .tooltip .xbottom .xb4 {
	background: #666;
}
.tooltip .xb1 {
	margin: 0 0px;
}
.tooltip .xb2 {
	margin: 0 0px;
}
.tooltip .xb3 {
	margin: 0 0px;
}
.tooltip .xb4 {
	height: 0px;
}
.tooltip .xboxcontent {
	padding: 0 .5em;
	margin: 0;
	color: #000;
	word-wrap:break-word;
	border: none;
	background-color:white;
	font-family: Verdana;
}
a.nav:link {
	link:#333333;
}
a.nav:visited {
	color: #333333;
	text-decoration: none;
}
#marquee_replacement {
	border: 3px solid #088A4B;
	height: 300px;
	margin-bottom: 10px;
	overflow: auto;
	width: 100%;
}
.blink {
	animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
 to {
 visibility: hidden;
}
</style>

<p align="center">
<table cellpadding="2" cellspacing="1" border="0" width="100%" align="center" >
  <tr>
    <td width="1%" valign="top"   ></td>
    <td width="59%" valign="top"  >
    	<table width="100%" border="0" align="left" class="dashboard_kiri">
        <tr>
          <td valign="top" align="left">
          	<table cellpadding="2" cellspacing="1" border="0" width="100%" class="dashboard_sub" align="left">
              <tr>
                <td width="50%" valign="top"><table width="100%" >
                    <tr>
                      <td width="15%" align="center" valign="top"><img src="../bph/dashboard/picture/myprofile.png"  width="30" height="30" align="center"/></td>
                      <td width="85%">
                      	<table width="100%">
                          <tr>
                            <td><font color="000000"><b>Profil</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoKataLaluan()" class="help" title="Tukar Kata Laluan"> <font color="0000FF">
                              <li>&nbsp;Tukar Kata Laluan</li>
                              </font> </a> </td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoProfile()" class="help" title="Profil Pengguna"> <font color="0000FF">
                              <li> #if($!check_notifikasi_inbox > 0)
                               <font color="FDC30F"> <label style="background-color:blue"  align="center" valign="top" > <b><font color="WHITE" class="blink">$!check_notifikasi_inbox</font></b> </label>
                                &nbsp;
                                #end                                
                                Profil Pengguna</li>
                              </font> </a> </td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoKalendar()" class="help" title="Kalendar Aktiviti"> <font color="0000FF">
                              <li>&nbsp;Kalendar Aktiviti</li>
                              </font> </a> </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top"><table width="100%" >
                    <tr>&nbsp;</tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td valign="top" align="left"><table cellpadding="2" cellspacing="1" border="0" width="100%" class="dashboard_sub" align="left">
              <tr>
                <td width="50%" valign="top"><table width="100%" >
                    <tr>
                      <td width="15%" align="center" valign="top"><img  src="../bph/dashboard/picture/main.png" width="30" height="30" align="center"/></td>
                      <td width="85%"><table width="100%">                          
						<tr>
                            <td><b>Tugasan</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSenaraiHakmilik()" class="help" title="Senarai Hakmilik"><font color="blue">
                              <li>&nbsp;Senarai Hakmilik</li>
                              </font> </a> </td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSenaraiPremis()" class="help" title="Senarai Premis"><font color="blue">
                              <li>&nbsp;Senarai Premis</li>
                              </font> </a> </td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSenaraiRuang()" class="help" title="Senarai Ruang"><font color="blue">
                              <li>&nbsp;Senarai Ruang</li>
                              </font> </a> </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top"><table width="100%" >
##                    <tr>
##                      <td width="15%" height="71" align="center" valign="top"><img width="30" height="30" src="../bph/dashboard/picture/applyonline.png" align="center"/></td>
##                      <td width="85%"><table width="100%">
##                          <tr>
##                            <td><font color="724C20"><b>Tunggakan Sewa</b> </td>
##                          </tr>
##                          <tr>
##                            <td><a href="javascript:gotoSenaraiTugasan()" class="help" title="Tunggakan Sewa"> <font color="724C20">
##                              <li> <font color="FDC30F">#if($!bilTunggakanSewa > 0)
##                                <label style="background-color:blue"  align="center" valign="top" > <b><font color="WHITE" class="blink">$!bilTunggakanSewa</font></b> </label>
##                                &nbsp;
##                                #end                                
##                                Sewa Tertunggak</li>
##                              </font> </a> </td>
##                          </tr>
##                          <td>
##                            </td>
##                          </tr>
##                           <tr>
##                            <td><b><font color="724C20">Status Perjanjian</b> </td>
##                          </tr>
##                          <tr>
##                          <tr>
##                            <td><a href="javascript:gotoSenaraiTugasan()" class="help" title="Perjanjian Tamat"> <font color="724C20">
##                              <li><font color="FDC30F"> #if($!perjanjianTamat > 0)
##                                <label style="background-color:blue"  align="center" valign="top" > <b><font color="WHITE" class="blink">$!perjanjianTamat</font></b> </label>
##                                &nbsp;
##                                #end                                
##                                Perjanjian Tamat</li>
##                              </font> </a> </td>
##                          </tr>
##                          <tr>
##                            <td><a href="#" onclick="javascript:gotoSenaraiTugasan()" class="help" title="Perjanjian Tamat"> <font color="724C20">
##                              <li> <font color="FDC30F">#if($!perjanjianHampirTamat > 0)
##                                <label style="background-color:blue"  align="center" valign="top" > <b><font color="WHITE" class="blink">$!perjanjianHampirTamat</font></b> </label>
##                                &nbsp;
##                                #end                                
##                                Perjanjian Hampir Tamat</li>
##                              </font> </a> </td>
##                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
          		<td valign="top" align="left"><table cellpadding="2" cellspacing="1" border="0" width="100%" >
              <tr>
                <td width="50%" valign="top"><table width="100%" >
                    <tr>
                      <td width="15%" align="center" valign="top"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%"><table width="100%">                          
						<tr>
                            <td><b>Statistik Hakmilik Mengikut Zon</b> </td>
                            <td></td>
                          </tr>
                          <tr>
                      		<td><font color="blue"><b>Zon Utara</b></font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Perlis</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Pulau Pinang</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Kedah</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Perak</li>
                              </font></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top"><table width="100%" >
				<tr>
                      <td width="15%" align="center" valign="top"></td>
                      <td width="85%"><table width="100%">                          
						<tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                      		<td><font color="blue"><b>Zon Selatan</b></font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Negeri Sembilan</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Melaka</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Johor</li>
                              </font></td>
                          </tr>
                        </table></td>
                    </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
          <td valign="top" align="left"><table cellpadding="2" cellspacing="1" border="0" width="100%" class="dashboard_sub" align="left">
              <tr>
                <td width="50%" valign="top"><table width="100%" >
                    <tr>
                      <td width="15%" align="center" valign="top"></td>
                      <td width="85%"><table width="100%">                          
						<tr>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                      		<td><font color="blue"><b>Zon Timur</b></font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Kelantan</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Pahang</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Terengganu</li>
                              </font></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top"><table width="100%" >
<tr>
                      <td width="15%" align="center" valign="top"></td>
                      <td width="85%"><table width="100%">                          
						<tr>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                      		<td><font color="blue"><b>Zon Barat</b></font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;Selangor</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;W.P Kuala Lumpur</li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><font color="black">
                              <li>&nbsp;W.P Putrajaya</li>
                              </font></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>        
      </table></td>
      </tr>        
      </table></td>
      <td width="39%" valign="top">
    	<table width="100%" border="0" >
        <tr><td><table width="100%" border="0" class="dashboard_bawah" >
        <tr><td>
        	<div id="TabbedPanels1" class="TabbedPanels">
        	<ul class="TabbedPanelsTabGroup">
        	<font color="black" style="font-size:120%"><b>Statistik</b>
        	
            </ul>
##        	<div id="TabbedPanels1" class="TabbedPanels">
####                     <ul class="TabbedPanelsTabGroup">
##                      #if($list_memo_aktif.size()>0)
##                      <li class="TabbedPanelsTab" tabindex="0" id="Pengumuman_Head" ><font color="724C20">Pengumuman</li>
##                      #end
##                      <li class="TabbedPanelsTab" tabindex="0"  id="Carta_Head"  ></li>
##                    </ul>
                    
##                    <div class="TabbedPanelsContentGroup"> #if($list_memo_aktif.size()>0)
##                    <div class="TabbedPanelsContent"  id="Peringatan_Main" style="height:250" >
##                        <table width="100%" >
##                          <tr><td width="12%" align="center" valign="top">
####                            	<img width="30" height="30" src="../bph/dashboard/picture/kblogger.png" align="center"/>
##                            	</td>
##                            
##                           <td width="88%" valign="top"><table width="100%">
##                                <tr>
##                                  <td   valign="top" > #parse("app/ppk/frmPengumuman.jsp") </td>
##                                </tr>
##                              </table></td>
##                          </tr>
##                        </table>
##                      </div>
##                      #end
                      <div class="TabbedPanelsContent" id="Carta_Main">
                        <div style="height:382" id="div_stat">
                          <table width="100%" >
                            <tr>
                              <td width="12%" align="center" valign="top">
##                              	<img width="30" height="30" src="../bph/dashboard/picture/images_stat.png" align="center"/> 
                              	</td>
                              <td width="88%" valign="top"><table width="100%">
                                  <tr>
                                    <td   valign="top" ><b><font color="724C20"></b> </td>
                                  </tr>
                                  <tr>
                                    <td   valign="top" ><canvas id="cvs" width="300" height="100" >[No canvas support]</canvas>
                                    </td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    <td width="1%" valign="top"></td>
  </tr>
</table>
<script>
#parse("$path/script.vm")
</script>
<script type="text/javascript" charset="utf-8">
		$$("a.help").each( function(input) {
			new Tooltip(input, {backgroundColor: "#0000", borderColor: "#0000", textColor: "black",opacity:"100"});
		});
		$$("form input.help").each( function(input) {
			new Tooltip(input, {backgroundColor: "#FC9", borderColor: "#C96", textColor: "#000", textShadowColor: "#FFF"});
		});
</script>
<script src="../RGraph/libraries/RGraph.common.core.js" ></script>
<script src="../RGraph/libraries/RGraph.common.dynamic.js" ></script>
<script src="../RGraph/libraries/RGraph.common.tooltips.js" ></script>
<script src="../RGraph/libraries/RGraph.common.effects.js" ></script>
<script src="../RGraph/libraries/RGraph.hbar.js" ></script>
<script src="../RGraph/libraries/RGraph.pie.js" ></script>
<script>
	
	var kutipan = '$!kutipan';	
	var tunggakan = '$!tunggakan';	
		
        window.onload = function (e)
        {
            var hbar = new RGraph.HBar('cvs', [parseInt(kutipan),parseInt(tunggakan)]);
            hbar.Set('chart.units.pre','');
            hbar.Set('chart.units.post','');
            hbar.Set('chart.colors', ['blue','red','blue','blue']);
            hbar.Set('chart.strokestyle', 'rgba(0,0,0,0)');
            hbar.Set('chart.labels.above', true);			
            hbar.Set('chart.background.grid', true);
            hbar.Set('chart.labels', ['Kutipan','Tunggakan']);            
            if (!RGraph.isOld()) {
                hbar.Set('chart.tooltips', ['Kutipan','Tunggakan']);
            }            
            hbar.Set('chart.labels.above.decimals',0);
            hbar.Set('chart.xlabels', false);
            hbar.Set('chart.gutter.left', 90);
            hbar.Set('chart.gutter.right', 60);
            hbar.Set('chart.gutter.top',10);
    
            hbar.Set('chart.noxaxis', true);
            hbar.Set('chart.noxtickmarks', true);
            hbar.Set('chart.noytickmarks', true);
            RGraph.isOld() ? hbar.Draw() : RGraph.Effects.HBar.Grow(hbar);			       
        }
		
</script>
<script>
	var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1",{defaultTab:0});
</script>

</fieldset>
</fieldset>
</div>

##<script>
##  _jq(function($) {
##      $('.currency').autoNumeric('init'); 
## 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
## 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
## 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
##  });
##</script>

