<select class="texts" id="findJenisLaporan" name="findJenisLaporan" style="width:100%" 
onChange="doChangeLaporan(this.value);">
  <option value="">SILA PILIH</option>
##	<option value="kewangan1">LAPORAN KUTIPAN HARIAN BPH KESELURUHAN</option>
##	<option value="kewangan2">LAPORAN KUTIPAN HARIAN RPP MENGIKUT CAWANGAN RPP</option>
##	<option value="kewangan3">LAPORAN KUTIPAN SEWAAN RUANG KOMERSIL BULANAN</option>
##	<option value="kewangan4">LAPORAN PEMBAYARAN DEPOSIT BULANAN</option>
	<option value="ringanBerat">KESALAHAN BERAT DAN RINGAN</option>
	<option value="beratIkutKesalahan">KESALAHAN BERAT MENGIKUT JENIS KESALAHAN</option>
	<option value="ringanIkutKesalahan">KESALAHAN RINGAN MENGIKUT JENIS KESALAHAN</option>
	<option value="operasi">SENARAI OPERASI</option>
</select>

<script>

function doChangeLaporan(x) {
	doDivAjaxCall3$formname('divPilihKriteria','pilihLaporan','');
	//HIDE DIV 
	//document.getElementById("divTab").style.display = "none";
	
}
</script>
