<tr>
<td class="label" valign="top">Tempoh Mula &nbsp;<span style="color:#FF2A00">*</span></td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">
    		<div>
        		<input type="text" id="dateStart" name="dateStart" value="" onclick="$('err_dateStart').innerHTML = ''">
    			<script>
                	_jq("#dateStart").Zebra_DatePicker({ 
                		view: 'month',
        				format: 'm-Y',
                	});
    				_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
        		</script>
    		</div>
    		<div id="err_dateStart" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
    	</td>
    </tr>
    <tr>
    	<td class="label" valign="top">Tempoh Hingga &nbsp;<span style="color:#FF2A00">*</span></td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">
    		<div>
        		<input type="text" id="dateEnd" name="dateEnd" value="" onclick="$('err_tahun').innerHTML = ''">
    			<script>
                	_jq("#dateEnd").Zebra_DatePicker({ 
                		view: 'month',
        				format: 'm-Y',
                	});
    				_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
        		</script>
    		</div>
    		<div id="err_dateEnd" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
    	</td>
    </tr>
    
    <tr>
        <td class="label">Jenis Kuarters</td>
        <td>:</td>
        <td>
    		<select class="texts" id="idJenisKuarters" name="idJenisKuarters" style="width:100%">
        		<option value="0">-PILIH SEMUA-</option>
                #foreach( $n in $listJenisKuarters)
        			<option value="$n.getId()">$n.keterangan</option>
                #end
        	</select>
    	</td>
	</tr>
	<tr>
        <td class="label">Jenis Operasi</td>
        <td>:</td>
        <td>
    		<select class="texts" id="idJenisOperasi" name="idJenisOperasi" style="width:100%">
        		<option value="0">-PILIH SEMUA-</option>
                #foreach( $n in $jenisOperasi)
        			<option value="$n.getId()">$n.keterangan</option>
                #end
        	</select>
    	</td>
	</tr>
	<tr>
        <td class="label">Kawasan</td>
        <td>:</td>
        <td>
    		<select class="texts" id="idKawasan" name="idKawasan" style="width:100%">
        		<option value="0">-PILIH SEMUA-</option>
                #foreach( $n in $kawasan)
        			<option value="$n.getId()">$n.keterangan</option>
                #end
        	</select>
    	</td>
	</tr>
	<tr>
        <td class="label">Zon</td>
        <td>:</td>
        <td>
    		<select class="texts" id="idZon" name="idZon" style="width:100%">
        		<option value="0">-PILIH SEMUA-</option>
                #foreach( $n in $zon)
        			<option value="$n.getId()">$n.keterangan</option>
                #end
        	</select>
    	</td>
	</tr>
    