<select class="texts" id="findStatusAduan" name="findStatusAduan" style="width:100%">
  <option value="">SILA PILIH</option>  
	#foreach( $n in $selectStatusAduan )
		<option value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>
