<select class="texts" id="findSumberAduan" name="findSumberAduan" style="width:100%">
  <option value="">SILA PILIH</option>  
	#foreach( $n in $selectSumberAduan )
		<option value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>
