<fieldset>
<legend class="legend">KETERANGAN TEKNIKAL</legend>
<table width="100%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:29%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
##  #if ($!r.jenisAduan.id == '01') ## PENYELENGGARAAN KUARTERS
	  #set ($checkCbE = '')
	  #set ($checkCbM = '')
	  #set ($checkCbB = '')
	  #set ($checkCbP = '')
	  #if ( $!listKategoriTeknikal.size() > 0)
	  	#foreach( $c in $!listKategoriTeknikal )
	  		#if ($!c.kategori == 'E') #set ($checkCbE = 'checked') #end
	  		#if ($!c.kategori == 'M') #set ($checkCbM = 'checked') #end
	  		#if ($!c.kategori == 'B') #set ($checkCbB = 'checked') #end
	  		#if ($!c.kategori == 'P') #set ($checkCbP = 'checked') #end
		#end  	
	  #end
	  <tr>
	    <td class="label" valign="top">Kategori</td>
	    <td valign="top">:</td>
	    <td valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="E" $checkCbE >&nbsp;Elektrikal (Bekalan Eletrik / Kerosakan Lampu / Soket / Kipas)</td>
	        </tr>
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="M" $checkCbM >&nbsp;Mekanikal (Lif / Paip Bekalan Air / Sistem Pencegahan Kebakaran)</td>
	        </tr>
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="B" $checkCbB >&nbsp;Bangunan (Bumbung / Siling / Dinding / Pintu / Tingkap / Jubin / Paip Sanitari / Water Proofing)</td>
	        </tr>
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="P" $checkCbP >&nbsp;Pembersihan / Landskap (Rumput / Kebersihan / Taman Permainan / Longkang)</td>
	        </tr>
	      </table></td>
	  </tr>
##  #end
  
##  #if ($!r.jenisAduan.id == '03') ## RAYUAN
	  #set ($checkCb1 = '')
	  #set ($checkCb2 = '')
	  #set ($checkCb3 = '')
	  #set ($checkCb4 = '')
	  #set ($checkCb5 = '')
	  #if ( $!listKategoriTeknikal.size() > 0)
	  	#foreach( $c in $!listKategoriTeknikal )
	  		#if ($!c.kategori == '1') #set ($checkCb1 = 'checked') #end
	  		#if ($!c.kategori == '2') #set ($checkCb2 = 'checked') #end
	  		#if ($!c.kategori == '3') #set ($checkCb3 = 'checked') #end
	  		#if ($!c.kategori == '4') #set ($checkCb4 = 'checked') #end
	  		#if ($!c.kategori == '5') #set ($checkCb5 = 'checked') #end
		#end  	
	  #end
	  <tr>
	    <td class="label" valign="top"></td>
	    <td valign="top"></td>
	    <td valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="1" $checkCb1 >&nbsp;Mempercepatkan Permohonan Kuarters</td>
	        </tr>
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="2" $checkCb2 >&nbsp;Penurunan Kelas Permohonan Kuarters</td>
	        </tr>
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="3" $checkCb3 >&nbsp;Perlanjutan Tempoh Menduduki Kuarters (Bersara / Bertukar Tempat Bertugas / Kematian / Perceraian / Lain-lain)</td>
	        </tr>
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="4" $checkCb4 >&nbsp;Pertukaran Penama Kuarters (Bersara / Bertukar Tempat Bertugas / Kematian / Perceraian / Lain-lain)</td>
	        </tr>
	        <tr>
	          <td valign="top"><input type="checkbox" id="cbKategori" name="cbKategori" value="5" $checkCb5 >&nbsp;Permohonan Kuarters Mengikut Kelayakan (Kenaikan Pangkat)</td>
	        </tr>
	      </table></td>
	  </tr>
##  #end

##	#input_email("emailFm" "Email To" "$!r.emailFm")
	#input_email_with_placeholder("emailFm" "Email To" "$!r.emailFm" "Contoh : youremail@gmail.com,youremail@yahoo.com")
##    #input_email("emailCc" "Email Cc" "$!r.emailCc")
	#input_email_with_placeholder("emailCc" "Email Cc" "$!r.emailCc" "Contoh : youremail@yahoo.com,youremail@gmail.com")
    
  	#textarea("keteranganTeknikal" "Keterangan Teknikal" "$!r.keteranganTeknikal")
  
  <tr>
    <td colspan="3" align="right"><input id="simpan" name="simpan" type="button" value="Simpan & Hantar Kepada FM" onclick="javascript:doSaveKeteranganTeknikal();"/></td>
  </tr>
  
</table>
</fieldset>
