###parse("$path/keteranganTeknikal.vm")

###parse("$path/agihanTugasan.vm") 

<table width="100%">
    <tr>
        <td align="left" valign="top" width="50%">
            #parse("$path/pilihUnit.vm")
        </td>
        <td align="left" valign="top" width="50%">
			#parse("$path/keteranganTeknikal.vm")
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td align="" valign="top" width="50%">
			#parse("$path/pilihPegawai.vm")
        </td>
    </tr>
</table>

<table width="100%">
	<tr>
		<td><br /></td>
	</tr>
	<tr>
		<td align="center"> 	

##			##******************************** START MAKLUMBALAS UNIT ********************************
####			#if ($!command != 'terimaAduan' && $!command != 'tolakAduan' && $!command != 'agihanAduan' && $!command != 'selesaiAduan' && $!command != 'maklumbalasUnit')
##								## DALAM TINDAKAN				## MAKLUMBALAS UNIT					## TINDAKAN UNIT
##			#if (($r.status.id == '1434787994725'|| $r.status.id == '1440506568974' || $r.status.id == '1440506568977') && $!command == 'maklumbalasUnit')  
##				<input id="simpan" name="Simpan & Hantar" type="button" value="Maklumbalas Unit" onclick="javascript:doMaklumbalasUnit();"/>
##			#end
##								## DALAM TINDAKAN				## MAKLUMBALAS UNIT	
##			#if (($r.status.id == '1434787994725'|| $r.status.id == '1440506568974'))
##				<input id="simpan" name="Simpan & Hantar" type="button" value="Maklumat Fm" onclick="javascript:doEmailKeFm();"/>
##				<input id="simpan" name="kembali" type="button" value="Kembali" onClick="doDivAjaxCall3$formname('divTab','getMaklumatAduan','')"/>
##			#end
##			##******************************** END MAKLUMBALAS UNIT ********************************
		
		</td>
	</tr>
</table>
