<table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
  <tr>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        #input("findNoAduan", "No. Aduan", "")
        <tr>
          <td class="label">Sumber Aduan</td>
          <td>:</td>
          <td> #parse("$path/findSumberAduan.vm") </td>
        </tr>
        <tr>
          <td class="label">Jenis Aduan</td>
          <td>:</td>
          <td> #parse("$path/findJenisAduan.vm") </td>
        </tr>
        #date_input_range("findTarikhAduanMula", "Tarikh Aduan", "", "findTarikhAduanHingga", "")
        #input("findTajuk", "Tajuk Aduan", "")
      </table></td>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        #input("findNoPengenalan", "No. Pengenalan", "")
        #input("findNama", "Nama", "")
        <tr>
          <td class="label">Negeri</td>
          <td>:</td>
          <td> #parse("$path/findNegeri.vm") </td>
        </tr>
        <tr>
          <td class="label">Bandar</td>
          <td>:</td>
          <td> <div id="findBandar">#parse("$path/findBandar.vm")</div> </td>
        </tr>
        <tr>
          <td class="label">Status Aduan</td>
          <td>:</td>
          <td> #parse("$path/findStatusAduan.vm") </td>
        </tr>
      </table></td>
  </tr>
</table>
