<fieldset>
<legend class="legend">ULASAN</legend>
<table width="100%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:29%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  #textarea_required("catatan" "Catatan" "")
</table>
</fieldset>
