<select id="userName" name="userName" style="width:100%" onChange="$('err_userName').innerHTML = ''">
<option value="">SILA PILIH</option>
#foreach( $n in $selectJuru )
<option value="$n.juruwang.id">$n.juruwang.userName.toUpperCase()</option> 
#end
</select>
<div id="err_userName" style="color:#CC0000;font-weight:bold;border:2px #000"></div>


