<select id="kodPusatTerima" name="kodPusatTerima" style="width:30%" onChange="$('err_kodPusat').innerHTML = ''">
<option value="">SILA PILIH</option>
#foreach( $n in $selectPusatTerima )
<option value="$n.kodPusatTerima">$!n.kodPusatTerima - $!n.unit</option> 
#end
</select>
<div id="err_kodPusat" style="color:#CC0000;font-weight:bold;border:2px #000"></div>


