<select id="findDaerah" name="findDaerah" style="width:100%" onChange="doDivAjaxCall3$formname('findMukim','findMukim','')">
<option value="">SILA PILIH</option>
#foreach( $n in $selectDaerah )
<option value="$n.id">$n.keterangan.toUpperCase()</option>
#end
</select>


