<select id="findZon" name="findZon" style="width:100%"> ## onChange="doDivAjaxChainCall$formname('findNegeri','findNegeri','','findDaerah','findDaerah','','findMukim','findMukim','');">
  <option value="">SILA PILIH</option>
	#foreach( $n in $selectZon )
		<option value="$n.id">$n.keterangan.toUpperCase()</option>
  	#end
</select>
