<table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
  <tr>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        #input("findPeganganHakmilik", "ID Hakmilik", "")
        <tr>
          <td class="label">Jenis Hakmilik</td>
          <td>:</td>
          <td> #parse("$path/findJenisHakmilik.vm") </td>
        </tr>
        #input("findNoHakmilik", "No Hakmilik", "")
        <tr>
          <td class="label">Jenis Lot</td>
          <td>:</td>
          <td> #parse("$path/findJenisLot.vm") </td>
        </tr>
        #input("findNoLot", "No Lot", "") 
        <tr>
          <td class="label">Status Hakmilik</td>
          <td>:</td>
          <td> #parse("$path/findStatusHakmilik.vm") </td>
        </tr>       
      </table></td>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        <tr>
          <td class="label">Zon</td>
          <td>:</td>
          <td> #parse("$path/findZon.vm") </td>
        </tr>
        <tr>
          <td class="label">Negeri</td>
          <td>:</td>
          <td><div id="findNegeri" > #parse("$path/findNegeri.vm") </div></td>
        </tr>
        <tr>
          <td class="label">Daerah</td>
          <td>:</td>
          <td><div id="findDaerah" > #parse("$path/findDaerah.vm") </div></td>
        </tr>
        <tr>
          <td class="label">Mukim</td>
          <td>:</td>
          <td><div id="findMukim" > #parse("$path/findMukim.vm") </div></td>
        </tr>
        #input("findLokasi", "Lokasi", "")        
      </table></td>
  </tr>
</table>
