<select class="texts" id="idKategoriTanah" name="idKategoriTanah" style="width:100%;" onChange="doDivAjaxCall3$formname('selectSubKategoriTanah','selectSubKategoriTanah','')">
	<option value="">SILA PILIH</option>
	#foreach( $n in $selectKategoriTanah )
		<option #if( $n.id == $r.kategoriTanah.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>