<select class="texts" id="idLot" name="idLot" style="width:100%;"> 
	<option value="">SILA PILIH</option>
	#foreach($n in $selectLot)
		<option #if($n.id == $r.lot.id) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>