<style>
	.fontstyle{
		color:blue;font-size:11px;font-weight:bold
	}
</style>


	<table width="100%">
		<tr>
			<td colspan="2" class="fontstyle">
				* Bayaran Balik Sewa Bilik Tempahan :
			</td>
		</tr>
		<tr>
			<td width="20px" class="fontstyle">1.</td>
			<td class="fontstyle">Bayaran balik sewa tempahan sebanyak 50% akan dikembalikan sekiranya pembatalan dibuat dalam tempoh sebelum 14 hari dari tarikh menginap.</td>
		</tr>
		<tr>
			<td class="fontstyle">2.</td>
			<td class="fontstyle">Tiada bayaran balik sewa tempahan dikembalikan sekiranya pembatalan dibuat dalam tempoh kurang 14 hari dari tarikh menginap.</td>
		</tr>
		<tr>
			<td class="fontstyle">3.</td>
			<td class="fontstyle">Sila rujuk Surat Pekeliling Am Bilangan 2 Tahun 2015.</td>
		</tr>
	</table>
	
