<select class="texts" id="idJenisDokumen" name="idJenisDokumen" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisDokumen)
    	<option #if ( $n.id == $r.jenisDokumen.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>

