<fieldset>
<legend class="legend">DOKUMEN SOKONGAN</legend>
<table width="100%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:84%"></td>
  </tr>
  
  #if($!userRole.equalsIgnoreCase("(JRP) Pemohon") && (($users.flagHq == 'Y' && ($r.status.id == '1438356583122' || $r.status.id == '1436841294664')) || ($users.flagHq == 'T' && ($r.status.id == '1424860634472' || $!r.status.id == '1424860634475'))))
  <p><font size="1" color="red">**Sila masukkan maklumat tajuk,jenis dokumen dan pilih dokumen yang ingin dimuatnaik.</font></p>
  <tr>
    <td valign="top">Tajuk&nbsp;<span style="color:#FF2A00">*</span></td>
    <td valign="top">:</td>
    <td valign="top"><input style="width:50%" type="text" id="tajuk" class="uppercasefont" name="tajuk" value="" onKeyUp="$('err_tajuk').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
      <div id="err_tajuk" style="color:#CC0000;font-weight:bold;border:2px #000"></div></td>
  </tr>
  <tr>
    <td valign="top">Jenis Dokumen&nbsp;<span style="color:#FF2A00">*</span></td>
    <td valign="top">:</td>
    <td valign="top"> #parse("$path/dokumenSokongan/selectJenisDokumen.vm")
      <div id="err_idJenisDokumen" style="color:#CC0000;font-weight:bold;border:2px #000"></div></td>
  </tr>
  <tr>
    <td valign="top">Keterangan</td>
    <td valign="top">:</td>
    <td valign="top"><textarea maxlength="512" style="width:50%" id="keterangan" name="keterangan" class="uppercasefont" onKeyUp="calculateJumlahAksara(this.value,'jumlahAksara')" onBlur="this.value=this.value.toUpperCase();"></textarea>
    <br><span style="color:#FF2A00" id="jumlahAksara">Baki Aksara: 512 </span></td>
  </tr>
  <tr>
    <td valign="top">Muatnaik Dokumen</td>
    <td valign="top">:</td>
    <td valign="top"><input class="texts" type="file" id="dokumen" name="dokumen" style="width:50%" onfocus="$('err_dokumen').innerHTML = '';" onChange="checkUpload()">
      <div id="dokumenMuatnaik" style="display:none"> <img src="../img/indicator.gif"> <span style="font-weight:bold;color:#008000;">Sedang Muatnaik...</span> </div>
      <div id="err_dokumen" style="color:#CC0000;font-weight:bold;border:2px #000"></div></td>
  </tr>
   <tr>
    <td valign="top"></td>
    <td valign="top"></td>
    <td valign="top"><span style="color:#FF2A00">&nbsp;Saiz fail tidak melebihi 2MB.</span></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  #end
  <br/>
  <br/>
  <tr>
    <td colspan="3" align="center"><div id="refreshList">#parse("$path/dokumenSokongan/listDokumen.vm")</div></td>
##    #parse("$path/dokumenSokongan/listDokumen.vm")
  </tr>
</table>
<iframe id="upload_doc" name="upload_doc" width="0px" height="0px" style="visibility:hidden"></iframe>
</fieldset>
<table width="100%">
	<tr>
		<td align="right">
				
##			#if ($!r.status.id == '1424860634472') ##PERMOHONAN BARU
##			<input type="button" value="Hantar Ulasan JRP" onclick="javascript:doHantarUlasanJRP('$!r.id');">
##			#end
##			#if ($!r.status.id == '1424860634475') ##ULASAN JRP
##			<input type="button" value="Hantar Permohonan Ke BPH" onclick="javascript:doHantarPermohonan('$!r.id');">
##			#end	
			<input id="button" type="button" value="Kembali" onclick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
		</td>
	</tr>
</table>