<select id="findLokasiKuarters" name="findLokasiKuarters" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $flk in $findLokasiKuarters )
        <option value="$flk.id">$!flk.lokasi.toUpperCase()</option>
    #end
</select>
