<select class="texts" id="findZon" name="findZon" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectZon)
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
