<select class="texts" id="idFindBlok" name="idFindBlok" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectBlok)
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
