<select class="texts" id="idJenisOperasi" name="idJenisOperasi" style="width:100%" onChange=" $('err_idJenisOperasi').innerHTML=''; doDivAjaxCall3$formname('divKes','selectKes','')" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisOperasi)
    	<option #if ( $n.id == $r.jenisOperasi.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
