    <table cellpadding="5" cellspacing="0" border="0" width="95%">
        <h3>MAKLUMAT PEMOHON (SEBELUM)</h3>
        <tr>
            <td style="width:150px"></td>
            <td style="width:5px"></td>
            <td></td>
        </tr>
        #input_normal("gelaran" "Gelaran" "$!history.gelaran.keterangan")
    	#input_normal("userName" "Nama" "$!history.userName")
		#input_normal("userNoKP" "No. MyKad" "$!history.noKP")
    	#if ($!history.tarikhLahir)
                #set($tarikhLahir = $util.getDateTime($!history.tarikhLahir, "dd-MM-yyyy"))
            #else
               #set($tarikhLahir = "")
            #end
    	#input_normal("userTarikhLahir" "Tarikh Lahir" "$tarikhLahir")
        #input_normal("agama" "Agama" "$!history.agama.keterangan")
        #input_normal("jantina" "Jantina" "$!history.jantina.keterangan")
        #input_normal("bangsa" "Bangsa" "$!history.bangsa.keterangan")
    	#input_normal("statusPerkahwinan" "Status Perkahwinan" "$!history.statusPerkahwinan.keterangan")
    	#input_normal("bilanganAnak" "Bilangan Anak" "$!history.bilAnak")  	
    	#input_normal("userNoTel" "No. Telefon" "$!history.noTelefon")
    	#input_normal("userNoTelBimbit" "No. Telefon Bimbit" "$!history.noTelefonBimbit")
		#input_normal("email" "Emel" "$!history.emel")
    	#input_normal("userAlamat1" "Alamat Tetap" "$!history.alamat1")
    	#input_normal("userAlamat2" "" "$!history.alamat2")
    	#input_normal("userAlamat3" "" "$!history.alamat3")
    	#input_normal("userPoskod" "Poskod" "$!history.poskod")
    	#input_normal("bandar" "Bandar" "$!history.bandar.keterangan")
    	#input_normal("negeri" "Negeri" "$!history.bandar.negeri.keterangan")
		#input_normal("userAlamatSemasa1" "Alamat Semasa" "$!history.userAddress")
    	#input_normal("userAlamatSemasa2" "" "$!history.userAddress2")
    	#input_normal("userAlamatSemasa3" "" "$!history.userAddress3")
    	#input_normal("userPoskodSemasa" "Poskod" "$!history.userPostcode")
    	#input_normal("bandar" "Bandar" "$!history.userBandar.keterangan")
    	#input_normal("negeri" "Negeri" "$!history.userBandar.negeri.keterangan")
    </table>