<table cellpadding="5" cellspacing="0" border="0" width="95%" id="pemohonKerja">
    <h3>MAKLUMAT PEKERJAAN (SEBELUM)</h3>
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
    #input_normal("skimPerkhidmatan" "Skim Perkhidmatan" "$!history.ujKelasPerkhidmatan.id")
    #input_normal("gredJawatan" "Gred Jawatan" "$!history.ujGredJawatan.keterangan")
    #input_normal("jawatan" "Jawatan" "$!history.ujJawatan.keterangan")
    
    #if ($!history.ujTarikhLantikan)
        #set($tarikhLantikan = $util.getDateTime($!history.ujTarikhLantikan,"dd-MM-yyyy"))
    #else
        #set($tarikhLantikan = "")
    #end
    
    #input_normal("tarikhLantikan" "Tarikh Lantikan" "$tarikhLantikan")
    #input_normal("noGaji" "No Gaji" "$!history.ujNoGaji")
    #input_normal("gajiPokok" "Gaji" "$!history.ujGajiPokok")
    #input_normal("jenisPerkhidmatan" "Jenis Perkhidmatan" "$!history.ujJenisPerkhidmatan.keterangan")
    #input_normal("statusPerkhidmatan" "Status Perkhidmatan" "$!history.ujStatusPerkhidmatan.keterangan")
    
    #if ($!history.ujTarikhTamat)
    	#set($tarikhTamat = $util.getDateTime($!history.ujTarikhTamat,"dd-MM-yyyy"))
    #else
    	#set($tarikhTamat = "")
   	#end
    #input_normal("ujFlagITP" "Flag ITP" "$!history.ujFlagITP")    
	#input_normal("ujFlagEPW" "Kementerian" "$!history.ujFlagEPW")
    #input_normal("ujFlagCola" "Kementerian" "$!history.ujFlagCola")
    #input_normal("jabatan" "Jabatan" "$!history.ujAgensi.keterangan")
    #input_normal("bahagian" "Bahagian" "$!history.ujBahagian")	
	#input_normal("userAlamat1" "Alamat Pejabat" "$!history.ujAlamat1")
	#input_normal("userAlamat2" "" "$!history.ujAlamat2")
	#input_normal("userAlamat3" "" "$!history.ujAlamat3")
	#input_normal("userPoskod" "Poskod" "$!history.ujPoskod")
	#input_normal("bandar" "Bandar" "$!history.ujBandar.keterangan")
	#input_normal("negeri" "Negeri" "$!history.ujBandar.negeri.keterangan")
    #input_normal("noTelPejabat" "No. Tel. Pejabat" "$!history.ujNoTelPejabat")  
</table>