    <table cellpadding="5" cellspacing="0" border="0" width="95%">
        <h3>MAKLUMAT PEMOHON (SELEPAS)</h3>
        <tr>
            <td style="width:150px"></td>
            <td style="width:5px"></td>
            <td></td>
        </tr>
        #input_normal("gelaran" "Gelaran" "$!pilihan.gelaran.keterangan")
    	#input_normal("userName" "Nama" "$!pilihan.userName")
		#input_normal("userNoKP" "No. MyKad" "$!pilihan.noKP")
    	#if ($!pilihan.tarikhLahir)
                #set($tarikhLahir = $util.getDateTime($!pilihan.tarikhLahir, "dd-MM-yyyy"))
            #else
               #set($tarikhLahir = "")
            #end
    	#input_normal("userTarikhLahir" "Tarikh Lahir" "$tarikhLahir")
        #input_normal("agama" "Agama" "$!pilihan.agama.keterangan")
        #input_normal("jantina" "Jantina" "$!pilihan.jantina.keterangan")
        #input_normal("bangsa" "Bangsa" "$!pilihan.bangsa.keterangan")
    	#input_normal("statusPerkahwinan" "Status Perkahwinan" "$!pilihan.statusPerkahwinan.keterangan")
    	#input_normal("bilanganAnak" "Bilangan Anak" "$!pilihan.bilAnak")  	
    	#input_normal("userNoTel" "No. Telefon" "$!pilihan.noTelefon")
    	#input_normal("userNoTelBimbit" "No. Telefon Bimbit" "$!pilihan.noTelefonBimbit")
		#input_normal("email" "Emel" "$!pilihan.emel")
    	#input_normal("userAlamat1" "Alamat Tetap" "$!pilihan.alamat1")
    	#input_normal("userAlamat2" "" "$!pilihan.alamat2")
    	#input_normal("userAlamat3" "" "$!pilihan.alamat3")
    	#input_normal("userPoskod" "Poskod" "$!pilihan.poskod")
    	#input_normal("bandar" "Bandar" "$!pilihan.bandar.keterangan")
    	#input_normal("negeri" "Negeri" "$!pilihan.bandar.negeri.keterangan")
		#input_normal("userAlamatSemasa1" "Alamat Semasa" "$!pilihan.userAddress")
    	#input_normal("userAlamatSemasa2" "" "$!pilihan.userAddress2")
    	#input_normal("userAlamatSemasa3" "" "$!pilihan.userAddress3")
    	#input_normal("userPoskodSemasa" "Poskod" "$!pilihan.userPostcode")
    	#input_normal("bandar" "Bandar" "$!pilihan.userBandar.keterangan")
    	#input_normal("negeri" "Negeri" "$!pilihan.userBandar.negeri.keterangan")
    </table>