##add byzul new call data dari database
<select id="idStatusBon" name="idStatusBon" style="width: 100%" onChange="$('err_idStatusBon').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectStatusBon )
		<option #if ( $n.id == $rekod.statusBon.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
