<select id="findLokasiPermohonan" name="findLokasiPermohonan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $flp in $findLokasiPermohonan )
        <option value="$flp.id">$flp.lokasi.toUpperCase()</option>
    #end
</select>
	