<td class="record_header" style="width:300px;font-weight:bold">Premis<img src="../img/sortdown.png" class="sorting" onclick="sort('aras.bangunan.premis.namaPremis')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Bangunan<img src="../img/sortdown.png" class="sorting" onclick="sort('aras.bangunan.namaBangunan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Aras<img src="../img/sortdown.png" class="sorting" onclick="sort('aras.namaAras')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Ruang<img src="../img/sortdown.png" class="sorting" onclick="sort('namaRuang')" /></td>
##<td class="record_header" style="width:500px;font-weight:bold">Negeri / Bandar<img src="../img/sortdown.png" class="sorting" onclick="sort('aras.bangunan.premis.bandar.negeri.keterangan')" /></td>
##<td class="record_header" style="width:300px;font-weight:bold">Zon<img src="../img/sortdown.png" class="sorting" onclick="sort('zon')" /></td>
