##<td align="left">$!r.operasi.noFail</td>
##<td align="center">$util.getDateTime($!r.operasi.tarikh, 'dd-MM-yyyy')</td>
<td align="left">$!r.penghuni.id</td>
<td align="center">$!r.penghuni.kuarters.noUnit</td>

##<td align="left">$!r.penghuni.pemohon.userName</td>
##<td align="left">$!r.penghuni.pemohon.id</td>
<td>
	<b>Nama : </b>$!r.penghuni.pemohon.userName<br/>
	<b>No. Pengenalan : </b>$!r.penghuni.pemohon.id<br/>
</td>

<td align="left">$!r.status</td>
<td align="left">$!r.catatan</td>
##if($r.statusPenghuni == '1')
	##set($status = 'KELUAR KUARTERS')
##elseif($r.statusPenghuni == '2')
	##set($status = 'KEKAL MENDIAMI KUARTERS')
##elseif($r.statusPenghuni == '3')
	##set($status = 'DISENARAI HITAM')
##else
	##set($status = '')
##end
##<td align="center">$status</td>
