<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>UNIT PENGUATKUASAAN</header>
  <fieldset>
      <section>
		<iframe src = "../ViewerJS/#../documents/Soalan_Lazim/Unit_Penguatkuasaan/unitpenguatkuasaan.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
    	##<embed style="border: 1px solid #666" src="../documents/Soalan_Lazim/Unit_Penguatkuasaan/unitpenguatkuasaan.pdf" width="100%" height="700px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
      </section>
  </fieldset>
</div>
