<select class="texts" id="turutan" name="turutan" style="width:180px" onChange="$('err_turutan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectMakluman)
    	<option #if ( $n.id == $r.turutan ) selected #end value="$n.id">$n.id</option>
    #end
</select>

