<fieldset>
<legend class="legend">PARAMETER</legend>
<table width="100%">
  <tr>
    <td><table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
        <tr>
          <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
              <tr>
                <td class="label" style="width:29%"></td>
                <td style="width:1%"></td>
                <td style="width:70%"></td>
              </tr>
              <tr>
                <td class="label">Jenis Hakmilik</td>
                <td>:</td>
                <td> #parse("$path/findJenisHakmilik.vm") </td>
              </tr>
              <tr>
                <td class="label">Jenis Lot</td>
                <td>:</td>
                <td> #parse("$path/findJenisLot.vm") </td>
              </tr>
              <tr>
                <td class="label">Status Daftar</td>
                <td>:</td>
                <td> #parse("$path/findStatusDaftar.vm") </td>
              </tr>
              <tr>
                <td colspan="3" align="center">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" align="center"><input type="button" value="Jana" onClick="doDivAjaxCall3$formname('divTab','janaLaporan','')">
                  <input type="reset" value="Kosongkan"/></td>
              </tr>
            </table></td>
          <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
              <tr>
                <td class="label" style="width:29%"></td>
                <td style="width:1%"></td>
                <td style="width:70%"></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td colspan="2" align="center">&nbsp;</td>
  </tr>
</table>
</fieldset>
