<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>PETA LAMAN</header>
  <section>
	<p class="title">Utama</p>
    <ul>
    	#foreach ( $informasi in $listInformasi )
    		<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getInformasi','paramId=$!informasi.id')">$!informasi.tajuk</a></li>
	    #end
	<ul>
  </section>
  <section>
	<p class="title">Profil Korporat</p>
	<ul>
		#foreach ( $profilKorporat in $listProfilKorporat )
			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getProfilKorporat','paramId=$!profilKorporat.id')">$!profilKorporat.tajuk</a></li>
		#end
	</ul>
  </section>
  <section>
	<p class="title">Direktori</p>
	<ul>
		<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDirektori','')">Direktori</a></li>
	</ul>
  </section>
  <section>
	<p class="title">Pekeliling</p>
	<ul>
		#foreach ( $pekeliling in $listPekeliling )
			<li><a href="../download?file=$!uploadDir$!pekeliling.fileName" > <span class="print">$!pekeliling.tajuk</strong><span> </a></li>
		#end
	</ul>
  </section>
##  <section>
##	<p class="title">Perkhidmatan</p>
##		<ul>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getMainRumahPeranginan','')">Rumah Peranginan</a></li>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahPeranginan','')">Rumah Penginapan</a></li>	
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getMainKuarters','')">Pengurusan Kuarters</a></li>
####			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','','')">Kuarters</a></li>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getKuaNaziran','')">Penguatkuasaan</a></li>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getKuaKomuniti','')">Utiliti</a></li>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getKuaSenggara','')">Senggara</a></li>
######			<li><a href="javascript:void()"  onclick="doDivAjaxCall3$formname('content','getRumahPeranginan','')">Tuntutan Bayaran Deposit</a></li>
######			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahPeranginan','')">Pembangunan</a></li>
######			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahPeranginan','')">Ruang Pejabat</a></li>
######			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahPeranginan','')">Ruang Komersil</a></li>
####			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahPeranginan','')">Kuarters</a></li>
####			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahPeranginan','')">Tuntutan Bayaran Deposit Ruang Komersil</a></li>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahTransit','')">Rumah Transit</a></li>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahTransit','')">Info Perkhidmatan</a></li>
##			<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getRumahTransitSUB','')">Lokasi</a></li>
##			<li><a href="../ViewerJS/#../documents/rumah_peranginan/rumah_transit/kadar-sewa-rumah-transit.pdf" target="_blank" style="color:#081BEE;">Kadar Sewa</a></li>
##		</ul>
##  </section>
  <section>
	<p class="title">Soalan Lazim</p>
	<ul>
		#foreach ( $soalanLazim in $listSoalanLazim )
			<li><a href="../download?file=$!uploadDir$!soalanLazim.fileName" > <span class="print">$!soalanLazim.tajuk</strong><span> </a></li>
		#end
	</ul>
  </section>
</div>