##old koding hardcode
##<select id="idLantikan" name="idLantikan" style="width: 100%" onChange="$('err_idLantikan').innerHTML=''; at(this, event);">
##	<option value="">SILA PILIH</option>
##	<option #if ( $r.idPelaksana == 'BPH' ) selected #end value="BPH">BPH</option>
##	<option #if ( $r.idPelaksana == 'JKPTG' ) selected #end value="JKPTG">JKPTG</option>
##	<option #if ( $r.idPelaksana == 'JKR' ) selected #end value="JKR">JKR</option>
##	<option #if ( $r.idPelaksana == 'PERBADANAN PUTRAJAYA' ) selected #end value="PERBADANAN PUTRAJAYA">PERBADANAN PUTRAJAYA</option>
##</select>

##add byzul new call data dari database
<select id="idLantikan" name="idLantikan" style="width: 100%" onChange="$('err_idLantikan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectLantikanKontrak )
		<option #if ( $n.id == $r.idPelaksana ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>