<select id="modAnsuran" name="modAnsuran" style="width:100%" onChange="$('err_modAnsuran').innerHTML=''; at(this, event);">
	<option value="">SILA PILIH</option>
    <option value="1" #if ($!r.modAnsuran == '1') selected #end>HARIAN</option>
    <option value="2" #if ($!r.modAnsuran == '2') selected #end>MINGGUAN</option>
    <option value="3" #if ($!r.modAnsuran == '3') selected #end>BULANAN</option>
    <option value="4" #if ($!r.modAnsuran == '4') selected #end>TAHUNAN</option>
    <option value="5" #if ($!r.modAnsuran == '5') selected #end>TAMAT KONTRAK</option>
    <option value="6" #if ($!r.modAnsuran == '6') selected #end>PERATUSAN SIAP KERJA</option>
</select>