<select id="statusRayuan" name="statusRayuan" style="width:100%" onChange="$('err_statusRayuan').innerHTML=''; at(this, event);" >
    <option value="">SILA PILIH</option>
    <option #if ( $!rayuan.statusRayuan == "01" ) selected #end value="01">SELESAI</option>
	<option #if ( $!rayuan.statusRayuan == "02" ) selected #end value="02">DALAM TINDAKAN</option>
</select>
