<select id="idNegeriSurat" name="idNegeriSurat" style="width:100%" onChange="doDivAjaxCall3$formname('selectBandarSurat','selectBandarSurat','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectNegeriSurat )
    	#if ($!command == 'getMaklumatIndividuBerdaftar' || $!command == 'getPilihanIndividu')
    	<option #if ( $n.id == $individu.bandarSurat.negeri.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    	#else
    	<option #if ( $n.id == $fail.pemohon.individu.bandarSurat.negeri.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    	#end
    #end
</select>