<select id="idNegeri" name="idNegeri" style="width:100%" onChange="doDivAjaxCall3$formname('selectBandar','selectBandar','');$('err_idNegeri').innerHTML='';">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectNegeri )
    	#if ($!command == 'getMaklumatIndividuBerdaftar' || $!command == 'getPilihanIndividu')
    	<option #if ( $n.id == $individu.bandar.negeri.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    	#else
    	<option #if ( $n.id == $fail.pemohon.individu.bandar.negeri.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    	#end
    #end
</select>