

<select id="idKementerian" name="idKementerian" style="width:100%" onChange="doDivAjaxCall3$formname('selectKementerian','selectKementerian','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectKementerian )
    	<option #if ( $n.id == $r.badanBerkanun.kementerian.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
   		
    #end
</select>