<select class="texts" id="findStatusBayaranBalik" name="findStatusBayaranBalik" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectStatusBayaranBalik)
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
