<select id="findSeksyen" name="findSeksyen" style="width:100%">
	<option value="">Sila Pilih</option>
    #foreach( $r in $selectSeksyen )
    	<option value="$r.id">$r.keterangan</option>
    #end
</select>