
<td class="record_header" nowrap>Log Pengguna<img src="../img/sortdown.png" class="sorting" onclick="sort('id')" /></td>
<td class="record_header" nowrap>Nama Pengguna<img src="../img/sortdown.png" class="sorting" onclick="sort('userName')" /></td>
<td class="record_header" nowrap>Peranan Pengguna<img src="../img/sortdown.png" class="sorting" onclick="sort('userRole')" /></td>
##<td class="record_header" nowrap>Log Pengguna Alternatif<img src="../img/sortdown.png" class="sorting" onclick="sort('userLoginAlt')" /></td>
##<td class="record_header" nowrap>Jawatan<img src="../img/sortdown.png" class="sorting" onclick="sort('jawatan.keterangan')" /></td>
##<td class="record_header" nowrap>Seksyen<img src="../img/sortdown.png" class="sorting" onclick="sort('seksyen.keterangan')" /></td>
##<td class="record_header" nowrap>Alamat IP<img src="../img/sortdown.png" class="sorting" onclick="sort('userIPAddress')" /></td>
<td class="record_header" nowrap>Gred Perkhidmatan<img src="../img/sortdown.png" class="sorting" onclick="sort('gredPerkhidmatan.id')" /></td>
<td class="record_header" nowrap>Tarikh Daftar<img src="../img/sortdown.png" class="sorting" onclick="sort('dateRegistered')" /></td>
<td class="record_header" nowrap>Tarikh Akhir Login<img src="../img/sortdown.png" class="sorting" onclick="sort('lastLoginDate')" /></td>
