<select id="idJantina" name="idJantina" style="width:100%" onChange="$('err_idJantina').innerHTML=''; at(this, event);">
	 <option value="">SILA PILIH</option>
    #foreach( $jantina in $selectJantina )
    	<option value="$jantina.id" #if ($r.jantina.id == $jantina.id) selected #end >$jantina.keterangan</option>
    #end
</select>