<select id="idJawatan" name="idJawatan" style="width:100%" onChange="$('err_idJawatan').innerHTML=''; at(this, event);">
	 <option value="">SILA PILIH</option>
    #foreach( $jawatan in $selectJawatan )
    	<option value="$jawatan.id" #if ($r.jawatan.id == $jawatan.id) selected #end >$jawatan.keterangan</option>
    #end
</select>