<select id="idSeksyen" name="idSeksyen" style="width:100%" onChange="$('err_idSeksyen').innerHTML=''; at(this, event);">
	 <option value="">SILA PILIH</option>
    #foreach( $seksyen in $selectSeksyen )
    	<option value="$seksyen.id" #if ($r.seksyen.id == $seksyen.id) selected #end >$seksyen.keterangan</option>
    #end
</select>