<select id="selectRole" name="selectRole" style="width:100%" onChange="$('err_selectRole').innerHTML=''; at(this, event);">
	 <option value="">SILA PILIH</option>
    #foreach( $role in $selectRole )
    	<option value="$role.name" #if ($r.role.name == $role.name) selected #end >$role.description</option>
    #end
</select>