<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  <tr>
    <td class="label">No. Pengenalan</td>
    <td>:</td>
    <td><input type="text" name="findIdPemohon" id="findIdPemohon"></td>
  </tr>
  <tr>
    <td class="label">No. LO Tempahan</td>
    <td>:</td>
    <td><input type="text" name="findNoLoTempahan" id="findNoLoTempahan"></td>
  </tr>
  <tr>
    <td class="label">Nama Agensi</td>
    <td>:</td>
    <td><input type="text" name="findNamaAgensi" id="findNamaAgensi"></td>
  </tr>
  <tr>
    <td class="label">No. Invois</td>
    <td>:</td>
    <td><input type="text" name="findNoInvois" id="findNoInvois"></td>
  </tr>
</table>