## Author : zulfazdliabuas@gmail.com Data 2015-2017
## Hardcode perli ubah kepada database
<select class="texts" id="flagBayaran" name="flagBayaran" onChange="$('err_flagBayaran').innerHTML=''">
	    <option value="">SILA PILIH</option>
	    <option #if ( $!r.flagBayaran == '1' ) selected #end value="1">BELUM BAYAR</option>
	    <option #if ( $!r.flagBayaran == '2' ) selected #end value="2">TELAH BAYAR</option>
	    <option #if ( $!r.flagBayaran == '3' ) selected #end value="3">TUNGGAKAN</option>
	    <option #if ( $!r.flagBayaran == '4' ) selected #end value="4">SELESAI</option>
	    <option #if ( $!r.flagBayaran == '5' ) selected #end value="5">ANSURAN</option>
</select>