<select id="idLantikanKontrak" name="idLantikanKontrak" style="width:50%" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectLantikanKontrak )
    	<option #if ( $n.id == $r.LantikanKontrak.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>