
#if ($!r.tarikhAduan) 
	#set ($dateAduan = "$!util.getDateTime($!r.tarikhAduan,'dd-MM-yyyy')")
#else #set ($dateAduan="") #end
<td>$!dateAduan</td>
<td>$!r.noPengenalan</td>
<td>$!r.tajuk </td>
<td>$!r.butiran</td>
<td>$!r.idMasuk.userName</td>
<td>$!r.idSelesai.userName</td>
<td>$!r.status</td>
<td>$!r.noTelefon</td>
<td>$!r.tarikhSelesai</td>
<td>$!r.catatan</td>