

<td class="record_header" >Tarikh Aduan<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhAduan')" /></td>
<td class="record_header" >No Pengenalan<img src="../img/sortdown.png" class="sorting" onclick="sort('noPengenalan')" /></td>
<td class="record_header" >Tajuk<img src="../img/sortdown.png" class="sorting" onclick="sort('tajuk')" /></td>
<td class="record_header" >Butiran<img src="../img/sortdown.png" class="sorting" onclick="sort('butiran')" /></td>
<td class="record_header" >Id Masuk<img src="../img/sortdown.png" class="sorting" onclick="sort('idMasuk.userName')" /></td>
<td class="record_header" >Id Selesai<img src="../img/sortdown.png" class="sorting" onclick="sort('idSelesai.userName')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('Status')" /></td>
<td class="record_header" >No Telefon<img src="../img/sortdown.png" class="sorting" onclick="sort('noTelefon')" /></td>
<td class="record_header" >Tarikh Selesai<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhSelesai')" /></td>
<td class="record_header" >Catatan<img src="../img/sortdown.png" class="sorting" onclick="sort('catatan')" /></td>




