<select id="idKategoriAduan" name="idKategoriAduan" style="width:100%">
    <option value="">SILA PILIH</option>
    $!selectKategoriAduan.id
    #foreach( $f in $selectKategoriAduan )
    	
        <option #if ( $f.id ==  $!r.KategoriAduan.id) selected #end value="$f.id">$!f.keterangan.toUpperCase() - $f.id</option>
    #end
</select>
