<script>
## BLINK NOTIFICATION
function blinker() {
    _jq('#blinkBilDaftarKontrak').fadeOut(500);
    _jq('#blinkBilDaftarKontrak').fadeIn(500);

    _jq('#blinkBilPengesahanKontrak').fadeOut(500);
    _jq('#blinkBilPengesahanKontrak').fadeIn(500);
}
setInterval(blinker, 100);
	
function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoDaftarKontrak() {
    document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.kontrak.SenaraiKontrakBayaranRecordModule";
    document.${formName}.submit();
}

function gotoPengesahanKontrak() {
    document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.kontrak.SenaraiKontrakBayaranRecordModule";
    document.${formName}.submit();
}

function gotoPemantauanKontrakBayaran() {
    document.${formName}.action = "$lebahUtil.getTabID("Pemantauan Kontrak",$portal_role)?_portal_module=bph.modules.kontrak.PemantauanKontrakBayaranRecordModule";
    document.${formName}.submit();
}

function gotoSenaraiKontraktor() {
    document.${formName}.action = "$lebahUtil.getTabID("Senarai Kontraktor",$portal_role)?_portal_module=bph.modules.kontrak.SenaraiKontraktorRecordModule";
    document.${formName}.submit();
}

function gotoPendaftaranKontraktor() {
    document.${formName}.action = "$lebahUtil.getTabID("Senarai Kontraktor",$portal_role)?_portal_module=bph.modules.senggara.PendaftaranKontraktorRecordModule";
    document.${formName}.submit();
}

function gotoSenaraiLaporan() {
    document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.laporan.kontrak.SenaraiLaporanRecordModule";
    document.${formName}.submit();
}

function gotoPemilihanKontraktorInden() {
    document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.PemilihanKontraktorInden";
    document.${formName}.submit();
}

function gotoPendaftaranKontraktor() {
    document.${formName}.action = "$lebahUtil.getTabID("Kontraktor Requisition",$portal_role)?_portal_module=bph.modules.senggara.PendaftaranKontraktorRecordModule";
    document.${formName}.submit();
}
</script>
