<fieldset>
<legend class="legend">MAKLUMAT PEMOHON</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  #if ($!command == "add_new_record")
  #input_required("id" "Kod" "$!r.id")
  #input_required("keterangan" "Keterangan" "$!r.keterangan")
  #else
  #input_normal_hidden("id" "Kod" "$!r.id")
  #input_required("keterangan" "Keterangan" "$!r.keterangan")
  #end
</table>
</fieldset>
