<script>
function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoTerimaanKunci() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.TerimaanKunciRecordModule";
	document.${formName}.submit();
}

function gotoSerahanKunci() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.SerahanKunciRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiJKHLulus() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.SenaraiJKHLulusRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiIndenKerja() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.PenyediaanIndenKerjaRecordModule";
	document.${formName}.submit();
}

function gotoCetakanIndenKerja() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.CetakanIndenKerjaNotaMintaRecordModule";
	document.${formName}.submit();
}

function gotoSemakanKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.SemakanKuartersRecordModule";
	document.${formName}.submit();
}

function gotoPenyediaanJKH() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.PenyediaanJKHRecordModule";
	document.${formName}.submit();
}

function gotoPemantauanKerja() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.PemantauanKerjaRecordModule";
	document.${formName}.submit();
}

function gotoPenilaianKontraktor() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.PenilaianKontraktorRecordModule";
	document.${formName}.submit();
}

function gotoProsesBayaran() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.ProsesBayaranRecordModule";
	document.${formName}.submit();
}

function gotoAgihanTugasSemakanKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.AgihanTugasSemakanKuartersRecordModule";
	document.${formName}.submit();
}

function gotoPembaikanAgensi() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.PembaikanAgensiRecordModule";
	document.${formName}.submit();
}

function gotoSemakanJKH() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.SemakanPenyediaanJKHRecordModule";
	document.${formName}.submit();
}

function gotoAgihanTugasPemantauanKerja() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.AgihanTugasPemantauanKerjaRecordModule";
	document.${formName}.submit();
}

function gotoPengesyoranJKH() {
	document.${formName}.action = "$lebahUtil.getTabID("Senarai Tugasan",$portal_role)?_portal_module=bph.modules.senggara.PengesyoranPenyediaanJKHRecordModule";
	document.${formName}.submit();
}

function gotoRekodTerimaanKunci() {
	document.${formName}.action = "$lebahUtil.getTabID("Rekod",$portal_role)?_portal_module=bph.modules.senggara.RekodKunciRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiLaporan() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.laporan.senggara.SenaraiLaporanRecordModule";
	document.${formName}.submit();
}
</script>