#parse("application_menu/start.vm")

<script>
function loadModule(moduleName) {
	doDivAjaxCall$formname('app-container','loadModule','menuWidget=yes&loadModuleName=' + moduleName)
}
function openChild(childId) {
	if ( $(childId).style.display == 'none' ) { 
		_jq('#' + childId).show('slow'); 
	} 
	else { 
		_jq('#' + childId).hide('slow'); 
	}
}
</script>