<fieldset>
	<table>
		<tr>
			<td>Driver</td>
			<td>:</td>
			<td><b><i>$driver</i></b></td>
		</tr>		
		<tr>
			<td>Sambungan URL</td>
			<td>:</td>
			<td><b><i>$dbUrl</i></b></td>
		</tr>
	</table>
</fieldset>
<br /><br />