#if ( !$relativeDir )
#set ( $relativeDir = "../" )
#end

##form field validation css
##<link rel="stylesheet" type="text/css" href="${relativeDir}validation/field.css"/>

<script type="text/javascript" src="${relativeDir}cookie/cookie.js" ></script>		


<!-- Add jQuery library -->
<!-- NOTE: JQUERY 1.8.2 seems to give problem to portlets drag and drop -->

<script type="text/javascript" src="${relativeDir}jquery/jquery-1.7.2.min.js" ></script>
<script type="text/javascript" src="${relativeDir}jquery/jquery-ui-1.8.15.custom.min.js" ></script>

	
<script>
var $j = jQuery.noConflict();
var _jq = jQuery.noConflict();
</script>
		
<script type="text/javascript" src="${relativeDir}jquery/jquery.ui.core.js" ></script>
<script type="text/javascript" src="${relativeDir}jquery/jquery.ui.widget.js" ></script>
																																												<script type="text/javascript" src="${relativeDir}jquery/jquery.ui.resizable.js" ></script>
<script type="text/javascript" src="${relativeDir}jquery/jquery.ui.mouse.js" ></script>
<script type="text/javascript" src="${relativeDir}jquery/autoNumeric-1.8.0.js" ></script>
			
<script type="text/javascript" src="${relativeDir}jquery/jquery.jgrowl.mod.js" ></script>
<script type="text/javascript" src="${relativeDir}jquery/jquery.bpopup.js" ></script>
		
<script type="text/javascript" src="${relativeDir}jquery/jquery.floatobject-1.0.js" ></script>
				
<link rel="stylesheet" href="${relativeDir}jquery/jquery.jgrowl.css" type="text/css" />

<script type="text/javascript" src="${relativeDir}apps/lms2/js/cropper.js" ></script>

<link rel="stylesheet" href="${relativeDir}apps/lms2/js/flexcrollstyles.css" type="text/css" />
<script type="text/javascript" src="${relativeDir}apps/lms2/js/flexcroll.js"></script>

<link rel="stylesheet" type="text/css" href="${relativeDir}jquery/jquery-ui.css"/>

<link rel="stylesheet" type="text/css" href="${relativeDir}css/w3c_bar.css"/>
<link rel="stylesheet" type="text/css" href="${relativeDir}css/font_default.css" title="standard"/>
<link rel="stylesheet" type="text/css" href="${relativeDir}css/font_medium.css" title="medium"/>
<link rel="stylesheet" type="text/css" href="${relativeDir}css/font_large.css" title="large"/>

#**
<link rel="stylesheet" type="text/css" href="${relativeDir}css/portalStyle1.css" title="portalStyle1"/>
<link rel="stylesheet" type="text/css" href="${relativeDir}css/portalStyle2.css" title="portalStyle2"/>
<link rel="stylesheet" type="text/css" href="${relativeDir}css/portalStyle3.css" title="portalStyle3"/>
**#

<script type="text/javascript" src="${relativeDir}scriptaculous/styleswitcher.js" ></script>

##<script type="text/javascript" src="${relativeDir}scriptaculous/styleswitcher-portal.js" ></script>

