<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="module_title" valign="bottom">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
    			<tr>
    				##<td rowspan="2" width="30px" valign="middle"><img src="../images/blue_orb_icon.png" width="30px" border="0"></td>
    				<td class="module_title_child">
            			#if ( $moduleClassName == "lebah.app.ApplicationContainerPortlet" )
            				<span id="__application_container_title__">
            				#if ( $label.get("$moduleTitle") )
            					$label.get("$moduleTitle")
            				#else							
            					$moduleTitle
            				#end
            				</span>
            			#else
            				#if ( $label.get("$moduleTitle") )
            					$label.get("$moduleTitle")
            				#else							
            					$moduleTitle
            				#end
            			#end
            			###if ( $showMaximizeIcon )
            				###if ( !$isMaximized )
            					##<a href="javascript:void(0)" onclick="document.location.href='?moduleState=maximize&moduleId=$_moduleId'"><img align="right" src="../img/max.png" border="0"></a>
            				###else
            					##<a href="javascript:void(0)" onclick="document.location.href='?moduleState=restore&moduleId=$_moduleId'"><img align="right" src="../img/max2.png" border="0"></a>
            				###end
            			###end
    				</td>
    			</tr>
				##<tr>
				##	<td>&nbsp;</td>
				##</tr>
			</table>
		</td>
	</tr>
</table>