<!--<div align="center" style="margin-top:-15px; font-size: .8em;">
Paparan Terbaik dengan resolusi 1024 x 768 menggunakan Firefox v3.0 dan keatas&nbsp;<a href="#Mozilla_Firefox" onclick="window.open('http://www.mozilla.com/en-US/products/download.html');" title="Get Mozilla Firefox"><img alt="Resolution" src="../images/icon_mf.png" border="0" style="vertical-align: middle"/></a>
&nbsp;Plug In yang disyorkan&nbsp;<a href="#Flash_Player" onclick="window.open('http://get.adobe.com/flashplayer/');" title="Get Flash Player"><img alt="Flash Player" src="../images/icon_fl.png" border="0" style="vertical-align: middle"/></a>&nbsp;
<a href="#Adobe_Reader" onclick="window.open('http://get.adobe.com/reader/');" title="Get Adobe Reader"><img alt="Adobe Reader" src="../images/icon_ar.png" border="0" style="vertical-align: middle"/></a>
</div>-->

<!--
#if ( ${session.getAttribute("_portal_css")} == "BPH-Portal.css" )
<div class="social-fixed">
	<ul class="social" id="css3">
		<li class="delicious">
			<a href="http://www.delicious.com/"><strong>Delicious</strong></a>
		</li>
		<li class="digg">
			<a href="http://digg.com/"><strong>Digg</strong></a>
		</li>
		<li class="facebook">
			<a href="http://www.facebook.com/"><strong>Facebook</strong></a>
		</li>
		<li class="flickr">
			<a href="http://www.flickr.com/"><strong>Flickr</strong></a>
		</li>
		<li class="linkedin">
			<a href="http://www.linkedin.com/"><strong>LinkedIn</strong></a>
		</li>
		<li class="reddit">
			<a href="http://www.reddit.com/"><strong>Reddit</strong></a>
		</li>
		<li class="rss">
			<a href="http://feeds2.feedburner.com/marcofolio"><strong>RSS</strong></a>
		</li>
		<li class="twitter">
			<a href="http://twitter.com/"><strong>Twitter</strong></a>
		</li>
	</ul>
</div>
#end

-->