
<td>
	<a href="javascript:void()" style="color:blue" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">
		$!r.perkara
	</a>
</td>
<td>$!r.keterangan</td>
<td>$!util.getDateTime($!r.tarikhDari,'dd-MM-yyyy')</td>
<td>$!util.getDateTime($!r.tarikhHingga,'dd-MM-yyyy')</td>