##Fatin 13/06/2015

<td><a href="javascript:void()" style="color:blue" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">$!r.namaPeranginan</a></td>
<td>$!r.jenisPeranginan.id - $!r.jenisPeranginan.keterangan</td>
<td>$!r.bandar.keterangan</td>
<td>$!r.bandar.negeri.keterangan</td>
