<select id="idJenisPeranginan" name="idJenisPeranginan" style="width:100%" onChange="doDivAjaxCall3$formname('selectJenisPeranginan','selectJenisPeranginan','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisPeranginan )
    	<option #if ( $n.id == $r.jenisPeranginan.id ) selected #end value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
    #end
</select>