<select id="idSebabPenolakan" name="idSebabPenolakan" style="width:100%" onChange="$('err_idSebabPenolakan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $sp in $selectSebabPenolakan )
        <option #if ( $sp.id == $r.sebabPenolakan.id ) selected #end value="$sp.id">$sp.keterangan.toUpperCase()</option>
    #end
</select>
	