<select id="idPegawai" name="idPegawai" style="width:100%" onChange="$('err_idPegawai').innerHTML=''; at(this, event);" >
    <option value="">SILA PILIH</option>
    #foreach( $sp in $selectPegawai )
        <option #if ( $sp.id ==  $!r.pegawai.id ) selected #end value="$sp.id">$sp.userName.toUpperCase()</option>
    #end
</select>
