<select id="findDewan" name="findDewan" style="width:100%" onChange="doDivAjaxCall3$formname('findGelanggang','findGelanggang','')">
	<option value="">SILA PILIH</option>
	#foreach( $n in $selectDewan)
	<option value="$n.id">$n.nama.toUpperCase()</option>
	#end
</select>


