
<fieldset>
<legend class="legend">Laporan Senarai Ruang Pejabat</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
    <td></td>
  </tr>
<tr>
  <td class="label" valign="top">Status &nbsp;<span style="color:#FF2A00"></span></td><td valign="top">:</td><td>
 		<select id="status" name="status" style="width:50%" >
    	<option value="" selected="selected">KESELURUHAN</option>
    	<option value="SEWA" #if ( $r.status == "SEWA" ) selected #end>DISEWA</option>
    	<option value="KOSONG" #if ( $r.status == "KOSONG" ) selected #end>KOSONG</option>
</select>
</tr> 
<tr>
	<td></td>
	<td class="label"></td>
	<td><input type="button" name="cmdCetak" id="cmdCetak" value="Cetak" onclick="javascript:doCetakLaporanSenaraiRuangPejabat()"/><input type="button" name="cmdKembali" id="cmdKembali" value="Kembali" onclick="javascript:doKembali()"/></td>
</tr>
</table>
</fieldset>
<div id="cetakLaporan"></div>
