
<fieldset>
<legend class="legend">Laporan Senarai Kuarters Kosong</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="label">Lokasi &nbsp;<span style="color:#FF2A00">*</span></td>
    <td>:</td>
    <td>#parse("$path/selectLokasiPermohonan.vm")
    <div id="err_idLokasi" style="color:#CC0000;font-weight:bold;border:2px #000"></div></td>
  </tr>
<tr>
	<td></td>
	<td class="label"></td>
	<td><input type="button" name="cmdCetak" id="cmdCetak" value="Cetak" onclick="javascript:doCetakLaporanKuartersKosong()"/><input type="button" name="cmdKembali" id="cmdKembali" value="Kembali" onclick="javascript:doKembali()"/></td>
</tr>
</table>
</fieldset>
<div id="cetakLaporan"></div>
