<fieldset>
<legend class="legend">Laporan</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  
  <tr>
    <td class="label">Negeri &nbsp;<span style="color:#FF2A00">*</span></td>
    <td>:</td>
    <td>#parse("$path/selectNegeri.vm")</td>
  </tr>
   <tr>
    <td></td>
    <td></td>
    <td><div id="err_idNegeri" style="color:#CC0000;font-weight:bold;border:2px #000"></div></td> 
  </tr>
 
  <tr>
    <td class="label">Daerah</td><td>:</td><td>
	<span id="selectDaerah">#parse("$path/selectDaerah.vm")</span>
     </td>
  </tr>
  <tr>
    <td class="label">Mukim</td><td>:</td><td>
	<span id="selectMukim">#parse("$path/selectMukim.vm")</span>
     </td>
  </tr>
<tr>
	<td></td>
	<td class="label"></td>
	<td><input type="button" name="cmdCetak" id="cmdCetak" value="Cetak" onclick="javascript:doCetakLaporanTanahMengikutHakmilik()"/><input type="button" name="cmdKembali" id="cmdKembali" value="Kembali" onclick="javascript:doKembali()"/></td>
</tr>
</table>
</fieldset>

<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>