<div id="senaraiLaporan">
<fieldset>
	<legend class="legend">Senarai Laporan</legend>

<table id="tableID">
<tr>
	<td><a href="#" style="color:blue" onclick="javascript:paparLaporan('1')">Laporan Senarai Kuarters Kosong</td>
</tr>
<tr>
    <td><a href="#" style="color:blue" onclick="javascript:paparLaporan('2')">Laporan Senarai Kuarters Dalam Pembaikan</td>
</tr>
<tr>
    <td><a href="#" style="color:blue" onclick="javascript:paparLaporan('3')">Laporan Senarai Kuarters Siap Pembaikan</td>
</tr>
<tr>
	<td><a href="#" style="color:blue" onclick="javascript:paparLaporan('4')">Laporan Senarai Permohonan Kuarters</td>
</tr>
<tr>
	<td><a href="#" style="color:blue" onclick="javascript:paparLaporan('5')">Laporan Senarai Menunggu Kuarters</td>
</tr>
<tr>
    <td><a href="#" style="color:blue" onclick="javascript:paparLaporan('6')">Laporan Senarai Penghuni Kuarters</td>
</tr>
<tr>
    <td><a href="#" style="color:blue" onclick="javascript:paparLaporan('7')">Laporan Senarai e-Temujanji</td>
</tr>
</table>
</fieldset>
</div>

 <div id="paparLaporan"></div>
 
<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>
<script>
#parse("$path/script.vm")
</script>