<b><u>Maklumat Kuarters</u></b>
<table cellpadding="5" cellspacing="0" border="0" width="100%">
   <tr  valign="top">
      <td style="width:200px"></td>
      <td style="width:10px"></td>
      <td></td>
   </tr>
	##	display sahaja data
		#input_readonly_all_label("noUnit" "No Unit" "$!r.penghuni.kuarters.noUnit") 
		#input_readonly_all_label("lokasi" "Lokasi" "$!r.penghuni.kuarters.lokasi.keterangan")
  		#input_readonly_all_label("tempat" "Kawasan" "$!r.penghuni.kuarters.kawasan")
  		#input_readonly_all_label("bandar" "Bandar" "$!r.penghuni.kuarters.bandar.keterangan")
  		#input_readonly_all_label("negeri" "Negeri" "$!r.penghuni.kuarters.bandar.negeri.keterangan")		
		#input_readonly_all_label("jenisKuarters" "Jenis Kuarters" "$!r.kuarters.jenisKediaman.keterangan")
        #input_readonly_all_label("kelas" "Kelas Kuarters" "$!r.kuarters.kelas.gredMula - $!r.kuarters.kelas.gredAkhir")
 		#input_readonly_all_label("sewa" "Sewa (RM)" "$!r.kuarters.sewa")
 		#if($!r.kuarters.cajAir == '0') #set($caj ='TIADA') #elseif ($!r.kuarters.cajAir == '1') #set($caj ='ADA') #else #set($caj='') #end
 		#input_readonly_all_label("cajAir" "Caj Air" "$caj")
 		#input_readonly_all_label("catatan" "Catatan" "$!r.kuarters.catatan")
		
	##	display sahaja data
</table>

