##<td class="record_header" align="center" nowrap>No Fail Operasi<class="sorting" onclick="sort(operasi.noFail')" /></td>
##<td class="record_header" align="center" width="10%">Tarikh Operasi<class="sorting" onclick="sort(operasi.tarikh')" /></td>
<td class="record_header" width="">No Fail<class="sorting" onclick="sort('penghuni.noFailLama')" /></td>
<td class="record_header" width="">Nama<class="sorting" onclick="sort('pemohon.userName')" /></td>
<td class="record_header" width="">No Kad Pengenalan<class="sorting" onclick="sort('pemohon.noKP')" /></td>
<td class="record_header" width="">Unit Kuarters<class="sorting" onclick="sort('kuarters.noUnit')" /></td>
<td class="record_header" width="">Status Rayuan<class="sorting" onclick="sort('status')" /></td>
<td class="record_header" width="">Kesalahan<class="sorting" onclick="sort('operasi.jenisPelanggaranSyarat')" /></td>
<td class="record_header" width="">Catatan<class="sorting" onclick="sort('operasi.jenisPelanggaranSyarat')" /></td>
