##<td align="left">$!r.operasi.noFail</td>

##<td align="left">$util.getDateTime($!r.operasi.tarikh, 'dd-MM-yyyy')</td>

<td align="center">$!r.penghuni.noFailLama</td>

<td align="left">$!r.penghuni.pemohon.userName</td>

<td align="left">$!r.penghuni.pemohon.noKP</td>

##<td align="left">$!r.penghuni.kuarters.noUnit<br/>$!r.penghuni.kuarters.lokasi.keterangan.toUpperCase()</td>
<td align="left">$!r.penghuni.kuarters.noUnit</td>

<td align="left">$!r.status</td>
###if($r.statusPenghuni == '1')
##	#set($status = 'KELUAR KUARTERS')
###elseif($r.statusPenghuni == '2')
##	#set($status = 'KEKAL MENDIAMI KUARTERS')
###elseif($r.statusPenghuni == '3')
##	#set($status = 'DISENARAI HITAM')
###else
##	#set($status = '')
###end

##<td align="center">$!r.status</td>
##<td align="left">$!r.operasi.status.keterangan.toUpperCase()</td>
<td align="center">$!r.jenisPelanggaranSyarat.keterangan</td>

<td align="left">$!r.catatan.toUpperCase()</td>
