
<input type="hidden" id="idJenisUnit" name="idJenisUnit" value="$!ju.id" />
<input type="hidden" id="idPeranginan" name="idPeranginan" value="$!r.id" />

<fieldset style="width:45%">
<legend class="legend">Maklumat Jenis Unit</legend>

	<table width="100%">
	  <tr>
	    <td style="width:190px"></td>
	    <td style="width:10px"></td>
	    <td>&nbsp;</td>
	  </tr>
	  	#input_required("keterangan" "JENIS UNIT" "$!ju.keterangan")
		#number_required("hadDewasa" "HAD DEWASA" "$!ju.hadDewasa")
		#number("hadKanakKanak" "HAD KANAK-KANAK" "$!ju.hadKanakKanak")
		#number_required("hadKuantiti" "HAD TEMPAHAN UNIT" "$!ju.hadKuantiti")
		#currency_required("kadarSewa" "KADAR SEWA(RM)" "$!ju.kadarSewa")
		##currency("kadarSewaWaktuPuncak" "Kadar Sewa Waktu Puncak (RM)" "$!ju.kadarSewaWaktuPuncak")
	</table>	
	
	
	
	<table width="100%">
		
		<tr>
			<td style="width:190px"></td>
    	    <td style="width:10px"></td>
    	    <td>&nbsp;</td>    	
		</tr>
	  
		<tr>
			<td colspan="3"><span style="font-weight:bold;text-align:justify;font-size:12px;"><u>WAKTU LUAR PUNCAK</u></span></td>
		</tr>
		
		<tr>
			<td colspan="3">
				<input type="radio" #if($!ju.flagTiadaHadKelayakan=='Y') checked #end id="flagLuarPuncak1" name="flagLuarPuncak" value="TIADAHAD" onChange="doShowGred(this.value);$('err_flagLuarPuncak').innerHTML='';" />
                <label for="flagLuarPuncak1" >TIADA HAD KELAYAKAN</label>
				&nbsp;
				<input type="radio" #if($!ju.flagTiadaHadKelayakan=='N') checked #end id="flagLuarPunca2" name="flagLuarPuncak" value="HAD" onChange="doShowGred(this.value);$('err_flagLuarPuncak').innerHTML='';" />
                <label for="flagLuarPuncak2" >ADA HAD KELAYAKAN</label>
				&nbsp;
				<input type="radio" #if($!ju.flagJulatGredKelayakan=='Y') checked #end id="flagLuarPuncak3" name="flagLuarPuncak" value="JULAT" onChange="doShowGred(this.value);$('err_flagLuarPuncak').innerHTML='';" />
                <label for="flagLuarPuncak3" >JULAT GRED</label>
				<div id="err_flagLuarPuncak" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			</td>
		</tr>
		
		<tr><td colspan="3"><div id="divFlagWaktuLuarPuncak">#parse("$path/popup/waktuLuarPuncak.vm")</div></td></tr>
		
		<tr><td colspan="3">&nbsp;</td></tr>
		
		<tr>
			<td colspan="3"><span style="font-weight:bold;text-align:justify;font-size:12px;"><u>WAKTU PUNCAK</u></span></td>
		</tr>
		
		<tr>
			<td colspan="3">
				<input type="radio" #if($!ju.flagTiadaHadKelayakanWaktuPuncak=='Y') checked #end id="flagPuncak1" name="flagPuncak" value="TIADAHADWP" onChange="doShowGredWP(this.value);$('err_flagPuncak').innerHTML='';" />
                <label for="flagPuncak1" >TIADA HAD KELAYAKAN</label>
				&nbsp;
				<input type="radio" #if($!ju.flagTiadaHadKelayakanWaktuPuncak=='N') checked #end id="flagPuncak2" name="flagPuncak" value="HADWP" onChange="doShowGredWP(this.value);$('err_flagPuncak').innerHTML='';" />
                <label for="flagPuncak2" >ADA HAD KELAYAKAN</label>
				&nbsp;
				<input type="radio" #if($!ju.flagJulatGredKelayakanWaktuPuncak=='Y') checked #end id="flagPuncak3" name="flagPuncak" value="JULATWP" onChange="doShowGredWP(this.value);$('err_flagPuncak').innerHTML='';" />
                <label for="flagPuncak3" >JULAT GRED</label>
				<div id="err_flagPuncak" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			</td>
		</tr>
		
		<tr><td colspan="3"><div id="divFlagWaktuPuncak">#parse("$path/popup/waktuPuncak.vm")</div></td></tr>
		
	</table>	
	
	<br/><br/>
	
		<!--
		<tr>
        	<td valign="top">Gred Kelayakan Luar Waktu Puncak (Minimum)</td>
            <td valign="top">:</td>
            <td valign="top">
        		<select class="texts" id="gredMinimumKelayakan" name="gredMinimumKelayakan" style="width:100%" onChange=" $('err_gredMinimumKelayakan').innerHTML=''; at(this, event);">
                    <option value="">SILA PILIH</option>
                    #foreach( $n in $selectGred)
                    	<option value="$n.id" #if($n.id == $!ju.gredMinimumKelayakan) selected #end>$n.keterangan.toUpperCase()</option>
                    #end
                </select>
        		<div id="err_gredMinimumKelayakan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
        	</td>
        	<td valign="top">Gred Kelayakan Luar Waktu Puncak (Maksimum)</td>
            <td valign="top">:</td>
            <td valign="top">
        		<select class="texts" id="gredMaksimumKelayakan" name="gredMaksimumKelayakan" style="width:100%" onChange=" $('err_gredMaksimumKelayakan').innerHTML=''; at(this, event);">
                    <option value="">SILA PILIH</option>
                    #foreach( $n in $selectGred)
                    	<option value="$n.id" #if($n.id == $!ju.gredMaksimumKelayakan) selected #end>$n.keterangan.toUpperCase()</option>
                    #end
                </select>
        		<div id="err_gredMaksimumKelayakan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
        	</td>
		</tr>
  
		<tr>
        	<td valign="top">Gred Kelayakan Waktu Puncak (Minimum) </td>
            <td valign="top">:</td>
            <td valign="top">
        		<select class="texts" id="gredKelayakanWaktuPuncak" name="gredKelayakanWaktuPuncak" style="width:100%" onChange=" $('err_gredKelayakanWaktuPuncak').innerHTML=''; at(this, event);">
                    <option value="">SILA PILIH</option>
                    #foreach( $n in $selectGred)
                    	<option value="$n.id" #if($n.id == $!ju.gredKelayakanWaktuPuncak) selected #end>$n.keterangan.toUpperCase()</option>
                    #end
                </select>
        		<div id="err_gredKelayakanWaktuPuncak" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
        	</td>
        	<td valign="top">Gred Kelayakan Waktu Puncak (Maksimum)</td>
            <td valign="top">:</td>
            <td valign="top">
        		<select class="texts" id="gredMaksimumKelayakanWaktuPuncak" name="gredMaksimumKelayakanWaktuPuncak" style="width:100%" onChange=" $('err_gredMaksimumKelayakanWaktuPuncak').innerHTML=''; at(this, event);">
                    <option value="">SILA PILIH</option>
                    #foreach( $n in $selectGred)
                    	<option value="$n.id" #if($n.id == $!ju.gredMaksimumKelayakanWaktuPuncak) selected #end>$n.keterangan.toUpperCase()</option>
                    #end
                </select>
        		<div id="err_gredMaksimumKelayakanWaktuPuncak" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
        	</td>
		</tr>
		-->
		
	
		


    <table width="100%">
    	<tr>
    		<td align="right">
    			#if( $!ju )
    			<input type="button" value="Cetak" onclick="javascript:window.print()">
    			#end	
    			#if( !$userRole.equalsIgnoreCase("(RPP) Penyelia") )
    			<input type="button" id="btnJenisUnit" value="Simpan" name="btnJenisUnit" >
    			#end	
    			<input type="button" id="btnKeluar" name="btnKeluar" value="Keluar">
    		</td>
    	</tr>
    </table>


</fieldset>

<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
  
  _jq('#btnKeluar').on('click', function(){
	doDivAjaxCall3$formname('divTab','getSenaraiJenisUnit','')
    jQuery('#popupJenisUnit').fadeOut();
  });
  
  _jq('#btnJenisUnit').on('click', function(){
  	saveJenisUnit();
  });
</script>


