##<div id="content-format">
    <div id="closeButton" onclick="doDivAjaxCall3$formname('tabs-2','getRumahTransitSUB','')"></div>
	
    <header>Rumah Transit Putrajaya</header>
    <section>
##        <br />
        <hr />
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
                <td valign="top" width="50%">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
						<tr>
							<td>Alamat</td>
							<td>:</td>
							<td>Pusat Perkhidmatan BPH (OSC)</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Bahagian Pengurusan Hartanah</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Zon 6B, Jalan P11J, Presint 11</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>62300 Putrajaya</td>
						</tr>
					</table>
                </td>
                <td valign="top" width="50%">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
						<tr>
							<td>Penyelia</td>
							<td>:</td>
							<td>Puan Sharifah binti Ahyar</td>
						</tr>
						<tr>
							<td>Emel</td>
							<td>:</td>
							<td>osc.bph@1govuc.gov.my</td>
						</tr>
						<tr>
							<td>Pejabat</td>
							<td>:</td>
							<td>03 – 886 13434</td>
						</tr>
					</table>
                </td>
            </tr>
			<tr>
				<td colspan="2">
					<hr />
				</td>
			</tr>
        </table>
    </section>
    ##</div>
    ##Link target <a href="javascript:void()" target=""></a>
    ## _blank = Opens the linked document in a new window or tab
    ## _self = Opens the linked document in the same frame as it was clicked (this is default)
    ## _parent = Opens the linked document in the parent frame
    ## _top = Opens the linked document in the full body of the window
    ## framename = Opens the linked document in a named frame
