<td class="record_header" align="center" nowrap>No Fail<class="sorting" onclick="sort('id')" /></td>
<td class="record_header" align="center" nowrap>No Unit Kuarters<class="sorting" onclick="sort('kuarters.noUnit')" /></td>
<td class="record_header" align="center" nowrap>Nama / No Kad Pengenalan<class="sorting" onclick="sort('pemohon.userName')" /></td>
<td class="record_header" align="center" nowrap>Status Semasa<class="sorting" onclick="sort('status')" /></td>
<td class="record_header" align="left" nowrap>Keputusan<class="sorting" onclick="sort('statusPenghuni')" /></td>
