<div id="divPilihanBayaran1">
<table cellpadding="5" cellspacing="0" border="0" style="width:100%">
    <tr>
        <td colspan="3">
            <b>Peringatan Penting</b>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>1.</td>
        <td>Sila pastikan anda tidak mengaktifkan <i>pop-up blocker</i></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>2.</td>
        <td>Sila cetak atau simpan resit transaksi bayaran sebagai bukti pembayaran</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>3.</td>
        <td>Untuk tempahan gelanggang,dimaklumkan bahawa pembayaran secara tunai atau cek tidak akan diterima atau dikembalikan.</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
</table>

<table cellpadding="5" cellspacing="0" border="0" style="width:100%">
    <tr>
        <td colspan="3">
            <b>MOD BAYARAN :</b>
        </td>
    </tr>
    <tr>
        <td style="position: relative; width: 150px; border: 1px solid #000000;">
            <img src="$imageUrl/img/MEPS-FPX.JPG" width="150xp" border="0" alt="">
            <span style="position: absolute; font-weight: 700; font-size: 27px; top: 50%; left: 175px; transform: translateY(-50%)">ONLINE BANKING</span>
        </td>
        <td width="15px"></td>
        <td style="width: 150px; border: 0px solid #000000;"></td>
        <td width="15px"></td>
        <td style="width: 150px; border: 0px solid #000000;"></td>
    </tr>
</table>

<table cellpadding="5" cellspacing="0" border="0" style="width:100%">
    <tr>
        <td colspan="3">
            <b>&nbsp;</b>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b><span style="color:#FF2A00">*</span>&nbsp; PILIHAN BANK :</b>
        </td>
    </tr>
    <tr>
        <td class="label" valign="top" width="40%">
            #parse("bph/modules/fpx/selectBank.vm")
            <div id="err_idBankFPX" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
        </td>
        <td valign="top" width="30%">&nbsp;</td>
        <td valign="top" width="30%">
            &nbsp;
        </td>
    </tr>
</table>

<table cellpadding="5" cellspacing="0" border="0" style="width:100%">
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">
            <b>Terma dan Syarat : </b>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>1.</td>
        <td>Anda perlu mempunyai akaun perbankan Internet dengan mana-mana bank yang berdaftar.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>2.</td>
        <td>Setiap pembayaran adalah dihadkan sebanyak RM30,000 setiap satu transaksi.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>3.</td>
        <td>Waktu operasi perkhidmatan pembayaran melalui FPX adalah 24 jam setiap hari termasuk hari cuti dan kelepasan am.</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3"><b>Dengan menekan butang Bayar Melalui [FPX], anda tertakluk kepada <a color="blue;" style="text-decoration: none; border-bottom: 1px solid blue;" href="https://www.mepsfpx.com.my/FPXMain/termsAndConditions.jsp" target="_blank"><font color="blue">Terma dan Syarat yang ditetapkan oleh FPX</font></a>.</b></td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td>
            <input type="button" name="btnFPX" value="Bayar Melalui [FPX]" onclick="javascript:hantarBayaran1()">
        </td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
</table>

##fpx hidden parameter
<input type="hidden" value="$!fpx_msgType" name="fpx_msgType">
<input type="hidden" value="$!fpx_msgToken" name="fpx_msgToken">
<input type="hidden" value="$!fpx_sellerExId" name="fpx_sellerExId">
<input type="hidden" value="$!fpx_sellerExOrderNo" name="fpx_sellerExOrderNo">
<input type="hidden" value="$!fpx_sellerTxnTime" name="fpx_sellerTxnTime">
<input type="hidden" value="$!fpx_sellerOrderNo" name="fpx_sellerOrderNo">
<input type="hidden" value="$!fpx_sellerBankCode" name="fpx_sellerBankCode">
<input type="hidden" value="$!fpx_txnCurrency" name="fpx_txnCurrency">
<input type="hidden" value="$!fpx_txnAmount" name="fpx_txnAmount" id="fpx_txnAmount">
<input type="hidden" value="$!fpx_buyerEmail" name="fpx_buyerEmail">
<input type="hidden" value="$!fpx_checkSum" name="fpx_checkSum">
<input type="hidden" value="$!fpx_buyerName" name="fpx_buyerName">
<input type="hidden" value="$!fpx_buyerBankId" name="fpx_buyerBankId">
<input type="hidden" value="$!fpx_buyerBankBranch" name="fpx_buyerBankBranch">
<input type="hidden" value="$!fpx_buyerAccNo" name="fpx_buyerAccNo">
<input type="hidden" value="$!fpx_buyerId" name="fpx_buyerId">
<input type="hidden" value="$!fpx_makerName" name="fpx_makerName">
<input type="hidden" value="$!fpx_buyerIban" name="fpx_buyerIban">
<input type="hidden" value="$!fpx_productDesc" name="fpx_productDesc">
<input type="hidden" value="$!fpx_version" name="fpx_version">
<input type="hidden" value="$!fpx_sellerId" name="fpx_sellerId">
<input type="hidden" value="$final_checkSum" name="final_checkSum">
</div>
