<table cellpadding="5" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td colspan="3">
			<b>Peringatan Penting</b>
		</td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td>1.</td><td>Sila pastikan anda tidak mengaktifkan <i>pop-up blocker</i></td>
	</tr>
	<tr>
		<td>&nbsp;</td><td>2.</td><td>Sila cetak atau simpan resit transaksi bayaran sebagai bukti pembayaran</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td>3.</td><td>Untuk tempahan gelanggang,dimaklumkan bahawa pembayaran secara tunai atau cek tidak akan diterima atau dikembalikan.</td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
</table>

<table cellpadding="5" cellspacing="0" border="0" style="width:100%">	
	<tr>
		<td colspan="3">
			Sila pilih jenis pembayaran anda :
		</td>
	</tr>
	<tr>
		<td style="position: relative; width: 150px; border: 1px solid #000000;">
##			<a href="#" onclick="hantarBayaran()">
			<img src="$imageUrl/img/MEPS-FPX.JPG" width="150xp" border="0" alt=""></a>
			<span style="position: absolute; font-weight: 700; font-size: 27px; top: 50%; left: 175px; transform: translateY(-50%)">ONLINE BANKING</span>
##			<a href="#" onclick="doDivAjaxCall3$formname('fpxPilihan','hantarBayaran','');">
			
		</td>
		##if($modul!="UTIL")
		<td width="15px"></td>
		<td style="width: 150px; border: 0px solid #000000;">
##			<img src="$imageUrl/img/VISA-MASTERCARD.gif" width="150px" border="0" alt=""></a>
		</td>
		##else
		<td width="15px"></td>
		<td style="width: 150px; border: 0px solid #000000;">
##			<a href="#" onclick="doDivAjaxCall3$formname('fpxPilihanMIGS','hantarKredit','');">
##			<a href="#" onclick="hantarKredit()">
##			<img src="$imageUrl/img/VISA-MASTERCARD.gif" width="150px" border="0" alt=""></a>
		</td>
		##end
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td valign="top">1.</td><td>&nbsp;</td><td>Anda perlu mempunyai akaun perbankan Internet dengan mana-mana bank yang berdaftar dengan MEPS</td>
				</tr>
				<tr>
					<td valign="top">2.</td><td>&nbsp;</td><td>Setiap pembayaran adalah dihadkan sebanyak RM30,000 setiap satu transaksi</td>
				</tr>
				<tr>
					<td valign="top">3.</td><td>&nbsp;</td><td>Waktu operasi perkhidmatan pembayaran melalui FPX adalah dari 7.00 pagi hingga 11.00 malam setiap hari termasuk hari cuti dan kelepasan am</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td><td><input type="button" name="btnFPX" value="Internet Banking [FPX]" onclick="hantarBayaran()"></td>
				</tr>				
			</table>
		</td>
		<td width="15px"></td>
		<td>
			<table>
##				#if($modul!="UTIL")
##				<tr>
##					<td valign="top">1.</td><td>&nbsp;</td><td>Pembayaran boleh dibuat menggunakan semua kad kredit Visa dan MasterCard</td>
##				</tr>
##				<tr>
##					<td valign="top">2.</td><td>&nbsp;</td><td>Had amaun bagi setiap pembayaran adalah bergantung kepada had amaun yang telah ditetapkan ke atas kad kredit yang digunakan</td>
##				</tr>
##				<tr>
##					<td valign="top">3.</td><td>&nbsp;</td><td>Waktu operasi perkhidmatan pembayaran melalui kad kredit adalah 24 jam</td>
##				</tr>
##				<tr>
##					<td colspan="3">&nbsp;</td>
##				</tr>
##				
##				<tr>
##					<td colspan="2">&nbsp;</td><td><input type="button" name="btnMIGS" value="Mastercard / Visa Payment" onclick="hantarKredit()"></td>
##				</tr>
##				#end
			</table>
		</td>
	</tr>
</table>
	
	##fpx hidden parameter
	<input type="hidden" value="$fpx_msgType" name="fpx_msgType">
	<input type="hidden" value="$fpx_msgToken" name="fpx_msgToken">
	<input type="hidden" value="$fpx_sellerExId" name="fpx_sellerExId">
	<input type="hidden" value="$fpx_sellerExOrderNo" name="fpx_sellerExOrderNo">
	<input type="hidden" value="$fpx_sellerTxnTime" name="fpx_sellerTxnTime">
	<input type="hidden" value="$fpx_sellerOrderNo" name="fpx_sellerOrderNo">
	<input type="hidden" value="$fpx_sellerBankCode" name="fpx_sellerBankCode">
	<input type="hidden" value="$fpx_txnCurrency" name="fpx_txnCurrency">
	<input type="hidden" value="$fpx_txnAmount" name="fpx_txnAmount">
	<input type="hidden" value="$fpx_buyerEmail" name="fpx_buyerEmail">
	<input type="hidden" value="$fpx_checkSum" name="fpx_checkSum">
	<input type="hidden" value="$fpx_buyerName" name="fpx_buyerName">
	<input type="hidden" value="$fpx_buyerBankId" name="fpx_buyerBankId">
	<input type="hidden" value="$fpx_buyerBankBranch" name="fpx_buyerBankBranch">
	<input type="hidden" value="$fpx_buyerAccNo" name="fpx_buyerAccNo">
	<input type="hidden" value="$fpx_buyerId" name="fpx_buyerId">
	<input type="hidden" value="$fpx_makerName" name="fpx_makerName">
	<input type="hidden" value="$fpx_buyerIban" name="fpx_buyerIban">
	<input type="hidden" value="$fpx_productDesc" name="fpx_productDesc">
	<input type="hidden" value="$fpx_version" name="fpx_version">
	<input type="hidden" value="$fpx_sellerId" name="fpx_sellerId">
	<input type="hidden" value="$final_checkSum" name="final_checkSum">

	##migs hidden parameter
	<input type="hidden" name="Title" size="63" value="JSP VPC 3-Party"/></td>
	<input type="hidden" name="virtualPaymentClientURL" size="63" value="$!URL" maxlength="250" /></td>
	<input type="hidden" name="vpc_Version" value="1" size="63" maxlength="8" /></td>
	<input type="hidden" name="vpc_Command" value="pay" size="63" maxlength="16" /></td>
	<input type="hidden" name="vpc_AccessCode" value="$!accessCode" size="63" maxlength="8" /></td>
	<input type="hidden" name="vpc_MerchTxnRef" value="$!noRujukan" size="63" maxlength="40" /></td>
	<input type="hidden" name="vpc_Merchant" value="$!mercID" size="63" maxlength="16" /></td>
	<input type="hidden" name="vpc_OrderInfo" value="$!itemDesc" size="63" maxlength="34" /></td>
	<input type="hidden" name="vpc_Amount" value="$!amaun" size="63" maxlength="10" /></td>
	<input type="hidden" name="vpc_ReturnURL" size="63" value="http://www.bph.gov.my/sbbphv2/migs/vpc_jsp_serverhost_DR.jsp" maxlength="250" /></td>		
	<input type="hidden" name="vpc_hash_code" size="63" value="$!hashCode" maxlength="250" /></td>	
	<input type="hidden" name="vpc_Locale" value="en" size="63" maxlength="5" /></td>
	
<div id="fpxPilihan">
				
</div>