<div align="left" style="color:red;border: 1px solid silver; height: 40px; padding:5px">
		<p>
			<strong>* HARAP MAAF ! REKOD MAKLUMAT PENGHUNI KURANG LENGKAP. SILA HUBUNGI UNIT KUARTERS ATAU PENTADBIR SISTEM UTK SEMAKAN. HARAP MAKLUM.</strong>
	    </p>
</div>