

	<fieldset style="width:60%">
		<legend class="legend">CATATAN HQ</legend>
			<textarea id="catatanBookingHq" style="height:80px" name="catatanBookingHq" onBlur="this.value=this.value.toUpperCase();">$!r.catatanBookingHq</textarea>
			<br/><br/>
			<input type="button" value="Simpan Catatan" onClick="simpanCatatanHq()">
	</fieldset>
