

	<select class="texts" id="carianRppPeranginan" name="carianRppPeranginan" style="width:100%">
		<option value="">SILA PILIH</option>
		#foreach( $n in $listPeranginan)
			<option value="$n.id">$n.namaPeranginan.toUpperCase()</option>
		#end
	</select>