

#if($!validSelectedDate.equalsIgnoreCase("false"))
	Sila pilih tarikh lain.
	<input type="hidden" name="checkSelectDate" id="checkSelectDate" value="false" />
#elseif($!validSelectedDate.equalsIgnoreCase("true"))
	<input type="hidden" name="checkSelectDate" id="checkSelectDate" value="true" />
#end	