
_jq(document).ready(function () { 
	_jq('#btnAddNewRecordTemplate').val('Tempahan Baru'); ##ubah nama kepada nama yang diperlukan
});


function validatePermohonan() {
	
	var err_count = 0;
	
	var tarikhMasukRpp = $('tarikhMasukRpp').value;
	var tarikhKeluarRpp = $('tarikhKeluarRpp').value;
	
	var dt1   = parseInt(tarikhMasukRpp.substring(0,2),10);
   	var mon1  = parseInt(tarikhMasukRpp.substring(3,5),10)-1;
   	var yr1   = parseInt(tarikhMasukRpp.substring(6,10),10);
   	var date1 = new Date(yr1, mon1, dt1);
	
	var dt2   = parseInt(tarikhKeluarRpp.substring(0,2),10);
   	var mon2  = parseInt(tarikhKeluarRpp.substring(3,5),10)-1;
   	var yr2   = parseInt(tarikhKeluarRpp.substring(6,10),10);
   	var date2 = new Date(yr2, mon2, dt2);
	
	
	var checkingUnit = 0;
	var idrp = $('idrp').value;
	if ( idrp == "" ) { 
		$('err_idrp').innerHTML = "Pilihan Peranginan adalah mandatori!"; err_count++; 
	}else{ 
		var totalUnitMohon = $('totalUnitMohon').value;
		if ( totalUnitMohon == 0 ){$('err_bilUnit').innerHTML = "Bilangan Unit adalah mandatori!"; err_count++;  } 
	}

	if ( tarikhMasukRpp == "" ) { $('err_tarikhMasukRpp').innerHTML = "Tarikh Masuk adalah mandatori!"; err_count++; }
	
	##else{
	##	var isPeak = $('isPeak').value;
	##	if ( isPeak == "true" ) {
	##		$('divIsPeak').innerHTML = "* PERMOHONAN TIDAK BOLEH DIBUAT PADA WAKTU PUNCAK. SILA PILIH TARIKH MENGINAP YANG LAIN" ; err_count++;  
	##	}
	##}

	if ( tarikhKeluarRpp == "" ) {$('err_tarikhKeluarRpp').innerHTML = "Tarikh Keluar adalah mandatori!"; err_count++;  }
	
	if(date2 <= date1){
		$('err_tarikhKeluarRpp').innerHTML = "Tarikh Keluar tidak kurang dan tidak sama dengan Tarikh Masuk" ; err_count++;  
	}
	
	var checking = 0;
	var checkLain = "";
	for( var i = 0; i < document.${formName}.aktivitiRpp.length; i++ ){
		if(document.${formName}.aktivitiRpp[i].checked){ 
			checking += 1; 
			if(document.${formName}.aktivitiRpp[i].value=="06"){ checkLain = "Y" };
		};
	}
	
	if ( checking == 0 ){$('err_aktivitiRpp').innerHTML = "Jenis Aktiviti adalah mandatori!"; err_count++;  }

	var keteranganLain = $('keteranganLain').value;
	if ( checkLain == "Y" && keteranganLain == "" ){$('err_keteranganLain').innerHTML = "Keterangan Lain-Lain adalah mandatori!"; err_count++;  }
	
	var bilDewasa = $('bilDewasa').value;
	if ( bilDewasa == "" ) {$('err_bilDewasa').innerHTML = "Bilangan Peserta adalah mandatori!"; err_count++;  }
	
	var bilKanakKanak = $('bilKanakKanak').value;
	if ( bilKanakKanak == "" ) {$('err_bilDewasa').innerHTML = "Bilangan Peserta adalah mandatori!"; err_count++;  }
	
	var bahagianUnit = $('bahagianUnit').value;
	if ( bahagianUnit == "" ) {$('err_bahagianUnit').innerHTML = "Bahagian / Unit adalah mandatori!"; err_count++;  }
	
	var alamatSurat1 = $('alamatSurat1').value;
	var poskodSurat = $('poskodSurat').value;
	var negeriSurat = $('negeriSurat').value;
	if ( alamatSurat1 == "" || poskodSurat == "" || negeriSurat == "" ) {
		$('err_alamatSurat').innerHTML = "Sila lengkapkan alamat surat menyurat"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
	}
	return err_count == 0;
}

function doSavePermohonan(sizeDocs){
	if ( validatePermohonan() ){
		var size = parseInt(sizeDocs);
		if ( size == 0 ){
			doDivAjaxCall3$formname('mainform','savePermohonanKelompok','');
		}else{
			doDivAjaxCall3$formname('div_main_entry','savePermohonanKelompok','');
		}
	}
}

function doCountTotalUnitMohon(){
	doDivAjaxCall3$formname('divTotalUnitMohonSelected','countTotalUnitMohon','');
}

function doCountTotalUnitLulus(){
	doDivAjaxCall3$formname('divTotalUnitLulusSelected','countTotalUnitLulus','');
}

function validateFilterJenisUnit() {
	
	var err_count = 0;
	
	var tarikhMasukRpp = $('tarikhMasukRpp').value;
	var tarikhKeluarRpp = $('tarikhKeluarRpp').value;
	
	var dt1   = parseInt(tarikhMasukRpp.substring(0,2),10);
   	var mon1  = parseInt(tarikhMasukRpp.substring(3,5),10)-1;
   	var yr1   = parseInt(tarikhMasukRpp.substring(6,10),10);
   	var date1 = new Date(yr1, mon1, dt1);
	
	var dt2   = parseInt(tarikhKeluarRpp.substring(0,2),10);
   	var mon2  = parseInt(tarikhKeluarRpp.substring(3,5),10)-1;
   	var yr2   = parseInt(tarikhKeluarRpp.substring(6,10),10);
   	var date2 = new Date(yr2, mon2, dt2);

	if ( tarikhMasukRpp == "" ) { $('err_tarikhMasukRpp').innerHTML = "Tarikh Masuk adalah mandatori!"; err_count++; }

	if ( tarikhKeluarRpp == "" ) {$('err_tarikhKeluarRpp').innerHTML = "Tarikh Keluar adalah mandatori!"; err_count++;  }
	
	if(date2 <= date1){
		$('err_tarikhKeluarRpp').innerHTML = "Tarikh Keluar tidak kurang dan tidak sama dengan Tarikh Masuk" ; err_count++;  
	}

	if (err_count == 0) {}
	return err_count == 0;
}

function doDisplayJenisUnit(){
	if ( validateFilterJenisUnit() ){
		$('divListJenisUnit').style.display = 'block';
		doDivAjaxCall3$formname('divListJenisUnit','findJenisUnit','');
	}
}

function doGetDokumen(){
	doDivAjaxCall3$formname('mainform','getDokumenKelompok','');
}

function validateLengkap(sizeDocs) {
	
	var err_count = 0;
	var size = parseInt(sizeDocs);
	if ( size == 0 ) {$('err_docSokongan').innerHTML = "Sila Pastikan Dokumen Sokongan Disertakan. &nbsp; <a href='javascript:void()' onClick='doGetDokumen()'><font style='color:blue;font-size:9px'>>>Tambah Dokumen</font></a>" ; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Adakah anda pasti? \nPermohonan yang telah dihantar TIDAK BOLEH DIKEMASKINI.") ){
			return;
		}
	}
	return err_count == 0;
}

function doHantarPermohonan(sizeDocs){
	if ( validateLengkap(sizeDocs) ){
		doDivAjaxCall3$formname('div_main_entry','hantarPermohonan','');
		window.scrollTo(0, 0);
	}
}

function checkUpload() {
	
	$('err_dokumen').innerHTML = '';
	var idpermohonan = $('idpermohonan').value;
	var error = 0;
	var err_count = 0;
	
	var tajuk = $('tajuk').value;
	if ( tajuk == "" ) {
		$('err_tajuk').innerHTML = "Tajuk dokumen adalah mandatori!"; 
		$('dokumen').value = "";
		err_count++;  
	}
	
	var idJenisDokumen = $('idJenisDokumen').value;
	if ( idJenisDokumen == "" ) {
		$('err_socJenisDokumen').innerHTML = "Jenis dokumen adalah mandatori!"; 
		$('dokumen').value = "";
		err_count++;  
	}

	if ($('dokumen').value != "" && !checkDoc($('dokumen').value)) {
		error++;
		$('dokumen').value = "";
		$('err_dokumen').innerHTML = 'Sila pastikan format yang betul.';
	}
	if ($('dokumen').value != "" && $('dokumen').files[0].size > 2097152) {
		error++;
		$('err_dokumen').innerHTML = "Saiz fail adalah "+($('dokumen').files[0].size/(1024*1024)).toFixed(2)+" MB, Sila pastikan saiz fail tidak melebihi 2MB.";
		$('dokumen').value = "";
	}
	if (error == 0 && err_count == 0) {
		$('dokumenMuatnaik').style.display = "";
		document.${formName}.enctype='multipart/form-data';
		document.${formName}.encoding ='multipart/form-data';
		document.${formName}.target='upload_doc';
		document.${formName}.action='?command=uploadDoc&idpermohonan='+idpermohonan+'&tajuk='+$('tajuk').value+'&keteranganDokumen='+$('keteranganDokumen').value+'&idJenisDokumen='+$('idJenisDokumen').value;
		document.${formName}.submit();
		$('tajuk').value = "";
		$('idJenisDokumen').value = "";
		$('keteranganDokumen').value = "";
		$('dokumen').value = "";
	}
	return err_count == 0;	
}

function checkDoc(val) {
	var arr = val.split(".");
	var arr1 = val.split("\\");
	if (arr[1] == "jpeg" || arr[1] == "jpg" || arr[1] == "JPEG" || arr[1] == "JPG" || arr[1] == "PDF" || arr[1] == "pdf" || arr[1] == "doc" || arr[1] == "DOC" || arr[1] == "docx" || arr[1] == "DOCX" ) {
		return true;
	} else {
		return false;
	}
}

function doDeleteDokumen(idDokumen) {
	if ( window.confirm("Adakah anda pasti?") ){
		doDivAjaxCall$formname('refreshListDokumen','deleteDokumen','dokumenId='+idDokumen);
	}
}

function doOpenPopupTidakLulus(){
	doDivAjaxCall3$formname('popupTidakLulus','openPopupTidakLulus','');
    jQuery('#popupTidakLulus').fadeIn();
}

function validateSemakanLengkap() {
	
	var err_count = 0;
	
	var tarikhMasukRpp = $('tarikhMasukRpp').value;
	var tarikhKeluarRpp = $('tarikhKeluarRpp').value;
	
	var dt1   = parseInt(tarikhMasukRpp.substring(0,2),10);
   	var mon1  = parseInt(tarikhMasukRpp.substring(3,5),10)-1;
   	var yr1   = parseInt(tarikhMasukRpp.substring(6,10),10);
   	var date1 = new Date(yr1, mon1, dt1);
	
	var dt2   = parseInt(tarikhKeluarRpp.substring(0,2),10);
   	var mon2  = parseInt(tarikhKeluarRpp.substring(3,5),10)-1;
   	var yr2   = parseInt(tarikhKeluarRpp.substring(6,10),10);
   	var date2 = new Date(yr2, mon2, dt2);
	
	
	var checkingUnit = 0;
	var idrp = $('idrp').value;
	if ( idrp == "" ) { 
		$('err_idrp').innerHTML = "Pilihan Peranginan adalah mandatori!"; err_count++; 
	}else{ 
		var totalUnitLulus = $('totalUnitLulus').value;
		if ( totalUnitLulus == 0 ){$('err_bilUnit').innerHTML = "Bilangan Unit Lulus adalah mandatori!"; err_count++;  } 
	}

	if ( tarikhMasukRpp == "" ) { $('err_tarikhMasukRpp').innerHTML = "Tarikh Masuk adalah mandatori!"; err_count++; }

	if ( tarikhKeluarRpp == "" ) {$('err_tarikhKeluarRpp').innerHTML = "Tarikh Keluar adalah mandatori!"; err_count++;  }
	
	if(date2 <= date1){
		$('err_tarikhKeluarRpp').innerHTML = "Tarikh Keluar tidak kurang dan tidak sama dengan Tarikh Masuk" ; err_count++;  
	}
	
	var checking = 0;
	var checkLain = "";
	for( var i = 0; i < document.${formName}.aktivitiRpp.length; i++ ){
		if(document.${formName}.aktivitiRpp[i].checked){ 
			checking += 1; 
			if(document.${formName}.aktivitiRpp[i].value=="06"){ checkLain = "Y" };
		};
	}
	
	if ( checking == 0 ){$('err_aktivitiRpp').innerHTML = "Jenis Aktiviti adalah mandatori!"; err_count++;  }

	var keteranganLain = $('keteranganLain').value;
	if ( checkLain == "Y" && keteranganLain == "" ){$('err_keteranganLain').innerHTML = "Keterangan Lain-Lain adalah mandatori!"; err_count++;  }
	
	var bilDewasa = $('bilDewasa').value;
	if ( bilDewasa == "" ) {$('err_bilDewasa').innerHTML = "Bilangan Peserta adalah mandatori!"; err_count++;  }
	
	var bahagianUnit = $('bahagianUnit').value;
	if ( bahagianUnit == "" ) {$('err_bahagianUnit').innerHTML = "Bahagian / Unit adalah mandatori!"; err_count++;  }
	
	var alamatSurat1 = $('alamatSurat1').value;
	var poskodSurat = $('poskodSurat').value;
	var negeriSurat = $('negeriSurat').value;
	if ( alamatSurat1 == "" || poskodSurat == "" || negeriSurat == "" ) {
		$('err_alamatSurat').innerHTML = "Sila lengkapkan alamat surat menyurat"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
	}
	return err_count == 0;
}

function doSavePermohonanLengkap(){
	if ( validateSemakanLengkap() ){
		doDivAjaxCall3$formname('div_main_entry','savePermohonanLengkap','');
		window.scrollTo(0, 0);
	}
}

function doBatalPermohonan(){
	if ( window.confirm("Anda pasti?") ){
		doDivAjaxCall3$formname('mainform','batalPermohonanLengkap','');
	}
}

function doGetMaklumatLO(){
	doDivAjaxCall3$formname('mainform','getMaklumatLO','');
}

function validateLO() {
	
	var err_count = 0;
	
	var kaedahBayaran = $('kaedahBayaran').value;
	if ( kaedahBayaran == "" ) {
		$('err_kaedahBayaran').innerHTML = "Kaedah Bayaran adalah mandatori!"; err_count++;  
	}else{
		if( kaedahBayaran == "LO" ){
			var noLoTempahan = $('noLoTempahan').value;
			if ( noLoTempahan == "" ) {$('err_noLoTempahan').innerHTML = "No. LO Tempahan adalah mandatori!"; err_count++;  }
		}
	}
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
	}
	return err_count == 0;
}

function doSaveLOTempahan(){
	if ( validateLO() ){
		doDivAjaxCall3$formname('mainform','saveLOTempahan','')
	}
}

function doOpenPopupSenaraiSelenggara() {
	doDivAjaxCall3$formname('popupSelenggara','openPopupSenaraiSelenggara','');
    jQuery('#popupSelenggara').fadeIn();
}

function doChangeField(){
	doDivAjaxCall3$formname('divFieldNoLo','changeField','')
}

function cetakResitSewa(idresit) {
     var url = "../servlet/bph.laporan.kewangan.KEWResitSalinan?idResit="+idresit;
     var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
     if ((document.window != null) && (!hWnd.opener))
     hWnd.opener = document.window;
     if (hWnd.focus != null) hWnd.focus();	
}






