##/**
##* AUTHOR : zufazdliabuas@gmail.com
##* Date : 14/6/2017
##*/
<table width="80%" cellpadding="5" cellspacing="0">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  <tr>
    <td class="label" valign="top">Tajuk</td>
    <td class="label" valign="top">:</td>
    <td valign="top"><div>
        <input type="text" id="findTajuk" name="findTajuk">
      </div>
  	</td>
  </tr>
  <tr>
    <td class="label">Status</td>
    <td>:</td>
    <td> #parse("$path/findFlagAktif.vm") </td>
  </tr>
</table>
