<fieldset>
	<legend class="legend">Maklumat Kuarters</legend>
    <table cellpadding="5" cellspacing="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="width:50%;">
                #parse("$path/audit_sub/detail_kuarters_asal.vm")
            </td>
            <td align="center" valign="top" style="width:50%; border-left: 1px dotted #CCC;">
                #parse("$path/audit_sub/detail_kuarters_baru.vm")
            </td>
        </tr>       
    </table>
</fieldset>