
<td class="record_header" style="width:100px;font-weight:bold">Kategori Tanah<img src="../img/sortdown.png" class="sorting" onclick="sort('kategoriTanah.keterangan')" /></td>
<td class="record_header" style="width:250px;font-weight:bold">Kod<img src="../img/sortdown.png" class="sorting" onclick="sort('id')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Keterangan<img src="../img/sortdown.png" class="sorting" onclick="sort('keterangan')" /></td>
