<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Kajian Kepuasan Pelanggan BPH</header>
  <fieldset>
      <section>
        <table width="100%" cellpadding="5" cellspacing="0" border="1">
    		<thead>
            	<tr>
            		<td align="center">Tidak Memuaskan</td>
        			<td align="center">Baik</td>
        			<td align="center">Cemerlang</td>
            	</tr>
    		</thead>
    		<tbody>
            		<tr>
        				<td align="center">$countTm</td>
        				<td align="center">$countM</td>
        				<td align="center">$countC</td>
                	</tr>		
    		</tbody>
        </table>
      </section>
  </fieldset>
</div>		