
<form name="${formname}" method="post" enctype="multipart/form-data">
	<table align="center" width="200" border="0">
		<tr>
			<td colspan="2" bgcolor="lightgrey">
				<b>Upload File</b>
			</td>
		</tr>	
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		
		<tr>
			<td align="right">
				<input id="fileupload" name="fileupload" type=file>
			</td>
		</tr>
		
		
		<tr>
			<td align="right">
				<input type="button" name="Submit" value="Upload" onclick="upload_${formname}()">
				<input type="button" name="Cancel" value="Cancel" onclick="cancel_${formname}()">
			</td>
		</tr>	

						
	</table>
<input type="hidden" name="selected_week_${formname}" value="$selectedWeek">
<input type="hidden" name="command_${formname}">
<input type="hidden" name="forum_id" value="$forum.id">
</form>
<script>
function upload_${formname}() {
	document.${formname}.command_${formname}.value = "UploadFilesTopic";
	document.${formname}.submit();	
}
function cancel_${formname}() {
	document.${formname}.command_${formname}.value = "CancelAttachmentTopic";
	document.${formname}.submit();	
}
</script>
