<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>ARKIB</header>
  
  <section>
  	 <p class="title">IKLAN PENDAFTARAN KONTRAKTOR</p>
	 <a href="../images/kontraktor/iklanPendaftaranKontraktor.pdf"><p>Iklan Pendaftaran Kontraktor Sivil dan Elektrikal di Bawah Seliaan Unit Senggara, Bahagian Pengurusan Hartanah... </p></a>

      <table cellpadding="5" cellspacing="0" border="0">
    	<tr>
    		<td>Carian Arkib</td>
    		<td>:</td>
    		<td><input type="text" id="" name="" size="30" value="" /></td>
    	</tr>
    	<tr>
    		<td>Tahun</td>
    		<td>:</td>
    		<td>
        		<select name="user" id="userID" >
            		<option>----------Sila Pilih-----------</option>
            		<option>2004</option>
            		<option>2005</option>
           			<option>2006</option>
           			<option>2007</option>
           			<option>2008</option>
            		<option>2009</option>
           			<option>2010</option>
           			<option>2011</option>
           			<option>2012</option>
           			<option>2013</option>
           			<option>2014</option>
         		 </select>
    		</td>
    	</tr>
    	<tr>
    		<td>Bulan</td>
    		<td>:</td>
    		<td>
        		<select name="user" id="userID" >
            		<option>----------Sila Pilih-----------</option>
            		<option>JANUARI</option>
            		<option>FEBRUARI</option>
           			<option>MAC</option>
           			<option>APRIL</option>
           			<option>MEI</option>
            		<option>JUN</option>
           			<option>JULAI</option>
           			<option>OGOS</option>
           			<option>SEPTEMBER</option>
           			<option>OKTOBER</option>
           			<option>NOVEMBER</option>
           			<option>DISEMBER</option>
         		 </select>
    		</td>
    	</tr>
    	<tr>
    		<td>Paparan Rekod</td>
    		<td>:</td>
    		<td>
        		<select name="user" id="userID" >
            		<option>----------Sila Pilih-----------</option>
            		<option>5</option>
            		<option>10</option>
           			<option>15</option>
           			<option>20</option>
           			<option>25</option>
            		<option>30</option>
           			<option>50</option>
           			<option>100</option>
           			<option>SEMUA</option>
         		 </select>
    		</td>
    	</tr>
    	<tr>
			<td colspan="2"></td>
    		<td>
    			<input type="button" id="" name="" value="Carian">
				<input type="button" id="" name="" value="Kosongkan">	
    		</td>
    	</tr>
      </table>
 	 
  </section>
</div>

##Link target <a href="javascript:void()" target=""></a>
## _blank = Opens the linked document in a new window or tab
## _self = Opens the linked document in the same frame as it was clicked (this is default)
## _parent = Opens the linked document in the parent frame
## _top = Opens the linked document in the full body of the window
## framename = Opens the linked document in a named frame
