<select class="texts" id="findBandar" name="findBandar" style="width:100%" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectBandar)
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>