function validate() {
	var err_count = 0;
		
	var bahagian = $('bahagian').value;
	if ( bahagian == "" ) {$('err_bahagian').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var alamat1 = $('alamat1').value;
	if ( alamat1 == "" ) {$('err_alamat1').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var poskod = $('poskod').value;
	if ( poskod == "" ) {$('err_poskod').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var idNegeri = $('idNegeri').value;
	if ( idNegeri == "" ) {$('err_idNegeri').innerHTML = "** adalah mandatori!"; err_count++;  }

	var idBandar = $('idBandar').value;
	if ( idBandar == "" ) {$('err_idBandar').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var noTelefon = $('noTelefon').value;
	if ( noTelefon == "" ) {$('err_noTelefon').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var noFaks = $('noFaks').value;
	if ( noFaks == "" ) {$('err_noFaks').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var emel = $('emel').value;
	if ( emel == "" ) {$('err_emel').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
	}
	return err_count == 0;
}

function kemaskiniMaklumat() {
	var err_count = 0;
		
	var bahagian = $('bahagian').value;
	if ( bahagian == "" ) {$('err_bahagian').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var alamat1 = $('alamat1').value;
	if ( alamat1 == "" ) {$('err_alamat1').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var poskod = $('poskod').value;
	if ( poskod == "" ) {$('err_poskod').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var idNegeri = $('idNegeri').value;
	if ( idNegeri == "" ) {$('err_idNegeri').innerHTML = "** adalah mandatori!"; err_count++;  }

	var idBandar = $('idBandar').value;
	if ( idBandar == "" ) {$('err_idBandar').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var noTelefon = $('noTelefon').value;
	if ( noTelefon == "" ) {$('err_noTelefon').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var noFaks = $('noFaks').value;
	if ( noFaks == "" ) {$('err_noFaks').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	var emel = $('emel').value;
	if ( emel == "" ) {$('err_emel').innerHTML = "** adalah mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( window.confirm("Anda pasti?") ){
		    doDivAjaxCall3$formname('divMaklumat','kemaskiniMaklumat','')
		}
	}
}