<select id="idJenisPengenalan" name="idJenisPengenalan" style="width:100%" onChange="$('err_idJenisPengenalan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $jp in $selectJenisPengenalan )
        <option #if ( $jp.id ==  $!users.jenisPengenalan.id ) selected #end value="$jp.id">$jp.keterangan.toUpperCase()</option>
    #end
</select>
