<script>
	parent.document.getElementById('divGambarPersonal').style.display = "none";
	parent.document.getElementById('imgName').value = "$!imgName";
	parent.doDivAjaxCall3$formname('detailLain', 'getPeribadi', '');
##	parent.document.getElementById('gambarPersonalImage').value = "$!imgName";
</script>

