
<td class="record_header" >Unit<img src="../img/sortdown.png" class="sorting" onclick="sort('unit')" /></td>
<td class="record_header" >Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('nama')" /></td>
<td class="record_header" >No. Telefon<img src="../img/sortdown.png" class="sorting" onclick="sort('noTelefon')" /></td>
<td class="record_header" >Emel<img src="../img/sortdown.png" class="sorting" onclick="sort('emel')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('flagAktif')" /></td>

<td class="record_header" >Daftar Oleh<img src="../img/sortdown.png" class="sorting" onclick="sort('daftarOleh.userName')" /></td>
<td class="record_header" >Tarikh Daftar<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMasuk')" /></td>
<td class="record_header" >Kemaskini Oleh<img src="../img/sortdown.png" class="sorting" onclick="sort('kemaskiniOleh.userName')" /></td>
<td class="record_header" >Tarikh Kemaskini<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhKemaskini')" /></td>
