<select id="flagCajIWK" name="flagCajIWK" style="width:100%" onChange="doDivAjaxCall$formname('divTab','doChangeMaklumatSST','');$('err_flagCajIWK').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    <option #if ( "Y" ==  $!sst.flagCajIWK ) selected #end value="Y">YA</option>
    <option #if ( "T" ==  $!sst.flagCajIWK ) selected #end value="T">TIDAK</option>
</select>
