<div id="divPenguatkuasaan">
	#if ($!command == 'addPenguatkuasaan')
		#parse("$path/penguatkuasaan/maklumatPenguatkuasaan.vm")	
	#elseif ($!command == 'doPaparMaklumatPenguatkuasaan' || $!command == 'getDokumenSokonganPenguatkuasaan' || $!command == 'doSaveMaklumatPenguatkuasaan' || $!command == 'deleteDokumenPenguatkuasaan')
		<input type="hidden" id="idMaklumatPenguatkuasaan" name="idMaklumatPenguatkuasaan" value="$!penguatkuasaan.id">
		#parse("$path/penguatkuasaan/senaraiSubTab.vm")	
	#else
		#parse("$path/penguatkuasaan/senaraiPenguatkuasaan.vm")	
	#end	
</div>

