<select id="jabatan" name="jabatan" style="width:100%" >
<option value="">SILA PILIH</option>
#foreach( $n in $selectJabatan )
<option #if ( $n.id ==  $!r.jabatan.id)) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>

#end
</select>