<select class="texts" name="idNazAktiviti" id="idNazAktiviti" style="width:100%" >
<option value="">SILA PILIH</option>
#foreach( $n in $selectNazAktiviti )
<option #if ( $n.id == $r.nazAktiviti.id ) selected #end value="$n.id">$n.rujukanFail.toUpperCase()</option>
#end
</select>