<select class="texts" name="idLokasi" id="idLokasi" style="width:100%" >
<option value="">SILA PILIH</option>
#foreach( $n in $selectLokasi )
<option #if ( $n.id == $r.lokasi.id ) selected #end value="$n.id">PRESINT $n.presint.toUpperCase() - $n.keterangan.toUpperCase()</option>
#end
</select>