
<fieldset>
<legend class="legend">MAKLUMAT REKOD</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  
  #input_required("kodMesin" "Kod Mesin" "$!r.kodMesin")
  #input_required("kodPusatTerima" "Kod Pusat Terima" "$!r.kodPusatTerima.toUpperCase()")
  <tr>
	<td valign="top">Nama Juruwang</td>
	<td valign="top">:</td>
	<td valign="top">
		<select id="juruwang" name="juruwang" style="width:50%">
            <option value="">SILA PILIH</option>
            #foreach( $d in $listJuruwang )
            	<option #if ( $d.id == $r.pemilik.id ) selected #end value="$d.id">$d.userName.toUpperCase()</option>
            #end
        </select>
	</td>
  </tr>
</table>
</fieldset>

<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>