<select class="texts" id="idJenisPeranginan" name="idJenisPeranginan" style="width:80%" onChange="doDivAjaxCall3$formname('findPeranginan','findPeranginan','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisPeranginan)
    	<option value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
    #end
</select>

