<select id="findStatusPermohonan" name="findStatusPermohonan" style="width:80%">
    <option value="">SILA PILIH</option>
    #foreach( $gj in $listStatusPermohonan )
        <option value="$gj.id">$gj.keterangan.toUpperCase()</option>
    #end
</select>