<input type="hidden" id="semakanKodPusatTerima" name="semakanKodPusatTerima" value="$!semakanKodPusatTerimaExist">
<script>
	#if ( $semakanKodPusatTerimaExist )
		$('err_kodPusatTerima').innerHTML = "KOD TELAH DIDAFTARKAN";
	#end
</script>
