<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Dasar Privasi</header>
  <section>
	<p class="title">Privasi anda</p>
    <p>Halaman ini menerangkan dasar privasi yang merangkumi penggunaan dan perlindungan maklumat yang dikemukakan oleh pengunjung.</p>
	<p>Sekiranya anda membuat transaksi atau menghantar e-mel yang mengandungi maklumat peribadi, maklumat ini mungkin akan dikongsi dengan agensi awam lainm untuk membantu penyediaan perkhidmatan yang lebih berkesan dan efektif. Contohnya seperti di dalam menyelesaikan aduan yang memerlukan maklum balas dari agensi-agensi lain.</p>
	<p><i>Apa yang akan berlaku jika saya membuat pautan kepada laman web yang lain?</i></p>
	<p>Laman web ini mempunyai pautan ke laman web lain. Dasar privasi ini hanya terpakai untuk laman web ini sahaja.. Perlu diingatkan bahawa laman web yang terdapat dalam pautan mungkin mempunyai dasar privasi yang berbeza dan pengunjung dinasihatkan supaya meneliti dan memahami dasar privasi bagi setiap laman web yang dilayari.</p>
  </section>
</div>
