#parse("bph/dashboard/style.vm")
#parse("$path/script.vm")
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="60%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/myprofile.png"  width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Profil</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoKataLaluan()" class="help" title="Tukar Kata Laluan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Tukar Kata Laluan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoProfile()" class="help" title="Profil Pengguna">
                              <li><font color="blue" style="font-size:110%">&nbsp;Profil Pengguna</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoKalendar()" class="help" title="Kalendar Aktiviti">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kalendar Aktiviti</font></li>
                              </a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        ## LAYER 2 - 1
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Pengurusan Pengguna</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoUsersList()" class="help" title="Senarai Pengguna">
                              <li><font color="blue" style="font-size:110%">&nbsp;Senarai Pengguna</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoRPPPengesahanPengguna()" class="help" title="Pengesahan Pengguna - Urusan Rumah Peranginan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Pengesahan Pengguna - Urusan Rumah Peranginan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoQTRPengesahanPengguna()" class="help" title="Pengesahan Pengguna - Urusan Kuarters">
                              <li><font color="blue" style="font-size:110%">&nbsp;Pengesahan Pengguna - Urusan Kuarters</font></li>
                              </a></td>     
                          </tr>
                          <tr>     
                            <td><a href="javascript:gotosecondary()" class="help" title="Peranan Pengguna Sekunder">
                              <li><font color="blue" style="font-size:110%">&nbsp;Peranan Pengguna Sekunder</font></li>
                              </a></td>
                          </tr>                                                                                                                            
                        </table></td>
                    </tr>
           	   </table>
           	 </td>

##	  <td width="50%" valign="top">&nbsp;</td>	##knn

<td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                       

<tr>
                            <td><font color="black" style="font-size:120%"><b>Penyelenggaraan Kod</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoAgama()" class="help" title="Agama">
                              <li><font color="blue" style="font-size:110%">&nbsp;Agama</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoAgensi()" class="help" title="Agensi">
                              <li><font color="blue" style="font-size:110%">&nbsp;Agensi</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          <td><a href="javascript:gotoBadanBerkanun()" class="help" title="Badan Berkanun">
                              <li><font color="blue" style="font-size:110%">&nbsp;Badan Berkanun</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoBandar()" class="help" title="Bandar">
                              <li><font color="blue" style="font-size:110%">&nbsp;Bandar</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoBangsa()" class="help" title="Bangsa">
                              <li><font color="blue" style="font-size:110%">&nbsp;Bangsa</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoBank()" class="help" title="Bank">
                              <li><font color="blue" style="font-size:110%">&nbsp;Bank</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCaraBayar()" class="help" title="Cara Bayar">
                              <li><font color="blue" style="font-size:110%">&nbsp;Cara Bayar</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCuti()" class="help" title="Cuti">
                              <li><font color="blue" style="font-size:110%">&nbsp;Cuti</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoDaerah()" class="help" title="Daerah">
                              <li><font color="blue" style="font-size:110%">&nbsp;Daerah</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoGelaran()" class="help" title="Gelaran">
                              <li><font color="blue" style="font-size:110%">&nbsp;Gelaran</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoGredKontraktor()" class="help" title="Gred Kontraktor">
                              <li><font color="blue" style="font-size:110%">&nbsp;Gred Kontraktor</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJabatan()" class="help" title="Jabatan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jabatan</font></li>
                              </a></td>	
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoJantina()" class="help" title="Jantina">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jantina</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJawatan()" class="help" title="Jawatan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jawatan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisBangunan()" class="help" title="Jenis Bangunan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Bangunan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisBayaran()" class="help" title="Jenis Bayaran">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Bayaran</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisDokumen()" class="help" title="Jenis Dokumen">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Dokumen</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisHakmilik()" class="help" title="Jenis Hakmilik">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Hakmilik</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisJaminan()" class="help" title="Jenis Jaminan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Jaminan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisKediaman()" class="help" title="Jenis Kediaman">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Kediaman</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisKegunaanRuang()" class="help" title="Jenis Kegunaan Ruang">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Kegunaan Ruang</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisKontrak()" class="help" title="Jenis Kontrak">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Kontrak</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisMaklumbalas()" class="help" title="Jenis Maklumbalas">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Maklumbalas</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisPelanggaranSyaratUTK()" class="help" title="Jenis Perlanggaran Syarat UTK">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Perlanggaran Syarat UTK</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoJenisPengenalan()" class="help" title="Jenis Pengenalan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Pengenalan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisPerkhidmatan()" class="help" title="Jenis Perkhidmatan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Perkhidmatan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisPenolakan()" class="help" title="Jenis Penolakan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Penolakan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisPermohonanJRP()" class="help" title="Jenis Permohonan JRP">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Permohonan JRP</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisPertukaran()" class="help" title="Jenis Pertukaran">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Pertukaran</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisPinjaman()" class="help" title="Jenis Pinjaman">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Pinjaman</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisRayuan()" class="help" title="Jenis Rayuan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Rayuan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoJenisUnitRPP()" class="help" title="Jenis Unit RPP">
                              <li><font color="blue" style="font-size:110%">&nbsp;Jenis Unit RPP</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKategoriBidangKontraktor()" class="help" title="Kategori Bidang Kontraktor">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kategori Bidang Kontraktor</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKategoriBil()" class="help" title="Kategori Bil">
                              <li><font color="blue" style="fo9nt-size:110%">&nbsp;Kategori Bil</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKategoriPemohon()" class="help" title="Kategori Pemohon">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kategori Pemohon</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKategoriTanah()" class="help" title="Kategori Tanah">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kategori Tanah</font></li>
                              </a></td> 
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoKawasan()" class="help" title="Kawasan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kawasan</font></li>
                              </a></td> 
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKelasKuarters()" class="help" title="Kelas Kuarters">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kelas Kuarters</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKelasPerkhidmatan()" class="help" title="Kelas Perkhidmatan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kelas Perkhidmatan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKementerian()" class="help" title="Kementerian">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kementerian</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKodBil()" class="help" title="Kod Bil">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kod Bil</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotokodKodHasil()" class="help" title="Kod Hasil">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kod Hasil</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKodJenisPerolehan()" class="help" title="Kod Jenis Perolehan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kod Jenis Perolehan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKodJuruwang()" class="help" title="Kod Juruwang">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kod Juruwang</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKodKaedahBayaran()" class="help" title="Kod Kaedah Bayaran">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kod Kaedah Bayaran</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKodPusatTerima()" class="help" title="Kod Pusat Terima">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kod Pusat Terima</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKesalahanBerat()" class="help" title="Kesalahan Berat">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kesalahan Berat</font></li>
                              </a></td> 
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoKesalahanHilangKelayakan()" class="help" title="Kesalahan Hilang Kelayakan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Kesalahan Hilang Kelayakan</font></li>
                              </a></td>
                          </tr>
                          <tr> 
                            <td><a href="javascript:gotoLokasiPermohonan()" class="help" title="Lokasi Permohonan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Lokasi Permohonan</font></li>
                              </a></td> 
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoLokasi()" class="help" title="Lokasi">
                              <li><font color="blue" style="font-size:110%">&nbsp;Lokasi</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoLot()" class="help" title="Lot">
                              <li><font color="blue" style="font-size:110%">&nbsp;Lot</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoLuas()" class="help" title="Luas">
                              <li><font color="blue" style="font-size:110%">&nbsp;Luas</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoMukim()" class="help" title="Mukim">
                              <li><font color="blue" style="font-size:110%">&nbsp;Mukim</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoNegeri()" class="help" title="Negeri">
                              <li><font color="blue" style="font-size:110%">&nbsp;Negeri</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoPengkhususanBidang()" class="help" title="Pengkhususan Bidang Kontraktor">
                              <li><font color="blue" style="font-size:110%">&nbsp;Pengkhususan Bidang Kontraktor</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoPegawai()" class="help" title="Pegawai">
                              <li><font color="blue" style="font-size:110%">&nbsp;Pegawai</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoSebabBertukar()" class="help" title="Sebab Bertukar">
                              <li><font color="blue" style="font-size:110%">&nbsp;Sebab Bertukar</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoSebabPenolakan()" class="help" title="Sebab Penolakan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Sebab Penolakan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoSeksyen()" class="help" title="Seksyen">
                              <li><font color="blue" style="font-size:110%">&nbsp;Seksyen</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoStatusHakmilik()" class="help" title="Status Hakmilik">
                              <li><font color="blue" style="font-size:110%">&nbsp;Status Hakmilik</font></li>
                              </a></td>
                          </tr>
                          <tr>                                        
                            <td><a href="javascript:gotoStatusPemilikan()" class="help" title="Status Pemilikan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Status Pemilikan</font></li>
                              </a></td>                                                             
                          </tr>
                          <tr>
							<td><a href="javascript:gotoStatusPerkahwinan()" class="help" title="Status Perkahwinan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Status Perkahwinan</font></li>
                              </a></td>
			              </tr>
                          <tr>                  
                            <td><a href="javascript:gotoStatusPerkhidmatan()" class="help" title="Status Perkhidmatan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Status Perkhidmatan</font></li>
                              </a></td>                                                     
                          </tr>
                          <tr> 
                            <td><a href="javascript:gotoStatus()" class="help" title="Status">
                              <li><font color="blue" style="font-size:110%">&nbsp;Status</font></li>
                              </a></td>                                                                               
                          </tr>
                          <tr>
							<td><a href="javascript:gotoStatusBonKontrak()" class="help" title="Status Bon Kontrak">
                              <li><font color="blue" style="font-size:110%">&nbsp;Status Bon Kontrak</font></li>
                              </a></td>                                                                                 
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSubKategoriTanah()" class="help" title="Sub Kategori Tanah">
                              <li><font color="blue" style="font-size:110%">&nbsp;Sub Kategori Tanah</font></li>
                              </a></td>                                                                                                                                                                   
                          </tr>
                          <tr>                           
                           <td><a href="javascript:gotoSuburusan()" class="help" title="Suburusan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Suburusan</font></li>
                              </a></td>                                                                                                                                                                                                             
                          </tr>
                          <tr>
                           <td><a href="javascript:gotoTermaSyaratRpp()" class="help" title="Terma dan Syarat RPP">
                              <li><font color="blue" style="font-size:110%">&nbsp;Terma dan Syarat RPP</font></li>
                              </a></td>                                                                              
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoUrusanJKPTG()" class="help" title="Urusan JKPTG">
                              <li><font color="blue" style="font-size:110%">&nbsp;Urusan JKPTG</font></li>
                              </a></td>                                                                                                                                                                                                                                              
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoUrusan()" class="help" title="Urusan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Urusan</font></li>
                              </a></td>                                                     
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoWarganegaraRecordModule()" class="help" title="Warganegara">
                              <li><font color="blue" style="font-size:110%">&nbsp;Warganegara</font></li>
                              </a></td>                                                                               
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSebabHilangKelayakan()" class="help" title="Sebab Hilang Kelayakan UtK">
                              <li><font color="blue" style="font-size:110%">&nbsp;Sebab Hilang Kelayakan UtK</font></li>
                              </a></td>                                                                                       
                          </tr>


</table></td>
                    </tr>
                  </table></td>


              </tr>
            </table></td>
        </tr>
        
        ## LAYER 2 - 3
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Penyelenggaraan Portal</b></td>
                          </tr>
                          <tr>
                             <td><a href="javascript:gotoCmsPengumuman()" class="help" title="Pengumuman">
                              <li><font color="blue" style="font-size:110%">&nbsp;Pengumuman</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsMakluman()" class="help" title="Makluman">
                              <li><font color="blue" style="font-size:110%">&nbsp;Makluman</font></li>
                              </a></td>	
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsSlideShow()" class="help" title="Slideshow">
                              <li><font color="blue" style="font-size:110%">&nbsp;Slideshow</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsProfilKorporat()" class="help" title="Profil Korporat">
                              <li><font color="blue" style="font-size:110%">&nbsp;Profil Korporat</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsRujukan()" class="help" title="Rujukan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Rujukan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoCmsBantuan()" class="help" title="Bantuan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Bantuan</font></li>
                              </a></td> 
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsInformasi()" class="help" title="Informasi">
                              <li><font color="blue" style="font-size:110%">&nbsp;Informasi</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsGaleriGambar()" class="help" title="Galeri Gambar">
                              <li><font color="blue" style="font-size:110%">&nbsp;Galeri Gambar</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsGaleriVideo()" class="help" title="Galeri Video">
                              <li><font color="blue" style="font-size:110%">&nbsp;Galeri Video</font></li>
                              </a></td>
                          </tr>
                          <tr>
                          	<td><a href="javascript:gotoCmsPautan()" class="help" title="Pautan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Pautan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoCmsHubungiKami()" class="help" title="Hubungi Kami">
                              <li><font color="blue" style="font-size:110%">&nbsp;Hubungi Kami</font></li>
                              </a></td>
                          </tr>
                          <tr> 
                            <td><a href="javascript:gotoCmsOperatorUnit()" class="help" title="Operator Unit">
                              <li><font color="blue" style="font-size:110%">&nbsp;Operator Unit</font></li>
                              </a></td>
                          </tr>
                          <tr> 
                            <td><a href="javascript:gotoCmsDirektori()" class="help" title="Direktori">
                              <li><font color="blue" style="font-size:110%">&nbsp;Direktori</font></li>
                              </a></td>
                          </tr>
                          <tr> 
                            <td><a href="javascript:gotoCmsKeharta()" class="help" title="KEHARTA">
                              <li><font color="blue" style="font-size:110%">&nbsp;KEHARTA</font></li>
                              </a></td>
                          </tr>
                          <tr>  
                            <td><a href="javascript:gotoCmsPuspanita()" class="help" title="PUSPANITA">
                              <li><font color="blue" style="font-size:110%">&nbsp;PUSPANITA</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoCmsPenyelenggaraanKuarters()" class="help" title="PENYELENGGARAAN KUARTERS">
                              <li><font color="blue" style="font-size:110%">&nbsp;PENYELENGGARAAN KUARTERS</font></li>
                              </a></td>
                          </tr> 
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Integrasi</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoFPX()" class="help" title="FPX">
                              <li><font color="blue" style="font-size:110%">&nbsp;FPX</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoMIGS()" class="help" title="MIGS">
                              <li><font color="blue" style="font-size:110%">&nbsp;MIGS</font></li>
                              </a></td> 
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoJPN()" class="help" title="JPN">
                              <li><font color="blue" style="font-size:110%">&nbsp;JPN</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoHRMIS()" class="help" title="HRMIS">
                              <li><font color="blue" style="font-size:110%">&nbsp;HRMIS</font></li>
                              </a></td>
                          </tr> 
                          <tr>
                            <td><a href="javascript:gotoPESARA()" class="help" title="PESARA">
                              <li><font color="blue" style="font-size:110%">&nbsp;PESARA</font></li>
                              </a></td>                               
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        
        ## LAYER 2 - 3
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Kemaskini Bayaran</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoKemaskiniRekodBayaran()" class="help" title="Semakan Data Bayaran">
                              <li><font color="blue" style="font-size:110%">&nbsp;Semakan Data Bayaran</font></li>
                              </a>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Pembatalan Resit</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoPembatalanResit()" class="help" title="Pembatalan Resit">
                              <li><font color="blue" style="font-size:110%">&nbsp;Pembatalan Resit</font></li>
                              </a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        
        ##Laporan
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center">
                      	<img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/>
                      	</td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Aduan</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSenaraiAduan()" class="help" title="Senarai Aduan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Senarai Aduan</font></li>
                              </a>
                            </td>                   
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                	<tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Aduan Internal</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoAduanInternal()" class="help" title="Aduan Internal">
                              <li><font color="blue" style="font-size:110%">&nbsp;Aduan Internal</font></li>
                              </a></td>
                    </tr>
                </table></td>
              </tr>
            </table></td>
        </tr>
        
      </table></td>
  </tr>
</table>
