<select id="findStatus" name="findStatus" style="width: 100%">
  <option value="">SILA PILIH</option>
  <option value="01">DAFTAR KONTRAK</option>
  <option value="02">PENGESAHAN MAKLUMAT KONTRAK</option>
  <option value="03">PINDAAN MAKLUMAT KONTRAK</option>
  <option value="04">KONTRAK AKTIF</option>
  <option value="05">KONTRAK TAMAT</option>
  <option value="06">KONTRAK BATAL</option>
</select>
