<select id="findKaedahPerolehan" name="findKaedahPerolehan" style="width: 100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectKaedahPerolehan )
		<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>