<select id="modAnsuran" name="modAnsuran" style="width:100%" onChange="$('err_modAnsuran').innerHTML=''; at(this, event);">
	<option value="">SILA PILIH</option>
    <option value="01" #if ($!r.modAnsuran == '01') selected #end>HARIAN</option>
    <option value="02" #if ($!r.modAnsuran == '02') selected #end>MINGGUAN</option>
    <option value="03" #if ($!r.modAnsuran == '03') selected #end>BULANAN</option>
    <option value="04" #if ($!r.modAnsuran == '04') selected #end>TAHUNAN</option>
    <option value="05" #if ($!r.modAnsuran == '05') selected #end>TAMAT KONTRAK</option>
    <option value="06" #if ($!r.modAnsuran == '06') selected #end>PERATUSAN SIAP KERJA</option>
</select>