
<td>$!r.noDaftarKontrak</td>
<td>$!r.jenisKontrak.keterangan</td>
<td>$!r.perkhidmatan</td>
<td>$!r.idPelaksana</td>
<td>$!r.seksyen.keterangan</td>
<td>$!r.kontraktor.id - $!r.kontraktor.namaKontraktor</td>
