<select id="idGelaran" name="idGelaran" style="width:100%" onChange="$('err_idGelaran').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $g in $selectGelaran )
        <option #if ( $g.id ==  $!users.gelaran.id ) selected #end value="$g.id">$g.keterangan.toUpperCase()</option>
    #end
</select>
