<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  
    <td class="label">No. Pendaftaran</td>
    <td>:</td>
    <td><input class="texts" type="text" name="findNoPendaftaran"></td>
  </tr>
  <tr>
    <td class="label">Nama Kontraktor</td>
    <td>:</td>
    <td><input class="texts" type="text" name="findNamaKontraktor"></td>
  </tr>
    <tr>
    <td class="label">Nama Pemilik</td>
    <td>:</td>
    <td><input class="texts" type="text" name="findNamaPemilik"></td>
  </tr>
  <tr>
    <td class="label">Status Senarai Hitam</td>
    <td>:</td>
    <td><select class="texts" name="flag" id="flag" style="width:100%" >
    		<option value="">SILA PILIH</option>
    		<option value="Y">AKTIF</option>
    		<option value="T">TIDAK</option>
    	</select></td>
  </tr>
</table>
