
<td>$!r.noPengenalan</td>
<td>$!r.nama</td>
	#if ($!r.tarikhTerima) 
		#set ($dateKemaskini = "$!util.getDateTime($!r.tarikhTerima,'dd-MM-yyyy hh:mm:ss a')")
	#else #set ($dateKemaskini = "") #end				  
<td>$!dateKemaskini</td>
