<table width="75%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:200px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
	#input("findNoPermohonan" "No. Daftar" "")
	#input("findNamaPemohon" "Nama Pemohon" "")
	#input("findNoKPPemohon" "No. Kad Pengenalan" "")
	<tr>
        <td class="label">Kelas</td>
        <td>:</td>
        <td>
            #parse("$path/find/findKelasKuarters.vm")
        </td>
    </tr>
	<tr>
        <td class="label">Lokasi Kuarters</td>
        <td>:</td>
        <td>
            #parse("$path/find/findLokasiKuarters.vm")
        </td>
    </tr>
</table>