function validate() {
	var err_count = 0;
	return err_count == 0;
}

function hantarTetapan() {
	var err_count = 0;
	if (err_count == 0) {
		doDivAjaxCall3$formname('hantarTetapan','hantarTetapan','')
	}
}


