<td class="record_header" >No. Fail<img src="../img/sort_both.png" class="sorting" onclick="sort('noFailLama')" /></td>
<td class="record_header" >No. Kad Pengenalan<img src="../img/sort_both.png" class="sorting" onclick="sort('pemohon.id')" /></td>
<td class="record_header" >Nama<img src="../img/sort_both.png" class="sorting" onclick="sort('pemohon.userName')" /></td>
<td class="record_header" >No. Unit<img src="../img/sort_both.png" class="sorting" onclick="sort('kuarters.noUnit')" /></td>
<td class="record_header" >Lokasi<img src="../img/sort_both.png" class="sorting" onclick="sort('kuarters.lokasi.keterangan')" /></td>
<td class="record_header" >Kelas<img src="../img/sort_both.png" class="sorting" onclick="sort('kuarters.kelas.id')" /></td>
