<table width="85%" cellpadding="5" cellspacing="0">
	<tr>
		<td colspan="3">
			<table width="100%" cellpadding="5" cellspacing="0">
				<tr>
					<td width="45%" valign="top">
						<table width="95%" cellpadding="5" cellspacing="0">
            				<tr>
                                <td style="width:150px"></td>
                                <td style="width:10px"></td>
                                <td></td>
                            </tr>
                            #input("findNoFailLama" "No. Fail" "")
							#input("findNoPermohonan" "No. Daftar" "")
							#input("findNamaPemohon" "Nama Pemohon" "")
							#input("findNoKP" "No. Kad Pengenalan" "")
                        	##input("findNama" "Nama" "")
            			</table>
					</td>
					##<td width="45%" align="center" valign="top">
            			##<table width="95%" cellpadding="5" cellspacing="0">
            				##<tr>
                                ##<td style="width:150px"></td>
                                ##<td style="width:10px"></td>
                                ##<td></td>
                            ##</tr>
							
							##input("findNoUnitKuarters" "No. Unit Kuarters" "")
							##<tr>
                                ##<td class="label">Lokasi Kuarters</td>
                                ##<td>:</td>
                                ##<td>
                                    ##parse("$path/find/findLokasiKuarters.vm")
                                ##</td>
                            ##</tr>
							##<tr>
                                ##<td class="label">Jalan</td>
                                ##<td>:</td>
                                ##<td>
                                    ##parse("$path/find/findJalan.vm")
                                ##</td>
                            ##</tr>
            			##</table>			
					##</td>
					
				</tr>
			</table>
		</td>
	</tr>
</table>
