

#if($valLo=="LO")
	<input type="text" id="noLoTempahan" name="noLoTempahan" value="$!r.noLoTempahan" onKeyUp=" $('err_noLoTempahan').innerHTML='';" onBlur="this.value=this.value.toUpperCase();">
	<div id="err_noLoTempahan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
#else	
	-
#end	