<select id="flagCajIWK" name="flagCajIWK" style="width:100%" onChange="doDivAjaxCall$formname('divPerjanjian','getMaklumatPerjanjian','');$('err_flagCajIWK').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    <option #if ( "Y" ==  $!perjanjian.flagCajIWK ) selected #end value="Y">YA</option>
    <option #if ( "T" ==  $!perjanjian.flagCajIWK ) selected #end value="T">TIDAK</option>
</select>
