##<div id="content-format">
    <div id="closeButton" onclick="doDivAjaxCall3$formname('tabs-2','getRumahPeranginanSUB','')"></div>
	
    <header>PERANGINAN PERSEKUTUAN CAMERON HIGHLAND</header>
##    <nav class="breadcrumbs">
##        <ul>
##            <li>
##                <a href="javascript:void()" onclick="doDivAjaxCall3$formname('rumahPeranginanContent','getRumahPeranginan','')">Rumah Peranginan</a>
##            </li>
##            <li class="active">
##                <a href="javascript:void()">Rumah Peranginan Persekutuan Cameron Highland</a>
##            </li>
##        </ul>
##    </nav>
    <section>
        <!-- <p class="title">Rumah Peranginan Persekutuan Cameron Highland</p>
        -->
        <table cellpadding="5" cellspacing="0" border="1" align="center" width="100%">
            <tr>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanCameron/DSC_0208.JPG" height="175px" width="275px" />
                </td>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanCameron/DSC_0654.JPG" height="175px" width="275px" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanCameron/DSC_0314.JPG" height="175px" width="275px" />
                </td>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanCameron/DSC_0322.JPG" height="175px" width="275px" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanCameron/DSC_0200.JPG" height="175px" width="275px" />
                </td>
                <td align="center">
                    <img src="../images/rumahPeranginan/rumahPeranginanCameron/DSC_0333.JPG" height="175px" width="275px" />
                </td>
            </tr>
        </table>
        <br />
##        <p class="title">Aktiviti - aktiviti yang boleh dijalankan di RPP Cameron Highlands</p>
##        <ul>
##            <li>Badminton</li>
##            <li>Sepak takraw</li>
##            <li>Karaoke</li>
##            <li>Berbasikal</li>
##            <li>Hari Keluarga</li>
##            <li>Kursus</li>
##            <li>BBQ</li>
##        </ul>
##        <br />
##        <p class="title">Jenis bilik dan kadar</p>
##        <table cellpadding="5" cellspacing="0" border="1" width="100%">
##            <thead>
##                <tr>
##                    <td>JENIS PENGINAPAN</td>
##                    <td>KADAR PENGINAPAN ( 1 MALAM )</td>
##                </tr>
##            </thead>
##            <tbody>
##                <tr>
##                    <td>Banglo 3 bilik</td>
##                    <td>RM 100.00</td>
##                </tr>
##                <tr>
##                    <td>Apartment 2 bilik</td>
##                    <td>RM 50.00</td>
##                </tr>
##                <tr>
##                    <td>Bilik Biasa</td>
##                    <td>RM 25.00</td>
##                </tr>
##                <tr>
##                    <td>Dewan mesyuarat</td>
##                    <td>RM 50.00</td>
##                </tr>
##                <tr>
##                    <td>Dewan makan</td>
##                    <td>RM 50.00</td>
##                </tr>
##                <tr>
##                    <td>Dewan serbaguna</td>
##                    <td>RM 50.00</td>
##                </tr>
##                <tr>
##                    <td>Asrama lelaki (L) 30 katil</td>
##                    <td>RM 150.00</td>
##                </tr>
##                <tr>
##                    <td>Asrama perempuan (P) 30 katil</td>
##                    <td>RM 150.00</td>
##                </tr>
##            </tbody>
##        </table>
        <hr />
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
                <td valign="top" width="50%">
    				<table cellpadding="0" cellspacing="0" width="100%">
    					<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
    					<tr>
    						<td colspan="3">
    							Alamat :
    						</td>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td>RPP Cameron Highlands,</td>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td>Tanah Rata,</td>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td>39000 Cameron Highlands, Pahang</td>
    					</tr>
    				</table>
                </td>
                <td valign="top" width="50%">
    				<table cellpadding="0" cellspacing="0" width="100%">
    					<tr>
                            <td style="width:75px"></td>
                            <td style="width:10px"></td>
                            <td></td>
                        </tr>
    					<tr>
    						<td colspan="3">
    							Penyelias & No. Talian :
    						</td>
    					</tr>
						<tr>
    						<td></td>
    						<td></td>
    						<td>PUAN NORRASHIMA BINTI ABDUL RAHMAN</td>
    					</tr>
##						<tr>
##    						<td></td>
##    						<td></td>
##    						<td>011 - 1084 5311 &nbsp;<span style="color:#FF2A00;weight:50px">* Di luar waktu pejabat sahaja</span></td>
##    					</tr>
						<tr>
    						<td></td>
    						<td></td>
    						<td>Pejabat : 05 - 491 1844</td>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td>Pejabat : 05 - 491 4752</td>
    					</tr>
						<tr>
    						<td></td>
    						<td></td>
    						<td>Faks : 03 - 491 5745</td>
    					</tr>
    				</table>
                </td>
            </tr>
    		<tr>
    			<td colspan="2">
    				<hr />
    			</td>
    		</tr>
        </table>
    </section>
    ##</div>
    ##Link target <a href="javascript:void()" target=""></a>
    ## _blank = Opens the linked document in a new window or tab
    ## _self = Opens the linked document in the same frame as it was clicked (this is default)
    ## _parent = Opens the linked document in the parent frame
    ## _top = Opens the linked document in the full body of the window
    ## framename = Opens the linked document in a named frame
