
<td>$!r.vpcTransactionNo</td>
<td>$!r.vpcMerchTxnRef</td>
<td>$!r.idPermohonan</td>
<td>$!r.vpcBatchNo</td>
<td>$!util.formatDecimal($!r.getAmaunBayaran())</td>	 
<td>$!r.flagModul</td>
#if ($!r.createdDate) 
	#set ($createdDate = "$!util.getDateTime($!r.createdDate,'dd-MM-yyyy hh:mm:ss a')")
#else #set ($createdDate = "") #end	
<td>$createdDate</td>
