
<td class="record_header" style="width:250px;font-weight:bold">Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('nama')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Jawatan<img src="../img/sortdown.png" class="sorting" onclick="sort('jawatan')" /></td>
