<select class="texts" id="findJenisPeranginan" name="findJenisPeranginan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisPeranginan)
    	<option value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
    #end
</select>