<select class="input-style" style="width:100%" type="text" id="idBandar" name="idBandar" onChange="$('err_idBandar').innerHTML=''; at(this, event);" >
	<option value="">SILA PILIH</option>
    	#foreach ( $n in $selectBandar )
        	<option value="$n.id" #if ($!pengguna.userBandar.id == $n.id) selected #end >$n.keterangan</option>
        #end
</select>