<select class="input-style" style="width:100%" type="text" id="idAgensi" name="idAgensi" onChange="$('err_idAgensi').innerHTML=''; at(this, event);" >
	<option value="">SILA PILIH</option>
    	#foreach ( $n in $selectAgensi )
        	<option value="$n.id" #if ($!pengguna.agensi.id == $n.id) selected #end >$n.keterangan</option>
        #end
</select>