#if ( $!updateProfileStatus == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> PROFIL BERJAYA DIKEMASKINI <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!updateProfileStatus == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> PROFIL TIDAK BERJAYA DIKEMASKINI <u> </b> </font> </td>
  </tr>
</table>
#end

#if ( $!resetPasswordStatus == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> KATALALUAN TELAH BERJAYA DI SET SEMULA <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!resetPasswordStatus == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> KATALALUAN TIDAK BERJAYA DI SET SEMULA <u> </b> </font> </td>
  </tr>
</table>
#end

#if ( $!updateProfilePhoto == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> GAMBAR PROFIL BERJAYA DIKEMASKINI <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!updateProfilePhoto == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> GAMBAR PROFIL TIDAK BERJAYA DIKEMASKINI <u> </b> </font> </td>
  </tr>
</table>
#end

#if ( $!updatePerjawatanStatus == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> MAKLUMAT PERJAWATAN TELAH DIKEMASKINI. <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!updatePerjawatanStatus == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> MAKLUMAT PERJAWATAN TIDAK BERJAYA DIKEMASKINI. <u> </b> </font> </td>
  </tr>
</table>
#end

#if ( $!semakanPerjawatanStatus == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> SEMAKAN BERJAYA DAN MAKLUMAT PERJAWATAN TELAH DIKEMASKINI. <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!semakanPerjawatanStatus == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> SEMAKAN TIDAK BERJAYA. <u> </b> </font> </td>
  </tr>
</table>
#end

#if ( $!updateDokumenPengesahan == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> DOKUMEN PENGESAHAN JAWATAN / PERKHIDMATAN BERJAYA DIMUATNAIK <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!updateDokumenPengesahan == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> DOKUMEN PENGESAHAN JAWATAN / PERKHIDMATAN TIDAK BERJAYA DIMUATNAIK <u> </b> </font> </td>
  </tr>
</table>
#end

#if ( $!updateMaklumatBank == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> MAKLUMAT BANK BERJAYA DIKEMASKINI <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!updateMaklumatBank == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> MAKLUMAT BANK TIDAK BERJAYA DIKEMASKINI <u> </b> </font> </td>
  </tr>
</table>
#end

#if ( $!updateLampiranAkaun == 'true' )
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> LAMPIRAN AKAUN BERJAYA DIMUATNAIK <u> </b> </font> </td>
  </tr>
</table>
#elseif ( $!updateLampiranAkaun == 'false' )
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> LAMPIRAN AKAUN TIDAK BERJAYA DIMUATNAIK <u> </b> </font> </td>
  </tr>
</table>
#end