<script>
	parent.document.getElementById('profilePhotoMuatnaik').style.display = "none";
	parent.doDivAjaxCall3$formname('divProfil','refreshProfilePhoto','updateProfilePhotoReload=$!updateProfilePhoto');
</script>