<script>
	var y = "$!resultPermohonanCompletion";
	var role = "$!currentRoleQTR";
	
	if ( role != "" ) {
		if ( role == "Penyedia" ) {
			if ( z == "1419483289678" ) {
				_jq('#btnSaveRecordTemplate').val('Sahkan');
			} else {
				_jq('#btnSaveRecordTemplate').hide();
			}
		}
	}
</script>

<div id="entry_page">
	#parse("$path/entry_sub/entry_permohonan.vm")
</div>

#if ($r.id)
	<input type="hidden" id="idPermohonan" name="idPermohonan" value="$r.id" />
#else
	<input type="hidden" id="idPermohonan" name="idPermohonan" value="$!idPermohonan" />
#end