

	#if( $isPeak )
		<div id="divIsPeak" style='color:#FF2A00;font-weight:bold'>* PERMOHONAN TIDAK BOLEH DIBUAT PADA WAKTU PUNCAK. SILA PILIH TARIKH MENGINAP YANG LAIN</div>
	#end	
	
	#if( $less3Month )
		<div id="divLess3Month" style='color:#FF2A00;font-weight:bold'>* PERMOHONAN MESTI DIBUAT TIGA(3) BULAN SEBELUM TARIKH MENGINAP</div>
	#end	
	
	<input type="hidden" name="isPeak" id="isPeak" value="$!isPeak" />