<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Peraturan</header>
  <section>
	<embed src="../" width="100%" height="500px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
  </section>
</div>
