<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Muat Turun Dokumen</header>
  <section>
	<table cellpadding="5" cellspacing="0" border="1" width="100%">
		<thead>
			<tr>
				<td>Kategori</td>
				<td>Jumlah Fail</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenISO','')">Dokumen ISO</a></td>
				<td>18</td>			
			</tr>
			<tr>
				<td><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenDalaman','')">Dalaman</a></td>
				<td>2</td>
			</tr>
			<tr>
				<td>Booklet
					<ul>
						<li>
							<a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenBooklet','')">Booklet 1 Malaysia</a>
						</li>
					</ul>
				</td>
				<td>1</td>
			</tr>
			<tr>
				<td><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenSenarai','')">Senarai</a>
					<ul>
						<li>
							Senarai yang disediakan untuk semakan
						</li>
					</ul>
				</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Laporan Tahunan</a>
					<ul>
						<li>
							<a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenLaporan','')">Muat turun Laporan Tahunan dan Dokumen tambahan yang lain</a>
						</li>
					</ul>
				</td>
				<td>1</td>
			</tr>
			<tr>
				<td><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenBuletin','')">Buletin</a>
					<ul>
						<li>
							Buletin berkenaan BPH
						</li>
					</ul>
				</td>
				<td>5</td>
			</tr>
			<tr>
				<td><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenPamplet','')">Pamplet</a>
					<ul>
						<li>
							Pamplet berkaitan rumah peranginan
						</li>
					</ul>
				</td>
				<td>2</td>
			</tr>
			<tr>
				<td><a href="javascript:void()" onclick="doDivAjaxCall3$formname('content','getDokumenBorang','')">Borang</a>
					<ul>
						<li>
							Muat turun borang permohonan dan tempahan
						</li>
					</ul>
				</td>
				<td>24</td>
			</tr>
		</tbody>
	</table>
  </section>
</div>

##Link target <a href="javascript:void()" target=""></a>
## _blank = Opens the linked document in a new window or tab
## _self = Opens the linked document in the same frame as it was clicked (this is default)
## _parent = Opens the linked document in the parent frame
## _top = Opens the linked document in the full body of the window
## framename = Opens the linked document in a named frame