#parse("$path/header.vm")

#if ($!r.status.id == '1426130691702' || $!r.status.id == '1427773516431') ##PENYEDIAAN JKH || PINDAAN PENYEDIAAN JKH
	 #parse("$path/penyediaanJKH/daftarPenyediaanJKH.vm")
#end

#if ($!r.status.id != '1426130691702' && $!r.status.id != '1427773516431') ##PENYEDIAAN JKH || PINDAAN PENYEDIAAN JKH
	 #parse("$path/penyediaanJKH/paparPenyediaanJKH.vm")
#end

#parse("$path/penyediaanJKH/status.vm")