<script>
	parent.document.getElementById('uploadLampiranJadualKadarHarga').style.display = "none";
	parent.doDivAjaxCall3$formname('lampiranJadualKadarHargaReload','refreshLampiranJadualKadarHarga','updateLampiranJadualKadarHargaReload=$!lampiranJadualKadarHargaReload');
</script>