



<fieldset>
<legend class="legend">MAKLUMAT KEKOSONGAN</legend>
    
	<table width="100%">
		<tr>
			<td width="50%" valign="top">
				<table width="100%" cellpadding="2" cellspacing="2">
            		<tr bgcolor="#D0CFCE">
            			<td><b>Bilangan Bilik Kekosongan</b></td>
            			<td align="center">
            				$!mk.totalOfAvailable
            				<input type="hidden" name="totalOfAvailable" id="totalOfAvailable" value="$!mk.totalOfAvailable" />
            			</td>
            		</tr>
            		<tr bgcolor="#F0F0F0">
            			<td width="70%"><b>Jenis Unit</b></td>
            			<td align="center" width="30%">
            				$!mk.jenisUnit
            				<input type="hidden" name="jenisUnitKosong" id="jenisUnitKosong" value="$!mk.jenisUnit" />
            			</td>
            		</tr>
					<tr bgcolor="#D0CFCE">
            			<td><b>Gred Minimum Kelayakan</b></td>
            			<td align="center">
            				$!mk.gredKelayakan #if( $!mk.flagCheckWaktuPuncak.equals(true) ) <span style='color:blue'>**</span> #end
            				<input type="hidden" name="kadarSewaKosong" id="kadarSewaKosong" value="$!mk.kadarSewa" />
            			</td>
            		</tr>
            		<tr bgcolor="#F0F0F0">
            			<td><b>Kadar Sewa Semalam</b></td>
            			<td align="center">
            				RM $!mk.kadarSewa #if( $!mk.flagCheckWaktuPuncak.equals(true) ) <span style='color:blue'>**</span> #end
            				<input type="hidden" name="kadarSewaKosong" id="kadarSewaKosong" value="$!mk.kadarSewa" />
            			</td>
            		</tr>
            		<tr bgcolor="#D0CFCE">
            			<td><b>Had Tempahan</b></td>
            			<td align="center">
            				$!mk.hadKuantiti
            				<input type="hidden" name="hadKuantitiKosong" id="hadKuantitiKosong" value="$!mk.hadKuantiti" />
            			</td>
            		</tr>
            		<tr bgcolor="#F0F0F0">
            			<td><b>Had Bilangan Dewasa</b></td>
            			<td align="center">
            				$!mk.hadDewasa
            				<input type="hidden" name="hadDewasaKosong" id="hadDewasaKosong" value="$!mk.hadDewasa" />
            			</td>
            		</tr>
            		<tr bgcolor="#D0CFCE">
            			<td><b>Had Bilangan Kanak-Kanak</b></td>
            			<td align="center">
            				$!mk.hadKanakKanak
            				<input type="hidden" name="hadKanakKanakKosong" id="hadKanakKanakKosong" value="$!mk.hadKanakKanak" />
            			</td>
            		</tr>
					#if( $!mk.flagCheckWaktuPuncak.equals(true) )
					<tr>
						<td colspan="2"><span style='color:blue'>** Waktu puncak</span></td>
					</tr>
					#end
            	</table>
			</td>
			<td width="50%" style="padding-left:0.3cm;padding-right:0.3cm" valign="top">
				<!--
				#if ($listGambar.size() > 0)
					<div style="width:100%;height:150;overflow:auto"> 
    					#foreach ($i in $listGambar)
        				<div style="float:right;padding:0.1cm">
        					<a href="../download?file=$!uploadDir$!i.photofilename"> 
                    			#if ($i.thumbfilename != "") 
                    				<img style="border:1px solid black;width:120px;height:120px;margin:4px 0 4px;" width="120px" height="120px" id="photoImg" src="../download?file=$!uploadDir$i.thumbfilename" border="0" /> 
                    			#else 
                    				#set($photofilename = $!i.photofilename.substring($!i.photofilename.lastIndexOf('/'))) 
                    				<span class="print">$!photofilename</span> 
                    			#end 
                    		</a>
        				</div>
    					#end
					</div>
				#end
				-->
			</td>
		</tr>
	</table>
	
</fieldset>	
		

<!--
<fieldset>
<legend class="legend">KEMUDAHAN YANG DISEDIAKAN</legend>

	<table width="100%" cellpadding="2" cellspacing="2">
		
		<tr>
			<td class="row_header" width="5%">Bil.</td>
			<td class="row_header" width="30%">Jenis Kemudahan</td>
			<td class="row_header" width="10%">Kuantiti</td>
			<td class="row_header" width="20%">Kadar Sewa (RM)</td>
			<td class="row_header" width="35%">Catatan</td>
		</tr>
		
		#if ( $jenisUnitRPP.peranginan.listKemudahan.size() > 0 )
    		#set ( $count = 0 )
    		#foreach( $d in $jenisUnitRPP.peranginan.listKemudahan )
    			
    			#set ( $count = $count + 1)
            	#if ( $count % 2 == 0 ) 
        			#set ( $rowcolor = "#D0CFCE" ) 
        		#else 
        			#set ( $rowcolor = "#F0F0F0" ) 
				#end
				
        		<tr bgcolor="$rowcolor">
        			<td align="center">$count</td>
            		<td align="center">$!d.nama.toUpperCase()</td>
            		<td align="center">$!d.bilangan</td>
        			<td align="center">$!util.formatDecimal($!d.kadarSewa)</td>
        			<td align="center">$!d.catatan.toUpperCase()</td>
                </tr>
			#end
		#else
			<tr bgcolor="#F0F0F0">
				<td colspan="5">Tiada Rekod</td>
			</tr>
		#end
		
	</table>

</fieldset>
-->

#set($disabledFieldKosong = "")
#set($mandatoryKosong = "<span style='color:#FF2A00'>*</span>")
#if($!mk.totalOfAvailable == 0)
	#set($disabledFieldKosong = "disabled")
	#set($mandatoryKosong = "")
#end	


<fieldset>
<legend class="legend">MAKLUMAT TEMPAHAN</legend>
    
	<table width="100%" cellpadding="2" cellspacing="2">
		<tr>
			<td width="50%" valign="top">
				<table width="100%" cellpadding="2" cellspacing="2">
					<tr>
						<td width="23%" valign="top">Bil. Dewasa $mandatoryKosong</td>
						<td width="5%" valign="top">:</td>
						<td width="72%" valign="top">
							<input style="width:50%" $disabledField $disabledFieldKosong type="text" id="bilDewasa" class="number" name="bilDewasa" value="$!r.bilDewasa" onKeyUp="$('err_bilDewasa').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
							<div id="err_bilDewasa" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
						</td>
					</tr>
					<tr>
						<td valign="top">Tambahan Dewasa</td>
						<td valign="top">:</td>
						<td valign="top">
							<input style="width:50%" $disabledField $disabledFieldKosong type="text" id="bilTambahanDewasa" class="number" name="bilTambahanDewasa" value="$!r.bilTambahanDewasa" onKeyUp="$('err_bilTambahanDewasa').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
							<div style="color:blue;font-size:10px">(caj tambahan sebanyak RM$!extbedcharge seorang)</div>
						</td>
					</tr>
				</table>
			</td>
			<td width="50%" valign="top">
				<table width="100%" cellpadding="2" cellspacing="2">
					<tr>
						<td width="23%" valign="top">Bil. Kanak-Kanak</td>
						<td width="5%" valign="top">:</td>
						<td width="72%" valign="top">
							<input style="width:50%" $disabledField $disabledFieldKosong type="text" id="bilKanakKanak" class="number" name="bilKanakKanak" value="$!r.bilKanakKanak" onKeyUp="$('err_bilKanakKanak').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
							<div id="err_bilKanakKanak" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
						</td>
					</tr>
					<tr>
						<td valign="top">Bilangan Unit $mandatoryKosong</td>
						<td valign="top">:</td>
						<td valign="top">
							<input style="width:50%" $disabledField $disabledFieldKosong type="text" id="kuantiti" class="number" name="kuantiti" value="$!r.kuantiti" onKeyUp="$('err_kuantiti').innerHTML='';at(this, event)" onBlur="this.value=this.value.toUpperCase();">
							<div id="err_kuantiti" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
</fieldset>	


#if(!$!r.noTempahan)
<table width="100%">
	<tr>
		<td align="right">
			#if($disabledFieldKosong != "disabled")
				##<input id="btnRecordTemplateSave"  type="button" value="Tempah Sekarang" onClick="doSaveMaklumatPemohon('$!r.id','$!userRole')">
				<input id="btnTempahSekarang"  type="button" value="Tempah Sekarang" />
			#else
				<span style='color:#FF2A00'><b>Maaf, Tiada Kekosongan Pada Tarikh Berkenaan.</b></span>
			#end
			##<input id="btnClearForm" type="button" value="Kosongkan" onClick="doKosongkanFormPemohon('$!userRole')">
    		##<input id="btnBack" type="button" value="Kembali" onClick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
		</td>
	</tr>
</table>
#end

<div id="popupTempahSekarang" class="popup"></div>

<script>
	var userRole = "$!userRole";
	_jq('#btnTempahSekarang').on('click', function(){
		if ( validateMaklumatPemohon(userRole) ){ ##code validate dalam script
			doDivAjaxCall3$formname('popupTempahSekarang','openPopupTempahSekarang','idPeranginan=$!jenisUnitRPP.peranginan.id');
     		jQuery('#popupTempahSekarang').fadeIn();
		}
  	});
</script>


<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>