
	
#if( $r.statusBayaran == "T")
	<table cellpadding="5" cellspacing="0" border="0" width="100%" style="margin-top: 10px;">
		<tr>
			<td style="background: #22C322; color: #FFF; font-weight: bold; box-shadow: 0px 2px 5px #999;">
			#if( $!r.status.id == "1430809277096" )
				PERMOHONAN TELAH DIHANTAR KE HQ BAGI PROSES KELULUSAN DARI SUB. 
			#elseif( $!r.status.id == "1430809277102" )
				PERMOHONAN TELAH DILULUSKAN. SILA TERUSKAN PROSES BAYARAN.
			#elseif( $!r.status.id == "1430809277099" )
				PERMOHONAN TIDAK DILULUSKAN. 
			#end
			(No. Tempahan : $!r.noTempahan)
			</td>
		</tr>
	</table>
#end	