<fieldset>
<legend class="legend">Maklumat Sub Bantuan</legend>
<table width="100%">
	<tr>
		<td style="width:200px"></td>
		<td style="width:10px"></td>
		<td></td>
	</tr>
	<input type="hidden" name="idSubBantuan" id="idSubBantuan" value="$!subBantuan.id">
	
	#input_required("tajukSubBantuan" "Tajuk" "$!subBantuan.tajuk")
	#textarea_no_case("butiranSubBantuan" "Butiran" "$!subBantuan.butiran")
	#if ($!subBantuan.tarikhLuput) 
		#set ($dateLuput = "$!util.getDateTime($!subBantuan.tarikhLuput,'dd-MM-yyyy')")
	#else 
		#set ($dateLuput = "") 
	#end
	<tr>
		<td class="label" valign="top">Status &nbsp;<span style="color:#FF2A00">*</span></td>
		<td valign="top">:</td>
		<td>
			#parse("$path/subBantuan/selectFlagAktif.vm")
			<div id="err_flagAktifSubBantuan" style="color:#CC0000;font-weight:bold;border:2px #000">
		</td>
	</tr>
	<tr>
		<td>Muatnaik</td>
		<td>:</td>
		<td>
			<table width="100%">
				<tr>
					<td align="left">
						#if ($!subBantuan) 
							<a href="../download?file=$!uploadDir$!subBantuan.fileName" > 
								<span class="print"><strong>MUAT TURUN DOKUMEN</strong><span> 
							</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						#end          	
						<input type="file" id="dokumen" name="dokumen">
						<div id="err_dokumen" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
						<div id="dokumenMuatnaik" style="display:none"> 
							<img src="../img/indicator.gif"> <span style="font-weight:bold;color:#008000;">Sedang Muatnaik...</span> 
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>
			#if ($!command == 'daftarSubBantuan')
				<input id="btnSimpan" name="btnSimpan" type="button" value="Simpan" onclick="javascript:simpanSubBantuan();"/>
				<input id="btnBatal" name="btnBatal" type="button" value="Batal" onclick="doDivAjaxCall3$formname('divTab','getSubBantuan','')"/>
			#elseif ($!command == 'kemaskiniSubBantuan')
				<input id="btnKemaskini" name="btnKemaskini" type="button" value="Kemaskini" onclick="javascript:simpanKemaskiniSubBantuan();"/>
				<input id="btnBatal" name="btnBatal" type="button" value="Batal" onclick="doDivAjaxCall3$formname('divTab','getSubBantuan','')"/>
			#end
		</td>
	</tr>
	</table>
</fieldset>
