<select id="flagAktifSubBantuan" name="flagAktifSubBantuan" style="width:180px" onChange="$('err_flagAktifSubBantuan').innerHTML=''; at(this, event);">
	<option value="">SILA PILIH</option>
    <option value="Y" #if ($!subBantuan.flagAktif == 'Y') selected #end>AKTIF</option>
    <option value="T" #if ($!subBantuan.flagAktif == 'T') selected #end>TIDAK AKTIF</option>
</select>