<td>$!r.id</td>
<td>$!r.userName</td>
#if ($!r.dateRegistered) 
	#set ($dateDaftar = "$!util.getDateTime($!r.dateRegistered,'dd-MM-yyyy hh:mm:ss a')")
#else #set ($dateDaftar="") #end
<td  align="center">$dateDaftar</td>
#if ($!r.lastLoginDate) 
	#set ($dateAkhirLogMasuk = "$!util.getDateTime($!r.lastLoginDate,'dd-MM-yyyy hh:mm:ss a')")
#else #set ($dateAkhirLogMasuk="") #end
<td  align="center">$dateAkhirLogMasuk</td>