<select class="input-style" style="width:100%" type="text" id="idGredPerkhidmatan" name="idGredPerkhidmatan" onChange="$('err_idGredPerkhidmatan').innerHTML=''; at(this, event);" >
	<option value="">SILA PILIH</option>
    	#foreach ( $n in $selectGredPerkhidmatan )
        	<option value="$n.id" #if ($!pengguna.gredPerkhidmatan.id == $n.id || $!r.gredPerkhidmatan.id == $n.id) selected #end >$n.keterangan</option>
        #end
</select>