<select class="input-style" id="idBandar" style="width:100%" name="idBandar" onChange="$('err_idBandar').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectBandar )
        <option value="$n.id" #if ($!pengguna.bandar.id == $n.id || $!r.bandar.id == $n.id) selected #end>$n.keterangan</option>
    #end
</select>
