<select class="input-style" style="width:100%" type="text" id="idGelaran" name="idGelaran" onChange="$('err_idGelaran').innerHTML=''; at(this, event);" >
  <option value="">SILA PILIH</option>
	#foreach ( $n in $selectGelaran )
    	<option value="$n.id" #if ($!pengguna.gelaran.id == $n.id || $!r.gelaran.id == $n.id) selected #end>$n.keterangan</option>
  	#end
</select>
