#if ($!success == 'Y')
<table width="100%" border="0">
  <tr>
    <td><font color="blue"> <b> KEMASKINI MAKLUMAT PENGGUNA BERJAYA<u> </b> </font> </td>
  </tr>
</table>
#elseif ($!success == 'T')
<table width="100%" border="0">
  <tr>
    <td><font color="red"> <b> KEMASKINI MAKLUMAT PENGGUNA GAGAL<u> </b> </font> </td>
  </tr>
</table>
#end