
##<td class="record_header" >No. Tempahan<img src="../img/sortdown.png" class="sorting" onclick="sort('noTempahan')" /></td>
#if(!$!userRole.equalsIgnoreCase("(RPP) Penyelia"))	
<td class="record_header" >RPP/RP<img src="../img/sortdown.png" class="sorting" onclick="sort('rppPeranginan.namaPeranginan')" /></td>
#end
#if(!$!userRole.equalsIgnoreCase("(AWAM) Penjawat Awam"))	
<td class="record_header" >Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.userName')" /></td>
<td class="record_header" >No. KP<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.noKP')" /></td>
#end
<td class="record_header" >Tarikh Masuk <br/>- Tarikh Keluar<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMasukRpp')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status.keterangan')" /></td>
<td class="record_header" >Status Bayaran<img src="../img/sortdown.png" class="sorting" onclick="sort('statusBayaran')" /></td>




