<select id="idJenisRayuan" name="idJenisRayuan" style="width:100%" onChange="$('err_idJenisRayuan').innerHTML=''; at(this, event);" >
    <option value="">SILA PILIH</option>
    #foreach( $jr in $selectJenisRayuan )
        <option #if ( $jr.id ==  $!r.jenisRayuan.id ) selected #end value="$jr.id">$jr.keterangan.toUpperCase()</option>
    #end
</select>