<input type="hidden" id="idJenisPeringatan" name="idJenisPeringatan" value="$flagPeringatan">
#if($idJenisNotis == '1')
<table width="100%">
	<tr>
		<td style="width:150px"></td>
		<td style="width:10px"></td>
		<td></td>
	</tr>
	<tr>
	   <td class="label">Jenis Peringatan</td>
	   <td>:</td>
	   <td><b>
	      #if($flagPeringatan == '1')
	      	PERINGATAN PERTAMA
	      #else
	      	PERINGATAN KE-$flagPeringatan
	      #end</b>
	   </td>
	</tr>
<table>
#end