<td class="record_header">Tarikh Aduan<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhAduan')" /></td>
<td class="record_header">Jenis Kerosakan<img src="../img/sortdown.png" class="sorting" onclick="sort('barangDeposit.nama')" /></td>
<td class="record_header">Keterangan<img src="../img/sortdown.png" class="sorting" onclick="sort('keterangan')" /></td>
<td class="record_header">Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status.keterangan')" /></td>	