<div id="content-main-format">
	<header>$header</header>
	<table id="content-body-format" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td id="content-left-menu" valign="top" align="right">
				<div id="left"></div>
			</td>
			<td rowspan="2" id="content-right-menu" valign="top">
				<div id="content"></div>
			</td>
			<td rowspan="2">
            	<div id="social-icon">
                	#parse("bph/portal/main/social-icon.vm")
                </div>			
			</td>
		</tr>
		### START PERKHIDMATAN - PERLU REVISE
		<tr>
			<td id="content-left-bottom" valign="top">
				<div class="menu-bottom">
					<table cellpadding="5" cellspacing="0" border="0">
        				<tr>
        					<td>
##        						<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=Kuarters')">
##        							<img src="../images/01.png" width="141" />
##        						</a>
								<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=PerkhidmatanKuarters')">
									<img src="../images/01.png"/>
								</a>
        					</td>
    					</tr>
    					<tr>
        					<td>
##        						<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=Penyelenggaraan Kuarters')">
##        							<img src="../images/02.png" width="141" />
##        						</a>
								<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=PenyelenggaraanKuarters')">
									<img src="../images/02.png" />
								</a>
        					</td>
    					</tr>
    					<tr>
        					<td>
##        						<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=Dewan Gelanggang')">
##        							<img src="../images/03.png" width="141" />
##        						</a>
								<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=PerkhidmatanDewanGelanggang')">
									<img src="../images/03.png" />
								</a>
        					</td>
    					</tr>
    					<tr>
        					<td>
##        						<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=Ruang Pejabat')">
##        							<img src="../images/04.png" width="141" />
##        						</a>
								<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=PerkhidmatanRuangPejabat')">
									<img src="../images/04.png" />
								</a>
        					</td>
    					</tr>
    					<tr>
        					<td>
##        						<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=Rumah Peranginan')">
##        							<img src="../images/05.png" width="141" />
##        						</a>
								<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=PerkhidmatanRumahPeranginan')">
									<img src="../images/05.png" />
								</a>
        					</td>
    					</tr>
    					<tr>
        					<td>
##        						<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=e-Aduan')">
##        							<img src="../images/06.png" width="141" />
##        						</a>
								<a href="http://bph.spab.gov.my" target="_blank">
									<img src="../images/06.png" />
								</a>
        					</td>
        				</tr>
        			</table>
				</div>
			</td>
		</tr>
		### END PERKHIDMATAN - PERLU REVISE
	</table>
</div>
	
<script>
	doDivAjaxChainCall$formname('content','$getContent','paramId=$paramId','left','getLeftMenu','leftMenu=$getContent');
</script>
<script src="https://api1-stage.fastagent.io?clientId=610&bot=bph_demo_bot"  />
   
<script>
     

SYMPRIO.Chat().render('body');
   </script>