##----------- Kod Baru data dari database add byzul --------- 
<table width="100%" cellpadding="5" cellspacing="0" border="0">
	    <div>
      <span id='close'>x</span>
      </div>
			<tr>
		<td>
			<span class="titleInfo">Makluman penting:</span>
		</td>
	</tr>
	#foreach($listMakluman in $listMakluman)
		<tr>
			<td>
				$listMakluman.butiran
				<hr />
			</td>
		</tr>
		
	#end
</table>

##----------- Kod Lama --------- 
##<table width="100%" cellpadding="5" cellspacing="0" border="0">
##	    <div>
##      <span id='close'>x</span>
##      </div>
##	<tr>
##		<td>
##			<span class="titleInfo">Makluman penting:</span>
##		</td>
##	</tr>
##	<tr>
##		<td>
##			Sila pastikan anda <a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=PendaftaranAkaun')">mendaftar akaun</a> bagi mengakses semua perkhidmatan di BPH
####			, termasuk permohonan penyewaan Rumah Peranginan Persekutuan
##		</td>
##	</tr>
####	<tr>
####		<td>
####			<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=PendaftaranAkaun')">Klik untuk mendaftar</a>
####		</td>
####	</tr>
##	<tr>
##		<td style="border-top: 1px solid #666">
##			Manual Pengguna boleh didapati dari pautan Bantuan
##		</td>
##	</tr>
##	<tr>
##		<td style="border-top: 1px solid #666">
##			No. Hotline Sistem: <span style="color: #0000FF; font-weight: bold">013-3027600,  03-88800005</span>
##			<br/>Dari Isnin - Jumaat<br />Jam 8.00 a.m - 6.00 p.m
##		</td>
##	</tr>
##	<tr>
##		<td style="border-top: 1px solid #666">
##			Sebarang aduan dan pertanyaan kepada BPH boleh dibuat melalui  
##			<span style="color: #0000FF; font-weight: bold">e-Aduan</span>
##		</td>
##	</tr>
##	<tr>
##		<td style="border-top: 1px solid #666">
##	
####			Untuk makluman <span style="color: #0000FF; font-weight: bold">
####			Pembayaran Secara Online bagi permohonan RPP Sistem Bersepadu BPH </span> telah boleh dilaksanakan bermula 01 Oktober 2015.
##
####			Untuk makluman,<br> <span style="color: #0000FF; font-weight: bold">pendaftaran pengguna</span> tidak dapat dibuat pada masa ini disebabkan terdapat masalah semakan sistem HRMIS bermula 02/10/2015 sehingga dimaklumkan kelak.
##			<H2>Dimaklumkan bahawa <span style="color: #ee200c; font-weight: bold" class="semakMenunggu"><a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=Semak Senarai Menunggu')">Semakan Senarai Menunggu Permohonan Kuarters PUTRAJAYA</a></span> boleh dibuat secara atas talian melalui portal BPH.</H2>
##		</td>
##	</tr>
##	
##</table>
	
<script>
	function blinker() {
        _jq('.titleInfo').fadeOut(750);
        _jq('.titleInfo').fadeIn(750);
        _jq('.semakMenunggu').fadeOut(750);
        _jq('.semakMenunggu').fadeIn(750);
    }
    setInterval(blinker, 1500);
    
##  -------(Star for close this popup) edit byzul--------
    window.onload = function(){
	    document.getElementById('close').onclick = function(){
	        this.parentNode.parentNode.parentNode
	        .removeChild(this.parentNode.parentNode);
	        return false;
	    };
	};
##  -------(End for close this popup)  edit byzul--------
</script>
