<div id="main-body">
	<table border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td>
            	<table cellpadding="5" cellspacing="0" border="0" width="960px" align="center" class="main-body">
                	<tr>
            			<td width="640px">
							#parse("bph/portal/main/slideshow.vm")
            			</td>
                		<td valign="top" align="center">
                			#parse("bph/portal/main/login-input.vm")
                		</td>
                	</tr>
                </table>			
			</td>
			<td>
            	<div>
                	#parse("bph/portal/main/social-icon.vm")
                </div>			
			</td>
		</tr>
	</table>
</div>

<div id="second-body">
	<table cellpadding="5" cellspacing="0" border="0" width="960px" align="center">
		<tr>
			<td rowspan="2" valign="top">
                <table cellpadding="5" cellspacing="0" border="0" width="635px" align="center" class="second-left-body">
                	<tr>
            			<td valign="top">
            				#parse("bph/portal/main/second-body/second-left-body.vm")
            			</td>
                	</tr>
                </table>
			</td>
			<td>
				<table cellpadding="5" cellspacing="0" border="0" width="315px" align="center" class="second-right-body">
                	<tr>
            			<td valign="top">
            				#parse("bph/portal/main/second-body/second-right-body.vm")
            			</td>
                	</tr>
                </table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="5" cellspacing="0" border="0" width="315px" align="center" class="second-right-bottom-body">
                	<tr>
            			<td>
            				#parse("bph/portal/main/second-body/second-right-bottom-body.vm")
            			</td>
                	</tr>
                </table>
			</td>
		</tr>
	</table>
</div>