<ul id="navigation">
	<li>
		<a href="https://www.facebook.com/BPHJPM" target="_blank">
			<div class="facebook-icon"></div>
			<span>Facebook</span>
		</a>
	</li>
	<li>
		<a href="http://instagram.com/bphjpm" target="_blank">
			<div class="instagram-icon"></div>
			<span>Instagram</span>
		</a>
	</li>
	<li>
		<a href="https://twitter.com/BPH_JPM" target="_blank">
			<div class="twitter-icon"></div>
			<span>Twitter</span>
		</a>
	</li>
</ul>