<nav class="breadcrumbs">
    <ul>
        <li #if($!selectedSubTab=='1') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='1') onClick="doDivAjaxCall3$formname('mainPage','getMaklumatPenghuni','')" #end >Maklumat Penghuni</a></li>
##		<li #if($!selectedSubTab=='2') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='2') onclick="doDivAjaxCall3$formname('mainPage','getPelanggaranSyarat','')" #end >Pelanggaran Syarat</a></li>
##		<li #if($!selectedSubTab=='3') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='3') onclick="doDivAjaxCall3$formname('mainPage','getHilangKelayakan','')" #end >Hilang Kelayakan</a></li>
##		<li #if($!selectedSubTab=='4') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='4') onclick="doDivAjaxCall3$formname('mainPage','getABT','')" #end >ABT</a></li>
##		<li #if($!selectedSubTab=='5') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='5') onclick="doDivAjaxCall3$formname('mainPage','getKesPeguam','')" #end >Kes Peguam</a></li>
##		<li #if($!selectedSubTab=='6') class="active" #end><a href="javascript:void()" #if($!selectedSubTab!='6') onclick="doDivAjaxCall3$formname('divTab','getRayuan','')" #end >Rayuan</a></li>
    </ul>	
</nav>
<br/>

#if ($!selectedSubTab=='1')
	#parse("$path/kesalahan/maklumatPesalah/rekod_penghuni.vm")
#end

###if ($!selectedSubTab=='2')
##	#parse("$path/kesalahan/maklumatPesalah/pelanggaranSyarat/start.vm")
###end
##
###if ($!selectedSubTab=='3')
##	#parse("$path/kesalahan/maklumatPesalah/hilangKelayakan/start.vm")
###end
##
###if ($!selectedSubTab=='4')
##	#parse("$path/kesalahan/maklumatPesalah/ABT/start.vm")
###end
##
###if ($!selectedSubTab=='5')
##	#parse("$path/kesalahan/maklumatPesalah/kesPeguam/start.vm")
###end
##
###if ($!selectedSubTab=='6')
##	#parse("$path/kesalahan/maklumatPesalah/rayuan/start.vm")
###end
