
<td>
	<a href="javascript:void()" style="color:blue" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">
		$!r.pemohon.userName.toUpperCase() <span style='color:#FF2A00;font-weight:bold'>&nbsp;$!r.checkVIP()</span>
	</a>
</td>
<td>$!r.pemohon.noKP</td>
<td>$!r.rppPeranginan.namaPeranginan.toUpperCase()</td>
<td>$!util.getDateTime($!r.tarikhMasukRpp,'dd-MM-yyyy') - $!util.getDateTime($!r.tarikhKeluarRpp,'dd-MM-yyyy')</td>
<td>$!r.status.keterangan</td>
