function validate() {
	var err_count = 0;
	return err_count == 0;
}

function doFilterCarianPeranginan(){
	doDivAjaxCall3$formname('divCarianPeranginan','filterCarianRpp','')
}

function doSave(idPermohonan){
	if ( window.confirm("Anda pasti?") ){
		doDivAjaxCall$formname('div_main_entry','save_data','record_id='+idPermohonan);
	}
}

function doKemaskini(idPermohonan){
	if ( window.confirm("Anda pasti?") ){
		doDivAjaxCall$formname('div_main_entry','save_data','record_id='+idPermohonan);
	}
}