
<td><a href="javascript:void()" style="color:blue" onClick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">$!r.id</a></td>
<td>$!r.userName.toUpperCase()</td>
<td align="center">$!util.replaceIfNull($!r.gredPerkhidmatan.keterangan.toUpperCase(),'-')</td>
<td>$!util.replaceIfNull($!r.noTelefon,' -')</td>
<td>$!util.replaceIfNull($!r.noTelefonBimbit,' -')</td>
<td>$!util.replaceIfNull($!r.emel,' -')</td>