<select id="findKelasKuarters" name="findKelasKuarters" style="width:100%" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
    <option value="">SILA PILIH</option>
    #foreach( $fkk in $selectKelasKuarters )
        <option value="$fkk.id">$!fkk.id.toUpperCase()</option>
    #end
</select>
