<object width="400" height="300" id="Pie3D" >
  <param name="quality" value="high" />
  <embed src="../fusioncharts/Charts/Pie3D.swf" flashVars="&dataXML=$xml&chartWidth=400&chartHeight=300" quality="high" width="900" height="400" name="Pie3D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
  </embed>
</object>
