<select id="findNegeri" name="findNegeri" style="width:100%" onChange="doDivAjaxChainCall$formname('findDaerah','findDaerah','','findMukim','findMukim','');">
<option value="">SILA PILIH</option>
#foreach( $n in $selectNegeri )
<option value="$n.id">$n.keterangan.toUpperCase()</option>
#end
</select>
