<fieldset>
<legend class="legend">Gambar</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  <tr>
    <td>Muatnaik</td>
    <td>:</td>
    <td><table width="100%">
        <tr>
          <td align="left"><input type="file" id="gambar" name="gambar" onChange="uploadGambar()">
            <div id="err_gambar" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
            <div id="gambarMuatnaik" style="display:none"> <img src="../img/indicator.gif"> <span style="font-weight:bold;color:#008000;">Sedang Muatnaik...</span> </div></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="center"><div id="refreshList">#parse("$path/subGaleri/listGambar.vm")</div></td>
  </tr>
</table>
<iframe id="upload_gambar" name="upload_gambar" width="0px" height="0px" style="visibility:hidden"></iframe>
</fieldset>
