<select class="texts" id="findKawasan" name="findKawasan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectKawasan )
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>