<td class="record_header" style="width:250px;font-weight:bold">No. Pendaftaran<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.noPendaftaran')" /></td>
<td class="record_header" style="width:350px;font-weight:bold">Nama Kontraktor<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.namaKontraktor')" /></td>
<td class="record_header" style="width:350px;font-weight:bold">Nama Pemilik<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.namaPemilik')" /></td>
<td class="record_header" style="width:150px;font-weight:bold">Kawasan<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.kawasan.keterangan')" /></td>