<select id="idKawasan" name="idKawasan" style="width:100%" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectKawasan )
    	<option #if ( $n.id == $r.kontraktor.kawasan.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>