<select class="texts" id="idSebabPenukaran" name="idSebabPenukaran" style="width:100%" onChange="$('err_idSebabPenukaran').innerHTML='';">
    <option value="">SILA PILIH</option>
    <option value="1" >KONTRAKTOR MENOLAK TUGAS</option>
    <option value="2" >KONTRAKTOR TIDAK DAPAT DIHUBUNGI</option>
    <option value="3" >SIJIL SOKONGAN KONTRAKTOR TELAH TAMAT TEMPOH</option>
</select>
