<table width="80%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
	#input("findTajuk" "Tajuk Mesyuarat" "")
	#input("findBil" "Bil. Mesyuarat" "")
	#date_input("findTarikh" "Tarikh Mesyuarat" "")
</table>