<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Senarai</header>
  <fieldset>
      <section>
		<ul>
			<li><a href="../documents/muat-turun/senarai/pertukaran-penama-kuarters.pdf" download>Senarai Semak Permohonan Pembelian Harta</a></li>
			<li><a href="../documents/muat-turun/senarai/senarai-semak.doc" download>Pertukaran Penama Kuarters</a></li>
		</ul>
    	<br />
    	<hr />
    	<br />
    	<input type="button" class="button-style" value="Kembali" onclick="doDivAjaxCall3$formname('content','getMuatTurunDokumen','')">
    	##<embed src="../images/statistik/statistikOnline.pdf" width="100%" height="500px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
      </section>
  </fieldset>
</div>
