<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Penafian & Hakcipta</header>
  <section>
	<p class="title">Penafian & Notis Hak Cipta Penafian</p>
    <p>Bahagian Pengurusan Hartanah, Jabatan Perdana Menteri tidak bertanggungjawab terhadap sebarang kehilangan atau kerosakan yang dialami kerana menggunakan maklumat di dalam laman ini</p>
  </section>
  <section>
	<p class="title">Notis Hak Cipta</p>
    <p>Hak cipta laman web Bahagian Pengurusan Hartanah, Jabatan Perdana Menteri dan kandunganya yang termasuk maklumat, teks, imej dan susunannya serta bahan-bahannya adalah kepunyaan Bahagian Pengurusan Hartanah, Jabatan Perdana Menteri kecuali dinyatakan sebaliknya. Tiada mana-mana bahagian laman web ini boleh diubah, disalin, diedar, dihantar semula, disiarkan, dipamerkan, diterbitkan, dilesenkan, dipindah, dijual atau diuruskan bagi tujuan komersil dalam apa bentuk sekalipun tanpa mendapat kebenaran secara bertuils yang jelas terlebih dahulu daripada Bahagian Pengurusan Hartanah, Jabatan Perdana Menteri.</p>
  </section>
</div>
