

<td class="record_header" >Nama Modul<img src="../img/sortdown.png" class="sorting" onclick="sort('moduleName')" /></td>
<td class="record_header" >Id Pengguna<img src="../img/sortdown.png" class="sorting" onclick="sort('userID')" /></td>
<td class="record_header" >Tarikh Aktiviti<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhAktiviti')" /></td>
<td class="record_header" >Masa Aktiviti<img src="../img/sortdown.png" class="sorting" onclick="sort('masaAktiviti')" /></td>
<td class="record_header" >Jenis Aktiviti<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisAktiviti')" /></td>
<td class="record_header" >Alamat IP<img src="../img/sortdown.png" class="sorting" onclick="sort('ipAddress')" /></td>
<td class="record_header" >Keterangan<img src="../img/sortdown.png" class="sorting" onclick="sort('keterangan')" /></td>




