<script>
	parent.document.getElementById('uploadLampiranJANM').style.display = "none";
	parent.doDivAjaxCall3$formname('lampiranJANMReload','refreshLampiranJANM','updateLampiranJANMReload=$!lampiranJANMReload');
</script>