<tr>
    <td class="label" valign="top">Nama Kementerian&nbsp;<span style="color:#FF2A00">*</span>
    </td>
    <td valign="top">:</td>
    <td>
        <div id="selectKementerian">
            #parse("$path/sub_page/pekerjaan/selectKementerian.vm")
        </div>
        <div id="err_idKementerian" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
    </td>
</tr>
<tr>
    <td class="label">Nama Jabatan&nbsp;<span style="color:#FF2A00">*</span>
    </td>
    <td>:</td>
    <td>
        <span id="selectJabatan">
            #parse("$path/sub_page/pekerjaan/selectJabatan.vm")
        </span>
        <div id="err_idJabatan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
    </td>
</tr>