
<!--
<nav class="breadcrumbs">
  <ul>
	<li style="padding-right:0.7cm"><a href="javascript:void()" id="linkPopupIr" >Rumah Peranginan</a></li>
	<li><a href="javascript:void()" id="linkPopupUtil" >Utiliti / Gelanggang</a></li>
    <li><a href="javascript:void()" id="linkPopupSRuangKomersil" >Sewa Ruang Kommersial</a></li>
	<li style="padding-right:0.7cm"><a href="javascript:void()" id="linkPopupDepRuangKomersil" >Deposit Ruang Kommersial</a></li>
	<li><a href="javascript:void()" id="linkPopupDepRuangPejabat" >Deposit Ruang Pejabat</a></li>	
	<li><a href="javascript:void()" id="linkSewaRuangPejabat" >Ruang Pejabat</a></li>
	<li><a href="javascript:void()" id="linkRuangPromosiRP" >Ruang Promosi RP</a></li>
  </ul>
</nav>

<nav class="breadcrumbs">
  <ul>
	<li><a href="javascript:void()" id="linkDepositKuarters" >Deposit Kuarters</a></li>
	<li><a href="javascript:void()" id="linkKuartersKumpulan" >Kuarters Kumpulan</a></li>
    <li style="padding-right:0.7cm"><a href="javascript:void()" id="linkBayaranKuarters" >Bayaran Kuarters</a></li>
	##<li><a href="javascript:void()" id="linkBayaranLain" >Bayaran Lain - Lain</a></li>
  </ul>
</nav>
-->

<br/>

<div id="divMainForm">#parse("$path/form/start.vm")</div>


<div id="divUpdateStatus"></div>

##POPUP
<div id="divPopup" class="popup"></div>

<input type="hidden" id="idPembayar" name="idPembayar" value="$!r.id" />

<script>
_jq('#linkPopupIr').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openPopupIr','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkPopupUtil').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openPopupUtiliti','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkPopupSRuangKomersil').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openPopupSRuangKomersil','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkPopupDepRuangKomersil').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openPopupDepRuangKomersil','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkPopupDepRuangPejabat').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openPopupDepRuangPejabat','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkSewaRuangPejabat').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openSewaRuangPejabat','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkRuangPromosiRP').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openRuangPromosiRP','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkDepositKuarters').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openDepositKuarters','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkKuartersKumpulan').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openKuartersKumpulan','');
    jQuery('#divPopup').fadeIn();
});
_jq('#linkBayaranKuarters').on('click', function(){
	doDivAjaxCall3$formname('divPopup','openBayaranKuarters','');
    jQuery('#divPopup').fadeIn();
});

</script>

