<style>
a:link {
	color:#000000;
	background-color:transparent;
	text-decoration:none
}
a:visited {
	color:#000000;
	background-color:transparent;
	text-decoration:none
}
a:hover {
	color:#0000FF;
	background-color:transparent;
	text-decoration:underline
}
a:active {
	color:#0000FF;
	background-color:transparent;
	text-decoration:underline
}
</style>

<td><a href="javascript:void()" title="Klik untuk melihat maklumat lengkap."  onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">$!r.peganganHakmilik</a></td>
##<td>$!r.jenisHakmilik.id $!r.noHakmilik</td>
<td>$!r.noLot</td>
<td>$!r.lokasi.toUpperCase()</td>
<td>$!r.luas $!r.jenisLuas.keterangan.toUpperCase()</td>
<td>
	<b>Negeri :</b> $!r.mukim.daerah.negeri.keterangan<br />
	<b>Daerah :</b> $!r.mukim.daerah.keterangan<br />
  	<b>Mukim :</b> $!r.mukim.keterangan
</td>
<td>$!r.negeri.zon.keterangan</td>
