function validate() {
	var err_count = 0;
	
##	var kementerian = $('idKementerian').value;
##	if ( kementerian == "" ) {$('err_idKementerian').innerHTML = "adalah mandatori!"; err_count++;  }
##	
##	var agensi = $('idAgensi').value;
##	if ( agensi == "" ) {$('err_idAgensi').innerHTML = "adalah mandatori!"; err_count++;  }
	
	var daerah = $('idDaerah').value;
	if ( daerah == "" ) {$('err_idBandar').innerHTML = "adalah mandatori!"; err_count++;  }
	
	var mukim = $('idMukim').value;
	if ( mukim == "" ) {$('err_idMukim').innerHTML = "adalah mandatori!"; err_count++;  }
	
	var cukai = $('cukai').value;
	if ( cukai == "" ) {$('err_cukai').innerHTML = "adalah mandatori!"; err_count++;  }
	
	var cukaiTerkini = $('cukaiTerkini').value;
	if ( cukaiTerkini == "" ) {$('err_cukaiTerkini').innerHTML = "adalah mandatori!"; err_count++;  }
	
	return err_count == 0;
}