<table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
  <tr>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        #input("findPeganganHakmilik", "Pegangan Hakmilik", "")
        <tr>
          <td class="label">Jenis Hakmilik</td>
          <td>:</td>
          <td> #parse("$path/find/findJenisHakmilik.vm") </td>
        </tr>
        #input("findNoHakmilik", "No Hakmilik", "")
        <tr>
          <td class="label">Jenis Lot</td>
          <td>:</td>
          <td> #parse("$path/find/findJenisLot.vm") </td>
        </tr>
        #input("findNoLot", "No Lot", "")
        #input("findLokasi", "Lokasi", "")
      </table></td>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        <tr>
          <td class="label">Zon</td>
          <td>:</td>
          <td> #parse("$path/find/findZon.vm") </td>
        </tr>
        <tr>
          <td class="label">Negeri</td>
          <td>:</td>
          <td> #parse("$path/find/findNegeri.vm") </td>
        </tr>
        <tr>
          <td class="label">Daerah</td>
          <td>:</td>
          <td> #parse("$path/find/findDaerah.vm") </td>
        </tr>
        <tr>
          <td class="label">Mukim</td>
          <td>:</td>
          <td> #parse("$path/find/findMukim.vm") </td>
        </tr>
        <tr>
          <td class="label">Status Hakmilik</td>
          <td>:</td>
          <td> #parse("$path/find/findStatusHakmilik.vm") </td>
        </tr>
      </table></td>
  </tr>
</table>
