<td class="record_header" >Pusat Terima<img src="../img/sortdown.png" class="sorting" onclick="sort('pusatTerima.unit')" /></td>
<td class="record_header" >Jawatan<img src="../img/sortdown.png" class="sorting" onclick="sort('jawatan')" /></td>
<td class="record_header" >ID Juruwang<img src="../img/sortdown.png" class="sorting" onclick="sort('juruwang.id')" /></td>
<td class="record_header" >Nama Juruwang<img src="../img/sortdown.png" class="sorting" onclick="sort('juruwang.userName')" /></td>
<td class="record_header" >Kod Juruwang<img src="../img/sortdown.png" class="sorting" onclick="sort('kodJuruwang')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('flagAktif')" /></td>