<td>$!r.pusatTerima.kodPusatTerima - $!r.pusatTerima.unit</td>
<td>$!r.jawatan</td>
<td>$!r.juruwang.id</td>
<td>$!r.juruwang.userName.toUpperCase()</td>
<td>$!r.kodJuruwang</td>
<td>$!r.getKeteranganFlagAktif()</td>