<select id="idPusatTerima" name="idPusatTerima" style="width:100%" onChange="$('err_idPusatTerima').innerHTML='';">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPusatTerima )
    	$n.id
    	<option value="$n.id" #if ($!idPusatTerima == $n.id) selected #end>$n.kodPusatTerima.toUpperCase() - $n.unit.toUpperCase()</option>
    #end
</select>