#parse("bph/dashboard/style.vm")
#parse("$path/script.vm")
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="60%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/myprofile.png"  width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Profil</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoKataLaluan()" class="help" title="Tukar Kata Laluan">
                              <li><font color="blue" style="font-size:110%">&nbsp;Tukar Kata Laluan</font></li>
                              </a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoProfile()" class="help" title="Profil Pengguna">
                              <li><font color="blue" style="font-size:110%">&nbsp;Profil Pengguna</font></li>
                              </a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        ### LAYER 2 - 1

        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub"> 
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Jawatankuasa Ruang Pejabat (JRP)</b></td>
                          </tr>
                          <tr>
                            <td ><a href="javascript:gotoSenaraiHakmilik()" class="help" title="Jumlah HakMilik Tanah"><font color="black">
                              <li>&nbsp;<font color="blue" style="font-size:110%">Senarai Maklumat Pemohon/Penyewa Baru J/K Ruang Pejabat <b></font><font color="red">(0)</b></font></li>
                              </font></td>
                          </tr>
                          <tr>
                           ##link
                          </tr>
                          <tr>
                           ##link
                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Jawatankuasa Ruang Komersil (JRK)</b></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSenaraiKuartersKosong()" class="help" title="Jumlah Kuarters Kosong"><font color="black">
                              <li>&nbsp;<font color="blue" style="font-size:110%">Senarai Maklumat Pemohon/Penyewa Baru <b></font><font color="red">(0)</b></font></li>
                              </font></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:gotoSenaraiKuartersBerpenghuni()" class="help" title="Jumlah Kuarters Berpenghuni"><font color="black">
                              <li>&nbsp;<font color="blue" style="font-size:110%">Senarai Ruang Komersil Mengikut Bangunan(Zon)/Jenis Ruang.<b></font><font color="red">(0)</b></font></li>
                              </font></td>
                          </tr>
                          <tr>
                            ##link
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        ## LAYER 2 - 2
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Bangunan Gunasama (BGS)</b></td>
                          </tr>
                          <tr>
                             ##link
                          </tr>
                          <tr>
                             ##link
                          </tr>
                       
                          <tr>
                            <td>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
       </tr>
        
      </table></td>
  </tr>
</table>
