
<td class="record_header" >Tajuk<img src="../img/sortdown.png" class="sorting" onclick="sort('tajuk')" /></td>
<td class="record_header" >Unit<img src="../img/sortdown.png" class="sorting" onclick="sort('unit')" /></td>
<td class="record_header" >Jenis Perolehan<img src="../img/sortdown.png" class="sorting" onclick="sort('kodJenisPerolehan.keterangan')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('idStatus.keterangan')" /></td>
<td class="record_header" align="center">Hantar<br/>Untuk Disokong</td>