<br />
<table cellpadding="5" cellspacing="0" border="0" align="center">
    <tr>
        <td align="center" style="border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
            <a href="javascript:void()" onclick="doDivAjaxCall3$formname('tabs-2','getPenginapanBukitFraser','')">
                <img src="../images/rumahPenginapan/rumahPenginapanFraser/main.jpg" height="150px" width="275px" />
            </a>
        </td>
        <td align="center" style="border-top: 1px solid #CCC; border-right: 1px solid #CCC;">
            <a href="javascript:void()" onclick="doDivAjaxCall3$formname('tabs-2','getPenginapanTanjungTuan','')">
                <img src="../images/rumahPenginapan/rumahPenginapanTanjungTuan/main.jpg" height="150px" width="275px" />
            </a>
        </td>
    </tr>
    <tr>
        <td align="center" style="border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
            <span>RP Bukit Fraser (The Lodge)</span>
        </td>
        <td align="center" style="border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;">
            <span>RP Tanjung Tuan</span>
        </td>
    </tr>
    <tr>
        <td align="center" style="border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
            <a href="javascript:void()" onclick="doDivAjaxCall3$formname('tabs-2','getPenginapanCameron','')">
                <img src="../images/rumahPenginapan/rumahPenginapanCameron/main.jpg" height="150px" width="275px" />
            </a>
        </td>
        <td align="center" style="border-right: 1px solid #CCC;">
            <a href="javascript:void()" onclick="doDivAjaxCall3$formname('tabs-2','getPenginapanSingapura','')">
                <img src="../images/rumahPenginapan/rumahPenginapanSingapura/1.jpg" height="150px" width="275px" />
            </a>
        </td>
    </tr>
    <tr>
        <td align="center" style="border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
            <span>RP Cameron Highlands</span>
        </td>
        <td align="center" style="border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;">
            <span>RP Singapura</span>
        </td>
    </tr>
    <tr>
        <td align="center" style="border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
            <a href="javascript:void()" onclick="doDivAjaxCall3$formname('tabs-2','getPenginapanLabuan','')">
                <img src="../images/rumahPenginapan/rumahPenginapanLabuan/1.jpg" height="150px" width="275px" />
            </a>
        </td>
        <td align="center" style="border-right: 1px solid #CCC;">
            <a href="javascript:void()" onclick="doDivAjaxCall3$formname('tabs-2','getPenginapanLondon','')">
                <img src="../images/rumahPenginapan/rumahPenginapanLondon/2.jpg" height="150px" width="275px" />
            </a>
        </td>
    </tr>
    <tr>
        <td align="center" style="border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;">
            <span>RP Labuan</span>
        </td>
        <td align="center" style="border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;">
            <span>RP London</span>
        </td>
    </tr>
</table>
<br />