<script>
    _jq(function() {
    	_jq( "#tabs" ).tabs({
			show: { effect: "fade", duration: 1500 }
		});
    });
</script>

<header>Rumah Transit</header>
<section>
	<div id="tabs">
        <ul>
            <li><a href="#tabs-1">Info</a></li>
			<li><a href="#tabs-2">Lokasi</a></li>
##			<li><a href="#tabs-3">Syarat-Syarat</a></li>
##			<li><a href="#tabs-4">Urusan Pendaftaran</a></li>
			<li><a href="#tabs-5">Kadar Sewa</a></li>
        </ul>
        <div id="tabs-1">
			<p>Rumah Transit adalah merupakan rumah penginapan sementara untuk kegunaan pegawai dan kakitangan Perkhidmatan Awam Persekutuan dan Negeri;</p>
			<ol type="i">
				<li>penginapan pegawai dan kakitangan yang baru dilantik sementara urusan penempatan dilaksanakan oleh Kementerian/Jabatan;</li>
				<li>penginapan pegawai dan kakitangan yang baru dilantik atau ditukarkan sementara mendapat rumah sewa atau kuarters;</li>
				<li>penginapan pegawai dan kakitangan yang bertugas di luar kawasan;</li>
				<li>penginapan peserta-peserta program anjuran Kementerian/ Jabatan/Agensi Kerajaan;</li>
				<li>penginapan keluarga pegawai dan kakitangan yang berkunjung ke Putrajaya (bagi pegawai dan kakitangan yang berkhidmat di Putrajaya); dan</li>
				<li>penginapan sementara bagi penghuni kuarters yang mengalami bencana (contoh: kebakaran) yang menyebabkan kuarters tidak dapat diduduki.</li>
			</ol>
			<p>Kemudahan Rumah Transit ini diuruskan oleh Seksyen Pengurusan Rumah Peranginan di Bahagian Pengurusan Hartanah bermula pada 1 Julai 2009. Pada masa kini, terdapat sejumlah 37 unit Rumah Transit yang terdiri daripada dua (2) unit Rumah Teres jenis Semi-D yang terletak di Presint 11, Putrajaya ,1 buah rumah teres di Labuan dan selebihnya merupakan Rumah Apartmen 3 bilik terletak di pelbagai lokasi.</p>
			<p>
				<ul>
					<li>Rumah Transit adalah merupakan satu kemudahan tempat menginap sementara yang disediakan oleh Bahagian Pengurusan Hartanah (BPH)</li>
					<li>Anggota perkhidmatan awam yang layak untuk memohon menginap di Rumah Transit adalah seperti berikut :
						<ul>
        					<li>Perkhidmatan Awam Persekutuan</li>
                        	<li>Perkhidmatan Awam Negeri</li>		
						</ul>
					</li>
					<li>Rumah Transit terdapat di enam (6) lokasi berikut :
                        <ul>
                        	<li>Putrajaya (Semi-D & Apartmen)</li>
                        	<li>KKKA Jalan Duta, Kuala Lumpur</li>
                        	<li>KKKA Jalan U-Thant, Kuala Lumpur</li>
##                        	<li>KKKA KLIA, Sepang</li>
                        	<li>KKKA Tanjung Kupang, Johor</li>
                        	<li>Labuan (Banglo)</li>
							<li>Port Dickson, Negeri Sembilan</li>
                        </ul>
					</li>
					<li>Rumah Transit yang akan dibuka berikut:
    					<ul>
                         	<li>KKKA Jalan Ang Seng, Kuala Lumpur</li>
                        </ul>  
					</li>
                </ul>
			</p>
			<p class="title">Cara Memohon</p>
			<p>Anggota Perkhidmatan Awam yang ingin menggunakan kemudahan ini perlu memohon secara <a href="#" style="text-decoration: none; color: #0000FF; font-weight: 700" onclick="doDivAjaxCall3$formname('content','getPermohonanLogin','')">online</a></p>
        </div>
		<div id="tabs-2">
			#parse("$path/rumahPeranginan/rumahTransitSub.vm")
        </div>
##		<div id="tabs-3">
##			<p class="title">Syarat-Syarat Menduduki Rumah Transit</p>
##			<p>Pegawai/kakitangan awam yang menduduki rumah transit perlu mematuhi syarat-syarat menginap yang ditetapkan.</p>
##			<ol type="i">
##				<li>Tetamu yang diluluskan penginapan hendaklah mendudukinya sendiri dan tidak boleh ditukar ganti kepada orang lain.</li>
##				<li>Tetamu hendaklah memeriksa senarai inventori dalam unit yang dihuni dan melaporkan segera kepada petugas BPH jika terdapat peralatan yang rosak ataupun tidak ada, seperti yang disenaraikan.</li>
##				<li>Tetamu hendaklah memastikan segala peralatan, perkakasan perabot dan kemasan yang dilengkapkan di Rumah Transit digunakan dengan baik.</li>
##				<li>Tetamu hendaklah menjaga kebersihan premis yang diduduki termasuk kawasan persekitran Rumah Transit BPH dan membuang sampah pada tong sampah yang disediakan.</li>
##				<li>Tetamu hendaklah memaklumkan kepada pihak BPH sekiranya berlaku sebarang kesulitan semasa atau sebelum menduduki Rumah Transit BPH.</li>
##				<li>Tetamu perlu mengambil langkah berjimat cermat dengan memastikan suis lampu, kipas, pili air dan peralatan elektrik (kecuali peti sejuk) ditutup ketika hendak meninggal bilik.</li>
##				<li>Tetamu adalah dilarang membawa masuk semua jenis binatang termasuk binatang peliharaan.</li>
##				<li>Tetamu adalah dilarang membawa masuk makanan dan minuman yang tidak halal.</li>
##				<li>Tetamu adalah dilarang mengadakan aktiviti yang bertentangan dengan kezaliman sosial dan kegiatan yang menyalahi undang-undang seperti perjudian, maksiat dan sebagainya.</li>
##				<li>Tetamu adalah dilarang memasak makanan di dalam premis.</li>
##				<li>Tetamu adalah dilarang memasang lingkaran perangkap ubat nyamuk.</li>
##			</ol>
##			<p class="title">Syarat-Syarat Memohon Rumah Transit</p>
##			<p>Anggota Perkhidmatan Awam yang ingin menggunakan kemudahan ini perlu memohon secara online</p>
##			<ol type="i">
##				<li>Anggota Perkhidmatan Awam Persekutuan, Negeri dan Agensi Kerajaan.</li>
##				<li>Pemohon boleh memohon maksimum 2 (Dua) unit Apartment sahaja pada satu-satu masa.</li>
##				<li>Permohonan berkelompok dari Kementerian/Jabatan dan Agensi Kerajaan tiada had maksimum dikenakan.
##					<ul style="list-style-type: circle">
##						<li>Permohonan perlulah menggunakan surat rasmi jabatan.</li>
##					</ul>
##				</li>
##				<li>Teres Semi-D dikhaskan untuk pegawai Gred 48 dan ke atas.</li>
##				<li>Permohonan jenis bilik tidak boleh bercampur lelaki/perempuan/pasangan suami-isteri</li>
##				<li>Tempoh menginap maksimum yang dibenarkan adalah 14 (empat belas) hari sahaja.</li>
##				<li>Kelulusan permohonan bergantung kepada kekosongan yang ada.</li>
##				<li>Bayaran perlu dijelaskan dalam tempoh 7 (tujuh) hari dari kelulusan. Bayaran boleh dibuat secara tunai </li>
##				<li>Hanya tetamu yang diluluskan sahaja dibenarkan untuk mengambil kunci dan tidak boleh diwakilkan oleh orang lain. Suami/isteri dibenarkan.</li>
##				<li>Waktu masuk ( Check-In) adalah seperti berikut:-
##					<ul style="list-style-type: square">
##						<li>2.00 petang hingga 7.00 petang (Isnin &ndash; Khamis)</li>
##						<li>2.45 petang hingga 7.00 petang (Jumaat)</li>
##						<li>2.00 petang hingga 5.00 petang (Sabtu &ndash; Ahad/Cuti Umum)</li>
##						<li>** <i>BPH tidak bertanggungjawab untuk menyerahkan kunci sekiranya tetamu tidak mendaftar masuk pada masa yang telah ditetapkan</i></li>
##					</ul>
##				</li>
##				<li>Waktu Keluar (Check&ndash;Out) adalah seperti berikut:-
##					<ul>
##						<li>12.00 Tengahari</li>
##					</ul>
##				</li>
##			</ol>
##			
##			<p class="title">Kelayakan keutamaan bagi menggunakan Rumah Transit</p>
##			<ol type="i">
##				<li>Penginapan sementara bagi pegawai dan kakitangan yang baru dilantik atauditukar sementara menunggu urusan penempatan dilaksanakan oleh Kementerian/Jabatan;</li>
##				<li>Penginapan sementara bagi pegawai dan kakitangan sementara mendapat rumah sewa atau kuarters;</li>
##				<li>Penginapan sementara bagi penghuni kuarters yang mengalami bencana (contoh : kebakaran) yang menyebabkan kuarters tidak dapat diduduki;</li>
##				<li>Penginapan peserta-peserta program anjuran Kementerian/Jabatan/Agensi Kerajaan;dan</li>
##				<li>Penginapan keluarga pegawai dan kakitangan yang berkunjung ke Putrajaya (bagi pegawai dan kakitangan yang berkhidmat di Putrajaya).</li>
##			</ol>
##        </div>
##		<div id="tabs-4">
##			<ol>
##				<li>
##					<p>Masa pendaftaran masuk dan keluar (Tetamu) adalah seperti berikut:</p>
##					<p>Pendaftaran Masuk:-</p>
##					<ol>
##						<li>2.00 &ndash; 7.00 petang (Isnin &ndash; Khamis)</li>
##						<li>2.45 &ndash; 7.00 malam (Jumaat)</li>
##						<li>2.00 &ndash; 7.00 petang (Sabtu &ndash; Ahad)</li>
##					</ol>
##					<p>Pendaftaran Keluar:-</p>
##					<ol>
##						<li>12.00 tengah hari (Isnin &ndash; Ahad)</li>
##					</ol>
##					<p>** <i>Kunci boleh dimasukkan ke dalam Peti yang telah disediakan.</i></p>
####					<p><b>BLOK C -T05-U09<br />Presint 11, Zon 6B, Putrajaya</b></p>
##				</li>
##				<li>
##					<b>Peringatan</b>
##					<p>Tuan/puan adalah diingatkan supaya menyemak terlebih dahulu Senarai Semak yang disediakan dan menandatangani senarai semak sebelum pemulangan kunci dilakukan.</p>
##				</li>
##			</ol>
##		</div>
		<div id="tabs-5">
			<iframe src = "../ViewerJS/#../documents/rumah_peranginan/rumah_transit/kadar-sewa-rumah-transit.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
##    		<p class="title">Kadar Sewa dan Had Bilangan Tetamu</p>
##			<table cellpadding="5" cellspacing="0" border="1" width="100%">
##        		<thead>
##        			<tr>
##        				<td>Bil</td>
##        				<td>Jenis Rumah</td>
##        				<td>Kadar Sewa</td>
##        				<td>Had Tetamu</td>
##        			</tr>
##        		</thead>
##        		<tbody>
##        			<tr>
##        				<td>Apartmen 3 bilik [no 25]</td>
##        				<td>1</td>
##        				<td>3</td>
##        				<td>200.00</td>
##        				<td>Tpm keatas</td>
##        			</tr>
##        			<tr>
##        				<td>1</td>
##        				<td>Putrajaya (Presint 11)</td>
##        				<td>Semi-D*</td>
##        				<td>150.00</td>
##        				<td>2</td>
##        			</tr>
##        			<tr>
##        				<td></td>
##        				<td></td>
##        				<td>Bilik tidur utama**</td>
##        				<td>30.00</td>
##        				<td>29</td>
##        			</tr>
##        			<tr>
##        				<td></td>
##        				<td></td>
##        				<td>Bilik tidur biasa**</td>
##        				<td>20.00</td>
##        				<td></td>
##        			</tr>
##        			<tr>
##        				<td></td>
##        				<td></td>
##        				<td>Apartmen 3 bilik**</td>
##        				<td>70.00</td>
##        				<td></td>
##        			</tr>
##        			<tr>
##        				<td>2</td>
##        				<td>KKKA Duta, Kuala Lumpur</td>
##        				<td>Studio<br/>
##        					Apartmen 3 bilik
##        				</td>
##        				<td>50.00<br/>
##        					70.00</td>
##        				<td>1</td>
##        			</tr>
##        			<tr>
##        				<td>3</td>
##        				<td>KKKA Jalan U-Thant, Kuala Lumpur</td>
##        				<td>Apartmen 3 bilik</td>
##        				<td>150.00</td>
##        				<td>1</td>
##        			</tr>
##        			<tr>
##        				<td>4</td>
##        				<td>Kompleks Kuarters KLIA, Sepang</td>
##        				<td>Banglo 3 bilik</td>
##        				<td>70.00</td>
##        				<td>1</td>
##        			</tr>
##        		</tbody>
##        	</table>
		</div>
	</div>
</section>