#if ($!idJenisKegunaanRuang == '10' || $!r.jenisKegunaanRuang.id == '10')
<table cellpadding="3" cellspacing="0" border="0" width="100%" >
  <tr>
    <td style="width:29%" class="label" valign="top">Jenis Perkhidmatan Lain (Nyatakan)</td>
    <td style="width:1%" valign="top">:</td>
    <td style="width:70%" valign="top"><input type="text" id="jenisKegunaanLain" name="jenisKegunaanLain" value="$!r.jenisKegunaanLain" onKeyUp="at(this, event)" onBlur="this.value=this.value.toUpperCase();"></td>
  </tr>
</table>
#end
