<td class="record_header" style="width:10%;font-weight:bold">ID Ruang<img src="../img/sortdown.png" class="sorting" onclick="sort('noPendaftaran')" /></td>
<td class="record_header" style="width:10%;font-weight:bold">Nama Ruang<img src="../img/sortdown.png" class="sorting" onclick="sort('namaRuang')" /></td>
<td class="record_header" style="width:10%;font-weight:bold">Jenis Sewaan<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisSewa')" /></td>
<td class="record_header" style="width:10%;font-weight:bold">Luas<img src="../img/sortdown.png" class="sorting" onclick="sort('luasMps.id')" /></td>
<td class="record_header" style="width:30%;font-weight:bold">Alamat<img src="../img/sortdown.png" class="sorting" onclick="sort('bandar.negeri.keterangan')" /></td>
<td class="record_header" style="width:5%;font-weight:bold">Status Sewa<img src="../img/sortdown.png" class="sorting" onclick="sort('flagSewa')" /></td>
<td class="record_header" style="width:5%;font-weight:bold">Status Aktif<img src="../img/sortdown.png" class="sorting" onclick="sort('flagAktif')" /></td>