<select class="texts" id="jenisKegunaanRuang" name="jenisKegunaanRuang" style="width:100%" onChange="$('err_jenisKegunaanRuang').innerHTML=''; at(this, event);doDivAjaxCall3$formname('divJenisKegunaanLain','doChangeJenisKegunaanRuang','')">
    <option value="">SILA PILIH</option>
	#foreach( $n in $selectJenisKegunaanRuang )
		<option #if ( $n.id == $r.jenisKegunaanRuang.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>
