<select class="texts" id="jenisMeterElektrik" name="jenisMeterElektrik" style="width:100%" onChange="$('err_jenisMeterElektrik').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    <option #if ( "B" == $r.jenisMeterElektrik ) selected #end value="B">BERASINGAN</option>
    <option #if ( "P" == $r.jenisMeterElektrik ) selected #end value="P">PUKAL</option>
    <option #if ( "T" == $r.jenisMeterElektrik ) selected #end value="T">TIADA</option>
</select>

