<select class="texts" id="jenisMeterAir" name="jenisMeterAir" style="width:100%" onChange="$('err_jenisMeterAir').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    <option #if ( "B" == $r.jenisMeterAir ) selected #end value="B">BERASINGAN</option>
    <option #if ( "P" == $r.jenisMeterAir ) selected #end value="P">PUKAL</option>
    <option #if ( "T" == $r.jenisMeterAir ) selected #end value="T">TIADA</option>
</select>

