<select class="texts" id="jenisMeterIWK" name="jenisMeterIWK" style="width:100%" onChange="$('err_jenisMeterIWK').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    <option #if ( "B" == $r.jenisMeterIWK ) selected #end value="B">BERASINGAN</option>
    <option #if ( "P" == $r.jenisMeterIWK ) selected #end value="P">PUKAL</option>
    <option #if ( "T" == $r.jenisMeterIWK ) selected #end value="T">TIADA</option>
</select>

