#parse("bph/dashboard/style.vm")
#parse("$path/script.vm")
<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td width="60%" valign="top">
    		<table width="100%" border="0" cellspacing="0" cellpadding="5">
        
		        ## START LAYER 1
		        <tr>
				   <td>
				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
				         <tr>
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/myprofile.png"  width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Profil</b></td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <a href="javascript:gotoKataLaluan()" class="help" title="Tukar Kata Laluan">
				                                    <li><font color="blue" style="font-size:110%">&nbsp;Tukar Kata Laluan</font></li>
				                                 </a>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <a href="javascript:gotoProfile()" class="help" title="Profil Pengguna">
				                                    <li><font color="blue" style="font-size:110%">&nbsp;Profil Pengguna</font></li>
				                                 </a>
				                              </td>
				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            <td width="50%" valign="top">&nbsp;</td>
				         </tr>
				      </table>
				   </td>
				</tr>
		        ## END LAYER 1
				
				## START LAYER 2
				<tr>
				   <td>
				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
				         <tr>
				         	## Pembangunan
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Pembangunan</b></td>
				                           </tr>
				                           <tr>
				                              <td >
				                                 
				                                 <font color="black">
				                                    <li>
				                                    	<a href="javascript:gotoSenaraiHakmilik()" class="help" title="Jumlah HakMilik Tanah">
				                                    		&nbsp;<font color="blue" style="font-size:110%">Jumlah Hakmilik Tanah </li>
				                                    	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td >
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiTanahBagiProjekPembangunanBPH()" class="help" title="Senarai Tanah Bagi Projek Pembangunan BPH">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Tanah Bagi Projek Pembangunan BPH </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td >
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiTanahBPHYangMelibatkanUrusan()" class="help" title="Senarai Tanah BPH Yang Melibatkan Urusan">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Tanah BPH Yang Melibatkan Urusan </li>
				                                	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td >
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiTanahKosongBelumDimajukan()" class="help" title="Senarai Tanah Kosong Belum Dimajukan">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Tanah Kosong Belum Dimajukan </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td >
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiTanahRumahPeranginanBPH()" class="help" title="Senarai Tanah Rumah Peranginan BPH">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Tanah Rumah Peranginan BPH </li>
				                                	</a>
				                                 </font>
				                              </td>
				                           </tr>
##				                           <tr>
##				                              <td>
##				                                 <font color="black">
##				                                    <li>&nbsp;<font color="black" style="font-size:110%">Jumlah Premis (DPA) </font></li>
##				                                 </font>
##				                              </td>
##				                           </tr>
##				                           <tr>
##				                              <td>
##				                                 <font color="black">
##				                                    <li>&nbsp;<font color="black" style="font-size:110%">Daftar Aset Khusus (DAK) </li>
##				                                 </font>
##				                              </td>
##				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            
				            ## Kuarters
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Kuarters</b></td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                   	<a href="javascript:gotoSenaraiKuartersKosong()" class="help" title="Jumlah Kuarters Kosong">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kuarters Kosong </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiKuartersBerpenghuni()" class="help" title="Jumlah Kuarters Berpenghuni">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kuarters Berpenghuni </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                   	<a href="javascript:gotoSenaraiKuartersPenyelenggaraan()" class="help" title="Senarai kuarters yang  sedang  diselengara"> 
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Kuarters Dalam Penyelenggaraan</li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiKuartersBerpenghuni()" class="help" title="Senarai penghuni kuarters">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Penghuni Kuarters </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiPermohonanBaru()" class="help" title="Jumlah Permohonan Baru Kuarters">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Permohonan Baru Kuarters </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td></td>
				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            
				         </tr>
				      </table>
				   </td>
				</tr>
		        ## END LAYER 2
		        
		        ## START LAYER 3
		        <tr>
				   <td>
				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
				         <tr>
				         	
				           ## Start Penguatkuasa
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Penguatkuasa</b></td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                              		<a href="javascript:gotoSenaraiKesalahanBerat()" class="help" title="Jumlah Kesalahan Berat">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kesalahan Berat </li>
				                                	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiKesalahanRingan()" class="help" title="Jumlah Kesalahan Ringan">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Kesalahan Ringan </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiOperasiBerjadual()" class="help" title="Senarai Operasi Berjadual">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Operasi Berjadual </li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiOperasiTidakBerjadual()" class="help" title="Senarai Operasi Tidak Berjadual">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Operasi Tidak Berjadual </li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                              </td>
				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            ## End Penguatkuasa
				            
				            ## Start Rumah Peranginan
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Rumah Peranginan</b></td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiRppAktif()" class="help" title="Jumlah Rumah Peranginan Yang Aktif">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Rumah Peranginan Yang Aktif </li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:" class="help" title="Jumlah Permohonan Rumah Peranginan">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Permohonan Rumah Peranginan </li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td></td>
				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            ## End Rumah Peranginan
				            
				         </tr>
				      </table>
				   </td>
				</tr>
		        ## END LAYER 3
		        
		     
		        ## START LAYER 4 
		        <tr>
				   <td>
				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
				         <tr>
				            
				            ## Start Utiliti
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Utiliti</b></td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiPermohonanDewan()" class="help" title="Jumlah Permohonan Dewan">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Permohonan Dewan </li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <a href="javascript:gotoSenaraiPermohonanGelanggang()" class="help" title="Jumlah Permohonan Gelanggang">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Jumlah Permohonan Gelanggang </li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
##				                           <tr>
##				                              <td>
##				                              	 ## <a href="javascript:" class="help" title="Jumlah Gelanggang Yang Aktif">
##				                                 <font color="black">
##				                                    <li>&nbsp;<font color="black" style="font-size:110%">Jumlah Dewan Yang Aktif </li>
##				                                 </font>
##				                              </td>
##				                           </tr>
##				                           <tr>
##				                              <td>
##				                              	 ## <a href="javascript:" class="help" title="Jumlah Gelanggang Yang Aktif">
##				                                 <font color="black">
##													<li>&nbsp;<font color="black" style="font-size:110%">Jumlah Gelanggang Yang Aktif </li>
##				                                 </font>
##				                              </td>
##				                           </tr>
				                           <tr>
				                              <td>
				                              </td>
				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            ## End Utiliti
				            
				            ## Start Jawatankuasa Ruang Pejabat (JRP) /Komersil (JRK)
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Jawatankuasa Ruang Pejabat (JRP) /Komersil (JRK) </b></td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                 	<a href="javascript:gotoSenaraiRppAktif()" class="help" title="Permohonan Lulus">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Permohonan Lulus </li>
				                                 	</a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <li>&nbsp;<font color="blue" style="font-size:110%">Permohonan Gagal </li>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <li>&nbsp;<font color="blue" style="font-size:110%">Permohonan Tangguh </li>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                    <li>&nbsp;<font color="blue" style="font-size:110%">Permohonan Batal </li>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td></td>
				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            ## End Jawatankuasa Ruang Pejabat (JRP) /Komersil (JRK)
				            
				         </tr>
				      </table>
				   </td>
				</tr>
		        ## END LAYER 4 
		      
		      	## START LAYER 5
				<tr>
				   <td>
				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
				         <tr>
				         	
				         	## Kewangan
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				                  <tr>
				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
				                     <td width="85%" valign="top">
				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
				                           <tr>
				                              <td><font color="black" style="font-size:120%"><b>Kewangan</b></td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                 	<a href="javascript:gotoEisKewangan()" class="help" title="SENARAI KUTIPAN HARIAN BPH KESELURUHAN.">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Kutipan Harian BPH Keseluruhan </li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                 	<a href="javascript:gotoEisKewangan()" class="help" title="SENARAI KUTIPAN HARIAN BPH KESELURUHAN  MENGIKUT KOD HASIL">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Senarai Kutipan Harian RPP Mengikut Cawangan RPP <b></li>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                 	<a href="javascript:gotoEisKewangan()" class="help" title="LAPORAN URUSNIAGA HARIAN E-PAYMENT">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Laporan Kutipan Sewaan Ruang Komersil Bulanan<b></li> ## </font><font color="red">($kosong)</b></font>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                           <tr>
				                              <td>
				                                 <font color="black">
				                                 	<a href="javascript:gotoEisKewangan()" class="help" title="LAPORAN PEMBAYARAN DEPOSIT MENGIKUT BULAN">
				                                    	<li>&nbsp;<font color="blue" style="font-size:110%">Laporan Pembayaran Deposit Mengikut Bulan <b></li>## </font><font color="red">($kosong)</b></font>
				                                    </a>
				                                 </font>
				                              </td>
				                           </tr>
				                        </table>
				                     </td>
				                  </tr>
				               </table>
				            </td>
				            
				            <td width="50%" valign="top">
				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
				               </table>
				            </td>
				            
				         </tr>
				      </table>
				   </td>
				</tr>
				## END LAYER 5
		
##				<tr>
##				   <td>
##				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
##				         <tr>
##				            <td width="50%" valign="top">
##				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
##				                  <tr>
##				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
##				                     <td width="85%" valign="top">
##				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
##				                           <tr>
##				                              <td><font color="black" style="font-size:120%"><b>Senggara</b></td>
##				                           </tr>
##				                           <tr>
##				                              ##list1
##				                           </tr>
##				                           <tr>
##				                              ##list2
##				                           </tr>
##				                           <tr>
##				                              ##list3
##				                           </tr>
##				                        </table>
##				                     </td>
##				                  </tr>
##				               </table>
##				            </td>
##				            <td width="50%" valign="top">
##				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
##				                  <tr>
##				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
##				                     <td width="85%" valign="top">
##				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
##				                           <tr>
##				                              <td><font color="black" style="font-size:120%"><b>Bangunan Gunasama (BGS)</b></td>
##				                           </tr>
##				                           <tr>
##				                              ##list1
##				                           </tr>
##				                           <tr>
##				                              ##list2
##				                           </tr>
##				                           <tr>
##				                              ##list13
##				                           </tr>
##				                           <tr>
##				                              <td></td>
##				                           </tr>
##				                        </table>
##				                     </td>
##				                  </tr>
##				               </table>
##				            </td>
##				         </tr>
##				      </table>
##				   </td>
##				</tr>

##				<tr>
##				   <td>
##				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
##				         <tr>
##				            <td width="50%" valign="top">
##				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
##				                  <tr>
##				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
##				                     <td width="85%" valign="top">
##				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
##				                           <tr>
##				                              <td><font color="black" style="font-size:120%"><b>Pentadbiran</b></td>
##				                           </tr>
##				                           <tr>
##				                              ##link
##				                           </tr>
##				                        </table>
##				                     </td>
##				                  </tr>
##				               </table>
##				            </td>
##				            <td width="50%" valign="top">
##				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
##				                  <tr>
##				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
##				                     <td width="85%" valign="top">
##				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
##				                           <tr>
##				                              <td><font color="black" style="font-size:120%"><b>Sumber Manusia</b></td>
##				                           </tr>
##				                           ##link
##				                        </table>
##				                     </td>
##				                  </tr>
##				               </table>
##				            </td>
##				         </tr>
##				      </table>
##				   </td>
##				</tr>
##				##layer4
##				<tr>
##				   <td>
##				      <table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
##				         <tr>
##				            <td width="50%" valign="top">
##				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
##				                  <tr>
##				                     <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
##				                     <td width="85%" valign="top">
##				                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
##				                           <tr>
##				                              <td><font color="black" style="font-size:120%"><b>Teknologi Maklumat</b></td>
##				                           </tr>
##				                           <tr>
##				                              ##link1
##				                           </tr>
##				                        </table>
##				                     </td>
##				                  </tr>
##				               </table>
##				            </td>
##				            <td width="50%" valign="top">
##				               <table width="100%" border="0" cellspacing="0" cellpadding="3" >
##				                  <tr>
##				                  </tr>
##				               </table>
##				            </td>
##				         </tr>
##				      </table>
##				   </td>
##				</tr>	
					
			</table>
		</td>
	</tr>
</table>
