<select class="texts" id="findJenisHakmilik" name="findJenisHakmilik" style="width:100%" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
  <option value="">SILA PILIH</option>
	#foreach( $n in $selectJenisHakmilik )
	<option value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
	#end
</select>
