<select style="width:100%" name="findStatusDaftar" id="findStatusDaftar" class="texts" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
  <option value="">SILA PILIH</option>
  <option value="D">DAFTAR</option>
  <option value="B">BATAL</option>
</select>
