<select class="input-style" id="idBandarAduan" name="idBandarAduan" onChange="$('err_idBandarAduan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $ba in $selectBandarAduan )
        <option value="$ba.id">$ba.keterangan.toUpperCase()</option>
    #end
</select>
