<input type="hidden" id="idAduan" name="idAduan" value="$idAduan">
<div id="hantarAduan"> 
#if ( $success) 
	#parse("$path/content/aduan/result.vm")
#else 
	#parse("$path/content/aduan/form.vm")
#end 
</div>

<script>
	#parse("$path/content/aduan/script.vm")		
</script>
