<h2><span style="color: #0000ff;">
<span style="color: #2438ad;">
<center>Bagi tujuan mengadakan majlis @ program, tempahan dewan di KUARTERS PUTRAJAYA boleh dilakukan di pejabat BPH seperti berikut :<br><br> 
ARAS 4, BLOK B3,<br>
BAHAGIAN PENGURUSAN HARTANAH,<br>
KOMPLEKS JPM.<br><br>
atau<br><br>
Boleh berhubung terus dengan pegawai berikut:<br><br>
ENCIK MUHAMAD NAFIS HAZWAN BIN YUSOF<br>
(03-8880 0456)<br><br>	

ENCIK KHAIRUL ANWAR BIN ZAINAL ABIDIN<br>
(03-8880 0120)<br><br>	

HARAP MAKLUM.</center>
</span></span></h2>


