<script>
function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoDaftarDewan() {
	document.${formName}.action = "$lebahUtil.getTabID("Pendaftaran",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiDaftarDewanRecordModule";
	document.${formName}.submit();
}

function gotoDaftarGelanggang() {
	document.${formName}.action = "$lebahUtil.getTabID("Pendaftaran",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiDaftarGelanggangRecordModule";
	document.${formName}.submit();
}

function gotoTutupDewan() {
	document.${formName}.action = "$lebahUtil.getTabID("Penutupan / Pindaan",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiTutupDewanRecordModule";
	document.${formName}.submit();
}

function gotoTutupGelanggang() {
	document.${formName}.action = "$lebahUtil.getTabID("Penutupan / Pindaan",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiTutupGelanggangRecordModule";
	document.${formName}.submit();
}

function gotoMohonDewan() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiPermohonanDewanRecordModule";
	document.${formName}.submit();
}

function gotoMohonGelanggang() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiPermohonanGelanggangRecordModule";
	document.${formName}.submit();
}

function gotoPindaDewan() {
	document.${formName}.action = "$lebahUtil.getTabID("Penutupan / Pindaan",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiPindaDewanRecordModule";
	document.${formName}.submit();
}

function gotoPindaGelanggang() {
	document.${formName}.action = "$lebahUtil.getTabID("Penutupan / Pindaan",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiPindaGelanggangRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiAduan() {
	document.${formName}.action = "$lebahUtil.getTabID("Aduan",$portal_role)?_portal_module=bph.modules.pro.SenaraiAduanRecordModule";
	document.${formName}.submit();
}

function gotoPendaftaranBilUtiliti() {
	document.${formName}.action = "$lebahUtil.getTabID("Bil",$portal_role)?_portal_module=bph.modules.bil.DaftarBilUTILITIRecordModule";
	document.${formName}.submit();
}

function gotoMaklumatBayaranBilUtiliti() {
	document.${formName}.action = "$lebahUtil.getTabID("Bil",$portal_role)?_portal_module=bph.modules.bil.MaklumatBayaranUTILITIRecordModule";
	document.${formName}.submit();
}

function gotoLaporan() {
	document.${formName}.action = "$lebahUtil.getTabID("Laporan",$portal_role)?_portal_module=bph.laporan.utiliti.SenaraiLaporanRecordModule";
	document.${formName}.submit();
}
</script>