
<td class="record_header" width="10%">Kawasan<img src="../img/sortdown.png" class="sorting" onclick="sort('lokasi.lokasi')" /></td>
<td class="record_header" width="10%">No. Inden<img src="../img/sortdown.png" class="sorting" onclick="sort('noInden')" /></td>
<td class="record_header" width="10%">VOT<img src="../img/sortdown.png" class="sorting" onclick="sort('vot')" /></td>
<td class="record_header" >Kerja<img src="../img/sortdown.png" class="sorting" onclick="sort('kerja')" /></td>
<td class="record_header" align="center" width="12%">Tarikh Inden<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhIndenKerja')" /></td>
#if ($!showKontraktor) 
	<td class="record_header" width="15%">Kontraktor<img src="../img/sortdown.png" class="sorting" onclick="sort('kontraktor.namaKontraktor')" /></td>
#end
<td class="record_header" align="center" width="12%">Jumlah (RM)<img src="../img/sortdown.png" class="sorting" onclick="sort('jumlah')" /></td>
#if ($!showTugasan) 
	<td class="record_header">Tindakan Pegawai<img src="../img/sortdown.png" class="sorting" onclick="sort('tugasan.pegawaiTugasan.userName')" /></td>
#end
#if ($!showStatus) 
	<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status.keterangan')" /></td>
#end