
<td class="record_header" >Kod<img src="../img/sortdown.png" class="sorting" onclick="sort('kod')" /></td>
<td class="record_header" >Keterangan<img src="../img/sortdown.png" class="sorting" onclick="sort('keterangan')" /></td>
<td class="record_header" >Catatan<img src="../img/sortdown.png" class="sorting" onclick="sort('catatan')" /></td>

