@media only screen and (-webkit-min-device-pixel-ratio: 1) {
	
	::i-block-chrome, .second-right-body {
		margin-top: 10px;
		background: #003D7E;
		border-radius: 15px;
		padding: 0 5px 35px 5px;
	}
	
	::i-block-chrome, .second-right-body .link {
		background: #CCCCCC;
		border-radius: 8px;
		padding: 10px;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		color: #4C4C4C;
	}
	
	::i-block-chrome, .second-right-body .link a {
		text-decoration: none;
		color: #4C4C4C;
	}
	
	  	::i-block-chrome, #sub-menu {
		color: #fff;
		padding: 0 5px;
		position: absolute; z-index: 100;
		margin-top: -13px;
	}
	
	::i-block-chrome, #sub-menu .sub-menu-1 {
		margin-top: -5px;
		background: #F7931E;
		padding: 6px 12px 5px 15px;
		width: auto !important;
	}
	
	::i-block-chrome, #sub-menu .sub-menu-2 {
		margin-top: -5px;
		background: #F7931E;
		padding: 0px 5px 0px 5px;
	}
	
	::i-block-chrome, #sub-menu .sub-menu-3 {
		margin-top: -5px;
		background: #F7931E;
		padding: 0px 5px 0px 5px;
	}
	
	::i-block-chrome, #sub-menu .divider {
		color: #fff;
		padding: 0;
	}
	
	::i-block-chrome, #sub-menu a {
		color: #754C24;
		text-decoration: none;
		font-weight: normal;
	}
	
	::i-block-chrome, #sub-menu a:hover {
		background: #F7931E;
	}
	
	::i-block-chrome, #sub-menu-1 a {
		color: #754C24;
		font-weight: 700;	
	}
	
	::i-block-chrome, #sub-menu-1 a:hover {
		color: #2222F7;
	}
	
	::i-block-chrome, #sub-menu-2 a {
		color: #754C24;
		font-weight: 700;	
	}
	
	::i-block-chrome, #sub-menu-2 a:hover {
		color: #2222F7;
	}
	
	::i-block-chrome, #sub-menu-3 a {
		color: #754C24;
		font-weight: 700;	
	}
	
	::i-block-chrome, #sub-menu-3 a:hover {
		color: #2222F7;
	}
	
	   ::i-block-chrome, .container-1 {
		margin-top: -3px;
		width: 175px;
		vertical-align: middle;
		white-space: nowrap;
		position: relative;
	}
	
	::i-block-chrome, .container-1 input#carian-portal {
		width: 175px;
		height: 25px;
		background: #FFF;
		border: 2px solid #CCC;
		font-size: 10pt;
		float: left;
		color: #63717f;
		padding-left: 45px;
		
		/* -webkit-transition: background .55s ease;
	  	-moz-transition: background .55s ease;
	  	-ms-transition: background .55s ease;
	  	-o-transition: background .55s ease;
	  	transition: background .55s ease; */
	}
	
	::i-block-chrome, .container-1 input#carian-portal::-webkit-input-placeholder {
		color: #65737e;
	}
	 
	::i-block-chrome, .container-1 input#carian-portal:-moz-placeholder { /* Firefox 18- */
		color: #65737e;  
	}
	 
	::i-block-chrome, .container-1 input#carian-portal::-moz-placeholder {  /* Firefox 19+ */
	 	color: #65737e;  
	}
	 
	::i-block-chrome, .container-1 input#carian-portal:-ms-input-placeholder {  
		color: #65737e;  
	}
	
	::i-block-chrome, .container-1 .icon {
		display: none;
		position: absolute;
		top: 50%;
		margin-left: -17px;
		margin-top: 3px;
		z-index: 1;
		color: #4f5b66;
	}
	
	::i-block-chrome, .container-1 input#carian-portal:hover, .container-1 input#carian-portal:focus, .container-1 input#carian-portal:active {
		outline:none;
		background: #ffffff;
	}
	
	::i-block-chrome, #slider1_container {
		/* border: 10px solid rgba(255, 215, 0, 1); */
		position: relative; 
		/* width: 600px; 
		height: 300px; */
		width: 610px;
		height: 325px;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		border: 1px solid #CCC;
	}
	
	::i-block-chrome, .child {
		cursor: pointer; 
		position: absolute; 
		width: 100%; 
		height: 325px;
	}
	
	::i-block-chrome, .jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
	{
		position: absolute;
		cursor: pointer;
		display: block;
	    background: url('../../images/arrow&bullet/a15.png') no-repeat;
	    overflow:hidden;
	}
	::i-block-chrome, .jssora05l { background-position: -10px -40px; }
	::i-block-chrome, .jssora05r { background-position: -70px -40px; }
	::i-block-chrome, .jssora05l:hover { background-position: -130px -40px; }
	::i-block-chrome, .jssora05r:hover { background-position: -190px -40px; }
	::i-block-chrome, .jssora05ldn { background-position: -250px -40px; }
	::i-block-chrome, .jssora05rdn { background-position: -310px -40px; }
	
	::i-block-chrome, .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
	{
	    /* filter: alpha(opacity=50);
	    opacity: .5; */
	    overflow: hidden;
	    cursor: pointer;
	    border: #666666 1px solid;
	    border-radius: 50%;
	}
	::i-block-chrome, .jssorb01 div { background-color: #4169E1; }
	::i-block-chrome, .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #F7931E; }
	::i-block-chrome, .jssorb01 .av { background-color: #F7931E; }
	::i-block-chrome, .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
	
	::i-block-chrome, .button-login {
		background: #000;
		border-radius: 15px;
		border: none;
		color: #FFF;
		padding: 7px 15px;
		text-align: center;
		width: 100%;
		cursor: pointer;
		font-size: 12px;
	}
	
	::i-block-chrome, .button-login:hover {
		box-shadow: 0px 2px 2px #888;
	}
	
	::i-block-chrome, #divPortalLoginResult, #divPortalLoginResultPage {
		height: auto;
		overflow: hidden;
		width: auto;
		/* margin-top: 3px; */
		position: absolute;
		top: 5;
		left: 5; 
		/* right: 5; */
		border: 1px solid #ffffff; 
		text-transform: uppercase; 
		font-size: 0.7em;
		font-family: Verdana, Geneva, sans-serif; 
		-moz-box-shadow: 0 0 4px #ffffff; 
		-webkit-box-shadow: 0 0 4px #ffffff; 
		box-shadow: 0 0 4px #ffffff; 
		padding: 2px;
		z-index: 99999;
	}
	
	.webHover-before-scroll {
		margin-bottom: 23px;
	    border: 1px solid #AAAAAB;
	}
	
	.webHover-after-scroll {
		margin-bottom: 40px;
	    border-top: 1px solid #AAAAAB;
	    border-left: 1px solid #AAAAAB;
	    border-right: 1px solid #AAAAAB;
	    border-bottom: none;
	}
	
	.keserasianHover-before-scroll {
		margin-bottom: 23px;
	    border: 1px solid #AAAAAB;
	}
	
	.keserasianHover-after-scroll {
		margin-bottom: 40px;
	    border-top: 1px solid #AAAAAB;
	    border-left: 1px solid #AAAAAB;
	    border-right: 1px solid #AAAAAB;
	    border-bottom: none;
	}
	
		/*add byzul*/
	.divBoxhHubungiKami{
		border:0px solid #000000;
	}
	.paddingLeft{
		padding-left: 25px;
	}
	.spanPaddingLeft{
		padding-left: 10px;
	}
}
