<select id="findStatusPerkahwinan" name="findStatusPerkahwinan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $fsp in $findStatusPerkahwinan )
        <option value="$fsp.id">$fsp.keterangan.toUpperCase()</option>
    #end
</select>
