<select id="findJantina" name="findJantina" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $fj in $findJantina )
        <option value="$fj.id">$fj.keterangan.toUpperCase()</option>
    #end
</select>
