<select id="findBangsa" name="findBangsa" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $fb in $findBangsa )
        <option value="$fb.id">$fb.keterangan.toUpperCase()</option>
    #end
</select>
