<script>
	parent.document.getElementById('uploadLampiranLaporanKerosakan').style.display = "none";
	parent.doDivAjaxCall3$formname('lampiranLaporanKerosakanReload','refreshLampiranLaporanKerosakan','updateLampiranLaporanKerosakanReload=$!lampiranLaporanKerosakanReload');
</script>