<script>
    _jq(function() {
    	_jq( "#tabs" ).tabs({
			show: { effect: "fade", duration: 1500 }
		});
    });
	
	_jq(function() {
    	_jq( "#sub-tabs" ).tabs({
			show: { effect: "fade", duration: 1500 }
		});
    });
	
	_jq(function() {
    	_jq( "#sub-tabs2" ).tabs({
			show: { effect: "fade", duration: 1500 }
		});
    });
	
	_jq(function() {
    	_jq( "#sub-sub-tabs" ).tabs({
			show: { effect: "fade", duration: 1500 }
		});
    });
	
	_jq('#contentP2008').hide();
	_jq('#contentP2007').hide();
	_jq('#contentP2007Bil11').hide();
	
	_jq('#btnP2015').click(function() {
		_jq('#contentP2015').slideDown('slow');
		_jq('#contentP2008').fadeOut();
		_jq('#contentP2007').fadeOut();
	});
	
	_jq('#btnP2008').click(function() {
		_jq('#contentP2015').fadeOut();
		_jq('#contentP2008').slideDown('slow');
		_jq('#contentP2007').fadeOut();
	});
	
	_jq('#btnP2007').click(function() {
		_jq('#contentP2015').fadeOut();
		_jq('#contentP2008').fadeOut();
		_jq('#contentP2007').slideDown('slow');
	});
	
	_jq('#btnC2007Bil13').click(function() {
		_jq('#contentP2007Bil13').slideDown('slow');
		_jq('#contentP2007Bil11').fadeOut();
	});
	
	_jq('#btnC2007Bil11').click(function() {
		_jq('#contentP2007Bil13').slideUp();
		_jq('#contentP2007Bil11').fadeIn('slow');
	});
	
	_jq('#contentSP2011').hide();
	_jq('#contentSP2010').hide();
	_jq('#contentSP2007').hide();
	_jq('#contentSP2006').hide();
	
	_jq('#btnSP2013').click(function() {
		_jq('#contentSP2013').fadeIn('slow');
    	_jq('#contentSP2011').slideUp();
    	_jq('#contentSP2010').slideUp();
    	_jq('#contentSP2007').slideUp();
    	_jq('#contentSP2006').slideUp();
	});
	
	_jq('#btnSP2011').click(function() {
		_jq('#contentSP2013').slideUp();
    	_jq('#contentSP2011').fadeIn('slow');
    	_jq('#contentSP2010').slideUp();
    	_jq('#contentSP2007').slideUp();
    	_jq('#contentSP2006').slideUp();
	});
	
	_jq('#btnSP2010').click(function() {
		_jq('#contentSP2013').slideUp();
    	_jq('#contentSP2011').slideUp();
    	_jq('#contentSP2010').fadeIn('slow');
    	_jq('#contentSP2007').slideUp();
    	_jq('#contentSP2006').slideUp();
	});
	
	_jq('#btnSP2007').click(function() {
		_jq('#contentSP2013').slideUp();
    	_jq('#contentSP2011').slideUp();
    	_jq('#contentSP2010').slideUp();
    	_jq('#contentSP2007').fadeIn('slow');
    	_jq('#contentSP2006').slideUp();
	});
	
	_jq('#btnSP2006').click(function() {
		_jq('#contentSP2013').slideUp();
    	_jq('#contentSP2011').slideUp();
    	_jq('#contentSP2010').slideUp();
    	_jq('#contentSP2007').slideUp();
    	_jq('#contentSP2006').fadeIn('slow');
	});
</script>

<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
	<header>PEKELILING</header>
	<fieldset>
    	<section>
			<div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Pekeliling</a></li>
        			<li><a href="#tabs-2">Surat Pekeliling</a></li>
					<li><a href="#tabs-3">Garis Panduan</a></li>
                </ul>
        		<div id="tabs-1">
					<input type="button" class="btnPekeliling" id="btnP2015" value="2015" />
        			<input type="button" class="btnPekeliling" id="btnP2008" value="2008" />
					<input type="button" class="btnPekeliling" id="btnP2007" value="2007" />
					<div id="contentP2015">
						<iframe src = "../ViewerJS/#../documents/Pekeliling/Pekeliling/SPA022015_peraturan_menggunakan_rpp_28.07.2015.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
					</div>
					<div id="contentP2008">
						<iframe src = "../ViewerJS/#../documents/Pekeliling/Pekeliling/pekeliling_perkhidmatan_bil_2_2008.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
					</div>
					<div id="contentP2007">
						<hr />
						<input type="button" class="btnPekeliling" id="btnC2007Bil13" value="Bil 13" />
						<input type="button" class="btnPekeliling" id="btnC2007Bil11" value="Bil 11" />
						<div id="contentP2007Bil13">
							<iframe src = "../ViewerJS/#../documents/Pekeliling/Pekeliling/Pekeliling_Perkhidmatan_Bilangan_13_Tahun_2007.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
						</div>
						<div id="contentP2007Bil11">
							<iframe src = "../ViewerJS/#../documents/Pekeliling/Pekeliling/pekeliling_perbendaharaan_bil_11_tahun_2007.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
						</div>
					</div>
        		</div>
                <div id="tabs-2">
					<input type="button" class="btnPekeliling" id="btnSP2013" value="2013" />
					<input type="button" class="btnPekeliling" id="btnSP2011" value="2011" />
					<input type="button" class="btnPekeliling" id="btnSP2010" value="2010" />
					<input type="button" class="btnPekeliling" id="btnSP2007" value="2007" />
					<input type="button" class="btnPekeliling" id="btnSP2006" value="2006" />
					<div id="contentSP2013">
						<iframe src = "../ViewerJS/#../documents/Pekeliling/Surat/pekeliling_am_bil_4_2013.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
					</div>
					<div id="contentSP2011">
						<iframe src = "../ViewerJS/#../documents/Pekeliling/Surat/SPAB3T2011.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
					</div>
					<div id="contentSP2010">
						<iframe src = "../ViewerJS/#../documents/Pekeliling/Surat/pekelilingambil12010.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
					</div>
					<div id="contentSP2007">
						<iframe src = "../ViewerJS/#../documents/Pekeliling/Surat/SuratPekelilingAmBil3Thn2007.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
					</div>
					<div id="contentSP2006">
						<iframe src = "../ViewerJS/#../documents/Pekeliling/Surat/SuratPekelilingAmBil2Thn2006.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
					</div>
          		</div>
				<div id="tabs-3">
					<iframe src = "../ViewerJS/#../documents/Pekeliling/Garis_Panduan/garis_panduan_pengurusan_rpp.pdf" width="100%" height="700px" allowfullscreen webkitallowfullscreen></iframe>
                	##<embed src="../documents/Pekeliling/Garis_Panduan/garis_panduan.pdf" width="100%" height="700px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
          		</div>
        	</div>
    	</section>
	</fieldset>
</div>