<style>
/*td { font-family:arial; font-size:9pt; }*/
.shadow { -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
.gradient { background: -moz-linear-gradient(top, #E1E1E1 0%, #B4B4B4 100%); font-weight:bold;}

.texts {
		color:#000;
		font-weight:normal;
		font-family:verdana;
		/*/*font-size:8pt;*/*/ 
		width:100%; 
		padding-left:5px; 
		padding-top:2px; 
		padding-bottom: 2px;
}
.texts:focus {
	-moz-box-shadow: 5px 5px 5px #888; -webkit-box-shadow: 5px 5px 5px #888; box-shadow: 5px 5px 5px #888; 
	}
	
.text_disabled {
		color:#000;
		font-weight:normal;
		font-family:verdana;
		/*font-size:8pt;*/ 
		width:100%; 
		padding-left:5px; 
		padding-top:2px; 
		padding-bottom: 2px;
		background-color:#EBEBEB;
}	
	
	
.textarea {
	height:50px; 
	width:100%;
	color:#000;
	font-weight:normal;
	font-family:verdana;
	/*font-size:8pt;*/ 
	padding-left:5px; 
	padding-top:2px; 
	padding-bottom: 2px;
	}
.textarea:focus {
	-moz-box-shadow: 5px 5px 5px #888; -webkit-box-shadow: 5px 5px 5px #888; box-shadow: 5px 5px 5px #888;		
	}

.delete_box {
	border-bottom:1px solid #000; 
	border-top:1px solid #000; 
	border-left:1px solid #000; 
	border-right:1px solid #000;
	width:10px;
	height:10px;
	text-align:center;
	color:#000;
}


.task {
	font-weight:bold;
	width:150px;
	border-bottom:1px solid #66CCCC; 
	border-top:none; 
	border-left:none; 
	border-right:1px solid #66CCCC;
}
.today {
	font-weight:bold;
	font-family:arial;
	/*font-size:8pt;*/
}
.time2 {
	background-color:#F4F4F4;
	border-top:1px solid #CCC; 
	height:15px;
	font-family:arial;
	/*font-size:8pt;*/
	
}
.time {
	background-color:#000099;
	border-top:1px solid #fff; 
	height:15px;
	font-family:arial;
	/*font-size:8pt;*/
	color:#fff;
	
}

.no_event {
	background-color:#0000FF;
	height:15px;
	font-family:arial;
	/*font-size:8pt;*/
	 
}

.event {
	background-color:#FF0000;
	height:15px;
	font-family:arial;
	/*font-size:8pt;*/
	 
}
.transparent
{
   filter:alpha(opacity=50); 
   -moz-opacity: 0.5; 
   opacity: 0.5; 
}

.event_entry {
	-moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888;
	position:absolute;
	background-color:#E3E3E3;
	width:550px;
	height:325px;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-150px;
	vertical-align:middle;
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	}
	
.div_select_date {
	visibility:hidden;
	position:absolute;
	width:400px;
	height:300px;
	left:50%;
	margin-left:-200px;
	vertical-align:middle;
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
}
	
.calendar_day {
	cursor:pointer;
	font-family:arial;/*font-size:8pt;*/
	width:20px;
	height:20px;
	background-color:#FAF8CC;
	border-top:1px solid #898989; 
	border-bottom:1px solid #898989;
	border-left:1px solid #898989;
	border-right:1px solid #898989;
}

.calendar_dayname {
	cursor:pointer;
	font-family:arial;/*font-size:8pt;*/
	width:20px;
	height:20px;
	background-color:#ECD672;
	border-top:1px solid #898989; 
	border-bottom:1px solid #898989;
	border-left:1px solid #898989;
	border-right:1px solid #898989;
}

.calendar_day_empty {
	width:20px;
	height:20px;
	background-color:#F4F4F4;
}

.calendar_today {
	cursor:pointer;
	font-family:arial;/*font-size:8pt;*/
	width:20px;
	height:20px;
	color: #fff;
	background-color:#6666FF;
	border-top:1px solid #898989; 
	border-bottom:1px solid #898989;
	border-left:1px solid #898989;
	border-right:1px solid #898989;
}


.calendar_header {
	height:30px;
	font-weight:bold;
	color: #fff;
	background-color:#6666FF;
}

.color_box {
	width:50px;
	height:30px;
	border-top:1px solid #898989; 
	border-bottom:1px solid #898989;
	border-left:1px solid #898989;
	border-right:1px solid #898989;
}

.calendar_box {
	/*border-top:1px solid #898989; 
	border-bottom:1px solid #898989;
	border-left:1px solid #898989;
	border-right:1px solid #898989;*/
}

.has_events {
	/** background: url(../lebah/activities/has_events.png) **/
	cursor:pointer;
	font-family:arial;/*font-size:8pt;*/font-weight:bold;
	width:20px;
	height:20px;
	color: #FF9999;
	background-color:#CCFFFF;
	border-top:1px solid #898989; 
	border-bottom:1px solid #898989;
	border-left:1px solid #898989;
	border-right:1px solid #898989;
	
}

.no_events {
	
}

</style>

<link rel="stylesheet" type="text/css" href="../tigra/tcal.css" />
<script type="text/javascript" src="../tigra/tcal.js"></script> 

<script type="text/javascript">

calndr.showNavigationDropdowns();

var isNN = (navigator.appName.indexOf("Netscape")!=-1);
function at(input, e) {
  var keyCode = (isNN) ? e.which : e.keyCode; 
  if ( keyCode == 13 ) {
    input.form[(getIndex(input)+1) % input.form.length].focus();
  }
}

function getIndex(input) {
    var index = -1, i = 0, found = false;
    while (i < input.form.length && index == -1) {
    	if (input.form[i] == input)index = i;
    	else i++;
    }
    return index;
}

function clearActivityEventForm() {
	$('activityEventId').value = "";
	$('description').value = "";
	$('locationRemark').value = "";
	$('startTime').value = "06:00 AM";
	$('endTime').value = "06:00 AM";
}

function openCalendar(e) {
	if ( e.style.visibility=='hidden' ) { 
		e.style.visibility='visible'; 
		doDivAjaxCall3$formname(e,'get_calendar','');
	} else { 
		e.style.visibility='hidden';
	}
}


var prevDayCount = 1;
function selectDay(dayCount) {
	$('td_day_' + prevDayCount).className = "calendar_day";
	$('td_day_' + dayCount).className = "calendar_today";
	prevDayCount = dayCount;
}

</script>


<table width="100%" class="calendar_box"><tr><td valign="top">
<div id="div_main">#parse("$path/view_calendar.vm")</div>
<div id="div_empty"></div>
</td>
<td valign="top" align="center" width="170px">
<div id="div_calendar">#parse("$path/get_calendar.vm")</div>
</td>
</tr></table>


<script>
function loadCalendar() {
	doDivAjaxCall3$formname('display_calendar','get_calendar','');
}


_jq(document).ready(function () {
	loadCalendar();
});
</script>