$dateFormat.applyPattern("dd-MM-yyyy")
<div id="event_entry" class="event_entry" style="visibility:hidden;">#parse("$path/event_entry.vm")</div>
<div id="div_calendar_view">#parse("$path/calendar_day.vm")</div>