<select class="texts" id="findJenisLaporan" name="findJenisLaporan" style="width:100%" onChange="doChangeLaporan(this.value);">
  <option value="">SILA PILIH</option>
	<option value="laporan1">LAPORAN KESELURUHAN PERMOHONAN TAHUNAN</option>
	<option value="laporan2">LAPORAN PERMOHONAN MENGIKUT STATUS </option>
##	<option value="laporan3">LAPORAN </option>
##	<option value="laporan4">LAPORAN </option>
</select>

<script>

function doChangeLaporan(x) {
	## alert("X ==== " + x);
	doDivAjaxCall3$formname('divPilihKriteria','pilihLaporan','');
	## HIDE DIV 
	## document.getElementById("divTab").style.display = "none";
	
}
</script>
