<td>$!r.pendeposit.userName.toUpperCase()</td>
<td>$!r.pendeposit.id</td>
<td>$!r.noResit</td>
<td>#if($!r.flagPulangDeposit == 'Y')
	DEPOSIT TELAH DIPULANGKAN
	#else
	DEPOSIT BELUM DIPULANGKAN
    #end
</td>