<table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
   <tr>
      <td width="50%" valign="top">
         <table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
            <tr>
               <td class="label" style="width:29%"></td>
               <td style="width:1%"></td>
               <td style="width:70%"></td>
            </tr>            
            #input("findNoFail", "No. Permohonan", "")            
            <tr>
               <td class="label">Jenis Permohonan</td>
               <td>:</td>
               <td> #parse("$path/findJenisPermohonan.vm") </td>
            </tr>
            <tr>
               <td class="label">Status Permohonan</td>
               <td>:</td>
               <td> #parse("$path/findStatusPermohonan.vm") </td>
            </tr>
         </table>
      </td>
      <td width="50%" valign="top">
         <table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 5px;">
            <tr>
               <td class="label" style="width:29%"></td>
               <td style="width:1%"></td>
               <td style="width:70%"></td>
            </tr>      
            #input("findNoPengenalan", "No. Pengenalan", "")
            #input("findNamaPemohon", "Nama Pemohon", "")
            #input("findNamaAgensi", "Nama Agensi", "")
         </table>
      </td>
   </tr>
</table>
