<input type="hidden" id="idAras" name="idAras" value="$!rekod.id">
#if ($!command == "addMaklumatAras")
	#parse("$path/maklumatBangunan/maklumatAras/detailMaklumatAras.vm")
#else
<div id="divTab">
	#parse("$path/maklumatBangunan/maklumatAras/senaraiSubSubTab.vm")
</div>
#end