<fieldset><legend class="legend">KRITERIA BAGI LAPORAN SENARAI PENGHUNI KUARTERS</legend>
    <table cellpadding="5" cellspacing="0" border="0" width="95%" align="center">
        <tr>
			<td width="50%">
            	<table cellpadding="5" cellspacing="0" border="0" width="95%" align="center">
                    <tr>
                        <td style="width:100px"></td>
                        <td style="width:5px"></td>
                        <td></td>
                    </tr>
					<tr>
						<td class="label">Negeri</td>
                        <td>:</td>
                        <td>
                            <span id="listNegeri">
                                #parse("$path/paramLaporan/select/selectNegeri.vm")
                            </span>
                        </td>
                    </tr>
					<tr>
						<td class="label">Bandar</td>
                        <td>:</td>
                        <td>
                            <span id="listBandar">
                                #parse("$path/paramLaporan/select/selectBandar.vm")
                            </span>
                        </td>
                    </tr>
					<tr>
						<td></td>
						<td></td>
            			<td>
            				<input type="button" id="btnPrintLaporan" name="btnPrintLaporan" value="Cetak Laporan" onclick="doCetakLaporanSenaraiPenghuniKuarters()" />
            			</td>
            		</tr>
				</table>
			</td>
			<td width="50%"></td>
		</tr>
    </table>
</fieldset>