<fieldset><legend class="legend">KRITERIA BAGI LAPORAN STATISTIK STATUS PERMOHONAN MENGIKUT TAHUN</legend>
    <table cellpadding="5" cellspacing="0" border="0" width="95%" align="center">
        <tr>
			<td width="50%">
            	<table cellpadding="5" cellspacing="0" border="0" width="95%" align="center">
                    <tr>
                        <td style="width:100px"></td>
                        <td style="width:5px"></td>
                        <td></td>
                    </tr>
					<tr>
                    	<td class="label" valign="top">Tahun</td>
                    	<td class="label" valign="top">:</td>
                    	<td valign="top">
                    		<div>
                        		<input type="text" id="tahun" name="tahun" value="" >
                    			<script>
                                	_jq("#tahun").Zebra_DatePicker({ 
                        				view: 'year',
										format: 'Y'
                                	});
                    				_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
                        		</script>
                    		</div>
                    	</td>
                    </tr>
					<tr>
						<td></td>
						<td></td>
            			<td>
            				<input type="button" id="btnPrintLaporan" name="btnPrintLaporan" value="Cetak Laporan" onclick="doCetakLaporanStatistikStatusPermohonanMengikutTahun()" />
            			</td>
            		</tr>
				</table>
			</td>
			<td width="50%"></td>
		</tr>
    </table>
</fieldset>