<table width="100%">
<tr><td align="center">

<select id="select_year" style="font-family:helvetica;font-size:10pt">
#foreach( $i in [1950..2020])
<option value="$i" #if ( $i == $year_selected ) selected #end>$i</option>
#end
</select>


</td></tr>
</table>
<table width="100%">
<tr>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=1&year=' + $('select_year').value)">Jan</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=2&year=' + $('select_year').value)">Feb</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=3&year=' + $('select_year').value)">Mar</td>
</tr>
<tr>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=4&year=' + $('select_year').value)">Apr</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=5&year=' + $('select_year').value)">May</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=6&year=' + $('select_year').value)">Jun</td>
</tr>
<tr>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=7&year=' + $('select_year').value)">Jul</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=8&year=' + $('select_year').value)">Aug</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=9&year=' + $('select_year').value)">Sep</td>
</tr>
<tr>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=10&year=' + $('select_year').value)">Oct</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=11&year=' + $('select_year').value)">Nov</td>
<td align="center" style="font-family:helvetica;cursor:pointer;" onclick="doDivAjaxCall$formname('div_select_date','select_calendar','month=12&year=' + $('select_year').value)">Dec</td>
</tr>
</table>
<table width="100%">
<tr><td align="center" onclick="_jq('#select_months').slideUp('slow');" style="font-family:helvetica;cursor:pointer;">
[<u>Close</u>]
</td></tr></table>