
<td>$!r.tajuk</td>
<td>$!r.getKeteranganFlagAktif()</td>

<td>
#if ($!r.fileName) 
	<a href="../download?file=$!uploadDir$!r.fileName" > <span class="print"><strong>MUAT TURUN DOKUMEN</strong><span> </a> 
#end 
</td>