
<td class="record_header" >Nama Kontraktor <img src="../img/sortdown.png" class="sorting" onclick="sort('tajuk')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('flagAktif')" /></td>
<td class="record_header" >Dokumen<img src="../img/sortdown.png" class="sorting" onclick="sort('fileName')" /></td>
