<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Dasar Keselamatan</header>
  <section>
	<p class="title">Perlindungan Data</p>
    <p>Teknologi terkini termasuk enkripsi data adalah digunakan untuk melindungi data yang dikemukakan dan pematuhan kepada standard keselamatan yang ketat adalah terpakai untuk menghalang capaian yang tidak dibenarkan.</p>
  </section>
</div>
