<select id="findKaedahBayaran" name="findKaedahBayaran" style="width:100%" >
    <option value="">SILA PILIH</option>
    #foreach( $fcb in $listKaedahBayaran )
    	<option value="$fcb.id">$fcb.keterangan.toUpperCase()</option>
    #end
</select>