
<td class="record_header" >No Penyata Pemungut<img src="../img/sortdown.png" class="sorting" onclick="sort('noPenyataPemungut')" /></td>
<td class="record_header" >Mod / Kaedah Bayaran<img src="../img/sortdown.png" class="sorting" onclick="sort('kaedahBayaran')" /></td>
<td class="record_header" >Tarikh Penyata Pemungut<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhPenyataPemungut')" /></td>
<td class="record_header" >Tarikh Kutipan Dari<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhKutipanDari')" /></td>
<td class="record_header" >Tarikh Kutipan Hingga<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhKutipanHingga')" /></td>
<td class="record_header" >Jumlah Amaun (RM)<img src="../img/sortdown.png" class="sorting" onclick="sort('jumlahAmaun')" /></td>
