<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" width="210px"></td>
    <td width="10px"></td>
    <td></td>
  </tr>
  
   #input("findNoPenyataPemungut" "No. Penyata Pemungut" "")
  
  <tr>
    <td class="label">Kaedah Bayaran</td>
	<td>:</td>
    <td>
		#parse("$path/findKaedahBayaran.vm")
	</td>
  </tr>
  
  #date_input("findTarikhPenyataPemungut" "Tarikh Penyata Pemungut" "")
  
</table>