<select id="idPDRM" name="idPDRM" style="width:100%" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPDRM )
    	<option #if ( $n.id == $r.pdrm.id ) selected #end value="$n.id">$n.id.toUpperCase()-$n.keterangan.toUpperCase()</option>
    #end
</select>