<div align="left" style="border: 2px solid purple; height: 130px; padding:5px"><p>
<font size="2">
1. Deposit kuarters berkuatkuasa bagi penghuni yang memasuki kuarters mulai <b>Januari 2007</b>.
<br>
2. Borang permohonan tuntutan deposit kuarters <b>perlu dikemukakan segera ke Bahagian ini selepas pengosongan kuarters</b>.
<br>
3. Sebarang permohonan yang diterima <b>melebihi tempoh 12 bulan tidak akan dipertimbangkan</b> untuk proses pemulangan deposit. 
<br>
4. Permohonan yang <b>tidak lengkap tidak akan dipertimbangkan</b> untuk proses pemulangan deposit.</li>
        <ol type="i">
        	<li>Senarai Semak Tuntutan Deposit - <a href="../images/Kuaters/senaraiSemakTuntutanDeposit26102018.pdf"><span class="alink"><font color="blue">Klik untuk lampiran</font></span></a></li>
      		<li>Borang Tuntutan Deposit - <a href="../images/Kuaters/borangTuntutanDeposit26102018.pdf"><span class="alink"><font color="blue">Klik untuk lampiran</font></span></a></li>
		</ol>
</font>
</p></div>