<fieldset>
<legend class="legend">ULASAN</legend>

<table width="100%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:84%"></td>
  </tr>
  <tr>
    <td class="label" valign="top" style="width:15%">Catatan &nbsp;&nbsp;<span style="color:#FF2A00">*</span></td>
    <td class="label" valign="top" style="width:1%">:</td>
    <td valign="top" style="width:84%"><textarea id="catatan" name="catatan" onBlur="this.value=this.value.toUpperCase();"></textarea>
    <div id="err_catatan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
    </td>
  </tr>
</table>

</fieldset>