<select id="idBandarPinjaman" name="idBandarPinjaman" style="width:100%" onChange="$('err_idBandarPinjaman').innerHTML=''; at(this, event); ">
    <option value="">SILA PILIH</option>
    #foreach( $bp in $selectBandarPinjaman )
        <option #if ( $bp.id == $kpp.bandar.id) selected #end value="$bp.id">$bp.keterangan.toUpperCase()</option>
    #end
</select>

