<select id="idBandar" name="idBandar" style="width:100%" onChange="$('err_idBandar').innerHTML=''; at(this, event);" >
    <option value="">SILA PILIH</option>
    #foreach( $b in $selectBandar )
        <option #if ( $b.id ==  $!r.bandar.id) selected #end value="$b.id">$b.keterangan.toUpperCase()</option>
    #end
</select>
