<select id="idKondisiKuarters" name="idKondisiKuarters" style="width:100%" onChange="$('err_idKondisiKuarters').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $k in $selectKondisiKuarters )
        <option #if ( $k.id ==  $!r.kondisiKuarters.id ) selected #end value="$k.id">$k.keterangan.toUpperCase()</option>
    #end
</select>
