<select id="idJenisKegunaanKuarters" name="idJenisKegunaanKuarters" style="width:100%" onChange="$('err_idJenisKegunaanKuarters').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $jkk in $selectJenisKegunaanKuarters )
        <option #if ( $jkk.id ==  $!r.jenisKegunaanKuarters.id) selected #end value="$jkk.id">$!jkk.keterangan.toUpperCase()</option>
    #end
</select>
