<select id="idJenisKediaman" name="idJenisKediaman" style="width:100%" onChange="$('err_idJenisKediaman').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $jk in $selectJenisKediaman )
        <option #if ( $jk.id ==  $!r.jenisKediaman.id) selected #end value="$jk.id">$!jk.keterangan.toUpperCase()</option>
    #end
</select>
