<select id="idHakMilik" name="idHakMilik" style="width:100%" onChange="$('err_idHakMilik').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $h in $selectHakMilik )
        <option #if ( $h.id ==  $!r.bangunan.id) selected #end value="$h.id">$!h.hakmilik.id.toUpperCase() - $!h.namaBlok.toUpperCase() - $!h.jenisStruktur.toUpperCase()</option>
    #end
</select>
