<select id="idDaerah" name="idDaerah" style="width:100%" onChange="$('err_idDaerah').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $d in $selectDaerah)
        <option #if ( $d.id ==  $!r.daerah.id) selected #end value="$d.id">$d.keterangan.toUpperCase()</option>
    #end
</select>
