
<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  #input("findNoTempahan", "No. Tempahan", "")
  #input("findNama", "Nama", "")
  #input("findNoPengenalan", "MyID", "")
  #date_input_range("findTarikhMohonMula", "Tarikh Mohon", "", "findTarikhMohonHingga", "")
  #date_input_range("findTarikhMasukMula", "Tarikh Masuk", "", "findTarikhMasukHingga", "")
  #date_input_range("findTarikhKeluarMula", "Tarikh Keluar", "", "findTarikhKeluarHingga", "")
</table>
