<table width="75%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:175px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
    <tr>
    	<td class="label" valign="top">Tarikh Agihan</td>
    	<td class="label" valign="top">:</td>
    	<td valign="top">
    		<div>
        		<input type="text" id="findTarikhAgihan" name="findTarikhAgihan" value="">
    			<span style="color:#FF2A00">&nbsp;cth: dd-mm-yyyy</span>
        		<script>
                	_jq("#findTarikhAgihan").Zebra_DatePicker({ 
    		    		format: 'd-m-Y',
    					readonly_element: false
    		        });
        		</script>
    		</div>
    	</td>
    </tr>
	#input("findNoPermohonan" "No. Daftar" "")
	#input("findNamaPemohon" "Nama" "")
	#input("findNoKPPemohon" "No. Kad Pengenalan" "")
</table>