<script>
_jq(document).ready(function () {
	_jq('#btnAddNewRecordTemplate').val('Permohonan Baru'); ##ubah nama kepada nama yang diperlukan
});
</script>

<td class="record_header" style="font-weight:bold">No. Permohonan<img src="../img/sortdown.png" class="sorting" onclick="sort('fail.noFail')" /></td>
<td class="record_header" style="font-weight:bold">Tarikh Permohonan<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhPermohonan')" /></td>
<td class="record_header" style="font-weight:bold">Maklumat Pemohon<img src="../img/sortdown.png" class="sorting" onclick="sort('fail.pemohon.individu.nama')" /></td>
<td class="record_header" style="font-weight:bold">Maklumat Ruang<img src="../img/sortdown.png" class="sorting" onclick="sort('fail.ruang.idRuang')" /></td>
<td class="record_header" style="font-weight:bold">Jenis Permohonan<img src="../img/sortdown.png" class="sorting" onclick="sort('idJenisPermohonan')" /></td>
<td class="record_header" style="font-weight:bold">Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status.keterangan')" /></td>