
<fieldset>
<legend class="legend">MAKLUMAT REKOD</legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	
  <tr>
  	
  
    <td width="50%" valign="top">
    	
    	<table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
        <tr>
          <td style="width:150px"></td>
          <td style="width:10px"></td>
          <td></td>
        </tr>
		 	#input("nama" "Nama" "$!r.nama")
		 	#input("alamat1" "Alamat" "$!r.alamat1")
		 	#input("alamat2" "" "$!r.alamat2")
		 	#input("alamat3" "" "$!r.alamat3")
		 	#input("lokasi" "Lokasi" "$!r.lokasi")
		 	
      </table></td>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
        <tr>
          <td style="width:150px"></td>
          <td style="width:10px"></td>
          <td></td>
        </tr>
        ##input("idDewan" "Nama Dewan" "$!r.dewan.nama")
		<tr>
		    <td class="label" valign="top">Nama Dewan &nbsp;</td><td valign="top">:</td><td>
				<div id="listJenis">
					#parse("$path/selectDewan.vm")
				</div>
				<div id="err_dewan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			</td>
		 </tr> 
		
		#input("poskod" "Poskod" "$!r.poskod")
##		#input_normal("negeri" "Negeri" "$!r.dewan.bandar.negeri.keterangan")
##		#input_normal("bandar" "Bandar" "$!r.dewan.bandar.keterangan")
		<tr>
          <td class="label" valign="top">Negeri &nbsp;<span style="color:#FF2A00">*</span></td>
          <td valign="top">:</td>
          <td>#parse("$path/selectNegeri.vm")
            <div id="err_negeri" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
        </tr>
        <tr>
          <td class="label" valign="top">Bandar &nbsp;<span style="color:#FF2A00">*</span></td>
          <td valign="top">:</td>
          <td><div id="selectBandar">
            #parse("$path/selectBandar.vm")
            <div id="err_bandar" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
        </tr>
      </table></td>
  </tr>
</table>
</fieldset>

<fieldset>
<legend class="legend">MAKLUMAT REKOD</legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
        <tr>
          <td style="width:150px"></td>
          <td style="width:10px"></td>
          <td></td>
        </tr>
		  
		  #currency_required("kadarSewa" "Sewaan Siang (RM)" "$!r.kadarSewa")
		  #currency_required("kadarSewaAwam" "Sewaan Malam (RM)" "$!r.kadarSewaAwam")
		  #textarea("catatan" "Catatan" "$!r.catatan")
		  	  
		 
      </table></td>
    <td width="50%" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
        <tr>
          <td style="width:150px"></td>
          <td style="width:10px"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="label" valign="top">Masa Mula &nbsp;(siang)<span style="color:#FF2A00">*</span></td>
          <td valign="top">:</td>
          <td><div id="selectMasaMula">
            #parse("$path/selectMasaMulaSiang.vm")#parse("$path/selectMasaTamatSiang.vm")
            <div id="err_masaMula" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
         </tr>
        
		 <tr>
          <td class="label" valign="top">Masa Tamat &nbsp;(malam)<span style="color:#FF2A00">*</span></td>
          <td valign="top">:</td>
          <td><div id="selectMasaTamat">
             #parse("$path/selectMasaMulaMalam.vm")#parse("$path/selectMasaTamatMalam.vm")
            <div id="err_masaTamat" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
        </tr>
      </table></td>
  </tr>
</table>
</fieldset>

<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>