<input type="button" value="Cetak"  id="cmdCetak" align="right"/>

<script>

_jq('#cmdCetak').on('click', function(){
		
		var findNoKp = $('findNoKp').value;
		var findPeranginan = $('findPeranginan').value;
		var findTarikhMasukRpp = $('findTarikhMasukRpp').value;
		var findTarikhKeluarRpp = $('findTarikhKeluarRpp').value;
		
		if(!findNoKp){
			findNoKp = "";
		}
		if(!findPeranginan){
			findPeranginan = "";
		}
		if(!findTarikhMasukRpp){
			findTarikhMasukRpp = "";
		}
		if(!findTarikhKeluarRpp){
			findTarikhKeluarRpp = "";
		}
				var url = "../servlet/bph.laporan.rpp.RPPSenaraiTempahan?findNoKp="+findNoKp+"&findPeranginan="+findPeranginan+"&findTarikhMasukRpp="+findTarikhMasukRpp+"&findTarikhKeluarRpp="+findTarikhKeluarRpp;
				var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
				if ((document.window != null) && (!hWnd.opener))
				hWnd.opener = document.window;
				if (hWnd.focus != null) hWnd.focus();

});

</script>