
#if(!$!userRole.equalsIgnoreCase("(AWAM) Penjawat Awam"))
<td class="record_header" >Pemohon<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.userName')" /></td>
#end
<td class="record_header" >Maklumat Peranginan<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisUnitRpp.peranginan.id')" /></td>
<td class="record_header" >Tarikh Mohon<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhPermohonan')" /></td>
<td class="record_header" >Tarikh Masuk <br/>- Tarikh Keluar<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMasukRpp')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status.keterangan')" /></td>
