
<td class="record_header" style="width:200px;font-weight:bold">No. Permohonan<img src="../img/sortdown.png" class="sorting" onclick="sort('noPermohonan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Jenis Permohonan<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisPermohonanJrp.id')" /></td>
<td class="record_header" style="width:150px;font-weight:bold" align="center">
#if($!userRole.equalsIgnoreCase("(JRP) JawatanKuasa Teknikal"))Tarikh Terima Ulasan #else Tarikh Hantar Ulasan #end
<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhTerima')" /></td>
<td class="record_header" style="width:150px;font-weight:bold" align="center">Tarikh Terima Permohonan<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhTerima')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Agensi<img src="../img/sortdown.png" class="sorting" onclick="sort('agensi.keterangan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Negeri<img src="../img/sortdown.png" class="sorting" onclick="sort('bandar.negeri.keterangan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Bandar<img src="../img/sortdown.png" class="sorting" onclick="sort('bandar.keterangan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status.keterangan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Pegawai Yang Bertanggungjawab<img src="../img/sortdown.png" class="sorting" onclick="sort('urusetia.userName')" /></td>