<script>
    _jq(function() {
    	_jq( "#tabs" ).tabs({
    		show: { effect: "fade", duration: 1500 }
    	});
    });
</script>

  ##<header>Unit Penguatkuasa</header>
  <nav class="breadcrumbs">
    <ul>
        <li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('kuartersContent','getKuarters','')">Unit Kuarters</a></li>
		<li class="active"><a href="javascript:void()">Unit Penguatkuasa</a></li>
		<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('kuartersContent','getKuaKomuniti','')">Unit Kesejahteraan Komuniti</a></li>
		<li><a href="javascript:void()" onclick="doDivAjaxCall3$formname('kuartersContent','getKuaSenggara','')">Unit Senggara</a></li>
    </ul>	
  </nav>
  <section>
	<div id="tabs">
        <ul>
            <li><a href="#tabs-1">Info</a></li>
			<li><a href="#tabs-2">Peraturan</a></li>
			<li><a href="#tabs-3">Hilang Kelayakan</a></li>
			<li><a href="#tabs-4">Prosedur</a></li>
        </ul>
        <div id="tabs-1">
			<p class="title">Objektif</p>
        	<p>Memastikan penghuni kuarters sentiasa mematuhi peraturan dan syarat-syarat menduduki kuarters Kerajaan yang ditetapkan dalam Perintah Am Bab &lsquo;E&rsquo; dan pekeliling-pekeliling yang dikeluarkan dari semasa ke semasa.</p>
			
			<p class="title">Fungsi</p>
			<ul>
        		<li>Melaksanakan pemantauan, pemeriksaan dan penguatkuasaan ke atas penghuni kuarters di bawah kawalan Bahagian Pengurusan Hartanah, Jabatan Perdana Menteri.</li>
        	</ul>
			
			<ul>
        		<li>Menguruskan permohonan pelanjutan menduduki kuarters oleh penghuni.</li>
        	</ul>
        	
        	<ul>
        		<li>Mengambil tindakan terhadap penghuni yang telah hilang kelayakan tetapi masih menduduki kuarters Kerajaan.</li>
        	</ul>
        	
        	<ul>
        		<li>Membuat kutipan balik tunggakan sewa kuarter oleh penghuni kuarters atau bekas penghuni kuarters sama ada melalui Ketua Jabatan, penghuni kuarters dan bekas penghuni.</li>
        	</ul>
        	
        	<ul>
        		<li>Mengemukakan kes-kes hilang kelayakan dan tunggakan sewa kuarters ke Jabatan Peguam Negara bagi tindakan Mahkamah.</li>
        	</ul>
        </div>
        
		<div id="tabs-2">
			<p class="title">Peraturan Menduduki Kuarters Kerajaan</p>
        	<p>Penghuni perlu sentiasa mematuhi peraturan dan syarat yang dinyatakan di dalam Perintah Am Bab &lsquo;E&rsquo;, Pekeliling-pekeliling yang berkuat kuasa serta Surat Perjanjian Menduduki Kuarters Kerajaan BPH, JPM.</p>
			
			<p>Adalah menjadi tanggungjawab penghuni untuk mematuhi peraturan-peraturan berikut -</p>
			
			<ul>
        		<li>Kuarters hendaklah digunakan sebagai tempat kediaman Penghuni termasuk Keluarga Penghuni sahaja dan tidak boleh digunakan untuk membuat perkhidmatan atau tujuan lain.</li>
        	</ul>
        	<ul>
        		<li>Sentiasa memastikan kuarters berada di dalam keadaan bersih, kemas dan selesa sebagai satu tempat kediaman.</li>
        	</ul>
        	<ul>
        		<li>Membuang sampah sarap dengan menggunakan beg plastik dan dimasukkan ke dalam bekas-bekas yang disediakan khas di kuarters oleh pihak berkuasa yang berkenaan.</li>
        	</ul>
        	<ul>
				<li>Menanggung segala perbelanjaan membaiki atau mengganti kerosakan atau kehilangan ke atas peralatan atau pepasangan pada bahagian-bahagian kuarters yang berlaku akibat perbuatan sengaja atau kecuaian Penghuni, Keluarga Penghuni atau tetamunya.</li>
			</ul>
			<ul>
				<li>Menjelaskan segala bayaran bersabit dengan kuarters mengikut mana yang berkenaan dalam tempoh yang ditetapkan.</li>
			</ul>
			<ul>
				<li>Mengembalikan kuarters kepada BPH dalam keadaan baik dan teratur sepertimana keadaan ketika menerima kuarters tersebut.</li>
			</ul>
			<ul>
				<li>Tidak dibenarkan menyerah, menyewa atau melepaskan kuarters atau mana-mana bahagiannya kepada orang lain, syarikat atau sesiapa sahaja tanpa persetujuan bertulis daripada BPH.</li>
			</ul>
			<ul>
				<li>Tidak akan membuat sebarang pengubahsuaian atau perubahan tambahan atau pertukaran bentuk dengan apa cara sekalipun kepada kuarters atau mana-mana bahagian daripadanya tanpa persetujuan bertulis daripada BPH.</li>
			</ul>
			<ul>
				<li>Tidak menjalankan sebarang bentuk perniagaan atau menjual di mana-mana tempat di dalam kawasan kuarters tersebut.</li>
			</ul>
			<ul>
				<li>Tidak menggunakan kuarters sebagai tempat pejabat, persatuan, pertubuhan atau amal ibadat.</li>
			</ul>
			<ul>
				<li>Tidak meletakkan apa-apa juga benda di kaki lima, di tangga atau di mana-mana tempat yang dikhaskan untuk Kemudahan Bersama dengan penghuni-penghuni lain di kawasan kuarters tersebut.</li>
			</ul>
			<ul>
				<li>Tidak memelihara sebarang binatang peliharaan atau binatang-binatang lain di dalam kuarters atau di mana-mana juga dalam kawasan kuarters tersebut.</li>
			</ul>
			<ul>
				<li>Tidak membuat atau membenarkan dibuat sebarang perbuatan di dalam kuarters atau di mana-mana dalam kawasan kuarters yang menyebabkan bahaya, kacau-ganggu, skandal atau yang boleh menimbulkan kemarahan penghuni-penghuni lain dalam kawasan kuarters tersebut.</li>
        	</ul>
        </div>
        
        <div id="tabs-3">
			<p class="title">Hilang Kelayakan Menduduki Kuarters Kerajaan</p>
			
			<p>Penghuni kuarters serta keluarga akan hilang kelayakan untuk menduduki kuarters apabila penghuni didapati atau berlaku keadaan-keadaan berikut -</p>
			
			<ul>
				<li>Diarahkan bertukar / dipinjamkan ke luar stesen atau pejabat penghuni berpindah ke luar stesen.</li>
        	</ul>
        	<ul>
				<li>Bersara wajib / pilihan atau diarahkan untuk bersara daripada perkhidmatan.</li>
        	</ul>
        	<ul>
				<li>Tamat tempoh kontrak perkhidmatan.</li>
        	</ul>
        	<ul>
				<li>Meninggal dunia.</li>
        	</ul>
        	<ul>
				<li>Bertugas di luar negara.</li>
        	</ul>
        	<ul>
				<li>Mengambil Cuti Tanpa Gaji (CTG) / Cuti Separuh Gaji (CSG) di dalam negeri.</li>
        	</ul>
        	<ul>
				<li>Mengambil Cuti Tanpa Gaji (CTG) ke luar negara.</li>
        	</ul>
        	<ul>
				<li>Mengambil Cuti Belajar Tanpa Gaji (CBTG) / Cuti Belajar Separuh Gaji (CBSG) / Cuti Belajar Bergaji Penuh (CBBP) di dalam negeri.</li>
        	</ul>
        	<ul>
				<li>Mengambil Cuti Belajar Tanpa Gaji (CBTG) / Cuti Belajar Separuh Gaji (CBSG) / Cuti Belajar Bergaji Penuh (CBBP) ke luar negara.</li>
        	</ul>
        	<ul>
				<li>Membeli rumah di bawah projek Perumahan Rakyat 1 Malaysia (PR1MA) atau Perumahan Penjawat Awam 1 Malaysia (PPA1M) di dalam kawasan Putrajaya.</li>
        	</ul>
        	<ul>
				<li>Dilantik secara tetap ke Jabatan yang Diperbadankan / Penswastaan Jabatan.</li>
        	</ul>
        	<ul>
				<li>Meletak jawatan / berhenti atau diberhentikan daripada perkhidmatan.</li>
        	</ul>
        	<ul>
				<li>Dikenakan tindakan Mahkamah bagi kes jenayah dan dadah.</li>
        	</ul>
        	<ul>
				<li>Melanggar peraturan menduduki kuarters Kerajaan sebanyak tiga (3) kali.</li>
        	</ul>
        	<ul>
				<li>Tidak membuka pengunci tayar kereta dan motosikal dalam tempoh 14 hari selepas dikunci.</li>
        	</ul>
        	<ul>
				<li>Tidak menduduki kuarters secara sepenuh masa.</li>
        	</ul>
        	<ul>
				<li>Melakukan perbuatan yang menjejaskan atau mengakibatkan terjejasnya penikmatan atau kepentingan bersama penghuni lain ke atas Kemudahan Bersama atau kemudahan-kemudahan awam yang lain bagi kuarters yang diduduki.</li>
        	</ul>
		</div>
		
		  <div id="tabs-4">
			<p class="title">Proses Membuka Pengunci Tayar Kereta Dan Motosikal</p>
			
			<p>Penghuni perlu membuat bayaran membuka kunci tayar bagi kereta dan motosikal yang telah dikunci. Bayaran hanya diterima di Pejabat, Pejabat Cawangan atau Pusat Perkhidmatan BPH sahaja. Pengunci tayar kereta dan motosikal akan dibuka setelah bayaran dijelaskan.</p>
			<p>Kereta yang dikunci tayar -</p>
			
			<ul>
				<li>Caj membuka pengunci tayar bagi Kesalahan Pertama : RM50.00</li>
        	</ul>
        	<ul>
				<li>Caj membuka pengunci tayar bagi Kesalahan Kedua : RM50.00</li>
        	</ul>
        	<ul>
				<li>Caj membuka pengunci tayar bagi Kesalahan Ketiga : RM50.00 serta arahan pengosongan kuarters</li>
        	</ul>
        	<ul>
				<li>Membuka, merosakkan atau menghilangkan pengunci tayar kereta : RM500.00</li>
        	</ul>
        	<ul>
				<li>Tidak membuka pengunci tayar dalam tempoh 14 dari tarikh tayar dikunci akan dikenakan arahan pengosongan kuarters</li>
        	</ul>
        	
        	<p>Motosikal yang dikunci tayar -</p>
			
			<ul>
				<li>Caj membuka pengunci tayar bagi Kesalahan Pertama : RM30.00</li>
        	</ul>
        	<ul>
				<li>Caj membuka pengunci tayar bagi Kesalahan Kedua : RM30.00</li>
        	</ul>
        	<ul>
				<li>Caj membuka pengunci tayar bagi Kesalahan Ketiga : RM30.00 serta arahan pengosongan kuarters</li>
        	</ul>
        	<ul>
				<li>Membuka, merosakkan atau menghilangkan pengunci tayar motosikal : RM100.00</li>
        	</ul>
        	<ul>
				<li>Tidak membuka pengunci tayar dalam tempoh 14 dari tarikh tayar dikunci akan dikenakan arahan pengosongan kuarters</li>
        	</ul>
			
		  </div>
    </div>
	
  </section>
