<select id="findStatusPermohonan" name="findStatusPermohonan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $dk in $findStatusPermohonan )
        <option value="$dk.id">$!dk.keterangan.toUpperCase()</option>
    #end
</select>
