<select id="idGredJawatanPasangan" name="idGredJawatanPasangan" style="width:100%" onChange="$('err_idGredJawatanPasangan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $gjp in $selectGredJawatanPasangan )
        <option #if ( $gjp.id ==  $!us.gredJawatan.id) selected #end value="$gjp.id">$gjp.keterangan.toUpperCase()</option>
    #end
</select>
