<select id="idKelasPerkhidmatanPasangan" name="idKelasPerkhidmatanPasangan" style="width:100%" onChange="$('err_idKelasPerkhidmatanPasangan').innerHTML=''; at(this, event);">
    <option value="">SILA PILIH</option>
    #foreach( $kpp in $selectKelasPerkhidmatanPasangan )
        <option #if ( $kpp.id ==  $!us.kelasPerkhidmatan.id) selected #end value="$kpp.id">$kpp.id.toUpperCase() - $kpp.keterangan.toUpperCase()</option>
    #end
</select>
