function validate() {
	var err_count = 0;
	
	var tarikhMasukKuarters = $('tarikhMasukKuarters').value;
	if ( tarikhMasukKuarters == "" ) {$('err_tarikhMasukKuarters').innerHTML = "Sila masukkan tarikh masuk kuarters"; err_count++;  }
	
	return err_count == 0;
}