<table width="75%" cellpadding="5" cellspacing="0">
    <tr>
        <td class="label" style="width:15%"></td>
        <td style="width:1%"></td>
        <td style="width:70%"></td>
    </tr>
    #input("findPenamaAkaun" "Nama" "")
	#input("findICPenamaAkaun" "No. MyKad" "")
</table>
