<div class="single">
	<div class="container">
		<div class="single-top">
			<div class="comment-bottom heading">
				<form method="post" action="login">	
    				<input type="text" value="Username" onfocus="this.value='';" onBlur="if (this.value == '') {this.value ='Name';}">
    				<input type="password" value="Password" onfocus="this.value='';" onBlur="if (this.value == '') {this.value ='Email';}">
					<input type="submit" value="Log Masuk">
				</form>
			</div>
		</div>	
	</div>					
</div>