
<td class="record_header" >Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.userName')" /></td>
<td class="record_header" >No. KP<img src="../img/sortdown.png" class="sorting" onclick="sort('pemohon.noKP')" /></td>
