<select class="texts" id="findBulan" name="findBulan" style="width:100%" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
  <option value="">SILA PILIH</option>
	#foreach( $n in $selectBulan )
	<option value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>