<select class="texts" id="findPeranginan" name="findPeranginan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPeranginan)
    	<option value="$n.id">$n.namaPeranginan.toUpperCase()</option>
    #end
</select>
