/*
    Page Header
*/

html, body{
    /* min-height:100%; */
    height:100%;
    padding:0px;
    margin:0px;
    /* position:relative; */
}


body { 
	background: #CAF2FF url(bph_ir/) fixed no-repeat;
	/* background: url('../img/bg.png') #888888; */
	background-position: bottom right;
	background-size: 500px 400px;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	width: 100%;
}

.pageSetup {
	top: 5px;
	right: 25px;
	position: fixed;	
}

.header-left {
	background: url(../images/header_left.png) right bottom no-repeat;
	background-size: 20px 100px;
}

.header-logo {
	background: url(../images/lebah-emas-small.png) left bottom no-repeat;
	background-position: left center;
 	/* background-size: 50px 47px; */
}

.header-center {
	background: url(../images/header_center.png) left bottom no-repeat;
	background-size: 100% 100px;
}

.header-right {
	background: url(../images/header_right.png) left bottom no-repeat;
	background-size: 20px 100px;
}

.banner-bg {
	background: url(../images/scheme1/bannerbg.png) no-repeat;
	background-size: 100% 97%;
}

.banner-main {
	position: relative;
	width: 100%;
	/*padding-left: 9px; 
	padding-right: 9px;*/
}

.tab_login {
	background-color: rgba(240,240,240,0.8);
	color: #000;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	/* font-size: 14px; */
	background-image: -moz-linear-gradient(bottom, rgba(240,240,240,0.8) 15%, rgba(158,158,158,0.8) 85%);
	/* border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px; */
}

.fixed_top {
	/* border: 1px solid #ccc; */
	padding: 5px;
	position: fixed;
	z-index: 1030;
	left: 0;
	top: 0;
	right: 0;	
	/* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3), 0px 3px 8px rgba(0, 0, 0, 0.2); */
}

.tab_logged {
	/* margin-top: -2px; */
	background-color: rgba(41,65,107,0.8);
	color: #fff;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	/* font-size: 14px; */
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73A2C9', endColorstr='#29416B'); /* IE9++ */
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#73A2C9', endColorstr='#29416B'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#73A2C9', endColorstr='#29416B')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #29416B 30%, #73A2C9 70%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #29416B 30%, #73A2C9 70%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #29416B 30%, #73A2C9 70%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #29416B), color-stop(3, #73A2C9));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #29416B 30%, #73A2C9 70%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #29416B 30%, #73A2C9 70%);
	/* background-image: -moz-linear-gradient(bottom, rgba(240,240,240,0.8) 15%, rgba(158,158,158,0.8) 85%); */
}

.tab_login_content {
	position: fixed;
	background: rgba(20,0,0,0.8);
	visibility:hidden;
	top: 5px;
	right: 25px;
	/*width: 210px;
	height:140px;*/
	padding:15px 20px 5px 20px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 99999;
	-webkit-box-shadow:0 0 6px #000000;
	box-shadow:0 0 6px #000000;
}

.main {
	text-align:center
}

.container {
	margin-top: 25px;
	z-index: 99;
	width: 100%; 
	height: 100%; 
	/*background: rgba(255,255,255,0.7);
	background-size: 100% 185px;*/
	-webkit-box-shadow:0 0 3px #777;
	/* box-shadow:0 0 3px #777; */
	/*-moz-border-radius: .8em;
	-webkit-border-radius: .8em;
	border-radius: .8em; */
}

.modules {
	width:100%;
	/* min-height: 575px; */
	height: 100%;
	/* padding-left:10px;
	padding-right:10px; */
	/* padding: 10px; */
	/* border: 1px solid #CCC; */
	background: rgba(202, 242, 255, 0.8);
	margin-bottom: 25px;
}

.w3c_area { 
	z-index: 999999;
	padding-bottom: 10px;
	padding-right: 10px;
}

.page_header { 
	background: rgba(106,90,205,0.5);
	color: #F8F8F8; 
	background-image: -moz-linear-gradient(bottom, rgba(224,224,224,0.8) 20%, rgba(106,90,205,0.8) 80%);
	/* border-top: 1px solid #CCC; 
	border-left: 1px solid #CCC; 
	border-right: 1px solid #CCC; */ 
}

.page_header_1 {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66C4FF', endColorstr='#007ECC'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66C4FF', endColorstr='#007ECC'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66C4FF', endColorstr='#007ECC')"; /* IE8 */
	zoom: 1;
	
	/* IE10 */ 
	background-image: -ms-linear-gradient(left, #007ECC 20%, #66C4FF 80%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #007ECC 20%, #66C4FF 80%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(left, #007ECC 20%, #66C4FF 80%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, top left, top right, color-stop(0, #007ECC), color-stop(3, #66C4FF));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #007ECC 20%, #66C4FF 80%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(left, #007ECC 20%, #66C4FF 80%);
	
	/*background-image: -moz-linear-gradient(center right , rgb(65, 137, 74) 20%, rgb(147, 197, 146) 80%);
	background:url(bph_ir/banner-header-bg.png) no-repeat;
	background-size:100% 100%;*/
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_2 {
	background:url(bph_ir/banner-header-bg-1.png) no-repeat;
	background-position: top;
	background-size:100% 100%;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_3 {
	background:url(bph_ir/banner-header-bg-2.png) no-repeat;
	background-size:100% 100%;
	background-position: top;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_4 {
	background:url(bph_ir/banner-header-bg-3.png) no-repeat;
	background-size:100% 100%;
	background-position: top;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_5 {
	background:url(bph_ir/banner-header-bg-4.png) no-repeat;
	background-size:850px 125px;
	background-position: top right;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_6 {
	background:url(bph_ir/banner-header-bg-5.png) no-repeat;
	background-size:850px 125px;
	background-position: top left;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_7 {
	background:url(bph_ir/banner-header-bg-6.png) no-repeat;
	background-size:850px 150px;
	background-position: top center;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_8 {
	background:url(bph_ir/banner-header-bg-7.png) center no-repeat;
	background-size:850px 150px;
	background-position: top center;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_9 {
	background:url(bph_ir/banner-header-bg-8.png) center no-repeat;
	background-size:850px 150px;
	background-position: top;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_10 {
	background:url(bph_ir/banner-header-bg-9.png) center no-repeat;
	background-size:850px 150px;
	background-position: top;
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_header_11 {
	background: rgba(65,137,74,0);
	/* background-size:1000 190; */
	height:100px;
	/*z-index: -1;*/
	width:100%;
}

.page_footer { 
	position: fixed;
	bottom: 0;
	height: 25px;
	left: 0;
	right: 0;
	/* margin: 0 ;
	padding-left:50px;
	padding-right:50px;  */
	color: #F8F8F8;
	text-align: center;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29416B', endColorstr='#73A2C9'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#29416B', endColorstr='#73A2C9'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#29416B', endColorstr='#73A2C9')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #73A2C9 25%, #29416B 75%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #73A2C9 25%, #29416B 75%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #73A2C9 25%, #29416B 75%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #73A2C9), color-stop(3, #29416B));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #73A2C9 25%, #29416B 75%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #73A2C9 25%, #29416B 75%);
	
	/*background: rgba(106,90,205,0.5);
	background-image: -moz-linear-gradient(top, rgba(224,224,224,0.8) 20%, rgba(106,90,205,0.8) 80%);
	-moz-border-radius: 0 0 .7em .7em;
	-webkit-border-radius: 0 0 .7em .7em;
	border-radius: 0 0 .7em .7em;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;*/
}

.font_title { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#475E62; 
}

.font_welcome { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold; 
	color:#FFF;
}

.font_welcome_date { 
	color: #FFA500; 
	/* font-size: 7pt;  */
	font-weight: bold;
}

.font_welcome_1 { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold; 
	color:#FFF;
}

.font_welcome_date_1 { 
	color: #FFA500; 
	/* font-size: 7pt;  */
	font-weight: bold;
}

.font_login { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:bold
}

.login_input { 
	background-color: white; 
	width: 50px; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}

.login_button { 
	background-color: #FFF8C0;   
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}

.button_top { 
	background-color: #FFF8C0; 
	width: 80px; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}

.font_footer { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	color:#FFFFFF; 
}

.font_role { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	/* font-size: 10px; */
	font-weight: bold;
	color:#fff; 
}

.font_role_select { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	/* font-size: 10px; */
	font-weight: bold;
	color:#F96F26;  
	padding: 0 15px;
	cursor: pointer;
}

.tab_role { 
	background: url(test/rolebg.png); 
	width:100px; 
	height:24px; 
}

.tab_role1 { 
	background: url(test/role1.png); 
	width:100px;
	height:24px; 
	text-align:center; 
}

.tab_role2 { 
	background: url(test/role2.png); 
	width:100px; 
	height:24px; 
	text-align:center; 
}

/* href alert */
a.alert {
	color:#FFFFFF; 
	text-decoration:none;
}

/* Normal href */

a { 
	color:#000000; 
	text-decoration:none;
}

a:hover { 
	text-decoration:none; 
}

/* Navigation href */

a.nav_link { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;  
	color: #000000; 
}

a:hover.nav_link { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	text-decoration:none; 
	color: red; 
}

a.nav_link_active { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	text-decoration:none; 
	color: #ffffff;
}

a:hover.nav_link_active { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	text-decoration:none;
	color: red;
}

/* Navigation background without graphics */

.navigation_menu { 
	/* padding-right: 15px;
	padding-bottom: 15px; */
	background:url(bph_ir/nav-left.jpg) repeat;
	background-size: 100% 1014px;
	background-position: top;
	padding-bottom: 25px;
	/*padding: 5px;
	background-color: #FFFFFF; 
	border-right: 1px dashed #ccc; */
}

.nav_background {
	text-align: left;
	cursor:pointer;
	/* font-size: .7em; */
	font-weight: bold;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	/* -moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em; */
	color: #FFF;
	/* border-radius: 15px; */
	background: rgba(84,151,227,0.6);
	border-top: 1px solid #0B6AC4;
	border-right: 1px solid #0B6AC4;
	border-bottom: 1px solid #0B6AC4;
}
.nav_background:hover {
	background: rgba(245,233,221,1);
	border-top: 1px solid #0B6AC4;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #0B6AC4;
	color: #000;
}

.nav_background_active { 
	text-align: left;
	cursor:pointer;
	/* font-size: .7em; */
	font-weight: bold;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	/* -moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em; */
	color: #000;
	/* border-radius: 15px; */
	background: rgba(245,233,221,1);
	border-top: 1px solid #0B6AC4;
	border-bottom: 1px solid #0B6AC4;
}

/* a.tab_link { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	text-decoration:none; 
	color: #fff; 
	font-size: 1em;
}

a.tab_link_active { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	text-decoration:none; 
	color: #000000; 
	font-size: 1em;
}

a:hover.tab_link { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	text-decoration:none; 
	color: #fff; 
	font-size: 1em;
}

a:hover.tab_link_active { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	text-decoration:none;
	color: #C00000; 
	font-size: 1em;
} */

/* Tab background */  

.tab { 
	padding: 0;
	width: 100%;
	/* border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC; */
	
	background: rgba(45, 148, 212, 1);
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B93D4', endColorstr='#CCF3FF'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2B93D4', endColorstr='#CCF3FF'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2B93D4', endColorstr='#CCF3FF')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #CCF3FF 0%, #2B93D4 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #CCF3FF 0%, #2B93D4 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #CCF3FF 0%, #2B93D4 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCF3FF), color-stop(3, #2B93D4));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #CCF3FF 0%, #2B93D4 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #CCF3FF 0%, #2B93D4 100%);
	
	/* background: rgba(106,90,205,0.5);
	background-image: -moz-linear-gradient(top, rgba(212,212,212,0.8) 15%, rgba(255,255,255,0.8) 85%); */
}

.tab_background_base { 
	background-color: #ffffff;
}

.tab_background { 
	text-align: center;
	cursor: pointer;
	/* font-size: .7em; */
	color:#000;	
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	padding: 10px 15px;
	/* border-right: 1px solid #CCC; */
	-moz-border-radius: 1em 1em 0 0;
	-webkit-border-radius: 1em 1em 0 0;
	border-radius: 1em 1em 0 0;
	border: 1px solid #ccc;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEEE3', endColorstr='#A9A9A9'); /* IE9++ */
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EBEEE3', endColorstr='#A9A9A9'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EBEEE3', endColorstr='#A9A9A9')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #A9A9A9), color-stop(3, #EBEEE3));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
}

.tab_background:hover { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9A9A9', endColorstr='#E4EEF7'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#E4EEF7'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#E4EEF7')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #E4EEF7 0%, #A9A9A9 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #E4EEF7 0%, #A9A9A9 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #E4EEF7 0%, #A9A9A9 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E4EEF7), color-stop(3, #A9A9A9));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #E4EEF7 0%, #A9A9A9 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #E4EEF7 0%, #A9A9A9 100%);
	/* border-color: #a8d2fd; */
}

.tab_background_active { 
	text-align: center;
	cursor: pointer;
	/* font-size: .7em; */
	color:#000;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	padding: 10px 15px;	
	/* border-right: 1px solid #CCC; */
	-moz-border-radius: 1em 1em 0 0;
	-webkit-border-radius: 1em 1em 0 0;
	border-radius: 1em 1em 0 0;
	
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	/* border-bottom: 1px solid rgba(204,204,204,0); */
	/* border: 1px solid #ccc; */
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9A9A9', endColorstr='#CCF3FF'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#CCF3FF'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#CCF3FF')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #CCF3FF 0%, #A9A9A9 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #CCF3FF 0%, #A9A9A9 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #CCF3FF 0%, #A9A9A9 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCF3FF), color-stop(3, #A9A9A9));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #CCF3FF 0%, #A9A9A9 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #CCF3FF 0%, #A9A9A9 100%);
}

.tab_background_special { 
	text-align: center;
	cursor: pointer;
	/* font-size: .7em; */
	color: #000;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	padding: 10px;	
	border-right: 1px solid #CCC;
}

.tab_background_special:hover { 
	background: #edf4fc;
	border-color: #a8d2fd;
}

.tab_pulldown {
	position: absolute;
	margin-top: 11px;
	margin-left: -15px;
	font-weight: normal;
	display: none;
	/* z-index:1000; */
 	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
/* 	margin-top: -12px;
	margin-left: -1px; */
	border: 1px solid transparent;
	background: rgba(106, 164, 231, 1);
	box-shadow: 0px 3px 3px #888;
}

div.pulldown_menu, a.pulldown_menu {
	min-width: 71px;
	padding: 6px 15px 6px 15px;
	border: 1px transparent solid;
	text-align: left;
}

a.pulldown_menu {
	display: block;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	/* font-size:8pt;  */
	text-decoration:none;
}

a:hover.pulldown_menu {
	background: #327DCF;
	border: 1px solid #1A579E;
	color: #fff;
}

.tab_pulldown_special {
	position: absolute;
	/* float: right; */
	margin-top: -25px;
	margin-left: 120px;
	display: none;
	/* z-index:1000; */
 	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
/* 	margin-top: -12px;
	margin-left: -1px; */
	border: 1px solid #DCDDDE;
	background: rgba(255, 255, 255, 1);
}

div.pulldown_menu_special, a.pulldown_menu_special {
	min-width: 71px;
	padding: 6px 15px 6px 15px;
	border: 1px transparent solid;
}

a.pulldown_menu_special {
	display: block;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	/* font-size:8pt;  */
	text-decoration:none;
	text-align: left;
}

a:hover.pulldown_menu_special {
	background: #edf4fc;
	border-color: #a8d2fd;
}
/* Tab's Title for Top navigation */

.tab_title {
	height: 60px;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* Top Module */ 

.top_menu_background { 
	height: 22px;
    /*background: #74CCE9;
    border: 4px ridge #74CCE9;*/
}

.top_menu_active { 
	padding: 2px 8px;
    text-align: center;
	color: #FFFFFF;
    background: #47A8CA;
    border: 2px outset #47A8CA;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* font-size: 10px; */
}
.top_menu_active:hover { 
    border: 2px inset #47A8CA;
}

.top_menu { 
	padding: 2px 8px;
    text-align: center;
    color: #FFFFFF;
    background: #036E98;
    border: 2px outset #036E98;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* font-size: 10px; */
}
.top_menu:hover { 
    border: 2px inset #036E98;
}

/* Module Title */

.module_title { 
	height: 20px;
    padding: 5px;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.module_title_child { 
	height: 20px;
    /*background: #036E98;*/
    border-bottom: 1px solid #C0C0C0;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;    
    color: #000000;    
}

/* Module frame (The color is the same as .tab_background_base) */

table.module_frame {
	/*background-color: #FFFFFF;
	border: 1px solid #CCC; */
	text-overflow: ellipsis;
}

/* Table elements */

.table_header { 
	background-color: rgba(197,197,197,0.9); 
	color: #fff;
	font-weight: normal;
	padding: 10px 5px;
}

.table_header2 { 
	background-color: rgba(171,171,171,0.9); 
	font-weight: bold; 
	text-align: center 
}

.table_row { 
	/* background-color: #FFE2BC; */
	border: 1px solid #ccc;
}

.table_row2 { 
	/* background-color: #B29E83; */
	border: 1px solid #ccc; 
}

.table { 
	background-color: #FFF8B9 
}

td { 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

/*  Alternating rows changing row color between row1 and row2 */

td.row1 { 
	background-color: rgba(230,230,230,0.9); 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
	border: 1px solid rgba(255,255,255,0);
}

td.row2 { 
	background-color: rgba(255,255,255,0.9); 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
	border: 1px solid #ccc;
}

td.selected { 
	background-color: rgba(129,196,223,0.9); 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

td.table_head { 
	background-color: #0B3A6E; 
	color: #FFFFFF; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

td.cell_head { 
	background-color: #FFA800; 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

/* Other elements */

input[type=text], input[type=password] { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	border: 1px solid #D9D9D9;
	z-index: 1;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
}

input[type=text]:focus, input[type=password]:focus {
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.5);
}

input[type=text]:disabled, input[type=text]:readonly, input[type=password]:disabled, input[type=password]:readonly {
	color: #ccc;
	background-color:#ebebeb;
	cursor: pointer;
}

input.cb { 
	border: none; 
}

input.checkbox { 
	border: none; 
}

input.single_border { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;  
	border: 1px solid #ccc; 
}

input[type=button], input[type=reset], input[type=file], .button {
	cursor: pointer;
	padding: 3px 12px;	
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type=button]:hover, input[type=reset]:hover, input[type=file]:hover, .button:hover {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 4px rgba(0, 0, 0, 0.2);
	/* border: 2px inset #000; */
}

input[type=button]:disabled, input[type=reset]:disabled, .button:disabled {
	box-shadow: none;
}

input[type=button]:active, input[type=reset]:active, input[type=file]:active, .button:active {
	box-shadow: none;
}

input[readonly="readonly"], input[readonly] {
	border: none;
	background: #ffffff;
}

textarea { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%; 
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #ccc;
}

textarea:focus {
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 0.5);
}

/* textarea.single_border { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	BORDER-BOTTOM: 1px solid; 
	BORDER-LEFT: 1px solid; 
	BORDER-RIGHT: 1px solid; 
	BORDER-TOP: 1px solid; 
} */

select { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	border: 1px solid #ccc;
	background-color: rgba(255,255,255,0.5);
	/* width: 100%;  */
}

.normal { 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	border: 1px solid #ccc;
	width: 50px;
}

select:focus { 
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 0.5);
}

select option { 
	cursor: pointer;
}

.copyrights {
	color: #888;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	/* font-size: 8pt; */
}

.lang {
	width: 15px;
	height: 15px;
	margin-left: 5px;
	padding: 0 7px 0 7px;
	font-weight: bold;
	/* border: 1px solid #888; */
	background: #fff;
}

.icon-lang-en {
	width: 15px;
	height: 15px;
	padding: 0 7px 0 7px;
	font-weight: bold;
}

.icon-lang-ms {
	width: 15px;
	height: 15px;	
	padding: 0 7px 0 7px;
	font-weight: bold;
}

.icon-font-reduce {
	background: url(../images/icon_font_reduce.gif) center no-repeat;	
	width: 11px;
	height: 11px;
	padding: 3px;
}

.icon-font-reduce-selected {
	background: url(../images/icon_font_reduce.gif) center no-repeat;	
	width: 11px;
	height: 11px;
	padding: 3px;
	border: 1px solid #888888;
}

.icon-font-reset {
	background: url(../images/icon_font_reset.gif) center no-repeat;	
	width: 13px;
	height: 13px;	
	padding: 2px 3px;
	/*border: 1px solid #888888;*/
}

.icon-font-reset-selected {
	background: url(../images/icon_font_reset.gif) center no-repeat;	
	width: 13px;
	height: 13px;	
	padding: 2px 3px;
	border: 1px solid #888888;
}

.icon-font-increase {
	background: url(../images/icon_font_increase.gif) center no-repeat;	
	width: 15px;
	height: 15px;	
	padding: 1px 3px;
	/*border: 1px solid #888888;*/
}

.icon-font-increase-selected {
	background: url(../images/icon_font_increase.gif) center no-repeat;	
	width: 15px;
	height: 15px;	
	padding: 1px 3px;
	border: 1px solid #888888;
}

.icon-home {
	background: url(../images/iconhome.gif) center bottom no-repeat;
	cursor: pointer;
	width: 15px;
	height: 15px;	
	padding: 0 7px 0 7px;
}

.icon-contactus {
	background: url(../images/iconcontactus.gif) center bottom no-repeat;
	cursor: pointer;
	width: 15px;
	height: 15px;	
	padding: 0 7px 0 7px;
}

.icon-sitemap {
	background: url(../images/iconsitemap.gif) center bottom no-repeat;
	cursor: pointer;
	width: 15px;
	height: 15px;	
	padding: 0 7px 0 7px;
}

.themeButton {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px;
	margin: 0 2px 0 0;
	border-color: gray;
}

#search-input-container {
	margin-top: 3px;
	display: block;
	width: 170px;
	height: 21px;
	background: url(../images/search_input.gif) no-repeat;
	padding: 3px 0 0 3px;
}

#search-input {
	display: block;
	border: 0;
	width: 164px;
	height: 12px;
	/* font-size: 11px; */
}

a#search-btn {
	display: block;
	width: 33px;
	height: 33px;
	background: url(../images/search_btn.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
a:hover#search-btn {
	background: url(../images/search_btn-hover.png) no-repeat;
	background-size: 100% 100%;
}

/* MAX MIN ICON */
.maxmin {
	cursor: pointer;
}
.max {
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff; 
	/*padding: 0 2px;*/
	right: 7;
	top: 6;
	position: absolute;
	width: 7px;
	height: 5px;
	background: rgba(52,37,36,1);
}
.min {
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff; 
	/*padding: 0 2px;*/
	right: 2;
	top: 2;
	position: absolute;
	width: 7px;
	height: 5px;
	background: rgba(52,37,36,1);
}

/* Record Template Module CSS */
td { font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;/* font-size:8pt; */ }
.shadow { -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
.gradient { background: -moz-linear-gradient(top, #E1E1E1 0%, #B4B4B4 100%); font-weight:bold;}

.div_error {
	-moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888;
	position:absolute;
	background-color:#F7A2A9;
	width:200px;
	height:100px;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-50px;
	vertical-align:middle;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	}

fieldset {
	margin-top: 15px;
	padding: 15px;
	/*background:#6BC4E2;*/
	border: 1px solid #ccc;
}

.legend {
	background: #2170CA;
	color: #fff;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	/* font-size: 10px; */
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 15px;
	/* border-bottom: 1px solid #ccc;
	margin-bottom: 24px; */
	text-transform: uppercase;
	letter-spacing: 1px;
}

form {
	padding: 5px;	
}


.panels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.panelsTabGroup {
	margin: 0px;
	padding: 0px;
}


.panelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 12px sans-serif;
	background-color: #CEAD68;
	list-style: none;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}

.panelsTabSelected {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 12px sans-serif;
	list-style: none;
	border-left: solid 1px #CCC;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	background-color: #FAF8CC;
	border-bottom: 1px solid #FAF8CC;
}   

.panelsContent {
	padding: 4px;
}   

.panelsContentGroup {
	clear: both;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #FAF8CC;
}   

.record_header {
	background-color: rgba(171,171,171,0.9);
	font-weight: bold;
	color: #fff;
	padding: 10px 5px;
}    

.record_row1 {
	background-color: rgba(204,204,204,0.9);
}

.record_row2 {
	background-color: rgba(232,232,232,0.9);
}   

.record_highlight {
	background-color: rgba(244,244,244,0.9);
	cursor: pointer;
}   

.row_header {background-color: #ABABAB; font-weight:bold; text-align: center}

.box {
	padding:3px;
	height:20px;
	border-bottom:1px solid #000; 
	border-top:1px solid #000; 
	border-left:1px solid #000; 
	border-right:1px solid #000;}
	
.adjustable-portlet {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.fix-portlet {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.portlet-footnote {
	border-top: 1px solid #CFCFCF;
	position: absolute;
	background: rgba(244, 244, 244, 1);
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	text-align: right;
	/* font-size: 10px; */
	width: 100%;
	bottom: 0;
}
.fix-footnote {
	border-top: 1px solid #CFCFCF;
	background: rgba(244, 244, 244, 1);
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	text-align: right;
	/* font-size: 10px; */
	width: 100%;
	bottom: 0;
}
.contentEdit {
	z-index: 999999;
	position: absolute;
	bottom: 0;
}
.sorting {
	height: 15px;
	width: 10px;
	float: right;
	/* margin-top: -15px; */
	margin-right: 10px;
	cursor: pointer;
}

.search_input_result {
	font-weight: bold;
	background: #FFFF00;
	color: #000000;
	text-transform: inherit;
}

.module_tab_customize {
	border: 1px solid #ccc;
	background: rgba(244, 244, 244, 1);
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #74B0EC;
}

::selection {
    color: #fff;
    background: #74B0EC;
}

.menu_child_roles {
	position: absolute;
	/* top: 2;
	right: 5; */
	margin-top: 10px;
	margin-left: 0;
	background: rgba(41,65,107,0.8);
	display: none;
	z-index:1000;
	padding: 2px 7px 7px 7px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;	
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.menu_child_roles a {
	color: #fff;
	/* font-size: 7pt; */
	font-weight: bold;
	padding: 5px 15px;
	display: block;
}

.menu_child_roles a:hover {
	background: #F96F26;
}

.portalLoginResult {
	display:none; 
	/* border: 1px solid #ffffff; */ 
	text-transform: uppercase; 
	/* font-size:8pt;  */
	/* -moz-box-shadow: 0 0 4px #ffffff; 
	-webkit-box-shadow: 0 0 4px #ffffff; 
	box-shadow: 0 0 4px #ffffff;  */
	padding: 2px
}

#div_calendar_view {
	border: 1px solid #ccc;
}

#display_calendar {
	/* border: 1px solid #ccc; */
}

.bracket {
	color: #fff; 
	/* font-size: 11px;  */
	font-weight: bold; 
	padding: 0 1px
}

.straight {
	color: #fff;
}

.font_black {
	color: #000;
}

.font_white {
	color: #fff;
}

.note {
	color: #0000ff;
	font-weight: bold;
	text-decoration: italic;
}

.font_language {
	color: #fff;
	font-weight: bold;
	/* font-size: 7pt; */
}

/* BreadCumbs */

.breadcrumbs {
	margin: 0.5em;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
}
.breadcrumbs ul li {
	float: left;
	margin: 0 .2em 0 1em;
}
.breadcrumbs ul li:first-child {
	margin-left: 0 !important;
}
.breadcrumbs ul li:first-child a:before {
	content: normal;
}
/* .breadcrumbs ul li:last-child {
	background: none;
}
.breadcrumbs ul li:last-child a {
	color: #1d1d1d;
} */
.breadcrumbs ul li:last-child:after,
.breadcrumbs ul li:last-child:before {
	content: normal;
}
.breadcrumbs ul a {
	background: #d9d9d9;
	padding: 0.8em 1em;
	float: left;
	text-decoration: none;
	/* color: #2e92cf; */
	color: #008000;
	position: relative;
}
.breadcrumbs ul a:hover {
	background: #008000;
	color: #ffffff;
}
.breadcrumbs ul a:hover:before {
	border-color: #008000 #008000 #008000 transparent;
}
.breadcrumbs ul a:hover:after {
	border-left-color: #008000;
}
.breadcrumbs ul a:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-width: 1.5em 0 1.5em 1em;
	border-style: solid;
	border-color: #D9D9D9 #D9D9D9 #D9D9D9 transparent;
	left: -1em;
	margin-left: 1px;
}
.breadcrumbs ul a:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid #D9D9D9;
	right: -1em;
	margin-right: 1px;
}
.breadcrumbs ul .active,
.breadcrumbs ul .active:hover {
	background: none;
	/* background: #D9D9D9; */
}
.breadcrumbs ul .active a,
.breadcrumbs ul .active:hover a {
	/* background: #D9D9D9; */
	font-weight: bold;
	color: #000;
}
.breadcrumbs ul .active:hover a {
	/* background: #D9D9D9; */
	color: #FFF;
}
.breadcrumbs ul .active:after,
.breadcrumbs ul .active:before {
	content: normal;
}
.breadcrumbs.small li {
	margin: 0 .2em 0 .8em;
}
.breadcrumbs.small a {
	padding: .2em 1em;
	font-size: 11.9px;
}
.breadcrumbs.mini li {
	margin: 0 .2em 0 .6em;
}
.breadcrumbs.mini a {
	padding: .1em 1em;
	font-size: 10.5px;
}

.popup {
	z-index: 2147483647; 
    position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
    /* top: 50%;
    left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
	width: 100%;
	height: auto;
	padding-bottom: 5px;
	background: rgba(100, 100, 100, 0.8);
	/* z-index: 9999999999999; */
	/* border: 1px solid rgba(0, 0, 0, 1); */
	/* box-shadow: 0px 2px 5px #999; */
	/* border-radius: 20px 20px 0 0; */
}

.popup fieldset{
	position: absolute;
	top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 	background: rgba(255, 255, 255, 1);
	/* box-shadow: 0px 15px 25px #555; */
	border: none;
	width: 500px;
}

.popup fieldset .legend{
	margin-top: 30px;
	margin-bottom: -10px;
	box-shadow: 0px 4px 5px #555;
}

.popupWide {
    position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
    /* top: 50%;
    left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
	width: 100%;
	height: auto;
	padding-bottom: 5px;
	background: rgba(100, 100, 100, 0.8);
	/* z-index: 9999999999999; */
	/* border: 1px solid rgba(0, 0, 0, 1); */
	/* box-shadow: 0px 2px 5px #999; */
	/* border-radius: 20px 20px 0 0; */
}

.popupWide fieldset{
	position: relative;
	top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 	background: rgba(255, 255, 255, 1);
	/* box-shadow: 0px 15px 25px #555; */
	border: none;
	width: 80%;
}

.popupWide fieldset .legend{
	margin-top: 30px;
	margin-bottom: -10px;
	box-shadow: 0px 4px 5px #555;
}

.legendLink {
	color: #ADFF2F;
}

.legendLink:hover {
	color: #FFF;
}

.active{
	color: #000;
	font-weight: bold;
	cursor: default;
}

.active:hover{
	color: #000;
	font-weight: bold;
}

#statusProcess {
	/* position: absolute;
	top: 50%;
	left: 50%; */
	/* font-size: 0.7em; */
}

.ui-dialog-titlebar {
	/* font-size: 0.8em; */
	font-weight: bold;
}

.calendar_input {
	display: inline-block;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	background-color: rgba(255,255,255,0.5);
}

.Zebra_DatePicker_Icon {
	z-index: 9999;
}

.Zebra_DatePicker_Icon_Wrapper {
	/* border: 2px solid #000; */
	/* background: none; */
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	border: 1px solid #D9D9D9;
	background-color: rgba(255,255,255,0.5);
}

#tab_signup {
	display: none;
}

.currency {
	text-align: right;
}

.indicator_main {
	z-index: 2147483647; 
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.5); 
}

.indicator_loading {
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(255, 255, 255, 1);
	padding: 15px 25px;
	border-radius: 15px;
	line-height: 2em;
	
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/****************** Start add by MatJuju *************/
.logout_popup fieldset {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    border: none;
    width: 400px;
    border-radius: 15px;
    padding-top: 15px;
}
.logout_panel {
    margin-top: 10px;
    background: #666666;
    border-radius: 10px;
    padding: 10px 13px 7px 12px;
    position: relative;
}

.root_logout {
    /*background-image: -moz-linear-gradient(bottom, rgba(240,240,240,0.8) 15%, rgba(158,158,158,0.8) 85%);*/
    background-color: rgba(100, 100, 100, 0.8);
    position: fixed;
    z-index: 1030;
    left: 0;
	top: 0;
	right: 0;
	padding: 5px;
	height:100%;
}

.logout_popup fieldset .legend {
    margin-top: 30px;
    margin-bottom: -10px;
    box-shadow: 0px 4px 5px #555;
    background: #BB413E;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sesi_tamat{
	color:rgba(255, 0, 0, 0.8);
	font-weight: bold;
	font-size: 14px;
}

.blink {
	animation: blink 1s steps(5, start) infinite;
}
/****************** End add by MatJuju *************/