@import url("bph_portal_main/safari.css");
@import url("bph_portal_main/chrome.css");
@import url("bph_portal_main/ie.css");
@import url("bph_portal_main/mozilla.css");

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 13px;
    
    letter-spacing: 0.5px;
    
    background: rgba(0, 61, 126, 1) url('../images/background.jpg') top center fixed;
	background-size: 100% 1619px;
	background-repeat: no-repeat;
    
    padding: 0px;
	/* margin: 0 0 35px 0; */
	margin: 0;
	
    color: #4C4C4C;
    
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.main-header {
	margin-top: 0px;
	
	background: url('../images/header.png') top center;
	background-size: 960px 131px;
	background-repeat: no-repeat;
}

.header {
	width: 100%;
	background: #003D7E;
	padding: 7px 0;
}

.header a {
	color: #fff;
	text-decoration: none;
}

.header #clockbox {
	color: #fff;
}

.main-menu a {
	color: #003D7E;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 17px;
	border-radius: 10px 10px 0 0;
}

.main-menu a:hover {
	color: #754C24;
	background: #F7931E;
	padding: 10px 17px 5px 17px;
}

.main-menu .selected {
	color: #754C24;
	background: #F7931E;
	padding: 10px 17px 5px 17px;
}

#main-body {
	margin-top: 15px;
}

#main-body .main-body {
	background: #FFF;
	border-radius: 15px;
}

.main-body {
	padding: 0 15px;
}

/* Social Icon */
#social-icon {
	margin-left: 9px;
}

ul#navigation {
    position: fixed;
    top: 225px;
    width: auto;
    margin-left: -35px;
    list-style: none;
}

ul#navigation li {
	position: relative;
    padding: 2px;
}

ul#navigation li a {
	border: 5px solid #CCC;
    display: block;
    width: 45px;
    height: 45px;   
    cursor: pointer;
    border-radius: 30px; 
    background-color: rgba(255, 255, 255, 0);
    background-repeat:no-repeat;
    background-position:center center;
    
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

ul#navigation li a:hover {
	z-index: -1;
	width: 150px;
	background-color: rgba(255, 255, 255, 1);
}

ul#navigation li div {
	float: right;
}

ul#navigation li a span {
	display: none;
	position: absolute;
	font-weight: 700;
	color: #666;
	margin-left: 25px;
	left: 0px;
	top: 22px;
	opacity: 0;
	/* transition:visibility 0s linear 0.5s,opacity 0.5s linear; */
	-webkit-transition: opacity 1s, -webkit-transform 0.35s;
	transition: opacity 1s, transform 0.35s;
}

ul#navigation li a:hover span {
	display: inline;
	opacity: 1;
}

.facebook-icon {
	width: 45px;
	height: 45px;
    background-image: url('../images/social/circle/facebook.png');
    background-size: 100% 100%;
}

.facebook-icon:hover {
	width: 45px;
	height: 45px;
    background-image: url('../images/social/circle/facebook.png');
    background-size: 100% 100%;
}

.instagram-icon {
	width: 45px;
	height: 45px;
    background-image: url('../images/social/circle/instagram.png');
    background-size: 100% 100%;
}

.instagram-icon:hover {
	width: 45px;
	height: 45px;
    background-image: url('../images/social/circle/instagram.png');
    background-size: 100% 100%;
}

.twitter-icon {
	width: 45px;
	height: 45px;
    background-image: url('../images/social/circle/twitter.png');
    background-size: 100% 100%;
}

.twitter-icon:hover {
	width: 45px;
	height: 45px;
    background-image: url('../images/social/circle/twitter.png');
    background-size: 100% 100%;
}

.box-title {
	text-transform: uppercase;
	background: #003D7E;
	color: #FFF;
	border-radius: 10px;
	padding: 7px 15px;
	font-size: 15px;
	font-weight: 700;
}

.login-panel {
	margin-top: 10px;
	background: #666666;
	border-radius: 10px;
	padding: 10px 13px 7px 12px;
	position: relative;
}

.input-style {
	height: 20px;
	border: none;
	background: #FFF;	
}

.login-description {
	padding: 15px 5px 5px 10px;
	color: #000;
}

.login-description a {
	text-decoration: none;
	color: #0071BC;
}

.login-footer {
	font-size: 11px;
	font-style: italic;
	color: #4C4C4C;
}

.login-footer strong {
	color: #000;
}

.second-left-body {
	margin-top: 10px;
	background: #FFF;
	border-radius: 15px;
}

.second-right-bottom-body {
	background: #003D7E;
	border-radius: 15px;
	padding-top: 5px;
}

.second-right-bottom-body .link {
	background: #CCCCCC;
	border: none;
	border-radius: 15px;
	padding: 5px;
	cursor: pointer;
	width: 140px;
}

.second-right-bottom-body .maklum-balas {
	color: #FFF;
}

/* Latest News */
#latest-news {
	width: 340px;
	height: 320px;
	position: absolute;
	right: 10;
	top: 0;
}

@-moz-document url-prefix() {
	#latest-news {
		width: 350px;
		height: 320px;
	}
}

#news-bg {
	/* padding: 5px; */
	background: url('../images/latest-news/green-square.jpg') no-repeat bottom; 
	background-size: 100% 95%;
}

.glyphicon {
	margin-right: 4px !important; /*override*/
}

.pagination .glyphicon {
	margin-right: 0px !important; /*override*/
}

.pagination a {
	color: #555;
}

.panel ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.news-item {
	padding: 4px 4px;
	margin: 0px;
	border-bottom: 1px dotted #555;
	text-decoration: none;
	text-align: justify;
	font-size: 11.5px;
}

.news-item:hover, .news-item:hover a {
	background: #003D7E;
	color: #FFF;
	text-decoration: none;
}

.panel { 
	background-color:#fff; 
} 

.panel-default > .panel-heading { 
	/* background-image:-webkit-linear-gradient(top, #FFD700 0, #FFE866 100%); 
	background-image:linear-gradient(to bottom, #FFD700 0, #FFE866 100%);  */
	background-repeat:repeat-x; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0) 
}

.panel-primary > .panel-heading { 
	background-image:-webkit-linear-gradient(top, #428bca 0, #357ebd 100%); 
	background-image:linear-gradient(to bottom, #428bca 0, #357ebd 100%); 
	background-repeat:repeat-x; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0) 
} 

.panel-success > .panel-heading { 
	background-image:-webkit-linear-gradient(top, #dff0d8 0, #d0e9c6 100%); 
	background-image:linear-gradient(to bottom, #dff0d8 0, #d0e9c6 100%); 
	background-repeat:repeat-x; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0) 
}

.panel-info > .panel-heading { 
	background-image:-webkit-linear-gradient(top, #d9edf7 0, #c4e3f3 100%); 
	background-image:linear-gradient(to bottom, #d9edf7 0, #c4e3f3 100%); 
	background-repeat:repeat-x; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0) 
} 

.panel-warning > .panel-heading { 
	background-image:-webkit-linear-gradient(top, #fcf8e3 0, #faf2cc 100%); 
	background-image:linear-gradient(to bottom, #fcf8e3 0, #faf2cc 100%); 
	background-repeat:repeat-x; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0) 
} 

.panel-danger > .panel-heading { 
	background-image:-webkit-linear-gradient(top, #f2dede 0, #ebcccc 100%); 
	background-image:linear-gradient(to bottom, #f2dede 0, #ebcccc 100%); 
	background-repeat:repeat-x; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0) 
} 

.panel-body { padding:15px; } 
.panel-body:before, .panel-body:after { display:table; content:" " } 
.panel-body:after { clear:both } 
.panel-body:before, .panel-body:after { display:table; content:" " } 
.panel-body:after { clear:both }
.panel-body a { background: #fff; color: #666; text-decoration: none; font-weight: 700; text-align: justify; /* font-size: 0.8em; */ }
.panel-body a:hover { /* background: #FFD700; color: #000080; */  } 
.panel > .list-group { margin-bottom:0 } 
.panel > .list-group .list-group-item { border-width:1px 0 } 
.panel > .list-group .list-group-item:first-child { border-top-right-radius:0; border-top-left-radius:0 } 
.panel > .list-group .list-group-item:last-child { border-bottom:0 } 
.panel-heading+.list-group .list-group-item:first-child { border-top-width:0 } 
.panel-heading {  border-bottom: 1px solid #CCC; font-size: 0.8em; padding: 7px 15px /* border-bottom:1px solid transparent; border-top-right-radius:3px; border-top-left-radius:3px */ } 
.panel-heading > .dropdown .dropdown-toggle { color:inherit } 
.panel-title { margin-top:0; margin-bottom:0; /* font-size: 0.8em; */ color: #000080; } 
.panel-title > a { color:inherit } 
.panel-footer { float: right; margin-right: 25px; margin-bottom: 15px/* padding:10px 15px; */ /* background-color:#FFD700; */ /* border-top:1px solid #ddd; border-bottom-right-radius:3px; border-bottom-left-radius:3px */ } 
.panel-default { /* border-color:#ddd */ } 
.panel-default > .panel-heading { color: #FFF; background-color: #99602E; background: #34495e url('../images/bg-tiles-1.png') repeat; /* border-color:#ddd */ } 
.panel-default > .panel-heading+.panel-collapse .panel-body { /* border-top-color:#ddd */ } 
.panel-default > .panel-footer+.panel-collapse .panel-body { /* border-bottom-color:#ddd */ } 

.pagination { display:inline-block; padding-left:0; /* margin:20px 0; */ border-radius:4px } 
.pagination > li { display:inline } 
.pagination > li > a, .pagination > li > span { position:relative; float: left; padding:4px 12px; margin-left:-1px; line-height:0; text-decoration:none; background-color:#fff; border:1px solid #ddd } 
.pagination > li:first-child > a, .pagination > li:first-child > span { margin-left:0; border-bottom-left-radius:4px; border-top-left-radius:4px } 
.pagination > li:last-child > a, .pagination > li:last-child > span { border-top-right-radius:4px; border-bottom-right-radius:4px } 
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus { background-color:#eee } 
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { z-index:2; color:#fff; cursor:default; background-color:#428bca; border-color:#428bca } 
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { color:#999; cursor:not-allowed; background-color:#fff; border-color:#ddd }

.title-galeri {
	font-weight: 700;
	text-transform: uppercase;
}

.galeri img {
	cursor: pointer;
}

.galeri a {
	text-decoration: none;
	color: #0071BC;
}

.galeri .desc {
	font-size: 11px;
}

.main-footer {
	margin-top: 15px;
	width: 100%;
	background: #F2F2F2;
}

.main-footer-header {
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
}

.main-footer-body .link {
	background: #CCCCCC;
	border: none;
	border-radius: 15px;
	padding: 5px;
	cursor: pointer;
	width: 140px;
}

.hubungi-kami {
	background: #CCC;
}

.hubungi-kami .main-footer-header {
	padding: 5px 25px;
}


.hubungi-kami .desc {
	padding: 0 25px;
	font-size: 11px;
}

.hubungi-kami .desc .title {
	font-size: 15px;
}

.footer {
	font-size: 11px;
	width: 100%;
	background: #003D7E;
	padding: 10px 0;
}

.footer a {
	color: #fff;
	text-decoration: none;
}

.footer .divider {
	color: #fff;
	padding: 0 5px;
}

.footer .copyright {
	color: #fff;
	letter-spacing: 1px;
}

/* Content */
#content-main-format {
	width: 960px;
	background: #FFF;
	border-radius: 15px;
	margin-top: 15px;
	padding-bottom: 15px;
}

#content-main-format header {
	font-size: 27px;
	font-weight: 700;
	padding: 35px 0 15px 50px;
	text-align: left;
}

#content-left-menu {
	width: 150px;
	position: relative;
}

#content-left-menu #left {
	width: 150px;
	border-right: 1px dashed #AAA;
	padding: 15px;
}

#content-left-menu #left .left-menu-style {
	border-bottom: 1px dashed #AAA;
}

#content-left-menu #left .left-menu-style a {
	text-decoration: none;
	color: #2E3192;
	font-weight: 700;
}

#content-left-menu #left strong {
	font-weight: 700;
	color: #000;
}

#content-left-menu #left #menu-sub {
	padding-top: 5px;
	border-top: 1px solid #CCC;
	font-size: 12px;
}

#content-left-menu #left #menu-sub td {
	padding: 2px 0;
}

#content-right-menu {
	padding: 0 20px 0 25px;
	width: 705px;
	overflow: auto;
	position: relative;
}

#content-right-menu #content {
	width: 705px;
	overflow: auto;
}

#content-left-bottom {
	position: relative;
	padding: 25px;
}

#content-format header {
	margin-top: -20px;
	margin-left: -50px;
	font-size: 18px;
	color: #2E3192;
}

#content-format p {
	text-align: justify;
}

#content-format ul li {
	text-align: justify;
}

#content-format fieldset {
	border: none;
}

#content-format .title {
	font-weight: 700;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
} 

#content-format strong {
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
} 

#content-format section table a {
	text-decoration: none;
	color: #0000FF;
	font-weight: 700;
} 

#content-format section table td {
	/* border: 1px solid #666; */
} 

.input-style, select {
	background:url('../images/textinput-bg.png') repeat-x;
	border:1px #ddd solid;
	width: 100%;
	font-size: 12px;
	color: #555;
}

.button-style {
	background: #CCCCCC;
	border: none;
	border-radius: 15px;
	padding: 5px;
	cursor: pointer;
	width: 140px;
}

.button-style:hover {
	background: #003D7E;
	color: #FFF;
}

.direktoriButton {
	background: #CCCCCC;
	border: none;
	border-radius: 25px;
	padding: 5px;
	cursor: pointer;
	width: 200px;
	white-space: normal;
	font-size: 12px;
	color: #666;
}

.direktoriButton:hover {
	background: #F7931E;
	color: #FFF;
}

.misc {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
}

.before-scroll {
	padding: 5px 15px;
	background: #003D7E;
    border: 1px solid #AAAAAB;
}

.after-scroll {
	padding: 15px;
	background: none;
    border: none;
}
/* BreadCumbs */

.breadcrumbs {
	margin: 0.5em;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
}
.breadcrumbs ul li {
	float: left;
	margin: 0 .2em 0 1em;
}
.breadcrumbs ul li:first-child {
	margin-left: 0 !important;
}
.breadcrumbs ul li:first-child a:before {
	content: normal;
}
/* .breadcrumbs ul li:last-child {
	background: none;
}
.breadcrumbs ul li:last-child a {
	color: #1d1d1d;
} */
.breadcrumbs ul li:last-child:after,
.breadcrumbs ul li:last-child:before {
	content: normal;
}
.breadcrumbs ul a {
	background: #d9d9d9;
	padding: 0.8em 1em;
	float: left;
	text-decoration: none;
	/* color: #2e92cf; */
	color: #003D7E;
	position: relative;
}
.breadcrumbs ul a:hover {
	background: #003D7E;
	color: #ffffff;
}
.breadcrumbs ul a:hover:before {
	border-color: #003D7E #003D7E #003D7E transparent;
}
.breadcrumbs ul a:hover:after {
	border-left-color: #003D7E;
}
.breadcrumbs ul a:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-width: 1.5em 0 1.5em 1em;
	border-style: solid;
	border-color: #D9D9D9 #D9D9D9 #D9D9D9 transparent;
	left: -1em;
	margin-left: 1px;
}
.breadcrumbs ul a:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid #D9D9D9;
	right: -1em;
	margin-right: 1px;
}
.breadcrumbs ul .active,
.breadcrumbs ul .active:hover {
	/* background: #003D7E; */
}
.breadcrumbs ul .active a,
.breadcrumbs ul .active:hover a {
	font-weight: 700;
	color: #000;
}
.breadcrumbs ul .active:hover a {
	background: #003D7E;
	color: #FFF;
}
.breadcrumbs ul .active:after,
.breadcrumbs ul .active:before {
	content: normal;
}
.breadcrumbs.small li {
	margin: 0 .2em 0 .8em;
}
.breadcrumbs.small a {
	padding: .2em 1em;
	font-size: 11.9px;
}
.breadcrumbs.mini li {
	margin: 0 .2em 0 .6em;
}
.breadcrumbs.mini a {
	padding: .1em 1em;
	font-size: 10.5px;
}

#webCounter {
	position: relative;
	z-index: 1000;
	width: 175px;
}

#webCounter a {
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	color: #FFF;
}

#webHover {
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #003D7E;
	border-radius: 10px 10px 0 0;
    padding: 0 10px;
    color: #FFF;
}

#keserasian {
	position: relative;
	z-index: 1000;
	width: 300px;
}

#keserasian a {
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	color: #FFF;
}

#keserasianHover {
	z-index: 999;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #003D7E;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
    color: #FFF;
}

.ui-tabs, .ui-tabs-panel, .ui-widget-content {
	padding: 0;
	border: none;
	background: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}

.ui-widget-header {
	background: none;
	border: none;
}

.ui-tabs-anchor {
	background: #D6D6D6;
	background-image: linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
	background-image: -webkit-linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
    background-image: -moz-linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
    border-top: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
	color: #754C24;
	font-weight: 600;
	border-radius: 10px 10px 0 0;
	text-align: center;
	padding: 0;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none;
	border-radius: 10px 10px 0 0;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6 {
	position: relative;
	border: 1px solid #C8C8C8;
	background: #F5F6F7;
	padding: 5px 15px;
}

#sub-tabs-1, #sub-tabs-2, #sub-sub-tabs-1, #sub-sub-tabs-2 {
	border: none;
	/* padding: 0 15px; */
}

#scrollPosition {
	color: #CCC;
}

#scrollPosition .copyright {
	color: #fff;
	letter-spacing: 1px;
	font-size: 8pt;
}

#idMemuaskan {
	cursor: pointer;
}

#idLemah {
	cursor: pointer;
}

#idTidakMemuaskan {
	cursor: pointer;
}

.alink {
	text-decoration: none;
	font-style: none;
	color: #0000FF;
	text-transform: none;
}

.btnPekeliling {
	margin: 5px 0;
	padding: 3px 25px;
	cursor: pointer;
	background: #D6D6D6;
	background-image: linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
	background-image: -webkit-linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
    background-image: -moz-linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
    border: 1px solid #C8C8C8;
}

.btnPekeliling:hover {
	background: #F5F6F7;
	background-image: linear-gradient(top, #F5F6F7 20%, #D6D6D6 80%);
	background-image: -webkit-linear-gradient(top, #F5F6F7 20%, #D6D6D6 80%);
    background-image: -moz-linear-gradient(top, #F5F6F7 20%, #D6D6D6 80%);
}

.btnGaleri {
	/* margin: 5px 0; */
	/* padding: 3px 25px; */
	width: 100px;
	height: 25px;
	cursor: pointer;
	background: #D6D6D6;
	background-image: linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
	background-image: -webkit-linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
    background-image: -moz-linear-gradient(bottom, #F5F6F7 20%, #D6D6D6 80%);
    border: 1px solid #C8C8C8;
}

.btnGaleri:hover {
	background: #F5F6F7;
	background-image: linear-gradient(top, #F5F6F7 20%, #D6D6D6 80%);
	background-image: -webkit-linear-gradient(top, #F5F6F7 20%, #D6D6D6 80%);
    background-image: -moz-linear-gradient(top, #F5F6F7 20%, #D6D6D6 80%);
}

#contentGaleri {
	width: 550px;
	overflow: auto;
}

.info {
	width: 180px;
	background: rgba(246, 248, 199, 1);
	color: #000;
	position: fixed;
	top: 0px;
	right: 2px;
	/* text-align: justify; */
	padding: 0 5px;
	border-radius: 0 0 10px 10px;
	font-size: 9pt;
	
	-moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

.info .titleInfo {
	color: #FF0000;
	font-weight: 700;
	font-size: 12pt;
}

.info a {
	color: #FF0000;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
}

.info-h {
	width: 960px;
	background: rgba(246, 248, 199, 1);
	color: #000;
	position: fixed;
	top: 0px;
	left: 50%;
	/* text-align: justify; */
	padding: 5px 10px;
	border-radius: 0 0 10px 10px;
	font-size: 9pt;
	
	-ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    transform: translateX(-50%);
	
	-moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

.info-h .titleInfo {
	color: #FF0000;
	font-weight: 700;
	font-size: 12pt;
}

.info-h marquee, .info-h div {
	margin-top: 2px;
	float: right;
	width: 790px;
}

.info-h a {
	color: #FF0000;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    cursor: pointer;
    font-size: 20px;
    color: red;
    background:#ccc;
}

#closeButton {
    float: right;
    /* margin-top:-30px; */
    margin-right: -10px;
    cursor: pointer;
    color: #605F61;
    /* border: 1px solid #AEAEAE; */
    border-radius: 50%;
    /* background: #605F61; */
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 9px 3px 12px 3px;  
}

#closeButton:before {
	content: "×";
}

#rootLogin {
	z-index: 2147483647; 
    position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding-bottom: 5px;
	background: rgba(100, 100, 100, 0.8);
}

#rootLogin fieldset{
	position: absolute;
	top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 	background: rgba(255, 255, 255, 1);
	border: none;
	width: 500px;
	border-radius: 15px;
	padding-top: 15px;
}

#rootLogin fieldset .legend{
	margin-top: 30px;
	margin-bottom: -10px;
	box-shadow: 0px 4px 5px #555;
	background: #BB413E;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.starter {
	z-index: 2147483647; 
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	background: rgba(0, 61, 126, 1) url('../images/background.jpg') top center fixed;
	background-size: 100% 1619px;
	background-repeat: no-repeat;
}

.starter-content {
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(255, 255, 255, 1);
	padding: 15px 25px;
	border-radius: 15px;
	line-height: 2em;
	
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.indicator_main {
	z-index: 2147483647; 
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.5); 
}

.indicator_loading {
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(255, 255, 255, 1);
	padding: 15px 25px;
	border-radius: 15px;
	line-height: 2em;
	
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.goog-te-gadget-icon{
  display:none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }
    
    
 
/*********************** START ADD BYZUL BOOTSRATP TABLE ***************/
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #AAAAAB;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #AAAAAB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
/*********************** END ADD BYZUL BOOTSRATP TABLE ***************/    
