html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
	font-style: normal;
	/* font-size: 7.5pt; */
	font-size: 12px;
    /* font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; */
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body { 
	background: #F8E7E8 url('bph_penguatkuasa/') fixed no-repeat;
	background-position: bottom right;
	background-size: 500px 400px;
	margin: 0;
	width: 100%;
}

.fixed_top {
	padding: 5px;
	position: fixed;
	z-index: 1030;
	left: 0;
	top: 0;
	right: 0;	
}

.tab_logged {
	/* font-size: 7.5pt; */
	background-color: rgba(41,65,107,0.8);
	color: #fff;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A63635', endColorstr='#6D2324'); /* IE9++ */
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A63635', endColorstr='#6D2324'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A63635', endColorstr='#6D2324')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #6D2324 30%, #A63635 70%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #6D2324 30%, #A63635 70%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #6D2324 30%, #A63635 70%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6D2324), color-stop(3, #A63635));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #6D2324 30%, #A63635 70%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #6D2324 30%, #A63635 70%);
}

/*----------------------------ubahbyzul--------------*/
/* .container {
	margin-top: 25px;
	z-index: 99;
	width: 100%;  
	height: 100%;
	-webkit-box-shadow: 0 0 3px #777;
}*/
.container {
	margin-top: 40px;
	z-index: 99;
	width: 100%;  
	height: 100%;
	-webkit-box-shadow: 0 0 3px #777;
}
/*----------------------------ubahbyzul--------------*/

.modules {
	width: 100%;
	height: 100%;
	background: rgba(248, 231, 232, 0.8);
	margin-bottom: 25px;
}

.page_footer { 
	position: fixed;
	bottom: 0;
	height: 25px;
	left: 0;
	right: 0;
	color: #F8F8F8;
	text-align: center;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93302F', endColorstr='#591D1E'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#93302F', endColorstr='#591D1E'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#93302F', endColorstr='#591D1E')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #93302F 25%, #591D1E 75%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #93302F 25%, #591D1E 75%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #93302F 25%, #591D1E 75%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #93302F), color-stop(3, #591D1E));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #93302F 25%, #591D1E 75%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #93302F 25%, #591D1E 75%);
}

.navigation_menu { 
	background: url('bph_penguatkuasa/nav-left.jpg') repeat;
	background-size: 100% 1014px;
	background-position: top;
	padding-bottom: 25px;
}

.nav_background {
	/* font-size: 7.5pt; */
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px;
	color: #FFF;
	background: rgba(203,100,98,0.6);
	border-top: 1px solid #953332;
	border-right: 1px solid #953332;
	border-bottom: 1px solid #953332;
}

.nav_background:hover {
	background: rgba(247,230,231,1);
	border-top: 1px solid #953332;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #953332;
	color: #000;
}

.nav_background_active { 
	/* font-size: 7.5pt; */
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	padding: 10px;
	color: #000;
	background: rgba(247,230,231,1);
	border-top: 1px solid #953332;
	border-bottom: 1px solid #953332;
}

.tab { 
	padding: 0;
	width: 100%;
	
	background: rgba(167, 56, 55, 1);
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A63635', endColorstr='#F9E9EA'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A63635', endColorstr='#F9E9EA'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A63635', endColorstr='#F9E9EA')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #F9E9EA 0%, #A63635 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #F9E9EA 0%, #A63635 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #F9E9EA 0%, #A63635 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F9E9EA), color-stop(3, #A63635));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #F9E9EA 0%, #A63635 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #F9E9EA 0%, #A63635 100%);
}

.module_title { 
	height: 20px;
    padding: 5px;
    letter-spacing: 1px;
}

/* .module_title_child { 
	height: 20px;
    border-bottom: 1px solid #C0C0C0;
    font-weight: bold;    
    color: #000000;
} */
.module_title_child { 
	height: 40px;
    border-bottom: 1px solid #C0C0C0;
    font-weight: bold;    
    color: #000000;
    font-size:18px; 
}

.tab_background { 
	/* font-size: 7.5pt; */
	text-align: center;
	cursor: pointer;
	color: #000;
	font-weight: normal;
	font-style: normal;
	padding: 10px 15px;
	-moz-border-radius: 1em 1em 0 0;
	-webkit-border-radius: 1em 1em 0 0;
	border-radius: 1em 1em 0 0;
	border: 1px solid #ccc;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEEE3', endColorstr='#A9A9A9'); /* IE9++ */
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EBEEE3', endColorstr='#A9A9A9'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EBEEE3', endColorstr='#A9A9A9')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #A9A9A9), color-stop(3, #EBEEE3));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #A9A9A9 0%, #EBEEE3 100%);
}

.tab_background:hover { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9A9A9', endColorstr='#F7E6E7'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#F7E6E7'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#F7E6E7')"; /* IE8 */
	zoom: 1;
		
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #F7E6E7 0%, #A9A9A9 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #F7E6E7 0%, #A9A9A9 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #F7E6E7 0%, #A9A9A9 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F7E6E7), color-stop(3, #A9A9A9));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #F7E6E7 0%, #A9A9A9 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #F7E6E7 0%, #A9A9A9 100%);
}

.tab_background_active { 
	/* font-size: 7.5pt; */
	text-align: center;
	cursor: pointer;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	padding: 10px 15px;	
	-moz-border-radius: 1em 1em 0 0;
	-webkit-border-radius: 1em 1em 0 0;
	border-radius: 1em 1em 0 0;
	
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6D2324', endColorstr='#F9E9EA'); /* IE9++ */
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6D2324', endColorstr='#F9E9EA'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6D2324', endColorstr='#F9E9EA')"; /* IE8 */
	zoom: 1;
	
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #F9E9EA 0%, #6D2324 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #F9E9EA 0%, #6D2324 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #F9E9EA 0%, #6D2324 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F9E9EA), color-stop(3, #6D2324));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #F9E9EA 0%, #6D2324 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #F9E9EA 0%, #6D2324 100%);
}

.page_header_1 {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BA5859', endColorstr='#DF9D9E'); /* IE9++ */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#BA5859', endColorstr='#DF9D9E'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#BA5859', endColorstr='#DF9D9E')"; /* IE8 */
	zoom: 1;
	
	/* IE10 */ 
	background-image: -ms-linear-gradient(right, #BA5859 20%, #DF9D9E 80%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(right, #BA5859 20%, #DF9D9E 80%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(right, #BA5859 20%, #DF9D9E 80%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, top right, top left, color-stop(0, #BA5859), color-stop(3, #DF9D9E));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(right, #BA5859 20%, #DF9D9E 80%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(right, #BA5859 20%, #DF9D9E 80%);
	
	height: 85px;
	width: 100%;
}

.page_header_2 {
	background: url('bph_penguatkuasa/banner-header-bg-1.png') no-repeat;
	background-position: top;
	background-size: 100% 100%;
	height: 85px;
	width: 100%;
}

.page_header_3 {
	background: url('bph_penguatkuasa/banner-header-bg-2.png') no-repeat;
	background-size: 100% 100%;
	background-position: top;
	height: 85px;
	width: 100%;
}

.page_header_4 {
	background: url('bph_penguatkuasa/banner-header-bg-3.png') no-repeat;
	background-size: 100% 100%;
	background-position: top;
	height: 85px;
	width: 100%;
}

.page_header_5 {
	background: url('bph_penguatkuasa/banner-header-bg-4.png') no-repeat;
	background-size: 850px 125px;
	background-position: top right;
	height: 85px;
	width: 100%;
}

.page_header_6 {
	background: url('bph_penguatkuasa/banner-header-bg-5.png') no-repeat;
	background-size: 850px 125px;
	background-position: top left;
	height: 85px;
	width: 100%;
}

.page_header_7 {
	background: url('bph_penguatkuasa/banner-header-bg-6.png') no-repeat;
	background-size: 850px 150px;
	background-position: top center;
	height: 85px;
	width: 100%;
}

.page_header_8 {
	background: url('bph_penguatkuasa/banner-header-bg-7.png') center no-repeat;
	background-size: 850px 150px;
	background-position: top center;
	height: 85px;
	width: 100%;
}

.page_header_9 {
	background: url('bph_penguatkuasa/banner-header-bg-8.png') center no-repeat;
	background-size: 850px 150px;
	background-position: top;
	height: 85px;
	width: 100%;
}

.font_welcome_date { 
	color: #FFA500; 
	font-weight: bold;
}

.font_welcome { 
	font-weight:bold; 
	color: #FFF;
}

/*----------------------------Start UbahByZul--------------------------*/
/* input[type=button], input[type=reset], input[type=file], .button {
	padding: 2px 15px;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	border: 1px solid #712425;
	border-radius: 15px;
	color: #712425;
	background-color: #F6ACAC;
} */
input[type=button], input[type=reset], input[type=file], .button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

/* input[type=button]:hover, input[type=reset]:hover, input[type=file]:hover, .button:hover {
	color: #712425;
	background-color: #F17E7E;
} */
input[type=button]:hover, input[type=reset]:hover, input[type=file]:hover, .button:hover {
	color: #712425;
	background-color: #cccccc;
	border-color: #cccccc;
}


input[type="text"], input[type="password"], textarea { 
	width: 100%;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	height: 20px; /*addbyzul*/
}
/* input[type="text"], input[type="password"], textarea { 
	display: block;
    width: 100%;
    height: 15px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} */
/*----------------------------End UbahByZul--------------------------*/

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type=text]:disabled, input[type=password]:disabled {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

input[type="text"]:readonly, input[type="password"]:readonly {
	background-color: #eee;
	opacity: 1;
}

input[readonly="readonly"], input[readonly="readonly"]:hover, input[readonly="readonly"]:active {
	background-color: #eee;
	opacity: 1;
}

input[readonly], input[readonly]:hover, input[readonly]:active {
	background-color: #eee;
	opacity: 1;
}

input[type="search"] { 
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="search"]:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/*----------------------------Start UbahByZul--------------------------*/
select { 
	height: 25px;  /*zul add height*/
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*----------------------------End UbahByZul--------------------------*/


select:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

select option { 
	cursor: pointer;
}

fieldset {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #ccc;
}

/* .legend {
	background: #BB413E;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
} */
.legend {
	background: #BB413E;
	color: #fff;
	font-weight: bold;
	padding: 5px 30px;
	border-radius: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

.sorting {
	height: 19px;
	width: 19px;
	float: right;
	cursor: pointer;
	margin-top: -3px;
	margin-bottom: -3px;
	margin-right: -5px;
}

.record_header {
	background-color: #BDBDBD;
	font-weight: bold;
	color: #fff;
	padding: 10px 5px;
}    

.record_row1 {
	background-color: #F9F9F9;
}

.record_row2 {
	background-color: #FFFFFF;
}   

.record_row1:hover, .record_row2:hover {
	background-color: #EAEAEA;
	cursor: pointer;
}

.record_highlight {
	background-color: #EAEAEA;
	cursor: pointer;
}   

.copyrights {
	/* font-size: 7.5pt; */
	color: #888;
}

.font_role { 
	font-weight: bold;
	color: #FFF; 
}

#role {
	/* font-size: 7.5pt; */
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #E17F9E;
}

::selection {
    color: #fff;
    background: #E17F9E;
}

.breadcrumbs {
	margin: 0.5em;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.breadcrumbs ul li {
	float: left;
	margin: 0 .2em 0 1em;
}

.breadcrumbs ul li:first-child {
	margin-left: 0 !important;
}

.breadcrumbs ul li:first-child a:before {
	content: normal;
}

.breadcrumbs ul li:last-child:after,
.breadcrumbs ul li:last-child:before {
	content: normal;
}

.breadcrumbs ul a {
	background: #d9d9d9;
	padding: 0.8em 1em;
	float: left;
	text-decoration: none;
	/* color: #2e92cf; */
	color: #008000;
	position: relative;
}

.breadcrumbs ul a:hover {
	background: #008000;
	color: #ffffff;
}

.breadcrumbs ul a:hover:before {
	border-color: #008000 #008000 #008000 transparent;
}

.breadcrumbs ul a:hover:after {
	border-left-color: #008000;
}

.breadcrumbs ul a:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-width: 1.5em 0 1.5em 1em;
	border-style: solid;
	border-color: #D9D9D9 #D9D9D9 #D9D9D9 transparent;
	left: -1em;
	margin-left: 1px;
}

.breadcrumbs ul a:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid #D9D9D9;
	right: -1em;
	margin-right: 1px;
}

.breadcrumbs ul .active,
.breadcrumbs ul .active:hover {
	background: none;
}

.breadcrumbs ul .active a,
.breadcrumbs ul .active:hover a {
	font-weight: bold;
	color: #000;
}

.breadcrumbs ul .active:hover a {
	color: #FFF;
}

.breadcrumbs ul .active:after,
.breadcrumbs ul .active:before {
	content: normal;
}

.breadcrumbs.small li {
	margin: 0 .2em 0 .8em;
}

.breadcrumbs.small a {
	padding: .2em 1em;
	font-size: 11.9px;
}

.breadcrumbs.mini li {
	margin: 0 .2em 0 .6em;
}

.breadcrumbs.mini a {
	padding: .1em 1em;
	font-size: 10.5px;
}

.popup {
	z-index: 2147483647; 
    position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding-bottom: 5px;
	background: rgba(100, 100, 100, 0.8);
}

.popup fieldset{
	position: absolute;
	top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 	background: rgba(255, 255, 255, 1);
	border: none;
	width: 700px;
}

.popup fieldset .legend{
	margin-top: 30px;
	margin-bottom: -10px;
	box-shadow: 0px 4px 5px #555;
}

.popupWide {
	z-index: 2147483647; 
    position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding-bottom: 5px;
	background: rgba(100, 100, 100, 0.8);
}

.popupWide fieldset{
	position: absolute;
	top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 	background: rgba(255, 255, 255, 1);
	border: none;
}

.popupWide fieldset .legend{
	margin-top: 30px;
	margin-bottom: -10px;
	box-shadow: 0px 4px 5px #555;
}

.Zebra_DatePicker_Icon {
	z-index: 1;
}

.Zebra_DatePicker_Icon_Wrapper {
	border: 1px solid #D9D9D9;
	background-color: rgba(255,255,255,0);
	z-index: 1;
}

#tab_signup {
	display: none;
}

.currency {
	text-align: right;
}

.indicator_main {
	z-index: 2147483647; 
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.5); 
}

.indicator_loading {
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(255, 255, 255, 1);
	padding: 15px 25px;
	border-radius: 15px;
	line-height: 2em;
	
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Table elements */

.table_header { 
	background-color: rgba(197,197,197,0.9); 
	color: #fff;
	font-weight: normal;
	padding: 10px 5px;
}

.table_header2 { 
	background-color: rgba(171,171,171,0.9); 
	font-weight: bold; 
	text-align: center 
}

.table_row { 
	/* background-color: #FFE2BC; */
	border: 1px solid #ccc;
}

.table_row2 { 
	/* background-color: #B29E83; */
	border: 1px solid #ccc; 
}

.table { 
	background-color: #FFF8B9 
}

td { 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

/*  Alternating rows changing row color between row1 and row2 */

td.row1 { 
	background-color: rgba(230,230,230,0.9); 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
	border: 1px solid rgba(255,255,255,0);
}

td.row2 { 
	background-color: rgba(255,255,255,0.9); 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
	border: 1px solid #ccc;
}

td.selected { 
	background-color: rgba(129,196,223,0.9); 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

td.table_head { 
	background-color: #0B3A6E; 
	color: #FFFFFF; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

td.cell_head { 
	background-color: #FFA800; 
	color: #000000; 
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
}

/* Other elements */

/****************** Start add by MatJuju *************/
.logout_popup fieldset {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    border: none;
    width: 400px;
    border-radius: 15px;
    padding-top: 15px;
}
.logout_panel {
    margin-top: 10px;
    background: #666666;
    border-radius: 10px;
    padding: 10px 13px 7px 12px;
    position: relative;
}

.root_logout {
    /*background-image: -moz-linear-gradient(bottom, rgba(240,240,240,0.8) 15%, rgba(158,158,158,0.8) 85%);*/
    background-color: rgba(100, 100, 100, 0.8);
    position: fixed;
    z-index: 1030;
    left: 0;
	top: 0;
	right: 0;
	padding: 5px;
	height:100%;
}

.logout_popup fieldset .legend {
    margin-top: 30px;
    margin-bottom: -10px;
    box-shadow: 0px 4px 5px #555;
    background: #BB413E;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sesi_tamat{
	color:rgba(255, 0, 0, 0.8);
	font-weight: bold;
	font-size: 14px;
}

.blink {
	animation: blink 1s steps(5, start) infinite;
}
/****************** End add by MatJuju *************/