.dashboard {
	border: 1px solid rgba(0, 0, 0, 0.5);
	position: relative;
	/* background: rgba(255, 255, 255, 1); */
	/* width: 1050px; */
	/* width: 80%; */
	/* min-height: 200px; */
	/* height: 530px; */
	/* width: 100%;
	height: 100%; */
	margin: -45px auto 0 auto;
	/* background: rgba(255, 255, 255, 0.5); */
	/* padding: 15px; */
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); */
	/* border-radius: 15px; */
	/* border: 1px solid rgba(0, 0, 0, 0.5); */
	/* z-index: 999999; */
}

.welcome_dashboard {
	/* margin-left: -15px; */
	/* margin-top: -15px; */
	/* left: 15px;
	right: 15px; */
	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
	/* position: absolute; */
	/* width: 100%; */
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1em;
	font-weight: bold;
	color: #FFF;
}

.dashboard .firstRow {
	border-right: 1px dotted rgba(0, 0, 0, 0.5);
	/* padding: 15px; */
	/* overflow-y: auto; */
	/* float: left; */
	/* margin-top: 57px; */
	/* top: 75;
	bottom: 0; */
	width: 50%;
}

.dashboard .secondRow {
	/* border-left: 1px dotted rgba(0, 0, 0, 0.5); */
	/* padding: 15px; */
	/* overflow-y: auto; */
	/* float: right; */
	/* margin-top: 57px; */
	/* top: 75;
	bottom: 0; */
	width: 50%;
}

.dashboard .firstRow .item1 {
	margin: 7px;
	position: relative;
	/* height: 75px; */
}

.dashboard .secondRow .item1 {
	margin: 7px;
	position: relative;
	/* height: 75px; */
}

#getGrid1 {
	position: relative;
	padding: 5px 5px 25px 5px;
	height: auto;
	/* margin: 15px; */
	/* border: 1px solid #CCC; */
	background: rgba(0, 0, 0, 0.5);
	/* border-radius: 45px; */
	min-height: 50px;
}

#getGrid1:hover {
	cursor: pointer;
	box-shadow: 0 0 15px #000;
}

#getGrid1:hover .icon-user-2, 
#getGrid1:hover .icon-accessibility, 
#getGrid1:hover .icon-cube,
#getGrid1:hover .icon-newspaper,
#getGrid1:hover .icon-pencil,
#getGrid1:hover .icon-stats-up,
#getGrid1:hover .icon-key,
#getGrid1:hover .icon-drawer-2 {
	text-shadow: none;
}

#getGrid1 .icon-user-2, 
#getGrid1 .icon-accessibility, 
#getGrid1 .icon-cube,
#getGrid1 .icon-newspaper,
#getGrid1 .icon-pencil,
#getGrid1 .icon-stats-up,
#getGrid1 .icon-key,
#getGrid1 .icon-drawer-2 {
	position: absolute;
	padding: 0px 5px;
	font-size: 3em;
	text-shadow: 0em 0em 0.1em #999;
	/* margin-bottom: 10px; */
	color: rgba(255, 255, 255, 0.5);
}

#getGrid1 img {
	position: absolute;
	padding: 7px 12px;
	margin-right: 15px;
	width: 45px;
	height: 50px;
	font-size: 3em;
	text-shadow: 0em 0em 0.1em #999;
	/* margin-bottom: 10px; */
}

#getGrid1 .title {
	position: absolute;
	bottom: 1px;
	right: 2px;
	font-weight: bold;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.2);
}

#getGrid1 .link {
	position: relative;
	/* top: 5px;
	left: 75px; */
	margin-left: 75px;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 1px;
}

#getGrid1 .link a {
	color: #ADFF2F;
}

#getGrid1 .link a:hover {
	color: #F5E8DC;
	cursor: pointer;
}

#getGrid1 .bracket {
	margin: 0 2px;
	color: rgba(255, 255, 255, 0.5);
}

/* nt-example2 */

#nt-example2 {
	width: 100%;
	/* margin: auto; */
	margin-left: -40px;
	/* visibility: hidden; */
	display: none;
}

#nt-example2-container {
	text-align: center;
	/* margin-top: 107px; */
	/* margin-bottom: 40px; */
	height: auto;
}

#nt-example2-container i {
	font-size: 36px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nt-example2-container i:hover {
	color: #333;
}

#nt-example2 li {
	color: #f2f2f2;
	background: rgba(0, 0, 0, 0.5);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 60px;
	padding: 10px 16px 10px 16px;
	line-height: 40px;
	list-style: none;
	font-size: 24px;
	text-align: left;
}

#nt-example2 li .state {
	font-size: inherit;
	margin: 0;
}

#nt-example2 span.hour {
	font-weight: 700;
}

#nt-example2-infos-triangle {
	display: none;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 15px 16px 15px;
	border-top-color: transparent;
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-right-color: transparent;
	border-left-color: transparent;
	margin: 6px auto 0;
}

#nt-example2-infos {
	width: 90%;
	/* max-width: 620px; */
	min-height: 150px;
	margin: 7px auto;
	padding: 15px;
	color: #f2f2f2;
	background: rgba(0, 0, 0, 0.5);
}

#nt-example2-infos .infos-title {
	position: relative;
	/* height: 25px; */
	padding: 0px 5px 10px 5px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
}

#nt-example2-infos .infos-hour {
	font-size: 50px;
	font-weight: 700;
	margin-top: 20px;
}

#nt-example2-infos h4 {
	color: #F2F2F2;
	font-weight: 500;
}

#nt-example2-infos .infos-text {
	font-size: 14px;
	text-align: left;
}

.arrow-left-right {
	/* margin-top: -17px;
	margin-left: -15px; */
	/* float: left; */
	/* height: 100%; */
}

.icon-arrow-left-5 {
	margin-right: 10px;
	float: left;
	height: 100%;
}

.icon-arrow-right-5 {
	margin-left: 10px;
	float: right;
	height: 100%;
}