<script>
	var url = "../servlet/bph.laporan.kewangan.KEWResitSalinan?idResit="+$idResit;
	var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
	if ((document.window != null) && (!hWnd.opener))
	hWnd.opener = document.window;
	if (hWnd.focus != null) hWnd.focus();
</script>