<select class="texts" id="findLokasi" name="findLokasi" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectLokasi)
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
