<select id="flagAktifSubRujukan" name="flagAktifSubRujukan" style="width:180px" onChange="$('err_flagAktifSubRujukan').innerHTML=''; at(this, event);">
	<option value="">SILA PILIH</option>
    <option value="Y" #if ($!subRujukan.flagAktif == 'Y') selected #end>AKTIF</option>
    <option value="T" #if ($!subRujukan.flagAktif == 'T') selected #end>TIDAK AKTIF</option>
</select>