<div id="content-format">
  <pinLeft></pinLeft>
  <pinRight></pinRight>
  <header>PENDAFTARAN PENGGUNA</header>
  <fieldset>
  <section>
    <table cellpadding="10" cellspacing="0" border="0" align="center">
      #if ( $success == 'true')
      <tr>
        <td style="text-align:center;">
        	<font color="black"><b>Pendaftaran akaun anda telah berjaya.</b></font>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
        	<font color="black"><b>Maklumat katalaluan akan dihantar melalui e-mel ke </b></font><font color="blue"><b>$!emelDidaftarkan </b></font>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
        	<font color="black"><b>Sila semak e-mel untuk tindakan selanjutnya.</b></font>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">
        	<font color="black"><b>Terima Kasih.</b></font>
        </td>
      </tr>
      #else
      <tr>
        <td style="text-align:center;">
        	<p class="title"> 
        		<font color="red"><b>
        			Harap maaf. Akaun anda tidak berjaya didaftarkan. Sila cuba semula.</b></font> 
        	</p>
        </td>
      </tr>
      #end
      <tr>
        <td><table align="center">
            <tr>
              <td><input class="button-style" style="padding: 5px 15px;" type="button" value="Kembali" onclick="location.reload()"></td>
            </tr>
          </table></td>
      </tr>
    </table>
  </section>
  </fieldset>
</div>

