<input type="hidden" id="validIC" name="validIC" value="$!validIC">
<input type="hidden" id="replyMsg" name="replyMsg" value="$!replyMsg">

<input type="hidden" id="flagSemakanJPN" name="flagSemakanJPN" value="$!flagSemakanJPN">
<input type="hidden" id="flagSemakanHRMIS" name="flagSemakanHRMIS" value="$!flagSemakanHRMIS">
<input type="hidden" id="flagSemakanPESARA" name="flagSemakanPESARA" value="$!flagSemakanPESARA">

$!replyMsg