function doCetakLaporanSenaraiKuarters() {
	var err_count = 0;

	var idKelasKuarters = $('idKelasKuarters').value;	
	var idJenisKediaman = $('idJenisKediaman').value;
	var idStatusKuarters = $('idStatusKuarters').value;
	var idNegeri = $('idNegeri').value;
	var idBandar = $('idBandar').value;
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanSenaraiKuarters?kelasKuarters="+idKelasKuarters+"&statusKuarters="+idStatusKuarters+"&idJenisKediaman="+idJenisKediaman+"&idNegeri="+idNegeri+"&idBandar="+idBandar;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}

function doCetakLaporanSenaraiPenghuniKuarters() {
	var err_count = 0;

	var idNegeri = $('idNegeri').value;
	var idBandar = $('idBandar').value;
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanSenaraiPenghuniKuarters?idNegeri="+idNegeri+"&idBandar="+idBandar;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}

function doCetakLaporanSenaraiPenghuniKeluarKuarters() {
	var err_count = 0;

	var tarikhTerima = $('tarikhTerima').value;	
	var tarikhTerimaHingga = $('tarikhTerimaHingga').value;
	var idGredJawatan = $('idGredJawatan').value;
	var idJawatan = $('idJawatan').value;
	var idNegeri = $('idNegeri').value;
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanSenaraiPenghuniKeluarKuarters?tarikhTerima="+tarikhTerima+"&tarikhTerimaHingga="+tarikhTerimaHingga+"&idGredJawatan="+idGredJawatan+"&idJawatan="+idJawatan+"&idNegeri="+idNegeri;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}

function doCetakLaporanSenaraiPenghuniMenunggu() {
	var err_count = 0;

	var tarikhTerima = $('tarikhTerima').value;	
	var tarikhTerimaHingga = $('tarikhTerimaHingga').value;
	var idGredJawatan = $('idGredJawatan').value;
	var idJawatan = $('idJawatan').value;
	var idAgama = $('idAgama').value;
	var idBangsa = $('idBangsa').value;
	var idJantina = $('idJantina').value;
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanSenaraiPenghuniMenunggu?tarikhTerima="+tarikhTerima+"&tarikhTerimaHingga="+tarikhTerimaHingga+"&idGredJawatan="+idGredJawatan+"&idJawatan="+idJawatan+"&idAgama="+idAgama+"&idBangsa="+idBangsa+"&idJantina="+idJantina;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}

function doCetakLaporanSenaraieTemujanji() {
	var err_count = 0;

	var tarikhTerima = $('tarikhTerima').value;		
	var tarikhTerimaHingga = $('tarikhTerimaHingga').value;		
	var nama = $('nama').value;
	var noKP = $('noKP').value;
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanSenaraieTemujanji?tarikhTerima="+tarikhTerima+"&tarikhTerimaHingga="+tarikhTerimaHingga+"&nama="+nama+"&noKP="+noKP;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}

function doCetakLaporanStatistikStatusKuartersMengikutTahun() {
	var err_count = 0;

	var tahun = $('tahun').value;	
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanStatistikStatusKuartersMengikutTahun?tahun="+tahun;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}

function doCetakLaporanStatistikStatusPermohonanMengikutTahun() {
	var err_count = 0;

	var tahun = $('tahun').value;	
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanStatistikStatusPermohonanMengikutTahun?tahun="+tahun;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}

function doCetakLaporanSenaraiPermohonanKuarters() {
	var err_count = 0;

	var tarikhTerima = $('tarikhTerima').value;
	if ( tarikhTerima == "" ) {$('err_tarikhTerima').innerHTML = "** mandatori!"; err_count++;  }
	
	var tarikhTerimaHingga = $('tarikhTerimaHingga').value;
	if ( tarikhTerimaHingga == "" ) {$('err_tarikhTerimaHingga').innerHTML = "** mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ) { return; }
	    var url = "../servlet/bph.laporan.qtr.LaporanSenaraiPermohonanKuarters?tarikhTerima="+tarikhTerima+"&tarikhTerimaHingga="+tarikhTerimaHingga;
		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
		if ((document.window != null) && (!hWnd.opener))
		hWnd.opener = document.window;
		if (hWnd.focus != null) hWnd.focus();
	}
			
	return err_count == 0;   
}