<td>$!r.aras.bangunan.premis.mukim.daerah.negeri.zon.keterangan</td>
<td>$!r.aras.bangunan.premis.namaPremis</td>
<td>$!r.aras.bangunan.namaBangunan</td>
<td>$!r.aras.namaAras</td>
<td>
	<b>Negeri :</b> $!r.aras.bangunan.premis.mukim.daerah.negeri.keterangan<br />
	<b>Daerah :</b> $!r.aras.bangunan.premis.mukim.daerah.keterangan<br />
	<b>Mukim :</b> $!r.aras.bangunan.premis.mukim.keterangan<br />
</td>