<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  <tr>
    <td class="label">Nama Premis</td>
    <td>:</td>
    <td><input type="text" name="findPremis"></td>
  </tr>
  <tr>
    <td class="label">Nama Bangunan</td>
    <td>:</td>
    <td><input type="text" name="findBangunan"></td>
  </tr>
  <tr>
    <td class="label">Nama Aras</td>
    <td>:</td>
    <td><input type="text" name="findAras"></td>
  </tr>
  <tr>
    <td class="label">Negeri</td>
    <td>:</td>
    <td> #parse("$path/findNegeri.vm") </td>
  </tr>
  <tr>
    <td class="label">Daerah</td>
    <td>:</td>
    <td> #parse("$path/findDaerah.vm") </td>
  </tr>
  <tr>
    <td class="label">Mukim</td>
    <td>:</td>
    <td> #parse("$path/findMukim.vm") </td>
  </tr>
</table>
