#if($!r.statusBayaran=="T")	
    <table width="100%">
    	<tr>
    		<td align="right">
    			#if($!r.statusPermohonan=="Y")
    				#if ($blockPayment==false)
			    		<input id="btnRecordTemplateSave" type="button" value="Bayar" onClick="doBayarTempahanFPX()"> 
			    		#if ($!userId == 'faizal' || $!userId == '740219015244' || $!userId == '800814015558')
			    			<input id="btnRecordTemplateSave" type="button" value="Bayar New" onClick="doBayarTempahanFPX1()"> 
			    		#end  
			    	#end
			    #end
    			<input id="btnBack" type="button" value="Kembali" onClick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">	
				<div id="pilihanFPX"></div>
    		</td>
    	</tr>
    </table>
#else
	<table cellpadding="5" cellspacing="0" border="0" width="100%" style="margin-top: 5px;">
		<tr>
			<td style="background: #22C322; color: #FFF; font-weight: bold; box-shadow: 0px 2px 5px #999;">
				PEMBAYARAN TELAH DIBUAT DAN DIKEMASKINI
			</td>
		</tr>
	</table>
#end
	

	
