<select id="idPenyediaJRP" name="idPenyediaJRP" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPenyediaJRP )
    	<option #if ( $n.id == $r.urusetia.id ) selected #end value="$n.id">$n.userName.toUpperCase()</option>
    #end
</select>