<select id="findKapasitiKuarters" name="findKapasitiKuarters" style="width:100%">
    <option value="">SILA PILIH</option>
	#set( $oldRecord = "" )
    #foreach( $fkk in $findKapasitiKuarters )
		#if ( $oldRecord != $fkk.kapasiti )
			<option value="$fkk.kapasiti">$fkk.kapasiti</option>
		#end
		#set( $oldRecord = $fkk.kapasiti )
    #end
    
        
</select>
