<table cellpadding="5" cellspacing="0">
	<tr class="titles">
		<th>
			<div class="border-left"></div>
			Function
		</th>
		<th>Example</th>
		<th>
			<div class="border-right"></div>
			Description
		</th>
	</tr>
	<tr>
		<td>setDefaults</td>
		<td><i>swal.setDefaults({ confirmButtonColor: '#0000' });</i></td>
		<td>If you end up using a lot of the same settings when calling SweetAlert, you can use setDefaults at the start of your program to set them once and for all!</td>
	</tr>
	<tr>
		<td>close</td>
		<td><i>swal.close();</i></td>
		<td>Close the currently open SweetAlert programatically.</td>
	</tr>
	<tr>
		<td>showInputError</td>
		<td><i>swal.showInputError("Invalid email!");</i></td>
		<td>Show an error message after validating the input field, if the user's data is bad</td>
	</tr>
	<tr>
		<td>enableButtons, disableButtons</td>
		<td><i>swal.disableButtons();</i></td>
		<td>Disable or enable the user to click on the cancel and confirm buttons.</td>
	</tr>
</table>