<table cellpadding="5" cellspacing="0">
    <tbody>

        <tr>
            <td class="nowrap" valign="top"><strong>onChange</strong></td>

            <td class="nowrap" valign="top">&nbsp;</td>

            <td valign="top">
                Callback to be executed whenever the user changes the view
                (days/months/years), as well as when the user navigates by
                clicking on the &#8220;next&#8221;/&#8221;previous&#8221; icons
                in any of the views;
                <p>

                <p>The callback function called by this event takes 3 arguments
                &#8211; the first argument represents the current view (can be
                &#8220;days&#8221;, &#8220;months&#8221; or
                &#8220;years&#8221;), the second argument represents an array
                containing the &#8220;active&#8221; elements (not disabled)
                from the view, as jQuery elements, allowing for easy
                customization and interaction with particular cells in the date
                picker&#8217;s view, while the third argument is a reference to
                the element the date picker is attached to, as a jQuery
                object.</p>

                <p>For simplifying searching for particular dates, each element
                gets a &#8220;date&#8221; data attribute whose format depends
                on the value of the &#8220;view&#8221; argument:</p>

                <p>&#8211; YYYY-MM-DD for elements in the &#8220;days&#8221;
                view<br>
                &#8211; YYYY-MM for elements in the &#8220;months&#8221;
                view<br>
                &#8211; YYYY for elements in the &#8220;years&#8221; view</p>

                <p>Here&#8217;s how we could highlight the 24th day of each
                month of each year:</p>
                <p style="padding: 5px; background: #F8F8FF; border: 1px solid #DEDEDE">
                	.Zebra_DatePicker({<br />
					// execute a function whenever the user changes the view <br />
					//(days/months/years), as well as when the user <br />
					// navigates by clicking on the "next"/"previous" icons <br />
					// in any of the views<br />
					onChange: function(view, elements) {<br />
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// on the "days" view...<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (view == 'days') {<br />
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// iterate through the active elements in the view<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elements.each(function() {<br />
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// to simplify searching for particular dates, <br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// each element gets a "date" data attribute which <br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// is the form of: <br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// - YYYY-MM-DD for elements in the "days" view<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// - YYYY-MM for elements in the "months" view<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// - YYYY for elements in the "years" view<br />
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// so, because we're on a "days" view,<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// let's find the 24th day using a regular <br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// expression (notice that this will apply to <br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// every 24th day of every month of every year)<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if ($(this).data('date').match(/\-24$/))<br />
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// and highlight it!<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).css({<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;backgroundColor:    '#C40000',<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:              '#FFF'<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br />
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br />
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br />
					});
				</p>
            </td>
        </tr>

        <tr>
            <td class="nowrap" valign="top"><strong>onClear</strong></td>

            <td class="nowrap" valign="top">&nbsp;</td>

            <td valign="top">
                Callback function to be executed when the user clicks the
                &#8220;Clear&#8221; button.
                <p>

                <p>The callback function takes a single argument:<br>
                &#8211; a reference to the element the date picker is attached
                to, as a jQuery object (deprecated &#8211; use the
                &#8220;this&#8221; keyword inside the callback function to
                refer to the element the date picker is attached to)</p>
            </td>
        </tr>

        <tr>
            <td class="nowrap" valign="top"><strong>onClose</strong></td>

            <td class="nowrap" valign="top">&nbsp;</td>

            <td valign="top">
                Callback function to be executed when the date picker is closed
                <p>

                <p>The callback function takes a single argument:<br>
                &#8211; a reference to the element the date picker is attached
                to, as a jQuery object (deprecated &#8211; use the
                &#8220;this&#8221; keyword inside the callback function to
                refer to the element the date picker is attached to)</p>
            </td>
        </tr>

        <tr>
            <td class="nowrap" valign="top"><strong>onOpen</strong></td>

            <td class="nowrap" valign="top">&nbsp;</td>

            <td valign="top">
                Callback function to be executed when the date picker is shown
                <p>

                <p>The callback function takes a single argument:<br>
                &#8211; a reference to the element the date picker is attached
                to, as a jQuery object (deprecated &#8211; use the
                &#8220;this&#8221; keyword inside the callback function to
                refer to the element the date picker is attached to)</p>
            </td>
        </tr>

        <tr>
            <td class="nowrap" valign="top"><strong>onSelect</strong></td>

            <td class="nowrap" valign="top">&nbsp;</td>

            <td valign="top">Callback function to be executed when a date is
            selected&nbsp;<br>
            The callback function takes 4 parameters:<br>
            &#8211; the date in the format specified by the
            &#8220;format&#8221; attribute;<br>
            &#8211; the date in YYYY-MM-DD format<br>
            &#8211; the date as a JavaScript Date object<br>
            &#8211; a reference to the element the date picker is attached to,
            as a jQuery object</td>
        </tr>

    </tbody>
</table>