<select id="findStatusKuarters" name="findStatusKuarters" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $fsk in $findStatusKuarters )
        <option value="$fsk.id">$!fsk.keterangan.toUpperCase()</option>
    #end
</select>
