<select class="texts" id="findUrusan" name="findUrusan" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectUrusan )
    	<option value="$n.id">$n.id.toUpperCase() - $n.keterangan.toUpperCase()</option>
    #end
</select>