

	<table width="100%" border="0" cellspacing="0" cellpadding="3" >
    
		<tr>
			<td width="15%" valign="top" align="center">
				<img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/>
    		</td>
    		<td width="85%" valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="3">
					<tr>
						<td>
							<font color="black" style="font-size:120%"><b>Bil</b>
    					</td>
                  	</tr>
    				<tr>
						<td>
							    #if($!portal_role.equalsIgnoreCase("(RPP) Penyedia"))
                            	<li>
									<a href="javascript:gotoDaftarBilRPP()" class="help" title="Pendaftaran Bil">
    									<font color="blue" style="font-size:110%">&nbsp;Pendaftaran Bil</font>
    								</a>
    							</li>
                                #end
                       
                            	<li>
									<a href="javascript:gotoMaklumatBayaranRPP()" class="help" title="Maklumat Bayaran Bil">
    									<font color="blue" style="font-size:110%">&nbsp;Maklumat Bayaran Bil</font>
    								</a>
    							</li>
                         </td>    
    				</tr>
             	</table>
    		</td>
   		</tr>
		
 	</table>
