

	<table width="100%" border="0" cellspacing="0" cellpadding="3" >
    
		<tr>
			<td width="15%" valign="top" align="center">
				<img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/>
    		</td>
    		<td width="85%" valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="3">
					<tr>
						<td>
							<font color="black" style="font-size:120%"><b>Kontrak</b>
    					</td>
                  	</tr>
    				<tr>
						<td><li>
									<a href="javascript:gotoSenaraiKontrakBayaranRPP()" class="help" title="Kontrak Bayaran">
    									<font color="blue" style="font-size:110%">&nbsp;Kontrak Bayaran</font>
    								</a>
    							</li></td>
    				</tr>
             	</table>
    		</td>
   		</tr>
		
 	</table>
