

	<table width="100%" border="0" cellspacing="0" cellpadding="3" >
    
		<tr>
			<td width="15%" valign="top" align="center">
				<img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/>
    		</td>
    		<td width="85%" valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="3">
					<tr>
						<td>
							<font color="black" style="font-size:120%"><b>Rumah Transit</b>
    					</td>
                  	</tr>
    				
					<tr>
						<td>
							#if($!portal_role.equalsIgnoreCase("(RPP) Penyemak"))		
    							<li>
    								<a href="javascript:gotoHQKelulusanRT()" class="help" title="Kelulusan RT">
    									<font color="blue" style="font-size:110%">&nbsp;Kelulusan RT</font>
										#if($!bilPrmhnPremierBaru > 0)
											<span id="blinkBilPrmhnPremierBaru"><font color="red"><b>($!bilPrmhnPremierBaru)</b></font></span>
    									#end
    								</a>
    							</li>
    							<li>
    								<a href="javascript:gotoRppSkrinTempahanRT()" class="help" title="Tempahan Baru">
    									<font color="blue" style="font-size:110%">&nbsp;Tempahan Baru</font>
										#if($!bilPrmhnPremierBaru > 0)
											<span id="blinkBilPrmhnPremierBaru"><font color="red"><b>($!bilPrmhnPremierBaru)</b></font></span>
    									#end
    								</a>
    							</li>
    								
							#end
							
							<li>
								<a href="javascript:gotoSenaraiTempahanRT()" class="help" title="Senarai Tempahan RT">
									<font color="blue" style="font-size:110%">&nbsp;Senarai Tempahan</font>
									#if($!jumTempahanBaruRT > 0)
									<span id="blinkJumTempahanBaruRT"><font color="red"><b>($!jumTempahanBaruRT)</b></font></span>
									#end
								</a>
							</li>	
							<li>
								<a href="javascript:gotoHistoryRumahTransit()" class="help" title="Senarai Tempahan RT">
									<font color="blue" style="font-size:110%">&nbsp;Sejarah Tempahan</font>
									#if($!jumTempahanBaruRT > 0)
									<span id="blinkJumTempahanBaruRT"><font color="red"><b>($!jumTempahanBaruRT)</b></font></span>
									#end
								</a>
							</li>	
						</td>
					</tr>
					
             	</table>
    		</td>
   		</tr>
		
 	</table>
