

	<table width="100%" border="0" cellspacing="0" cellpadding="3" >
    
		<tr>
			<td width="15%" valign="top" align="center">
				<img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/>
    		</td>
    		<td width="85%" valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="3">
					<tr>
						<td>
							<font color="black" style="font-size:120%"><b>Tetapan</b>
    					</td>
                  	</tr>
    				<tr>
						<td>
							<li>
								<a href="javascript:gotoSenaraiPeranginan()" class="help" title="Lokasi Peranginan">
									<font color="blue" style="font-size:110%">&nbsp;Lokasi Peranginan</font>
								</a>
							</li>	
						</td>
					</tr>
					<tr>
						<td>
							<li>
								<a href="javascript:gotoSenaraiBlocking()" class="help" title="Blocking Selenggara">
									<font color="blue" style="font-size:110%">&nbsp;Blocking Selenggara</font>
								</a>
							</li>	
						</td>
					</tr>
					<tr>
						<td>
							<li>
								<a href="javascript:gotoTermaSyaratRpp()" class="help" title="Terma Dan Syarat">
									<font color="blue" style="font-size:110%">&nbsp;Terma Dan Syarat</font>
								</a>
							</li>	
						</td>
					</tr>
					<tr>
						<td>
							<li>
								<a href="javascript:gotoSenaraiTermaDanSyarat()" class="help" title="Terma Dan Syarat Mengikut Lokasi Peranginan">
									<font color="blue" style="font-size:110%">&nbsp;Terma Dan Syarat Mengikut Lokasi Peranginan</font>
								</a>
							</li>	
						</td>
					</tr>
					<tr>
						<td>
							<li>
								<a href="javascript:gotoSenaraiTarikhBukaTempahan()" class="help" title="Tarikh Buka Tempahan">
									<font color="blue" style="font-size:110%">&nbsp;Tarikh Buka Tempahan</font>
								</a>
							</li>	
						</td>
					</tr>
					<tr>
						<td>
							<li>
								<a href="javascript:gotoRppTetapanCajTambahan()" class="help" title="Caj Tambahan">
									<font color="blue" style="font-size:110%">&nbsp;Caj Tambahan</font>
								</a>
							</li>	
						</td>
					</tr>
					<tr>
						<td>
							<li>
								<a href="javascript:gotoSenaraiCuti()" class="help" title="Senarai Cuti">
									<font color="blue" style="font-size:110%">&nbsp;Senarai Cuti</font>
								</a>
							</li>	
						</td>
					</tr>
					<tr>
						<td>
							<li>
								<a href="javascript:gotoRppTetapanBarangDeposit()" class="help" title="Senarai Barang Deposit">
									<font color="blue" style="font-size:110%">&nbsp;Senarai Barang Deposit</font>
								</a>
							</li>	
						</td>
					</tr>
             	</table>
    		</td>
   		</tr>
		
 	</table>
