<fieldset>
<legend class="legend">MAKLUMAT FAIL</legend>
<table cellpadding="3" cellspacing="0" border="0" width="100%" style="padding: 0px 25px;">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  #input_required("noFail" "No. Fail Permohonan" "$!premis.noFail")
  #textarea("catatan" "Catatan" "$!premis.catatan")
</table>
</fieldset>


<table width="100%">
  <tr>
    <td align="right"><input id="simpan" name="simpan" type="button" value="Simpan" onclick="javascript:saveFail();"/>
      <input id="btnBack" type="button" value="Kembali" onClick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
    </td>
  </tr>
</table>