<style>
	.starter {
		z-index: 2147483647; 
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 5px 15px;
		text-align: center;
		font-weight: bold;
		background: rgba(0, 61, 126, 1) url('../../images/background.jpg') top center fixed;
		background-size: 100% 1619px;
		background-repeat: no-repeat;
	}
	
	.starter-content {
		position: absolute;
		left: 50%;
		top: 50%;
		background: rgba(255, 255, 255, 1);
		padding: 15px 25px;
		border-radius: 15px;
		line-height: 2em;
		
	    -ms-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}
</style>

<div class="starter">
	<div class="starter-content">
		<img src='../../images/logo-bph-baru.png' width="275px" border='0'><br />
		Sila tunggu...<br />
		<img src='../../img/indicator.gif' border='0'>
	</div>
</div>

<script>
	window.location = "../..";
</script>