<style>
	#surat001 a {
		color: #0000FF; 
		text-transform: uppercase; 
		font-weight: bold;
	}
	#surat001 td {
		font-weight: bold;
	}
</style>

<fieldset>
    <legend class="legend">Senarai Surat dan Borang</legend>
	<table cellpadding="5" cellspacing="0" border="0" width="100%" id="surat001">
		<tr>
			<td width="50%">
				<table cellpadding="5" cellspacing="0" border="0" width="95%">
					<tr>
            			<td width="15px"></td>
            			<td width="15px"></td>
            			<td></td>
            		</tr>
					<tr>
            			<td align="center">1</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuarters&pdfName=SuratTawaranKuarters','Surat Tawaran Kuarters','width=900,height=600')">
            					<a href="#" style="color:blue" id="cmdSuratKua"><u>Surat Tawaran Kuarters</u></a>
##                            </a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">2</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuartersTukarKuarters&pdfName=SuratTawaranKuartersTukarKuarters','Surat Tawaran Kuarters Tukar Kuarters','width=900,height=600')">
            					<a href="#" style="color:blue" id="cmdSuratTawaranTukarKuarters"><u>Surat Tawaran Kuarters (Tukar Kuarters)</u></a>
##                            </a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">3</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuartersEPW&pdfName=SuratTawaranKuartersEPW','Surat Tawaran Kuarters EPW','width=900,height=600')">
##                                <u>Surat Tawaran Kuarters (EPW)</u>
##                            </a>
                            <a href="#" style="color:blue" id="cmdSuratTawaranKuartersEpw"><u>Surat Tawaran Kuarters (EPW)</u></a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">4</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuartersTukarNama&pdfName=SuratTawaranKuartersTukarNama','Surat Tawaran Kuarters Tukar Nama','width=900,height=600')">
##                                <u>Surat Tawaran Kuarters (Tukar Nama)</u>
##                            </a>
							<a href="#" style="color:blue" id="cmdSuratTawaranKuartersTukarNama"><u>Surat Tawaran Kuarters (Tukar Nama)</u></a>
            			</td>
            		</tr>
					<tr>
            			<td align="center">5</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuartersTukarNamaEPW&pdfName=SuratTawaranKuartersTukarNamaEPW','Surat Tawaran Kuarters Tukar Nama EPW','width=900,height=600')">
##                                <u>Surat Tawaran Kuarters (Tukar Nama)(EPW)</u>
##                            </a>
						<a href="#" style="color:blue" id="cmdSuratTawaranKuartersTukarNamaEpw"><u>Surat Tawaran Kuarters (Tukar Nama)(EPW)</u></a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">6</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuartersKontrak&pdfName=SuratTawaranKuartersKontrak','Surat Tawaran Kuarters Kontrak','width=900,height=600')">
##                                <u>Surat Tawaran Kuarters (Kontrak)</u>
##                            </a>
							<a href="#" style="color:blue" id="cmdSuratTawaranKuartersKontrak"><u>Surat Tawaran Kuarters (Kontrak)</u></a>
            			</td>
            		</tr>
				</table>
			</td>
			<td width="50%">
				<table cellpadding="5" cellspacing="0" border="0" width="95%">
					<tr>
            			<td width="15px"></td>
            			<td width="15px"></td>
            			<td></td>
            		</tr>
					<tr>
            			<td align="center">7</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuartersKontrakEPW&pdfName=SuratTawaranKuartersKontrakEPW','Surat Tawaran Kuarters Kontrak EPW','width=900,height=600')">
##                                <u>Surat Tawaran Kuarters (Kontrak)(EPW)</u>
##                            </a>
						<a href="#" style="color:blue" id="cmdSuratTawaranKuartersKontrakEpw"><u>Surat Tawaran Kuarters (Kontrak)(EPW)</u></a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">8</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratTawaranKuartersBadanBerkanun&pdfName=SuratTawaranKuartersBadanBerkanun','Surat Tawaran Kuarters Badan Berkanun','width=900,height=600')">
##                                <u>Surat Tawaran Kuarters (Badan Berkanun)</u>
##                            </a>
							<a href="#" style="color:blue" id="cmdSuratTawaranKuartersBdnBerkanun"><u>Surat Tawaran Kuarters (Badan Berkanun)</u></a>
            			</td>
            		</tr>
					<tr>
            			<td align="center">9</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratSetujuTerima&pdfName=SuratSetujuTerima','Surat Setuju Terima','width=900,height=600')">
##                                <u>Surat Setuju Terima</u>
##                            </a>
							<a href="#" style="color:blue" id="cmdSuratSetujuTerima"><u>Surat Setuju Terima</u></a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">10</td>
            			<td align="center">-</td>
            			<td>
##            				<a href="javascript:void()" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratBorang?idTawaran=$idTawaran&jenisSurat=suratAkuanPatuh&pdfName=SuratAkuanPatuh','Surat Akuan Patuh Kepada Peraturan','width=900,height=600')">
##                                <u>Surat Akuan Patuh</u>
##                            </a>
							<a href="#" style="color:blue" id="cmdSuratAkaunPatuh"><u>Surat Akuan Patuh</u></a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">11</td>
            			<td align="center">-</td>
            			<td>
            				<a href="javascript:void()" onclick="window.open('../$path/sub_page/suratTawaran/borangMaklumatKeluargaPenghuni.pdf','Borang Maklumat Keluarga Penghuni','width=900,height=600')">
                                <u>Borang Maklumat Keluarga Penghuni</u>
                            </a>
            			</td>
            		</tr>
            		<tr>
            			<td align="center">12</td>
            			<td align="center">-</td>
            			<td>
            				<a href="javascript:void()" onclick="window.open('../$path/sub_page/suratTawaran/sijilAkuanMasukRumah.pdf','Sijil Akuan Masuk Rumah','width=900,height=600')">
                                <u>Sijil Akuan Masuk Rumah</u>
                            </a>
            			</td>
            		</tr>
				</table>
			</td>
		</tr>
	</table>
</fieldset>
<script>
	
		_jq('#cmdSuratKua').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuarters?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});	
		_jq('#cmdSuratTawaranTukarKuarters').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuartersTukarKuarters?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});	
		_jq('#cmdSuratTawaranKuartersEpw').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuartersEPW?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
		_jq('#cmdSuratTawaranKuartersTukarNama').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuartersTukarNama?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
		_jq('#cmdSuratTawaranKuartersTukarNamaEpw').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuartersTukarNamaEPW?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
		_jq('#cmdSuratTawaranKuartersKontrak').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuartersKontrak?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
		_jq('#cmdSuratTawaranKuartersKontrakEpw').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuartersKontrakEPW?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
		_jq('#cmdSuratTawaranKuartersBdnBerkanun').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratTawaranKuartersBadanBerkanun?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
		_jq('#cmdSuratSetujuTerima').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratSetujuTerima?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
		_jq('#cmdSuratAkaunPatuh').on('click', function(){
			var idTawaran=$!r.id;
			var url = "../servlet/bph.laporan.qtr.QTRSuratAkuanPatuh?idTawaran=$!r.id";
			var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
			if ((document.window != null) && (!hWnd.opener))
			hWnd.opener = document.window;
			if (hWnd.focus != null) hWnd.focus();
		});
</script>
