<input type="hidden" name="id" id="id" value="$!r.id" />  
<fieldset>
<legend class="legend">maklumat permohonan</legend>
		<tr>
		  	<td style="width:200px"></td>
            <td style="width:10px"></td>
            <td></td>
		</tr>
		
		<tr>
			<td colspan="3" valign="top">
				<table width="100%" border="0">
					<tr>
						<td width="50%" valign="top">
							<table width="100%">
								#show("NAMA PEMOHON" "$!permohonan.pemohon.userName.toUpperCase()")
                        		#show("NO. KP" "$!permohonan.pemohon.id.toUpperCase()")
                        		#show("NO. TEMPAHAN" "$!permohonan.noTempahan.toUpperCase()")
                        		#show("LOKASI" "$!permohonan.rppPeranginan.namaPeranginan.toUpperCase()")
                        		#show("JENIS UNIT" "<b>$!permohonan.kuantiti UNIT</b> $!permohonan.jenisUnitRpp.keterangan.toUpperCase()")
                        		#show("TARIKH PERMOHONAN" "$!util.getDateTime($!permohonan.tarikhPermohonan,'dd/MM/yyyy')")
                        		#show("TARIKH CHECKIN" "$!util.getDateTime($!permohonan.tarikhMasukRpp,'dd/MM/yyyy')")
                        		#show("TARIKH CHECKOUT" "$!util.getDateTime($!permohonan.tarikhKeluarRpp,'dd/MM/yyyy')")
								<tr>
                        			<td style="width:190px"></td>
                                    <td style="width:10px"></td>
                                    <td></td>
                        		</tr>
							</table>
						</td>
						<td width="50%" valign="top">
							<table width="100%">
								#show("NO. TELEFON" "$!permohonan.pemohon.noTelefon")
								#show("NO. TELEFON BIMBIT" "$!permohonan.pemohon.noTelefonBimbit")
								#show("EMEL" "$!permohonan.pemohon.emel")
								#show("STATUS TEMPAHAN" "<b>$!permohonan.status.keterangan.toUpperCase()</b>")
								#if($!permohonan.status.id == "1425259713418" || $!permohonan.status.id == "1435093978588")
									#show("TARIKH BATAL" "<b>$!util.getDateTime($!permohonan.tarikhPembatalan,'dd/MM/yyyy')</b>")
									#show("SEBAB PEMBATALAN" "<b>$!permohonan.catatanPembatalan</b>")
									#show("DIBATALKAN OLEH" "<b>$!permohonan.pemohonBatal.userName</b>")
								#end
								<tr>
                        			<td style="width:200px"></td>
                                    <td style="width:10px"></td>
                                    <td></td>
                        		</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</fieldset>

<fieldset>
<legend class="legend">maklumat bayaran</legend>
	<table width="100%" cellpadding="2" cellspacing="2">
		<tr>
		  	<td style="width:200px"></td>
            <td style="width:10px"></td>
            <td></td>
		</tr>
			
		<tr>
			<td colspan="3" valign="top">
				<table width="100%" border="0">
					<tr>
						<td width="50%" valign="top">
							<table width="100%">
								<tr>
                        			<td style="width:190px"></td>
                                    <td style="width:10px"></td>
                                    <td></td>
                        		</tr>
								#show("JUMLAH BAYARAN" "<b>RM $!util.formatDecimal($!permohonan.amaunTotalSewaRpWithoutDeposit())</b>")
								##show("STATUS BAYARAN" "<b>$!permohonan.statusBayaran</b>")
								#show("TARIKH BAYARAN" "<b>$!util.getDateTime($!permohonan.tarikhBayaran,'dd/MM/yyyy')</b>")
								#show("NO.RESIT SEWA" "<b>$!permohonan.resitSewa.noResit</b>")
								#if($!r.status.id == "1425259713418" || $!r.status.id == "1435093978588")
									#show("SEBAB PEMBATALAN" "<b>$!permohonan.catatanPembatalan.toUpperCase()</b>")
									#show("DIBATALKAN OLEH" "<b>$!permohonan.pemohonBatal.userName.toUpperCase()</b>")
								#end
							</table>
						</td>
						<td width="50%" valign="top">
							<table width="100%">
								<tr>
                        			<td style="width:200px"></td>
                                    <td style="width:10px"></td>
                                    <td></td>
                        		</tr>
                        		#show("TARIKH. BAUCER" "<b>$!util.getDateTime($!r.tarikhBaucer,'dd/MM/yyyy')</b>")
								#show("NO. BAUCER" "<b>$!r.noBaucerBayaran</b>")
								#show("TARIKH. EFT" "<b>$!util.getDateTime($!r.tarikhEFT,'dd/MM/yyyy')</b>")
								#show("NO. EFT" "<b>$!r.noEFT</b>")
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>	
	</table>
</fieldset>
<fieldset>
<legend class="legend">senarai semak</legend>
<table width="100%">
		<tr>
	<table width="100%">
		<tr>
##			<td style="width:2%"></td>
			<td style="width:1%"></td>
			<td style="width:30%">&nbsp;</td>
			<td style="width:67%">&nbsp;</td>
		</tr>
##		<tr>
##			<td colspan="4">
##				<span style="font-size:11px;font-weight:bold;text-decoration: underline;">SENARAI SEMAK</span>
##			</td>
##		</tr>
##		<tr><td colspan="4">&nbsp;</td></tr>
		
		<tr>
##			<td valign="middle">
##				<input type="checkbox" disabled #if($!r.flagResitBayaran=="Y") checked #end name="flagResitBayaran" id="flagResitBayaran" value="Y" style="width:18px;height:18px;display:block;" onclick="$('err_flagResitBayaran').innerHTML='';at(this, event)" />
##			</td>
			<td valign="middle">&nbsp;</td>
			<td colspan="2" valign="middle">
				#if( $!permohonan.rppPeranginan.id.equalsIgnoreCase("3") || $!permohonan.rppPeranginan.id.equalsIgnoreCase("14") )
    				#if( $!permohonan.photofilename && !$!permohonan.photofilename.equalsIgnoreCase("") )
    					<a href="../download?file=$!uploadDir$!permohonan.photofilename"><span class="print" style="color:#0000FF">SLIP PEMBAYARAN<span></a>
					#end
				#else
					<a href="#" style="color:blue" id="cmdResitInv">RESIT SEWA</a>
				#end
				##<a href="#" style="color:blue" id="cmdResitInv">RESIT SEWA</a>
			</td>
			<td valign="middle">&nbsp;</td>
		</tr>
		
		<tr>
##			<td valign="middle">
##				<input type="checkbox" disabled #if($!r.flagSuratTawaran=="Y") checked #end name="flagSuratTawaran" id="flagSuratTawaran" value="Y" style="width:18px;height:18px;display:block;" onclick="$('err_flagSuratTawaran').innerHTML='';at(this, event)" />
##			</td>
			<td valign="middle">&nbsp;</td>
			##langkawi
			#if( $!permohonan.rppPeranginan.id.equalsIgnoreCase("3"))
				<td colspan="2" valign="middle"><a href="#" style="color:blue" id="cmdSuratKelulusan" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratRPP?idRppPermohonan=$!permohonan.id&jenisSurat=suratKelulusanLangkawi&pdfName=SuratKelulusan','Surat Kelulusan','width=900,height=600')">SURAT KELULUSAN LANGKAWI</a></td>
			##port dickson
			#elseif($!permohonan.rppPeranginan.id.equalsIgnoreCase("14") )
				<td colspan="2" valign="middle"><a href="#" style="color:blue" id="cmdSuratKelulusan" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratRPP?idRppPermohonan=$!permohonan.id&jenisSurat=suratKelulusanPD&pdfName=SuratKelulusan','Surat Kelulusan','width=900,height=600')">SURAT KELULUSAN PORT DICKSON</a></td>
			#else
				<td colspan="2" valign="middle"><a href="#" style="color:blue" id="cmdSuratKelulusan" onclick="window.open('../servlet/bph.print.CreatePDFServlet?pathUrl=v/bph.print.PrintSuratRPP?idRppPermohonan=$!permohonan.id&jenisSurat=suratKelulusan&pdfName=SuratKelulusan','Surat Kelulusan','width=900,height=600')">SURAT KELULUSAN</a></td>
			#end
			<td valign="middle">&nbsp;</td>
		</tr>
		
##		<tr>
##			<td valign="middle">
##				<input type="checkbox" disabled #if($!r.flagSuratSokongan=="Y") checked #end name="flagSuratSokongan" id="flagSuratSokongan" value="Y" style="width:18px;height:18px;display:block;" onclick="$('err_flagSuratSokongan').innerHTML='';at(this, event)" />
##			</td>
##			<td valign="middle">&nbsp;</td>
##			<td valign="middle">
##				SURAT SOKONGAN
##			</td>
##			<td valign="middle">&nbsp;</td>
##		</tr>
		<tr>
##			<td valign="middle">
##				<input type="checkbox" checked disabled name="resitBayaranDeposit" id="resitBayaranDeposit" value="Y" style="width:18px;height:18px;display:block;" onclick="$('err_resitBayaranDeposit').innerHTML='';at(this, event)" />
##			</td>
			<td valign="middle">&nbsp;</td>
			<td colspan="2" valign="middle">
				<a href="#" style="color:blue" id="cmdBorangTuntutan">BORANG TUNTUTAN DEPOSIT</a>
			</td>
			<td valign="middle">&nbsp;</td>
		</tr>
		<tr>
##			<td valign="middle">
##				<input type="checkbox" disabled #if($!r.flagSalinanAkaunBank=="Y") checked #end name="flagSalinanAkaunBank" id="flagSalinanAkaunBank" value="Y" style="width:18px;height:18px;display:block;" onclick="$('err_flagSalinanAkaunBank').innerHTML='';at(this, event)" />
##			</td>
			<td valign="middle">&nbsp;</td>
			<td colspan="2" valign="middle">
				#if( $!r.pemohon.dokumenBank && !$!r.pemohon.dokumenBank.equalsIgnoreCase("") )
				<a href="../download?file=$!uploadDir$!r.pemohon.dokumenBank"><span class="print" style="color:#0000FF">SALINAN AKAUN BANK<span></a>
				#else
				SALINAN AKAUN BANK
				#end
			</td>
			<td valign="middle">&nbsp;</td>
		</tr>
	</table>
</fieldset>


<fieldset>
<legend class="legend">maklumat sewa rumah peranginan</legend>
	
	<table width="100%" cellpadding="2" cellspacing="2">
		
		<tr><td colspan="6"></td></tr>
		<tr>
			<td colspan="6">
				<span style="font-size:11px;font-weight:bold;text-decoration: underline;">SEWA</span>
			</td>
		</tr>
		<tr>
			<td class="row_header" width="2%">BIL</td>
			<td class="row_header" width="8%">TARIKH BAYARAN</td>
			<td class="row_header" width="10%">BAYARAN SEWA DITERIMA (RM)</td>
			<td class="row_header" width="10%">PULANGAN BALIK SEWA (RM)</td>
			##<td class="row_header" width="10%">NO. RESIT</td>
			<td class="row_header" width="20%">CATATAN</td>
			<td class="row_header" width="10%">NO. BAUCER BAYARAN</td>
			<td class="row_header" width="10%">TARIKH BAUCER</td>
			<td class="row_header" width="10%">NO.EFT</td>
			<td class="row_header" width="10%">TARIKH EFT</td>
		</tr>
		
		#if ( $listInvois.size() > 0 )
    		#set ( $count = 0 )
    		#set ( $count = $count + 1)
			#set ( $jumlahLebihanTunggakan = '0.00' )
			#set ( $rowcolor = "#D0CFCE" )
			#set ( $jumlahDebit = 0)
			#set ( $amaunPelarasan = 0)
			#set ( $catatanPelarasan = '')
    		#foreach( $d in $listInvois )
    			#set ( $tarikhInvois = $!util.getDateTime($!d.tarikhInvois,'dd/MM/yyyy').toUpperCase())
				#set ( $jumlahLebihanTunggakan = $jumlahLebihanTunggakan + $!d.tunggakanLebihan() )
				#set ( $jumlahDebit = $jumlahDebit + $!d.debit)
				#set ( $noResit = $!d.lejar().noResit.toUpperCase())
				#set ( $amaunPelarasan = $amaunPelarasan + $!d.amaunPelarasan)	
				#set ( $catatanPelarasan = $!d.catatanPelarasan)
			#end
				<tr bgcolor="$rowcolor">
				<td align="center">$count</td>
    			<td align="center">$tarikhInvois</td>
				<td align="right">$!util.formatDecimal($jumlahDebit)</td>
    			<td align="right"><input type="text" style="text-align:right" class="currency" name="amaunPelarasan" id="amaunPelarasan" value="$amaunPelarasan" /></td>
    			##<td align="center">$!noResit</td>
    			<td align="center"><input type="text" name="catatanPelarasan" id="catatanPelarasan" value="$catatanPelarasan" onBlur="this.value=this.value.toUpperCase();" /></td>
    			<td align="center"><input type="text" name="noBaucer" id="noBaucer" value="$!r.noBaucerBayaran" /></td>
				<td align="center">
				<div>
            		<input type="text" id="tarikhBaucer" name="tarikhBaucer" value="$!util.getDateTime($!r.tarikhBaucer,'dd-MM-yyyy')" >
        			<script>
                    	_jq("#tarikhBaucer").Zebra_DatePicker({ 
            				format: 'd-m-Y',
        					readonly_element: false,
                    	});
        				_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
            		</script>
        		</div>
				</td>
				<td align="center"><input type="text" name="noEFT" id="noEFT" value="$!r.noEFT" /></td>
				<td align="center">
					<div>
	            		<input type="text" id="tarikhEFT" name="tarikhEFT" value="$!util.getDateTime($!r.tarikhEFT,'dd-MM-yyyy')" >
	        			<script>
	                    	_jq("#tarikhEFT").Zebra_DatePicker({ 
	            				format: 'd-m-Y',
	        					readonly_element: false,
	                    	});
	        				_jq(".Zebra_DatePicker").css("zIndex", 2147483647);
	            		</script>
	        		</div>
				</td>
	    		</tr>	
    	#else
    		<tr bgcolor="#F0F0F0">
    			<td colspan="6">Tiada Rekod</td>
    		</tr>
    	#end
    	
		<tr>
    		<td colspan="6"><span style='color:#FF2A00'>* Pelarasan telah dibuat</span></td>
    	</tr>
    	
    	<tr>
    		<td colspan="6">
			<div id="err_catatan" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
			</td>
    	</tr>			
	</table>
</fieldset>
		
<table width="100%" style="padding-top:0.5cm">
	<tr>
		<td align="right">
				## 	MOHON KELULUSAN PELARASAN
			#if( $!r.status.id == "1438023402975" && ($!userRole.equalsIgnoreCase("(SUBSIDIARI) Pelulus")) )
			<input type="button" value="Luluskan Subsidiari" onClick="javascript:lulusPelarasan()">
			<input type="button" value="Kemaskini" onClick="javascript:simpanMaklumatBaucer()">
			#end
			
			#if( $!r.status.id == "1438023402975" && ($!userRole.equalsIgnoreCase("(SUBSIDIARI) PENYEMAK")) )
			<input type="button" value="Kemaskini" onClick="javascript:simpanMaklumatBaucer()">
			#end
			
				## PENYEDIAAN BAUCER SELESAI
			#if( $!r.status.id == "1436510785721" && $!userRole.equalsIgnoreCase("(SUBSIDIARI) Penyemak") )
			<input type="button" value="Luluskan Subsidiari (Penyemak Luluskan)" onClick="javascript:lulusPelarasan()">	
			<input type="button" value="Hantar Kelulusan (Pelulus Luluskan)" onClick="javascript:hantarKelulusan()">
			<input type="button" value="Kemaskini" onClick="javascript:simpanMaklumatBaucer()">
			#end
			
			#if( $!r.status.id == "1438023402951" && ($!userRole.equalsIgnoreCase("(SUBSIDIARI) Pelulus")||$!userRole.equalsIgnoreCase("(SUBSIDIARI) Penyemak")) )
			<input type="button" value="Simpan" onClick="javascript:simpanMaklumatBaucer()">
			#end	
				## PENYEDIAAN BAUCER
			#if( $!r.status.id == "1436510785729" && $!userRole.equalsIgnoreCase("(SUBSIDIARI) Penyedia") )
			<input type="button" value="Hantar Pengesahan" onClick="javascript:hantarPengesahan()">
			#end	
			
				## PERMOHONAN TELAH DIAGIHKAN		## PENYEDIAAN BAUCER SELESAI
			#if( ($!r.status.id == "1436510785718" || $!r.status.id == "1436510785721" || $!r.status.id == "1436510785729" ) && $!userRole.equalsIgnoreCase("(SUBSIDIARI) Penyedia") )	
			#set ( $queryParam = "record_id=$!r.id" )
			<input type="button" value="Simpan" onClick="if ( validateField() ) doDivAjaxCall$formname('div_main_entry','save_data','$queryParam')">	
			#end
			
			<input id="button" type="button" value="Kembali" onclick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
		</td>
	</tr>
</table>

<script>
_jq(document).ready(function () {
	##_jq('#btnSaveRecordTemplate').val('Sahkan dan Agih Permohonan');
});
  _jq(function($) {
  	  $('.bracketNumber').autoNumeric('init', {nBracket: '(,)', vMin: '-9999999999.99', vMax: '9999999999.99'} );
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
	  $('.phone_number').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
   _jq('#cmdResitInv').on('click', function(){
        		    var idResit = '$!permohonan.getIdResitSewa()';
        		    
					var url = "../servlet/bph.laporan.kewangan.KEWResitSalinan?idResit="+idResit;
					var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
					if ((document.window != null) && (!hWnd.opener))
					hWnd.opener = document.window;
					if (hWnd.focus != null) hWnd.focus();	
});
  _jq('#cmdBorangTuntutan').on('click', function(){
    		var idPermohonan = '$!permohonan.id';
    		var url = "../servlet/bph.laporan.rpp.BayaranBalikDeposit?idPermohonan="+idPermohonan;
    		var hWnd = window.open(url,'Cetak','full=yes, resizable=yes,scrollbars=yes');
    		if ((document.window != null) && (!hWnd.opener))
    		hWnd.opener = document.window;
    		if (hWnd.focus != null) hWnd.focus();
    });
</script>