

	#if ($!r.tarikhHantar) 
		#set ($datetarikhHantar = "$!util.getDateTime($!r.tarikhHantar,'dd-MM-yyyy')")
	#else #set ($datetarikhHantar = "") 
	#end
	<td>$!datetarikhHantar</td>
	<td>$!r.noPengenalan</td>
	
	#if ($!r.tarikhTerima) 
		#set ($datetarikhTerima = "$!util.getDateTime($!r.tarikhTerima,'dd-MM-yyyy')")
	#else #set ($datetarikhTerima = "") 
	#end
	<td>$!datetarikhTerima</td>

	#if ($!r.tarikhTerima) 
		#set ($datetarikhTerima = "$!util.getDateTime($!r.tarikhTerima,'dd-MM-yyyy')")
	#else #set ($datetarikhTerima = "") 
	#end				  
	<td>$!datetarikhTerima</td>
	<td>$!r.nama</td>
	<td>$!r.statusPinjaman</td>

