<td class="record_header" style="width:300px;font-weight:bold">Tarikh Hantar<img src="../img/sortdown.png" class="sorting" /></td>
<td class="record_header" style="width:300px;font-weight:bold">No. Pengenalan<img src="../img/sortdown.png" class="sorting" /></td>
<td class="record_header" style="width:200px;font-weight:bold">Tarikh Terima<img src="../img/sortdown.png" class="sorting" /></td>
<td class="record_header" style="width:150px;font-weight:bold">Flag Jawapan<img src="../img/sortdown.png" class="sorting" /></td>
<td class="record_header" style="width:150px;font-weight:bold">Nama<img src="../img/sortdown.png" class="sorting" /></td>
<td class="record_header" style="width:150px;font-weight:bold">Status Pinjamanr<img src="../img/sortdown.png" class="sorting" /></td>