
<td class="record_header" >Nama Peranginan<img src="../img/sortdown.png" class="sorting" onclick="sort('namaPeranginan')" /></td>
<td class="record_header" >Jenis Peranginan<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisPeranginan.keterangan')" /></td>
<td class="record_header" >Bandar<img src="../img/sortdown.png" class="sorting" onclick="sort('bandar.keterangan')" /></td>
<td class="record_header" >Negeri<img src="../img/sortdown.png" class="sorting" onclick="sort('bandar.negeri.keterangan')" /></td>
