<style type="text/css">

.style1 {
	color: #0033FF
}
.style2 {
	color: #FF0000;
	font-weight: bold;
}
.blink {
	animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
 to {
 visibility: hidden;
}
</style>
<div id="mainPage">
<fieldset><legend class="legend">Kuiri</legend>
	<p align="left">
		#if($!userRole.equalsIgnoreCase("(JRP) Penyedia") && ($r.status.id == "1424860634478" || $r.status.id == "1424860634481" || $r.status.id == "1436921583144" || $r.status.id == "471300128898077")) ##($r.status.id != '1438356583122' && $r.status.id != '1424860634490' && $r.status.id != '1438356583116' && $r.status.id != '1424860634493' && $r.status.id != '1424860634499' && $r.status.id != '1424860634496' && $r.status.id != '1424924558493'))
 		<input type="button" value="Tambah" align='left' id="addKuiri">
 		<script>
			_jq('#addKuiri').on('click', function(){
			$('mainPage').style.display = 'none';
			doDivAjaxCall3$formname('editKuiri','addKuiri','');
            jQuery('#editKuiri').fadeIn();
        	});
		</script>
		#end
		
		#if($!userRole.equalsIgnoreCase("(JRP) Penyemak") && ($r.status.id == "1424860634484"))
 		<input type="button" value="Tambah" align='left' id="addKuiri">
 		<script>
			_jq('#addKuiri').on('click', function(){
			$('mainPage').style.display = 'none';
			doDivAjaxCall3$formname('editKuiri','addKuiri','');
            jQuery('#editKuiri').fadeIn();
        	});
		</script>
		#end
	</p>
	<br /><br />
    <table width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <td class="row_header" width="5%">Bil.</td>
            <td class="row_header" width="15%">Tarikh Ulasan</td>
            <td class="row_header" width="15%">Tarikh Maklumbalas</td>
            <td class="row_header" width="5%">Papar</td>
            #if($!userRole.equalsIgnoreCase("(JRP) Penyedia") || $!userRole.equalsIgnoreCase("(JRP) Penyemak"))
		    <td class="row_header" width="5%">Hapus</td>
		    #end
        </tr>
        #if ( $kuiriList.size() > 0) 
    		#set ( $count = 0 )
    		#foreach( $c in $kuiriList)
    			#set ( $count = $count + 1)
				
    			#if ( $count % 2 == 0 ) 
					#set ( $rowcolor = "#D0CFCE" ) 
				#else 
					#set ( $rowcolor = "#F0F0F0" ) 
				#end
    			<tr bgcolor="$rowcolor">
    				<td align="center">$count</td>
					<td align="center">$util.getDateTime($c.tarikhUlasan, "dd/MM/yyyy") #if($!userRole.equalsIgnoreCase("(JRP) Pemohon") && $c.flagBukaUlasan != "Y") <font class="blink" ><span class="style2">BARU</span></font>#end </td>
					<td align="center">$util.getDateTime($c.tarikhMaklumbalas, "dd/MM/yyyy")#if(!$!userRole.equalsIgnoreCase("(JRP) Pemohon") && $c.flagBukaMaklumbalas != "Y" && $c.flagHantarMaklumbalas == "Y") <font class="blink" ><span class="style2">BARU</span></font>#end </td> 
					<td align="center"><a href="javascript:void()" id="link$c.id"> <img alt="edit" src="../img/edit.gif" border="0"> </a> </td>
          			#if($!userRole.equalsIgnoreCase("(JRP) Penyedia") || $!userRole.equalsIgnoreCase("(JRP) Penyemak"))
          			<td align="center"><a href="javascript:void()" onClick="deleteKuiri('$c.id', '$c.flagHantar')"> <img alt="hapus" src="../img/delete.gif" border="0"> </a> </td>
        			#end
        			</tr>
        			<script>
        			_jq('#link$c.id').on('click', function(){
        			$('mainPage').style.display = 'none';
					doDivAjaxCall3$formname('editKuiri','editKuiri','idKuiri=$c.id');
            		jQuery('#editKuiri').fadeIn();
            		});
       			</script>
    		#end
	#else
	<tr >
		<td align="center">&nbsp;</td>
		<td >Tiada Rekod</td>
		<td align="center">&nbsp;</td>
		#if($!userRole.equalsIgnoreCase("(JRP) Penyedia"))
		<td align="center">&nbsp;</td>
		#end
	</tr>
	#end
    </table>
</fieldset>
<p align="right">
##	#if($!userRole.equalsIgnoreCase("(JRP) Pemohon") && $!users.flagHq == 'Y' && $!r.status.id == '1438356583122')
##	<input type="button" value="Hantar Permohonan ke BPH" onclick="javascript:doHantarPermohonan('$!r.id');">
##	#end
 	<input id="button" type="button" value="Kembali" onClick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
</p>
</div>
## Popup
<div id="editKuiri"></div>
## Blank status page
<div id="removeKuiri"></div>