<td class="record_header" style="font-weight:bold">FPX Transaction ID<img src="../img/sortdown.png" class="sorting" onclick="sort('id')"/></td>
<td class="record_header" style="font-weight:bold">Debit AuthCode<img src="../img/sortdown.png" class="sorting" onclick="sort('debitAuthCode')"/></td>
<td class="record_header" style="font-weight:bold">FPX Transaction Time<img src="../img/sortdown.png" class="sorting" onclick="sort('fpxTxnTime')"/></td>
<td class="record_header" style="font-weight:bold">Seller Order No<img src="../img/sortdown.png" class="sorting" onclick="sort('sellerOrderNo')"/></td>
<td class="record_header" style="font-weight:bold">Transaction Amount (RM)<img src="../img/sortdown.png" class="sorting" onclick="sort('txnAmount')"/></td>
<td class="record_header" style="font-weight:bold">Flag Modul<img src="../img/sortdown.png" class="sorting" onclick="sort('flagModul')"/></td>
<td class="record_header" style="font-weight:bold">Flag Payment<img src="../img/sortdown.png" class="sorting" onclick="sort('flagManagePayment')"/></td>
<td class="record_header" style="font-weight:bold">Created Date<img src="../img/sortdown.png" class="sorting" onclick="sort('createdDate')"/></td>