
<div id="senaraiLaporan">
<fieldset>
	<legend class="legend">Senarai Laporan</legend>
<table id="tableID">
  <tr>
    	<td>1. &nbsp; <a href="#" style="color:blue" onclick="javascript:paparLaporan('1')">Laporan Kutipan Bulanan BPH Keseluruhan</td>
  </tr>
  <tr>
    	<td>2. &nbsp; <a href="#" style="color:blue" onclick="javascript:paparLaporan('3')">Laporan Kutipan Bulanan BPH Keseluruhan Mengikut Jenis Kutipan Di Seksyen Pengurusan Kuarters</td>
  </tr>
  <tr>
    	<td>3. &nbsp; <a href="#" style="color:blue" onclick="javascript:paparLaporan('4')">Laporan Kutipan Bulanan BPH Keseluruhan Mengikut Jenis Kutipan Di Unit Naziran</td>
  </tr>
  <tr>
    	<td>4. &nbsp; <a href="#" style="color:blue" onclick="javascript:paparLaporan('5')">Laporan Kutipan Bulanan BPH Keseluruhan Mengikut Jenis Kutipan Di Seksyen Pengurusan Bangunan Kerajaan</td>
  </tr>
  <tr>
    	<td>5. &nbsp; <a href="#" style="color:blue" onclick="javascript:paparLaporan('6')"> Laporan Kutipan Bulanan BPH Keseluruhan Mengikut Jenis Kutipan Di Seksyen Pengurusan Rumah Peranginan</td>
  </tr>
  <tr>
    	<td>6. &nbsp; <a href="#" style="color:blue" onclick="javascript:paparLaporan('17')">Laporan Kutipan Hasil Rumah Peranginan</td>
  </tr>
##  <tr>
##    	<td>6. &nbsp; <a href="#" style="color:blue" onclick="javascript:paparLaporan('2')">Laporan Kutipan BPH Keseluruhan RPP</td>
##  </tr>
</table>
</fieldset>
</fieldset>
</div>

 <div id="paparLaporan"></div>
 
<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
  


</script>
<script>
#parse("$path/script.vm")
</script>