##<select id="findJenisPermohonan" name="findJenisPermohonan" style="width:100%">
##    <option value="">SILA PILIH</option>
##    #foreach( $f in $findJenisPermohonan )
##        <option value="$f.id">$!flk.lokasi.toUpperCase()</option>
##    #end
##</select>

##<select id="findJenisPermohonan" name="findJenisPermohonan" style="width:100%">
##    <option value="">SILA PILIH</option>
##	<option #if ( $!r.permohonan.statusDalaman == 'DOWNGRADE' ) selected #end value="DOWNGRADE">PERMOHONAN DOWNGRADE</option>
##	<option #if ( $!r.permohonan.statusDalaman == 'UPGRADE' ) selected #end value="UPGRADE">PERMOHONAN NAIK TARAF</option>
##	<option #if ( $!r.permohonan.statusDalaman == 'TUKAR' ) selected #end value="TUKAR">PERMOHONAN TUKAR LOKASI</option>
##</select>

<select id="findJenisPermohonan" name="findJenisPermohonan" style="width:100%">
    <option value="">SILA PILIH</option>
	<option value="DOWNGRADE">PERMOHONAN DOWNGRADE</option>
	<option value="UPGRADE">PERMOHONAN NAIK TARAF</option>
	<option value="TUKAR">PERMOHONAN TUKAR LOKASI</option>
</select>
