<table cellpadding="5" cellspacing="0" border="0" width="95%" id="entryRight">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
    #input_normal("noTelefon" "No.Telefon" "$!r.noTelefon")
	#input_normal("email" "Email" "$!r.emel")
 </table>
