#foreach ( $listMenu in $listBantuan )
    <div class="sub-menu-3" style="border:0px solid #000; float=:left; width:150px;"> 
    	<a href="#" onclick="doDivAjaxCall3$formname('main-content','getMainContent','header=Bantuan&idBantuan=$!listMenu.id')"><span class="divider">></span>&nbsp;&nbsp;$listMenu.tajuk</a> 
    </div>
#end 