<script>
function gotoKataLaluan() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=lebah_app_UpdateUserProfileModule";
	document.${formName}.submit();
}

function gotoProfile() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=portal.module.UserProfileModule";
	document.${formName}.submit();
}

function gotoKalendar() {
	document.${formName}.action = "$lebahUtil.getTabID("<i>My Info</i>",$portal_role)?_portal_module=eventCalendar";
	document.${formName}.submit();
}

function gotoTempahanBaru() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RppSkrinTempahan";
	document.${formName}.submit();
}

function gotoSenaraiTempahanRPP() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.TempahanRPRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiTempahanLondon() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RekodTempahanLondonRecordModule";
	document.${formName}.submit();
}

function gotoPermohonanKelompok() {
	document.${formName}.action = "$lebahUtil.getTabID("Berkelompok",$portal_role)?_portal_module=bph.modules.rpp.OnlinePermohonanKelompok";
	document.${formName}.submit();
}

function gotoPembatalan() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RppPembatalanRecordModule";
	document.${formName}.submit();
}

function gotoBayaranBalik() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.SenaraiPermohonanBayaranBalikRecordModule";
	document.${formName}.submit();
}

function gotoSejarahPermohonan() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.RppHistoryRecordModule";
	document.${formName}.submit();
}

function gotoSemakanBayaran() {
	document.${formName}.action = "$lebahUtil.getTabID("RPP Premier / Eksekutif",$portal_role)?_portal_module=bph.modules.rpp.TempahanRPRecordModule";
	document.${formName}.submit();
}

function gotoSenaraiTempahanRT() {
	document.${formName}.action = "$lebahUtil.getTabID("Rumah Transit",$portal_role)?_portal_module=bph.modules.rpp.TempahanRT";
	document.${formName}.submit();
}

function gotoTempahanBaruRT() {
	document.${formName}.action = "$lebahUtil.getTabID("Rumah Transit",$portal_role)?_portal_module=bph.modules.rpp.RppSkrinTempahanRT";
	document.${formName}.submit();
}

function gotoTuntutanDepositKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Kuarters",$portal_role)?_portal_module=bph.modules.kewangan.deposit.permohonan.TuntutanDepositKuarters";
	document.${formName}.submit();
}

function gotoTuntutanDepositIR() {
	document.${formName}.action = "$lebahUtil.getTabID("Tuntutan Deposit",$portal_role)?_portal_module=bph.modules.kewangan.deposit.permohonan.TuntutanDepositIR";
	document.${formName}.submit();
}

function gotoPermohonanKuarters() {
	document.${formName}.action = "$lebahUtil.getTabID("Kuarters",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaPermohonanSubRecord";
	document.${formName}.submit();
}

function gotoKuaAgihan() {
	document.${formName}.action = "$lebahUtil.getTabID("Kuarters",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaMenungguSubRecord";
	document.${formName}.submit();
}

function gotoKuaTemujanji() {
	document.${formName}.action = "$lebahUtil.getTabID("Kuarters",$portal_role)?_portal_module=bph.modules.qtr.FrmKuaTemujanjiSubRecord";
	document.${formName}.submit();
}

function gotoSemakanLebihan() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan Lebihan Dan Bayaran Balik",$portal_role)?_portal_module=bph.modules.kewangan.subsidiari.permohonan.SubsidiariKuarters";
	document.${formName}.submit();
}

function gotoBayaranBalikRumahPeranginan() {
	document.${formName}.action = "$lebahUtil.getTabID("Semakan Lebihan Dan Bayaran Balik",$portal_role)?_portal_module=bph.modules.rpp.SenaraiPermohonanBayaranBalikRecordModule";
	document.${formName}.submit();
}

function gotoPermohonanGelanggang() {
	document.${formName}.action = "$lebahUtil.getTabID("Dewan / Gelanggang",$portal_role)?_portal_module=bph.modules.utiliti.SenaraiPermohonanGelanggangRecordModuleAwam";
	document.${formName}.submit();
}

##AGENSI
function gotoPermohonanJRP() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan JRP",$portal_role)?_portal_module=bph.modules.jrp.SenaraiPermohonanJrpRecordModule";
	document.${formName}.submit();
}

function gotoPermohonanBGS() {
	document.${formName}.action = "$lebahUtil.getTabID("Permohonan BGS",$portal_role)?_portal_module=bph.modules.bgs.SenaraiPermohonanRuangPejabatRecordModule";
	document.${formName}.submit();
}
</script>