#parse("bph/dashboard/style.vm")
#parse("$path/script.vm")
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="60%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img src="../bph/dashboard/picture/myprofile.png"  width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Profil</b></td>
                          </tr>
                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoKataLaluan()" class="help" title="Tukar Kata Laluan">
										<font color="blue" style="font-size:110%">&nbsp;Tukar Kata Laluan</font>
									</a>
								</li>
							</td>
                          </tr>
                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoProfile()" class="help" title="Profil Pengguna">
										<font color="blue" style="font-size:110%">&nbsp;Profil Pengguna</font>
									</a>	
								</li>
                              </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="50%" valign="top">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        #if( $portal_role.equalsIgnoreCase("(AWAM) Penjawat Awam") )
        ## LAYER 1
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top">
						
						<table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>RP Premier / Eksekutif</b></td>
                          </tr>
                          
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoTempahanBaru()" class="help" title="Tempahan Baru">
    									<font color="blue" style="font-size:110%">&nbsp;Tempahan Baru</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoSenaraiTempahanRPP()" class="help" title="Senarai Tempahan">
    									<font color="blue" style="font-size:110%">&nbsp;Senarai Tempahan</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoSenaraiTempahanLondon()" class="help" title="Daftar Tempahan London">
    									<font color="blue" style="font-size:110%">&nbsp;Daftar Tempahan London</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoPermohonanKelompok()" class="help" title="Permohonan Kelompok">
    									<font color="blue" style="font-size:110%">&nbsp;Permohonan Kelompok</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoPembatalan()" class="help" title="Pembatalan">
    									<font color="blue" style="font-size:110%">&nbsp;Pembatalan</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoBayaranBalik()" class="help" title="Permohonan Bayaran Balik">
    									<font color="blue" style="font-size:110%">&nbsp;Permohonan Bayaran Balik</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoSejarahPermohonan()" class="help" title="Sejarah Tempahan">
    									<font color="blue" style="font-size:110%">&nbsp;Sejarah Tempahan</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
                         </table>
					 
					  </td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Rumah Transit</b></td>
                          </tr>
                          
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoTempahanBaruRT()" class="help" title="Tempahan RT Baru">
    									<font color="blue" style="font-size:110%">&nbsp;Tempahan Baru</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoSenaraiTempahanRT()" class="help" title="Senarai Tempahan RT">
    									<font color="blue" style="font-size:110%">&nbsp;Senarai Tempahan</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        
##        <tr>
##          <td>
##          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
##              <tr>
##                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
##                    <tr>
##                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
##                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
##                          <tr>
##                            <td><font color="black" style="font-size:120%"><b>Kuarters</b></td>
##                          </tr>
##                          <tr>
##                            <td>
##                            </td>
##								<li>
##									<a href="javascript:gotoPermohonanKuarters()" class="help" title="Permohonan Kuarters">
##										<font color="blue" style="font-size:110%">&nbsp;Permohonan Kuarters</font>
##									</a>	
##								</li>		
##                              </td>
##                          </tr>
		<tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top">
					
					<table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Kuarters</b></td>
                          </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoPermohonanKuarters()" class="help" title="Permohonan Kuarters">
    									<font color="blue" style="font-size:110%">&nbsp;Permohonan Kuarters</font>
    								</a>
    							</li>	
    						</td>
						  </tr>


                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoKuaAgihan()" class="help" title="Giliran Senarai Menunggu">
										<font color="blue" style="font-size:110%">&nbsp;Giliran Senarai Menunggu</font>
									</a>	
								</li>		
                              </td>
                          </tr>
##                          <tr>
##                            <td>
##								<li>
##									<a href="javascript:gotoKuaTemujanji()" class="help" title="e-Temujanji">
##										<font color="blue" style="font-size:110%">&nbsp;e-Temujanji</font>
##									</a>	
##								</li>		
##                              </td>
##                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Gelanggang</b></td>
                          </tr>
                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoPermohonanGelanggang()" class="help" title="Permohonan Gelanggang">
										<font color="blue" style="font-size:110%">&nbsp;Permohonan Gelanggang</font>
									</a>	
								</li>		
                              </td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
		
		<tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top">
					
					<table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Tuntutan Deposit</b></td>
                          </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoTuntutanDepositKuarters()" class="help" title="Deposit Kuarters">
    									<font color="blue" style="font-size:110%">&nbsp;Deposit Kuarters</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoTuntutanDepositIR()" class="help" title="Deposit Rumah Peranginan">
    									<font color="blue" style="font-size:110%">&nbsp;Deposit Rumah Peranginan</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
			 <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Semakan Lebihan Dan Bayaran Balik</b></td>
                          </tr>
                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoSemakanLebihan()" class="help" title="Lebihan Sewa Kuarters">
										<font color="blue" style="font-size:110%">&nbsp;Lebihan Sewa Kuarters</font>
									</a>	
								</li>		
                              </td>
                          </tr>
                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoBayaranBalikRumahPeranginan()" class="help" title="Bayaran Balik Rumah Peranginan">
										<font color="blue" style="font-size:110%">&nbsp;Bayaran Balik Rumah Peranginan</font>
									</a>	
								</li>		
                              </td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
				
        </tr>
		
        #end
        
        #if( $portal_role.equalsIgnoreCase("(JRP) Pemohon") )
			
        ##LAYER 2 - 3 AGENSI
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Permohonan JRP</b></td>
                          </tr>
                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoPermohonanJRP()" class="help" title="Senarai Permohonan JRP">
										<font color="blue" style="font-size:110%">Senarai Permohonan JRP</font>
									</a>	
								</li>		
                              </td>
                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Permohonan BGS</b></td>
                          </tr>
                          <tr>
##                            <td></td>
                            <td>
								<li>
									<a href="javascript:gotoPermohonanBGS()" class="help" title="Permohonan Baru">
										<font color="blue" style="font-size:110%">Permohonan Baru</font>
									</a>	
								</li>		
                              </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        #end
        
        #if( $portal_role.equalsIgnoreCase("(AWAM) Pengguna Awam") )
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Gelanggang</b></td>
                          </tr>
                          <tr>
                            <td>
								<li>
									<a href="javascript:gotoPermohonanGelanggang()" class="help" title="Permohonan Gelanggang">
										<font color="blue" style="font-size:110%">&nbsp;Permohonan Gelanggang</font>
									</a>	
								</li>		
                              </td>
                          </tr>
                          <tr>
                            <td>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    
                  </table></td>
              </tr>
            </table></td>
        </tr>
        

            </table></td>
        </tr>                
        #end
        
        #if( $portal_role.equalsIgnoreCase("(AWAM) Badan Berkanun") )
			
        ##LAYER 2 - 3 Badan Berkanun
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>RPP Premier / Eksekutif</b></td>
                          </tr>
                          <tr>
                            <td>
                            </td>
                          </tr>

                          <tr>
                          	<td><li><a href="javascript:gotoTempahanBaru()" class="help" title="Tempahan Baru">
										<font color="blue" style="font-size:110%">&nbsp;Tempahan Baru</font>
								</a></li>
						    </td>
						  </tr>
						 <tr>
							<td><li><a href="javascript:gotoSenaraiTempahanRPP()" class="help" title="Tempahan Baru">
										<font color="blue" style="font-size:110%">&nbsp;Tempahan RP</font>
								</a></li>
							</td>
						</tr>
						<tr>
							<td><li><a href="javascript:gotoSenaraiTempahanLondon()" class="help" title="Rekod Tempahan London">
										<font color="blue" style="font-size:110%">&nbsp;Rekod Tempahan London</font>
								</a></li>
							</td>
						</tr>
						<tr>
							<td><li><a href="javascript:gotoPermohonanKelompok()" class="help" title="Permohonan Kelompok Online">
										<font color="blue" style="font-size:110%">&nbsp;Permohonan Kelompok Online</font>
								</a></li>
							</td>
						</tr>
						<tr>
							<td>
								<li><a href="javascript:gotoPembatalan()" class="help" title="Senarai Pembatalan">
										<font color="blue" style="font-size:110%">&nbsp;Senarai Pembatalan</font>
								</a></li>
							</td>
						</tr>
						<tr>
							<td><li><a href="javascript:gotoBayaranBalik()" class="help" title="Senarai Permohonan Bayaran Balik">
										<font color="blue" style="font-size:110%">&nbsp;Senarai Permohonan Bayaran Balik</font>
								</a></li>
							</td>
						</tr>
						<tr>
							<td><li><a href="javascript:gotoSejarahPermohonan()" class="help" title="Sejarah Tempahan">
										<font color="blue" style="font-size:110%">&nbsp;Sejarah Tempahan</font>
								</a></li>
							</td>
						</tr>
                        </table></td>
                    </tr>
           	   </table>
           	   <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Rumah Transit</b></td>
                          </tr>
                          
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoTempahanBaruRT()" class="help" title="Tempahan RT Baru">
    									<font color="blue" style="font-size:110%">&nbsp;Tempahan Baru</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
						  <tr>
							<td>
								<li>
									<a href="javascript:gotoSenaraiTempahanRT()" class="help" title="Senarai Tempahan RT">
    									<font color="blue" style="font-size:110%">&nbsp;Senarai Tempahan</font>
    								</a>
    							</li>	
    						</td>
						  </tr>
						  
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
           	   
           	<tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Gelanggang</b></td>
                          </tr>
                          <tr>
                            <td><li>
									<a href="javascript:gotoPermohonanGelanggang()" class="help" title="Permohonan Gelanggang">
										<font color="blue" style="font-size:110%">&nbsp;Permohonan Gelanggang</font>
									</a>	
								</li>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b></b></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        #end
        
        
        #if( $portal_role.equalsIgnoreCase("(AWAM) Pesara") || $portal_role.equalsIgnoreCase("(AWAM) Pegawai Tadbir") )
			
        ##LAYER 2 - 4 Pesara
       <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>RP Premier / Eksekutif</b></td>
                          </tr>
                          <tr>
                          	<td><li><a href="javascript:gotoTempahanBaru()" class="help" title="Tempahan Baru">
										<font color="blue" style="font-size:110%">&nbsp;Tempahan Baru</font>
								</a></li>
						    </td>
						  </tr>
						 <tr>
							<td><li><a href="javascript:gotoSemakanBayaran()" class="help" title="Semakan dan Bayaran">
										<font color="blue" style="font-size:110%">&nbsp;Semakan dan Bayaran</font>
								</a></li>
							</td>
						</tr>
						<tr>
							<td><li><a href="javascript:gotoSenaraiTempahanLondon()" class="help" title="Daftar Tempahan London">
										<font color="blue" style="font-size:110%">&nbsp;Daftar Tempahan London</font>
								</a></li>
							</td>
						</tr>
						
						#if( $portal_role.equalsIgnoreCase("(AWAM) Pesara") )
						<tr>
							<td><li><a href="javascript:gotoPermohonanKelompok()" class="help" title="Permohonan Kelompok">
										<font color="blue" style="font-size:110%">&nbsp;Permohonan Kelompok</font>
								</a></li>
							</td>
						</tr>
						#end
						
						<tr>
							<td>
								<li><a href="javascript:gotoPembatalan()" class="help" title="Senarai Pembatalan">
										<font color="blue" style="font-size:110%">&nbsp;Pembatalan</font>
								</a></li>
							</td>
						</tr>
						
						#if( $portal_role.equalsIgnoreCase("(AWAM) Pesara") )
						<tr>
							<td><li><a href="javascript:gotoBayaranBalik()" class="help" title="Senarai Permohonan Bayaran Balik">
										<font color="blue" style="font-size:110%">&nbsp;Permohonan Bayaran Balik</font>
								</a></li>
							</td>
						</tr>
						#end
						
						<tr>
							<td><li><a href="javascript:gotoSejarahPermohonan()" class="help" title="Sejarah Tempahan">
										<font color="blue" style="font-size:110%">&nbsp;Sejarah Tempahan</font>
								</a></li>
							</td>
						</tr>
##                          <tr>
##                            <td>
##                            </td>
##                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Rumah Transit</b></td>
                          </tr>
                          <tr>
                          	<td><li><a href="javascript:gotoTempahanBaruRT()" class="help" title="Tempahan Baru">
										<font color="blue" style="font-size:110%">&nbsp;Tempahan Baru</font>
								</a></li>
						    </td>
						  </tr>
						 <tr>
							<td><li><a href="javascript:gotoSenaraiTempahanRT()" class="help" title="Senarai Tempahan">
										<font color="blue" style="font-size:110%">&nbsp;Senarai Tempahan</font>
								</a></li>
							</td>
						</tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        
		#if( $portal_role.equalsIgnoreCase("(AWAM) Pesara") )
        <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Gelanggang</b></td>
                          </tr>
                          <tr>
                            <td><li>
									<a href="javascript:gotoPermohonanGelanggang()" class="help" title="Permohonan Gelanggang">
										<font color="blue" style="font-size:110%">&nbsp;Permohonan Gelanggang</font>
									</a>	
								</li>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b></b></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
		#end
		
        #end
       
        #if( $portal_role.equalsIgnoreCase("(SEMENTARA) Badan Berkanun") )
			
        ##LAYER 2 - 4 Pesara
       <tr>
          <td>
          	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="dashboard_sub">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"><img  src="../bph/dashboard/picture/applyonline.png" width="30" height="30" align="center"/></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b>Gelanggang</b></td>
                          </tr>
                          <tr>
							<td><li><a href="javascript:gotoPermohonanGelanggang()" class="help" title="Tempahan Gelanggang">
										<font color="blue" style="font-size:110%">&nbsp;Tempahan Gelanggang</font>
								</a></li>
							</td>
						</tr>
                        </table></td>
                    </tr>
           	   </table>
           	 </td>
                  
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3" >
                    <tr>
                      <td width="15%" valign="top" align="center"></td>
                      <td width="85%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td><font color="black" style="font-size:120%"><b></b></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        #end
      </table></td>
  </tr>
</table>
