<div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
  <header>Dalaman</header>
  <fieldset>
      <section>
		<ul>
			<li><a href="../documents/muat-turun/dalaman/Pelan-Strategik-ICT-Deraf.pdf" download>Pelan Strategik ICT (Deraf)</a></li>
			<li><a href="../documents/muat-turun/dalaman/format_laporan_mesyuarat.doc" download>Format Laporan Mesyuarat</a></li>
		</ul>
    	<br />
    	<hr />
    	<br />
    	<input type="button" class="button-style" value="Kembali" onclick="doDivAjaxCall3$formname('content','getMuatTurunDokumen','')">
    	##<embed src="../images/statistik/statistikOnline.pdf" width="100%" height="500px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
      </section>
  </fieldset>
</div>
