<select id="idJenisDokumen" name="idJenisDokumen" style="width:100%" >
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectJenisDokumen )
    	<option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>