
<td>$!r.perkara.toUpperCase()</td>
<td>$!r.catatan.toUpperCase()</td>
<td>$!r.flagJenisSelenggara</td>
<td>$!util.getDateTime($!r.tarikhMula,'dd-MM-yyyy')</td>
<td>$!util.getDateTime($!r.tarikhTamat,'dd-MM-yyyy')</td>