<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td class="label" style="width:15%"></td>
    <td style="width:1%"></td>
    <td style="width:70%"></td>
  </tr>
  <tr>
    <td class="label">Perkara</td>
    <td>:</td>
    <td><input type="text" name="find_perkara"></td>
  </tr>
</table>