<select class="texts" id="findMukim" name="findMukim" style="width:100%">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectMukim )
   <option value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>
