<fieldset>
<legend class="legend">MAKLUMAT REKOD</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
<div id="err_tarikhTamat" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
	</td>
</tr>
  <tr>
    <td class="label">Tahun</td>
    <td>:</td>
    <td><input type="tahun" id="tahun" name="tahun"></td>
  </tr>
  </tr> 
<tr>
	<td></td>
	<td class="label"></td>
	<td><input type="button" name="cmdCetak" id="cmdCetak" value="Jana Laporan" onclick="javascript:doCetakLaporanStatistikSumberAduan()"/></td>
</tr>
</table>
</fieldset>

<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>