#macro ( input_required $input_id $input_title $value )
<tr>
	<td class="label">$input_title &nbsp;<span style="color:#FF2A00">ttt</span></td>
	<td class="label">pppp:</td>
	<td><input style="width:10px" type="text" id="$input_id" name="$input_id" value="$value" onKeyUp=" $('err_$input_id').innerHTML=''; at(this, event);" onBlur="this.value=this.value.toUpperCase();">
	<div id="err_$input_id" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
	</td>
</tr>
#end