

#if( $!r )
	
	#if( $!r.status.id == "1422941888314")
	<fieldset style="font-weight:bold;color:red; background-color:#D8CEF6">
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
			<tr>
				<td style="color:blue;font-size:15px;font-weight:bold;text-align:justify;">
					PERMOHONAN TELAH DIHANTAR UNTUK SOKONGAN KPSU.
        		</td>
			</tr>
		</table>
	</fieldset>	
	#end
	
	#if( $!r.status.id == "15027197149467845")
	<fieldset style="font-weight:bold;color:red; background-color:#D8CEF6">
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
			<tr>
				<td style="color:blue;font-size:15px;font-weight:bold;text-align:justify;">
					PERMOHONAN TELAH DIHANTAR UNTUK KELULUSAN.
        		</td>
			</tr>
		</table>
	</fieldset>	
	#end
	
	#if( $!r.status.id == "1422943424808")
	<fieldset style="font-weight:bold;color:red; background-color:#D8CEF6">
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
			<tr>
				<td style="color:blue;font-size:15px;font-weight:bold;text-align:justify;">
					PERMOHONAN TELAH DILULUSKAN.
        		</td>
			</tr>
		</table>
	</fieldset>	
	#end
	
	#if( $!r.status.id == "1422943424811")
	<fieldset style="font-weight:bold;color:red; background-color:#D8CEF6">
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
			<tr>
				<td style="color:blue;font-size:15px;font-weight:bold;text-align:justify;">
					PERMOHONAN TIDAK DILULUSKAN.
        		</td>
			</tr>
		</table>
	</fieldset>	
	#end
	
	<br/>
	
    <nav class="breadcrumbs">
    	<ul>
    		<li #if($!selectedTab=='1') class="active" #end ><a href="javascript:void()" #if($!selectedTab!='1') onClick="doDivAjaxCall3$formname('divForm','getMaklumatPermohonan','')" #end >MAKLUMAT PERMOHONAN</a></li>
    		<li #if($!selectedTab=='2') class="active" #end ><a href="javascript:void()" #if($!selectedTab!='2') onClick="doDivAjaxCall3$formname('divForm','getSokongan','')" #end >MAKLUMAT SOKONGAN</a></li>
    		<li #if($!selectedTab=='3') class="active" #end ><a href="javascript:void()" #if($!selectedTab!='3') onClick="doDivAjaxCall3$formname('divForm','getKelulusan','')" #end >MAKLUMAT KELULUSAN</a></li>		
    	</ul>
    </nav>
#end	