<select class="texts" id="findJenisLot" name="findJenisLot" style="width:100%">
  <option value="">SILA PILIH</option>
  #foreach( $n in $selectJenisLot )
	<option value="$n.id">$n.keterangan.toUpperCase()</option>
  #end
</select>
