<table width="100%">
  <tr>
    <td align="center"> 
    	#if ( $!profilePhotoName != "") 
    		<img src="../download?file=$!uploadDir$!profilePhotoName" border="0">
    	#end
      <input type="hidden" name="profilePhotoName" value="$!profilePhotoName">
      <input type="hidden" name="avatarPhotoName" value="$!avatarPhotoName">
    </td>
  </tr>
</table>
