
<td>$!r.id</td>
<td>$!r.userName</td>
<td>$!r.role.description</td>
#if ($!r.dateRegistered) 
	#set ($dateDaftar = "$!util.getDateTime($!r.dateRegistered,'dd-MM-yyyy hh:mm:ss a')")
#else #set ($dateDaftar="") #end
<td  align="center">$dateDaftar</td>