<select class="texts" id="findJenisHakmilik" name="findJenisHakmilik" style="width:100%" onChange="doDivAjaxCall3$formname('divTab','janaLaporan','')">
  <option value="">SILA PILIH</option>
	<option value="PENYEWAAN">PENYEWAAN</option>
	<option value="PENSWASTAAN">PENSWASTAAN</option>
	<option value="PINDAHMILIK">PINDAHMILIK</option>
	<option value="TUKARGUNA ">TUKARGUNA </option>
	<option value="PAJAKAN">PAJAKAN</option>
	<option value="PENJUALAN">PENJUALAN</option>
	<option value="PEMBERIMILIKAN">PEMBERIMILIKAN</option>
</select>
