<div id="content">
    <div id="image1" align="center" >
        <img src="../css/$appPath/picture4.png" width="300" height="150" />
    </div>
    <div id="content-format"><pinLeft></pinLeft><pinRight></pinRight>
    <div id="info" >
  <header>PENGURUSAN RUANG PEJABAT</header>
  <section>
	<div id="tabs">
        <ul>
            <li><a href="#tabs-1">Pengenalan Seksyen Pengurusan Ruang Pejabat</a></li>
			<li><a href="#tabs-2">Peranan dan Tanggungjawab</a></li>
			<li><a href="#tabs-3">Objektif</a></li>
        </ul>
        <div id="tabs-1">
        	<h3>Pengenalan Seksyen Pengurusan Ruang Pejabat</h3>
			<p>Seksyen Pengurusan Ruang Pejabat bertanggungjawab dalam memastikan Kementerian / Jabatan Persekutuan ditempatkan di ruang pejabat yang selesa. Ini bertujuan bagi membolehkan kakitangan bertugas dengan baik dan cekap agar dapat memberikan perkhidmatan yang memuaskan kepada orang ramai sebagai pelanggan tanpa menimbulkan ketidakpuasan. Semua permohonan berkenaan penempatan Kementerian / Jabatan Persekutuan sama ada di Bangunan Gunasama Persekutuan atau premis swasta, perlu dikemukakan ke Seksyen Pengurusan Ruang Pejabat untuk pertimbangan.</p>
        </div>
		<div id="tabs-2">
			<h3>Peranan dan Tanggungjawab</h3>
			<p>Memproses permohonan kelulusan ruang pejabat baru, tambahan ruang, pindah ruang dan perlanjutan yang dikemukakan oleh Kementerian / Jabatan Persekutuan untuk dibawa ke Mesyuarat Jawatankuasa Ruang Pejabat (JRP) yang diadakan pada setiap bulan. </p>
        	<p>Memantau kelulusan pembelian harta-harta Kerajaan (bangunan  oleh Kementerian / Jabatan Persekutuan bagi memastikan mematuhi peraturan yang ditetapkan. Contoh :- Pembelian bangunan untuk dijadikan pejabat ataupun kuarters kerajaan </p>
        	<p>Mempertimbang dan meluluskan permohonan ruang pejabat dan permohonan kerja-kerja ubahsuai di Bangunan Gunasama Persekutuan setelah mendapat sokongan daripada pihak berkaitan seperti Pengurus Bangunan, Jabatan Kerja Raya dan Bahagian kawalselia Penyenggaraan, Kementerian Kerja Raya Malaysia. </p>
        	<p>Mempertimbang dan meluluskan permohonan individu / syarikat untuk menyewa Bangunan Gunasama Persekutuan setelah mendapat persetujuan daripada pihak berkaitan seperti Pengurus Bangunan, Bahagian Kawalselia Penyenggaraan, Kementerian Kerja Raya, Jabatan Kerja Raya dan sebagainya. Contoh : Pejabat Pos. </p>
        	<p>Bertanggungjawab melantik pengusaha dan memantau operasi kafeteria Bangunan Gunasama di Putrajaya iaitu di Parcel C, D, E, Lot 2G4 dan Lot 4G4 bagi memastikan pengusaha mematuhi peraturan-peraturan yang ditetapkan. </p>
        	<p>Bertanggungjawab memantau dan menguruskan kerja-kerja penyenggaraan Bangunan-bangunan Kerajaan di bawah selian Bahagian Pengurusan Hartanah seperti Bangunan IIM dan Wisma Tani. </p>
        </div>
		<div id="tabs-3">
			<h3>Objektif</h3>
			<p>Memastikan Pengurusan Ruang Pejabat , Kompleks Pejabat Kerajaan dan Kefeteria di bawah BPH bertaraf dunia menerusi pelaksanaan dasar-dasar kerajan bagi mewujudkan suasana persekitaran kerja yang selamat, selesa dan memenuhi keperluan semasa.</p>
        </div>
    </div>
	</div>
  </section>
</div>