
<td class="record_header" >Nama<img src="../img/sortdown.png" class="sorting" onclick="sort('pegawai')" /></td>
<td class="record_header" >No Kad Pengenalan<img src="../img/sortdown.png" class="sorting" onclick="sort('pegawai.id')" /></td>
<td class="record_header" >Seksyen<img src="../img/sortdown.png" class="sorting" onclick="sort('bahagian')" /></td>
<td class="record_header" >Unit<img src="../img/sortdown.png" class="sorting" onclick="sort('seksyen')" /></td>
