
<td>$!r.tajuk</td>
<td>$!r.getKeteranganFlagAktif()</td>
<td>$!r.daftarOleh.userName</td>
#if ($!r.tarikhMasuk) 
	#set ($dateMasuk = "$!util.getDateTime($!r.tarikhMasuk,'dd-MM-yyyy hh:mm:ss a')")
#else #set ($dateMasuk="") #end
<td  align="center">$dateMasuk</td>
<td>$!r.kemaskiniOleh.userName</td>
#if ($!r.tarikhKemaskini) 
	#set ($dateKemaskini = "$!util.getDateTime($!r.tarikhKemaskini,'dd-MM-yyyy hh:mm:ss a')")
#else #set ($dateKemaskini="") #end
<td  align="center">$dateKemaskini</td>
