
<td class="record_header" >Perkara<img src="../img/sortdown.png" class="sorting" onclick="sort('perkara')" /></td>
<td class="record_header" >Tarikh Buka Tempahan<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhBukaTempahan')" /></td>
<td class="record_header" >Tarikh Menginap Dari<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMenginapDari')" /></td>
<td class="record_header" >Tarikh Menginap Hingga<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhMenginapHingga')" /></td>
<td class="record_header" >Aktif<img src="../img/sortdown.png" class="sorting" onclick="sort('flagAktif')" /></td>

##Fatin 13/06/2015
<script>
      _jq(document).ready(function () { 
            _jq('#btnAddNewRecordTemplate').val('Tambah Tarikh Buka Tempahan'); ##ubah nama kepada nama yang diperlukan
      });
</script>