<table width="80%" cellpadding="1" cellspacing="2">
  <tr>
    <td width="50%" valign="top"><table width="100%" cellpadding="1" cellspacing="2">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>
        <tr>
          <td class="label">No. Rujukan</td>
          <td>:</td>
          <td><input type="text" name="findNoRujukan"></td>
        </tr>
        <tr>
          <td class="label">Kawasan</td>
          <td>:</td>
          <td>#parse("$path/findKawasan.vm")</td>
        </tr>
        <tr>
          <td class="label">Lokasi</td>
          <td>:</td>
          <td><div id="findLokasi">#parse("$path/findLokasi.vm")</div></td>
        </tr>
        <tr>
          <td class="label">Fasa</td>
          <td>:</td>
          <td><div id="findFasa">#parse("$path/findFasa.vm")</div></td>
        </tr>
        <tr>
          <td class="label">Kelas Kuarters</td>
          <td>:</td>
          <td>#parse("$path/findKelasKuarters.vm")</td>
        </tr>
        <tr>
          <td class="label">Jenis Kuarters</td>
          <td>:</td>
          <td>#parse("$path/findJenisKuarters.vm")</td>
        </tr>
      </table></td>
    <td>&nbsp;&nbsp;</td>
    <td width="50%" valign="top"><table width="100%" cellpadding="1" cellspacing="2">
        <tr>
          <td class="label" style="width:29%"></td>
          <td style="width:1%"></td>
          <td style="width:70%"></td>
        </tr>        
        <tr>
          <td class="label">No. Unit</td>
          <td>:</td>
          <td><input type="text" name="findNoUnit"></td>
        </tr>
        <tr>
          <td class="label">Blok</td>
          <td>:</td>
          <td><input type="text" name="findBlok"></td>
        </tr>
        <tr>
          <td class="label">Alamat</td>
          <td>:</td>
          <td><input type="text" name="findAlamat"></td>
        </tr>        
        <tr>
          <td class="label">Status</td>
          <td>:</td>
          <td>#parse("$path/findStatus.vm")</td>
        </tr>
        #date_input_range("findTarikhLaporanMula", "Tarikh Terima Kunci", "", "findTarikhLaporanHingga", "")
      </table></td>
  </tr>
</table>
