<select id="idPelulusSenggara" name="idPelulusSenggara" style="width:100%" onChange="$('err_idPelulusSenggara').innerHTML='';">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectPelulusSenggara )
    	<option value="$n.id">$n.userName.toUpperCase()</option>
    #end
</select>