<div id="hantarSemakAduan">
#if ( $!command == 'getSemakanAduan' ) 
	#parse("$path/content/aduan/semakanAduan/form.vm")
#end
#if ( $!command == 'hantarSemakAduan' ) 
	#parse("$path/content/aduan/semakanAduan/result.vm")
#end
</div>

<script>
	#parse("$path/content/aduan/semakanAduan/script.vm")
</script>

