<select id="findModuleGroup" name="findModuleGroup" style="width:100%">
	<option value="">Sila Pilih</option>
    #foreach( $g in $groupList )
    	<option value="$g">$g.toUpperCase()</option>
    #end
</select>