
<fieldset>
<legend class="legend">MAKLUMAT REKOD</legend>
<table width="100%">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  #if ($!command == "add_new_record")
	#input_required("id" "Kod" "$!r.id")
	#input_required("keterangan" "Keterangan" "$!r.keterangan")
	<tr>
		<td class="label" valign="top">Status &nbsp;<span style="color:#FF2A00">*</span></td>
		<td valign="top">:</td>
		<td>#parse("$path/selectFlagAktif.vm")
		<div id="err_flagAktif" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
	</tr>
  #else
	  #input_normal_hidden("id" "Kod" "$!r.id")
	  #input_required("keterangan" "Keterangan" "$!r.keterangan")
	 <tr>
		<td class="label" valign="top">Status &nbsp;<span style="color:#FF2A00">*</span></td>
		<td valign="top">:</td>
		<td>#parse("$path/selectFlagAktif.vm")
		<div id="err_flagAktif" style="color:#CC0000;font-weight:bold;border:2px #000"></td>
	</tr>
  #end
  
  
  
</table>
</fieldset>

<script>
  _jq(function($) {
      $('.currency').autoNumeric('init'); 
 	  $('.number').autoNumeric('init', {aSep: '', vMin: '0', vMax: '999999999999999', lZero: 'keep'} );
 	  $('.postcode').autoNumeric('init', {aSep: '', vMin: '00000', vMax: '99999', lZero: 'keep'} );
 	  $('.mykad').autoNumeric('init', {aSep: '', vMin: '000000000000', vMax: '999999999999', lZero: 'allow'} );
  });
</script>