<td class="record_header" style="width:300px;font-weight:bold">Premis<img src="../img/sortdown.png" class="sorting" onclick="sort('namaPremis')" /></td>
<td class="record_header" style="width:500px;font-weight:bold">Negeri / Daerah / Mukim<img src="../img/sortdown.png" class="sorting" onclick="sort('mukim.daerah.negeri.keterangan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Zon<img src="../img/sortdown.png" class="sorting" onclick="sort('zon')" /></td>