

#if($isPenyelia.equals(false))
	<div align="left" style="color:red;border: 1px solid silver; height: 40px; padding:5px">
		<p>
			<strong>* MAAF, SILA PASTIKAN ID ANDA DIDAFTARKAN SEBAGAI PENYELIA RPP.</strong>
		</p>
    </div>
#else

	<fieldset>
    <legend class="legend" style="font-size:12px">PENDAFTARAN WALK-IN</legend>
	
		<div id="divMaklumatTetamu">
    		#parse("$path/form/maklumatTetamu.vm")
    	</div>
	
	</fieldset>
	
#end
	