function doDaftarKutipanData(){
	var err_count = 0;
	
	var noFail = $('noFail').value.trim();
	if ( noFail == "" ) {$('err_noFail').innerHTML = "** mandatori!"; err_count++;  }
	
	var idRuang = $('idRuang').value.trim();
	if ( idRuang == "" ) {$('err_idRuang').innerHTML = "** mandatori!"; err_count++;  }
	
	var noPengenalan = $('noPengenalan').value.trim();
	if ( noPengenalan == "" ) {$('err_noPengenalan').innerHTML = "** mandatori!"; err_count++;  }
	
	var nama = $('nama').value.trim();
	if ( nama == "" ) {$('err_nama').innerHTML = "** mandatori!"; err_count++;  }
	
	var alamat1 = $('alamat1').value.trim();
	if ( alamat1 == "" ) {$('err_alamat1').innerHTML = "** mandatori!"; err_count++;  }
	
	var poskod = $('poskod').value.trim();
	if ( poskod == "" ) {$('err_poskod').innerHTML = "** mandatori!"; err_count++;  }
	
	var idNegeri = $('idNegeri').value.trim();
	if ( idNegeri == "" ) {$('err_idNegeri').innerHTML = "** mandatori!"; err_count++;  }
	
	var idBandar = $('idBandar').value.trim();
	if ( idBandar == "" ) {$('err_idBandar').innerHTML = "** mandatori!"; err_count++;  }
	
	var noTelefon = $('noTelefon').value.trim();
	if ( noTelefon == "" ) {$('err_noTelefon').innerHTML = "** mandatori!"; err_count++;  }
	
	var noTelefonBimbit = $('noTelefonBimbit').value.trim();
	if ( noTelefonBimbit == "" ) {$('err_noTelefonBimbit').innerHTML = "** mandatori!"; err_count++;  }
	
	var noPendaftaran = $('noPendaftaran').value.trim();
	if ( noPendaftaran == "" ) {$('err_noPendaftaran').innerHTML = "** mandatori!"; err_count++;  }
	
	var namaSyarikat = $('namaSyarikat').value.trim();
	if ( namaSyarikat == "" ) {$('err_namaSyarikat').innerHTML = "** mandatori!"; err_count++;  }
	
	var alamat1Syarikat = $('alamat1Syarikat').value.trim();
	if ( alamat1Syarikat == "" ) {$('err_alamat1Syarikat').innerHTML = "** mandatori!"; err_count++;  }
	
	var poskodSyarikat = $('poskodSyarikat').value.trim();
	if ( poskodSyarikat == "" ) {$('err_poskodSyarikat').innerHTML = "** mandatori!"; err_count++;  }
	
	var idNegeriSyarikat = $('idNegeriSyarikat').value.trim();
	if ( idNegeriSyarikat == "" ) {$('err_idNegeriSyarikat').innerHTML = "** mandatori!"; err_count++;  }
	
	var idBandarSyarikat = $('idBandarSyarikat').value.trim();
	if ( idBandarSyarikat == "" ) {$('err_idBandarSyarikat').innerHTML = "** mandatori!"; err_count++;  }
	
	var noRujukan = $('noRujukan').value.trim();
	if ( noRujukan == "" ) {$('err_noRujukan').innerHTML = "** mandatori!"; err_count++;  }
	
	var tarikhMula = $('tarikhMula').value.trim();
	if ( tarikhMula == "" ) {$('err_tarikhMula').innerHTML = "** mandatori!"; err_count++;  }
	
	var tempoh = $('tempoh').value.trim();
	if ( tempoh == "" ) {$('err_tempoh').innerHTML = "** mandatori!"; err_count++;  }
	
	var tarikhTamat = $('tarikhTamat').value.trim();
	if ( tarikhTamat == "" ) {$('err_tarikhTamat').innerHTML = "** mandatori!"; err_count++;  }
	
	var kadarSewa = $('kadarSewa').value.trim();
	if ( kadarSewa == "" ) {$('err_kadarSewa').innerHTML = "** mandatori!"; err_count++;  }
	
	var deposit = $('deposit').value.trim();
	if ( deposit == "" ) {$('err_deposit').innerHTML = "** mandatori!"; err_count++;  }	
	
	var idJenisSewa = $('idJenisSewa').value.trim();
	if ( idJenisSewa == "" ) {$('err_idJenisSewa').innerHTML = "** mandatori!"; err_count++;  }
	
	var flagCajIWK = $('flagCajIWK').value.trim();
	if ( flagCajIWK == "" ) {$('err_flagCajIWK').innerHTML = "** mandatori!"; err_count++;  }
	if ( flagCajIWK == "Y" ) {
		var kadarBayaranIWK = $('kadarBayaranIWK').value.trim();
		if ( kadarBayaranIWK == "" ) {$('err_kadarBayaranIWK').innerHTML = "** mandatori!"; err_count++;  }
	}
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divButton','doDaftarKutipanData','');
	}
}