<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" width="8">&nbsp;</td>
    <td valign="top"><br>Your email enquiry has been sent<br>
Thank You</td>
    <td valign="top" width="8">&nbsp;</td>
  </tr>
</table>
