<div id="viewPayer">
		<fieldset>
			<legend class="legend">maklumat pembayar</legend>
			
		    <table width="100%">
				<tr>
					<td style="width:150px"></td>
					<td style="width:10px"></td>
					<td></td>
				</tr>
				
##				<tr>
##		        	<td valign="top">KATEGORI PEMBAYAR &nbsp;<span style='color:#FF2A00'>*</span></td>
##		        	<td valign="top">:</td>
##		        	<td valign="top">
##		        		<input type="radio" id="flagJenisPembayarLain1" #if($!r.flagJenisPembayarLain == "INDIVIDU") checked #end name="flagJenisPembayarLain" value="INDIVIDU" onclick="$('err_flagJenisPembayarLain').innerHTML=''; at(this, event);" />
##		                <label for="flagJenisPembayarLain1" >INDIVIDU</label>
##		        		<input type="radio" id="flagJenisPembayarLain2" #if($!r.flagJenisPembayarLain == "SYARIKAT") checked #end name="flagJenisPembayarLain" value="SYARIKAT" onclick="$('err_flagJenisPembayarLain').innerHTML=''; at(this, event);" />
##		        		<label for="flagJenisPembayarLain2" >SYARIKAT</label>
##		        		<div id="err_flagJenisPembayarLain" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
##		        	</td>
##		        </tr>
		        #show("KATEGORI PEMBAYAR" "$!r.flagJenisPembayarLain")
		  		#show("NO. PENGENALAN / SSM" "$!r.id")<input type="hidden" id="id" name="id" value="$!r.id"/>
##				#show("id" "NO. PENGENALAN / SSM" "$!r.id")
				#show("NAMA" "$!r.nama")
				#show("ALAMAT" "$!r.alamat1")
				#show("" "$!r.alamat2")
				#show("" "$!r.alamat3")
				#show("POSKOD" "$!r.poskod")
				#show("NEGERI" "$!r.bandar.negeri.keterangan.toUpperCase()")
				#show("BANDAR" "$!r.bandar.keterangan.toUpperCase()")
				<tr>
					<td colspan="3" align="right"><input type="button" style="width:200px" value="KEMASKINI" id="btnKemaskiniPayer" /></td>
##					<td align="right" colspan="2"><input type="button" value="Simpan" onClick="if ( validatePembayar() ) doDivAjaxCall$formname('div_main_entry','simpanPembayar','editPembayar')">
				</tr>
				<script>
					_jq('#btnKemaskiniPayer').on('click', function(){
						editPembayar.style.display = "block";
						viewPayer.style.display = "none";
					});
				</script>
		    </table>
		</fieldset>
</div>
<div id="editPembayar" style="display:none">
	<fieldset>
			<legend class="legend">maklumat pembayar</legend>
			
		    <table width="100%">
				<tr>
					<td style="width:150px"></td>
					<td style="width:10px"></td>
					<td></td>
				</tr>
				
				<tr>
		        	<td valign="top">KATEGORI PEMBAYAR &nbsp;<span style='color:#FF2A00'>*</span></td>
		        	<td valign="top">:</td>
		        	<td valign="top">
		        		<input type="radio" id="flagJenisPembayarLain1" #if($!r.flagJenisPembayarLain == "INDIVIDU") checked #end name="flagJenisPembayarLain" value="INDIVIDU" onclick="$('err_flagJenisPembayarLain').innerHTML=''; at(this, event);" />
		                <label for="flagJenisPembayarLain1" >INDIVIDU</label>
		        		<input type="radio" id="flagJenisPembayarLain2" #if($!r.flagJenisPembayarLain == "SYARIKAT") checked #end name="flagJenisPembayarLain" value="SYARIKAT" onclick="$('err_flagJenisPembayarLain').innerHTML=''; at(this, event);" />
		        		<label for="flagJenisPembayarLain2" >SYARIKAT</label>
		        		<div id="err_flagJenisPembayarLain" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
		        	</td>
		        </tr>
		  		#show("NO. PENGENALAN / SSM" "$!r.id")<input type="hidden" id="id" name="id" value="$!r.id"/>
##				#input_required("id" "NO. PENGENALAN / SSM" "$!r.id")
				#input_required("nama" "NAMA" "$!r.nama")
				#input_required("alamat1" "ALAMAT" "$!r.alamat1")
				#input("alamat2" "" "$!r.alamat2")
				#input("alamat3" "" "$!r.alamat3")
				#postcode_required("poskod" "POSKOD" "$!r.poskod")
		
				<tr>
					<td>NEGERI &nbsp;<span style='color:#FF2A00'>*</span></td>
					<td>:</td>
					<td>
						<select class="texts" id="negeri" name="negeri" style="width:100%" onChange="doDivAjaxCall3$formname('divFilterBandar','filterBandar',''); $('err_negeri').innerHTML=''; at(this, event);">
		                    <option value="">SILA PILIH</option>
		                    #foreach( $n in $listNegeri)
		    					<option value="$n.id" #if($!n.id == $!r.bandar.negeri.id) selected #end >$n.keterangan.toUpperCase()</option>
		                    #end
		                </select>
						<div id="err_negeri" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
					</td>
				</tr>
				
				<tr>
					<td>BANDAR &nbsp;<span style='color:#FF2A00'>*</span></td>
					<td>:</td>
					<td>
						<div id="divFilterBandar">#parse("$path/bandar.vm")</div>
						<div id="err_bandar" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
					</td>
				</tr>
				<tr>
					<td colspan="3" align="right"><input type="button" style="width:200px" value="SIMPAN" id="btnEditPayer" /></td>
##					<td align="right" colspan="2"><input type="button" value="Simpan" onClick="if ( validatePembayar() ) doDivAjaxCall$formname('div_main_entry','simpanPembayar','editPembayar')">
				</tr>
				<script>
					_jq('#btnEditPayer').on('click', function(){
						if ( validatePembayar() ) 
						doDivAjaxChainCall$formname('divMaklumatPembayar','editPembayar','');
						editPembayar.style.display = "none";
						viewPayer.style.display = "block";
					});
				</script>
		    </table>
		</fieldset>
</div>