<table width="80%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
	#input("findNama" "Nama Individu / Syarikat" "")
	#input("findId" "No. Pengenalan / No. SSM" "")
##	#input("findNoInvois" "No. Invois / Fail" "")
</table>