<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="width:150px"></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  <tr>
    <td style="width:150px"> 
    	#if ($!ut.suratFileName  != "") 
    		<a href="../download?file=$!uploadDir$!ut.suratFileName" > 
    			#if ($!ut.suratThumbFile != "") 
    				<img style="margin:4px 0 4px;" id="photoImg" src="../download?file=$!uploadDir$!ut.suratThumbFile" border="0"> 
    			#else 
    				<img src="../images/attachment.png" border="0">
    			#end 
    		</a>
      <input id="hapusSurat" name="hapusSurat" type="button" value="Hapus" onClick="javascript:doHapusSuratJkptg();"/>
      #end 
    </td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
  <td style="width:150px"><input class="texts" type="file" id="dokumenSurat" name="dokumenSurat" style="width:500px" onFocus="$('err_dokumenSurat').innerHTML = '';" onChange="uploadSuratJkptg()">
      <div id="muatNaikSurat" style="display:none"> <img src="../img/indicator.gif"> <span style="font-weight:bold;color:#008000;">Sedang Muatnaik...</span> </div>
      <div id="err_dokumenSurat" style="color:#CC0000;font-weight:bold;border:2px #000"></div></td>
    <td style="width:10px"></td>
    <td></td>
  </tr>
</table>
<iframe id="upload_Surat" name="upload_Surat" width="0px" height="0px" style="visibility:hidden"></iframe>
