

	<fieldset id="makluman" style="font-weight:bold;color:red; background-color:#D8CEF6">
		<table cellpadding="5" cellspacing="0" border="0" width="100%">
			<tr>
				<td style="color:red;font-size:15px;font-weight:bold;text-align:justify;" id="notaLulusOperator">
					PERMOHONAN TELAH DIHAPUSKAN.
        		</td>
			</tr>
		</table>
	</fieldset>	