
<td>
	<a href="javascript:void()" style="color:blue" onclick="$('div_main').style.display='none';$('div_main_entry').style.display='block';doDivAjaxCall$formname('div_main_entry','edit','$queryParam')">
		$!r.pemohon.userName.toUpperCase()
	</a>
</td>
<td>$!r.pemohon.noKP</td>
<td  align="center">$!util.getDateTime($!r.tarikhMula,'dd-MM-yyyy')</td>
<td  align="center">$!util.getDateTime($!r.tarikhTamat,'dd-MM-yyyy')</td>
<td  align="center">$!r.getKeteranganFlagAktif()</td>
<td  align="center">$!r.status.keterangan.toUpperCase()</td>