function validate() {
	var err_count = 0;
	
	var tarikhSurat = $('tarikhSurat').value;
	if ( tarikhSurat == "" ) {$('err_tarikhSurat').innerHTML = "** mandatori!"; err_count++;  }	
	
	var idNegeriBangunan = $('idNegeriBangunan').value;
	if ( idNegeriBangunan == "" ) {$('err_idNegeriBangunan').innerHTML = "** mandatori!"; err_count++;  }
	
	var idDaerahBangunan = $('idDaerahBangunan').value;
	if ( idDaerahBangunan == "" ) {$('err_idDaerahBangunan').innerHTML = "** mandatori!"; err_count++;  }
	
##	var idMukimBangunan = $('idMukimBangunan').value;
##	if ( idMukimBangunan == "" ) {$('err_idMukimBangunan').innerHTML = "** mandatori!"; err_count++;  }
##	
##	var idPremis = $('idPremis').value;
##	if ( idPremis == "" ) {$('err_idPremis').innerHTML = "** mandatori!"; err_count++;  }
	
	var idBangunan = $('idBangunan').value;
	if ( idBangunan == "" ) {$('err_idBangunan').innerHTML = "** mandatori!"; err_count++;  }	

	var idKementerian = $('idKementerian').value;
	if ( idKementerian == "" ) {$('err_idKementerian').innerHTML = "** mandatori!"; err_count++;  }
	
	var idAgensi = $('idAgensi').value;
	if ( idAgensi == "" ) {$('err_idAgensi').innerHTML = "** mandatori!"; err_count++;  }
	
	var jabatan = $('jabatan').value;
	if ( jabatan == "" ) {$('err_jabatan').innerHTML = "** mandatori!"; err_count++;  }	
	
	var alamat1 = $('alamat1').value;
	if ( alamat1 == "" ) {$('err_alamat1').innerHTML = "** mandatori!"; err_count++;  }
	
	var poskod = $('poskod').value;
	if ( poskod == "" ) {$('err_poskod').innerHTML = "** mandatori!"; err_count++;  }
	
	var idNegeri = $('idNegeri').value;
	if ( idNegeri == "" ) {$('err_idNegeri').innerHTML = "** mandatori!"; err_count++;  }
	
	var idBandar = $('idBandar').value;
	if ( idBandar == "" ) {$('err_idBandar').innerHTML = "** mandatori!"; err_count++;  }	
	
	var noTelefon = $('noTelefon').value;
	if ( noTelefon == "" ) {$('err_noTelefon').innerHTML = "** mandatori!"; err_count++;  }
	
	var noFaks = $('noFaks').value;
	if ( noFaks == "" ) {$('err_noFaks').innerHTML = "** mandatori!"; err_count++;  }
	
	var namaPegawai = $('namaPegawai').value;
	if ( namaPegawai == "" ) {$('err_namaPegawai').innerHTML = "** mandatori!"; err_count++;  }
	
	var emelPegawai = $('emelPegawai').value;
	if ( emelPegawai == "" ) {$('err_emelPegawai').innerHTML = "Emel mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
	}
	
	return err_count == 0;
}

## MAKLUMAT PERMOHONAN
function saveMaklumatPermohonan(){
	if ( validate() ){
		doDivAjaxCall$formname('divTab','saveMaklumatPermohonan','');
	}
}

## MAKLUMAT PEJABAT
function saveMaklumatPejabat(){
	var err_count = 0;
	
	var jenisPerkhidmatan1 = document.${formname}.jenisPerkhidmatan[0].checked;
	var jenisPerkhidmatan2 = document.${formname}.jenisPerkhidmatan[1].checked;
	if ( jenisPerkhidmatan1 == false && jenisPerkhidmatan2 == false ) {$('err_jenisPerkhidmatan').innerHTML = "** mandatori!"; err_count++;  }
	
	var statusRuangPejabat = $('statusRuangPejabat').value;
	if ( statusRuangPejabat == "" ) {$('err_statusRuangPejabat').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','saveMaklumatPejabat','');
	}	
}

function saveIMasalah(){
	var err_count = 0;
	
	var iMasalah = $('iMasalah').value;
	if ( iMasalah == "" ) {$('err_iMasalah').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','saveIMasalahPejabat','');
	}	
}

function kemaskiniMasalah(){
	var err_count = 0;
	
	var masalah = $('masalah').value;
	if ( masalah == "" ) {$('err_masalah').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','kemaskiniMasalahPejabat','');
	}	
}

function deleteMasalah(idMasalah){
	if ( !window.confirm("Anda pasti?") ){
			return;
	}
	doDivAjaxCall$formname('divTab','deleteMasalahPejabat','idMasalah='+idMasalah);	
}

## MAKLUMAT PERJAWATAN
function saveIPerjawatan(){
	var err_count = 0;
	
	var iJawatan = $('iJawatan').value;
	if ( iJawatan == "" ) {$('err_iJawatan').innerHTML = "** mandatori!"; err_count++;  }
	
	var iGred = $('iGred').value;
	if ( iGred == "" ) {$('err_iGred').innerHTML = "** mandatori!"; err_count++;  }
	
	var iBilanganSemasa = $('iBilanganSemasa').value;
	if ( iBilanganSemasa == "" ) {$('err_iBilanganSemasa').innerHTML = "** mandatori!"; err_count++;  }
	
	var iLuasSemasa = $('iLuasSemasa').value;
	if ( iLuasSemasa == "" ) {$('err_iLuasSemasa').innerHTML = "** mandatori!"; err_count++;  }
	
	var iBilanganAkanDatang = $('iBilanganAkanDatang').value;
	if ( iBilanganAkanDatang == "" ) {$('err_iBilanganAkanDatang').innerHTML = "** mandatori!"; err_count++;  }
	
	var iLuasAkanDatang = $('iLuasAkanDatang').value;
	if ( iLuasAkanDatang == "" ) {$('err_iLuasAkanDatang').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','saveIPerjawatan','');
	}	
}

function kemaskiniPerjawatan(){
	var err_count = 0;
	
	var jawatan = $('jawatan').value;
	if ( jawatan == "" ) {$('err_jawatan').innerHTML = "** mandatori!"; err_count++;  }
	
	var gred = $('gred').value;
	if ( gred == "" ) {$('err_gred').innerHTML = "** mandatori!"; err_count++;  }
	
	var bilanganSemasa = $('bilanganSemasa').value;
	if ( bilanganSemasa == "" ) {$('err_bilanganSemasa').innerHTML = "** mandatori!"; err_count++;  }
	
	var luasSemasa = $('luasSemasa').value;
	if ( luasSemasa == "" ) {$('err_luasSemasa').innerHTML = "** mandatori!"; err_count++;  }
	
	var bilanganAkanDatang = $('bilanganAkanDatang').value;
	if ( bilanganAkanDatang == "" ) {$('err_bilanganAkanDatang').innerHTML = "** mandatori!"; err_count++;  }
	
	var luasAkanDatang = $('luasAkanDatang').value;
	if ( luasAkanDatang == "" ) {$('err_luasAkanDatang').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','kemaskiniPerjawatan','');
	}	
}

function deletePerjawatan(idPerjawatan){
	if ( !window.confirm("Anda pasti?") ){
			return;
	}
	doDivAjaxCall$formname('divTab','deletePerjawatan','idPerjawatan='+idPerjawatan);	
}

## MAKLUMAT KEPERLUAN PEJABAT
function saveIKeperluanPejabat(){
	var err_count = 0;
	
	var iPerkara = $('iPerkara').value;
	if ( iPerkara == "" ) {$('err_iPerkara').innerHTML = "** mandatori!"; err_count++;  }
	
	var iLuasSemasa = $('iLuasSemasa').value;
	if ( iLuasSemasa == "" ) {$('err_iLuasSemasa').innerHTML = "** mandatori!"; err_count++;  }
	
	var iLuasAkanDatang = $('iLuasAkanDatang').value;
	if ( iLuasAkanDatang == "" ) {$('err_iLuasAkanDatang').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','saveIKeperluanPejabat','');
	}	
}

function kemaskiniKeperluanPejabat(){
	var err_count = 0;
	
	var perkara = $('perkara').value;
	if ( perkara == "" ) {$('err_perkara').innerHTML = "** mandatori!"; err_count++;  }
	
	var luasSemasa = $('luasSemasa').value;
	if ( luasSemasa == "" ) {$('err_luasSemasa').innerHTML = "** mandatori!"; err_count++;  }
	
	var luasAkanDatang = $('luasAkanDatang').value;
	if ( luasAkanDatang == "" ) {$('err_luasAkanDatang').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','kemaskiniKeperluanPejabat','');
	}	
}

function deleteKeperluanPejabat(idKeperluanPejabat){
	if ( !window.confirm("Anda pasti?") ){
			return;
	}
	doDivAjaxCall$formname('divTab','deleteKeperluanPejabat','idKeperluanPejabat='+idKeperluanPejabat);	
}

## DOKUMEN SOKONGAN
function checkUpload() {
	$('err_dokumen').innerHTML = '';
	var idPermohonan = $('idPermohonan').value;
	var error = 0;
	var err_count = 0;
	
	var idJenisDokumen = $('idJenisDokumen').value;
	if ( idJenisDokumen == "" ) {$('err_idJenisDokumen').innerHTML = "** mandatori!"; err_count++;  }
	
	var tajukDokumen = $('tajukDokumen').value;
	if ( tajukDokumen == "" ) {$('err_tajukDokumen').innerHTML = "** mandatori!"; err_count++;  }

	if ($('dokumen').value != "" && !checkDoc($('dokumen').value)) {
		error++;
		$('dokumen').value = "";
		$('err_dokumen').innerHTML = 'Muat naik fail haruslah format yang telah ditetapkan (jpeg, jpg, doc, docx atau pdf)';
	}
	if ($('dokumen').value != "" && $('dokumen').files[0].size > 2097152) {
		error++;
		$('err_dokumen').innerHTML = "Saiz fail adalah "+($('dokumen').files[0].size/(1024*1024)).toFixed(2)+" MB, Sila pastikan saiz fail tidak melebihi 2MB.";
		$('dokumen').value = "";
	}
	if (error == 0 && err_count == 0) {
		$('dokumenMuatnaik').style.display = "";
		document.${formName}.enctype='multipart/form-data';
		document.${formName}.encoding ='multipart/form-data';
		document.${formName}.target='upload_doc';
		document.${formName}.action='?command=uploadDoc&idPermohonan='+idPermohonan+'&tajukDokumen='+$('tajukDokumen').value+'&idJenisDokumen='+$('idJenisDokumen').value+'&keteranganDokumen='+$('keteranganDokumen').value;
		document.${formName}.submit();
		$('tajukDokumen').value = "";
		$('idJenisDokumen').value = "";
		$('keteranganDokumen').value = "";
		$('dokumen').value = "";
	}
	
	return err_count == 0;
}

function checkDoc(val) {
	var arr = val.split(".");
	var arr1 = val.split("\\");
	if (arr[1] == "jpeg" || arr[1] == "jpg" || arr[1] == "JPEG" || arr[1] == "JPG" || arr[1] == "PDF" || arr[1] == "pdf" || arr[1] == "doc" || arr[1] == "DOC" || arr[1] == "docx" || arr[1] == "DOCX" ) {
		return true;
	} else {
		return false;
	}
}

function deleteDokumen(id) {
	if ( !window.confirm("Anda pasti?") ){
		return;
	}
	doDivAjaxCall$formname('divTab','deleteDokumen','idDokumen='+id);
}

## DOKUMEN SOKONGAN PENGERUSI
function checkUploadDokumenPengerusi() {
	$('err_dokumenPengerusi').innerHTML = '';
	var idPermohonan = $('idPermohonan').value;
	var error = 0;
	var err_count = 0;

	if ($('dokumenPengerusi').value != "" && !checkDoc($('dokumenPengerusi').value)) {
		error++;
		$('dokumenPengerusi').value = "";
		$('err_dokumenPengerusi').innerHTML = 'Muat naik fail haruslah format yang telah ditetapkan (jpeg, jpg, doc, docx atau pdf)';
	}
	if ($('dokumenPengerusi').value != "" && $('dokumenPengerusi').files[0].size > 2097152) {
		error++;
		$('err_dokumenPengerusi').innerHTML = "Saiz fail adalah "+($('dokumenPengerusi').files[0].size/(1024*1024)).toFixed(2)+" MB, Sila pastikan saiz fail tidak melebihi 2MB.";
		$('dokumenPengerusi').value = "";
	}
	if (error == 0 && err_count == 0) {
		$('dokumenPengerusiMuatnaik').style.display = "";
		document.${formName}.enctype='multipart/form-data';
		document.${formName}.encoding ='multipart/form-data';
		document.${formName}.target='upload_doc';
		document.${formName}.action='?command=uploadDocPengerusi&idPermohonan='+idPermohonan;
		document.${formName}.submit();
		$('dokumenPengerusi').value = "";
	}
	
	return err_count == 0;
}

function deleteDokumenPengerusi() {
	if ( !window.confirm("Anda pasti?") ){
		return;
	}
	doDivAjaxCall$formname('divTab','deleteDokumenPengerusi','');
}

## DOKUMEN SOKONGAN PENGURUS
function checkUploadDokumenPengurus() {
	$('err_dokumenPengurus').innerHTML = '';
	var idPermohonan = $('idPermohonan').value;
	var error = 0;
	var err_count = 0;

	if ($('dokumenPengurus').value != "" && !checkDoc($('dokumenPengurus').value)) {
		error++;
		$('dokumenPengurus').value = "";
		$('err_dokumenPengurus').innerHTML = 'Muat naik fail haruslah format yang telah ditetapkan (jpeg, jpg, doc, docx atau pdf)';
	}
	if ($('dokumenPengurus').value != "" && $('dokumenPengurus').files[0].size > 2097152) {
		error++;
		$('err_dokumenPengurus').innerHTML = "Saiz fail adalah "+($('dokumenPengurus').files[0].size/(1024*1024)).toFixed(2)+" MB, Sila pastikan saiz fail tidak melebihi 2MB.";
		$('dokumenPengurus').value = "";
	}
	if (error == 0 && err_count == 0) {
		$('dokumenPengurusMuatnaik').style.display = "";
		document.${formName}.enctype='multipart/form-data';
		document.${formName}.encoding ='multipart/form-data';
		document.${formName}.target='upload_doc';
		document.${formName}.action='?command=uploadDocPengurus&idPermohonan='+idPermohonan;
		document.${formName}.submit();
		$('dokumenPengurus').value = "";
	}
	
	return err_count == 0;
}

function deleteDokumenPengurus() {	
	if ( !window.confirm("Anda pasti?") ){
		return;
	}
	doDivAjaxCall$formname('divTab','deleteDokumenPengurus','');
}

## HANTAR PERMOHONAN
function hantarPermohonan(){
	if ($('checkPermohonan').value != 'Y' || $('checkMaklumatPejabat').value != 'Y' || $('checkMasalah').value != 'Y' || $('checkPerjawatan').value != 'Y' || $('checkKeperluanPejabat').value != 'Y' || $('ulasanPengerusi').value != 'Y' || $('ulasanPengurus').value != 'Y') {
		alert('Sila Lengkapkan Semua Item Didalam Senarai Semak.');
	} else {
		if ($('jawapanKuiri').value != 'Y' && $('idStatus').value == '1423568441685') {
			alert('Sila kemaskini jawapan kuiri.');
		} else {
			if ( !window.confirm("Anda pasti?") ){
				return;
			}
			doDivAjaxCall$formname('divTab','hantarPermohonan','');	
		}		
	}	
}

## DAFTAR FAIL
function daftarFail(){
	if ($('checkPermohonan').value != 'Y' || $('checkMaklumatPejabat').value != 'Y' || $('checkMasalah').value != 'Y' || $('checkPerjawatan').value != 'Y' || $('checkKeperluanPejabat').value != 'Y' || $('ulasanPengerusi').value != 'Y' || $('ulasanPengurus').value != 'Y') {
		alert('Sila Lengkapkan Semua Item Didalam Senarai Semak.');
	} else {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','daftarFail','');	
	}
}

## MAKLUMAT KUIRI
function saveIKuiri(){
	var err_count = 0;
	
	var iKuiri = $('iKuiri').value;
	if ( iKuiri == "" ) {$('err_iKuiri').innerHTML = "** mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','saveIKuiri','');
	}	
}

function deleteKuiri(idKuiri){
	if ( !window.confirm("Anda pasti?") ){
			return;
	}
	doDivAjaxCall$formname('divTab','deleteKuiri','idKuiri='+idKuiri);	
}

function hantarKuiri(){
	if ($('kuiriBaru').value != 'Y') {
		alert('Sila daftar kuiri baru.');
	} else {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','hantarKuiri','');	
	}
}

function saveIJawapan(idKuiri){
	doDivAjaxCall$formname('divTab','saveIJawapan','idKuiri='+idKuiri);	
}

## KERTAS PERTIMBANGAN
function simpanKertasPertimbangan(){
	var err_count = 0;
	
	var tujuan = $('tujuan').value;
	if ( tujuan == "" ) {$('err_tujuan').innerHTML = "** mandatori!"; err_count++;  }
	
	var lokasiRuangDipohon = $('lokasiRuangDipohon').value;
	if ( lokasiRuangDipohon == "" ) {$('err_lokasiRuangDipohon').innerHTML = "** Pemohon mandatori!"; err_count++;  }
	
	var keluasanRuangDipohon = $('keluasanRuangDipohon').value;
	if ( keluasanRuangDipohon == "" ) {$('err_keluasanRuangDipohon').innerHTML = "** mandatori!"; err_count++;  }
	
	var namaJabatan = $('namaJabatan').value;
	if ( namaJabatan == "" ) {$('err_namaJabatan').innerHTML = "** mandatori!"; err_count++;  }
	
	var bilKakitangan = $('bilKakitangan').value;
	if ( bilKakitangan == "" ) {$('err_bilKakitangan').innerHTML = "** mandatori!"; err_count++;  }
		
	var cadanganRuang = $('cadanganRuang').value;
	if ( cadanganRuang == "" ) {$('err_cadanganRuang').innerHTML = "** mandatori!"; err_count++;  }
	
	var alasan1 = $('alasan1').value;
	if ( alasan1 == "" ) {$('err_alasan1').innerHTML = "** mandatori!"; err_count++;  }
	
	var namaPengerusiBangunan = $('namaPengerusiBangunan').value;
	if ( namaPengerusiBangunan == "" ) {$('err_namaPengerusiBangunan').innerHTML = "** mandatori!"; err_count++;  }
	
	var ulasanPengerusiBangunan = $('ulasanPengerusiBangunan').value;
	if ( ulasanPengerusiBangunan == "" ) {$('err_ulasanPengerusiBangunan').innerHTML = "** mandatori!"; err_count++;  }
	
	var namaPengurusBangunan = $('namaPengurusBangunan').value;
	if ( namaPengurusBangunan == "" ) {$('err_namaPengurusBangunan').innerHTML = "** mandatori!"; err_count++;  }
	
	var ulasanPengurusBangunan = $('ulasanPengurusBangunan').value;
	if ( ulasanPengurusBangunan == "" ) {$('err_ulasanPengurusBangunan').innerHTML = "** mandatori!"; err_count++;  }
			
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','simpanKertasPertimbangan','');	
	}		
}

function hantarSemakan() {
	var err_count = 0;
	
	var ulasanPenyedia = $('ulasanPenyedia').value;
	if ( ulasanPenyedia == "" ) {$('err_ulasanPenyedia').innerHTML = "** mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','hantarSemakan','');
	}
}

function simpanPindaanPenyemak() {
	var err_count = 0;
	
	var ulasanPenyemak = $('ulasanPenyemak').value;
	if ( ulasanPenyemak == "" ) {$('err_ulasanPenyemak').innerHTML = "** mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','simpanPindaanPenyemak','');
	}
}

function hantarPengesahan() {
	var err_count = 0;
	
	var ulasanPenyemak = $('ulasanPenyemak').value;
	if ( ulasanPenyemak == "" ) {$('err_ulasanPenyemak').innerHTML = "** mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','hantarPengesahan','');
	}
}

function simpanPindaanPengesah() {
	var err_count = 0;
	
	var ulasanPengesah = $('ulasanPengesah').value;
	if ( ulasanPengesah == "" ) {$('err_ulasanPengesah').innerHTML = "** mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','simpanPindaanPengesah','');
	}
}

function simpanPengesahan() {
	var err_count = 0;
	
	var ulasanPengesah = $('ulasanPengesah').value;
	if ( ulasanPengesah == "" ) {$('err_ulasanPengesah').innerHTML = "** mandatori!"; err_count++;  }
	
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','simpanPengesahan','');
	}
}

## KEPUTUSAN
function simpanKeputusanSUB() {
	var err_count = 0;
	
	var tarikhKeputusan = $('tarikhKeputusan').value;
	if ( tarikhKeputusan == "" ) {$('err_tarikhKeputusan').innerHTML = "** mandatori!"; err_count++;  }
	
	var idKeputusan = $('idKeputusan').value;
	if ( idKeputusan == "" ) {$('err_idKeputusan').innerHTML = "** mandatori!"; err_count++;  }
		
	if (err_count == 0) {
		if ( !window.confirm("Anda pasti?") ){
			return;
		}
		doDivAjaxCall$formname('divTab','simpanKeputusanSUB','');
	}
}

function simpanSelesai() {
	if ( !window.confirm("Anda pasti?") ){
		return;
	}
	doDivAjaxCall$formname('divTab','simpanSelesai','');
}