<select id="idMukimBangunan" name="idMukimBangunan" style="width:100%" onChange="$('err_idMukimBangunan').innerHTML=''; at(this, event);doDivAjaxCall3$formname('selectPremis','selectPremis','')">
    <option value="">SILA PILIH</option>
    #foreach( $n in $selectMukimBangunan )
    	<option #if ( $n.id == $r.bangunan.premis.mukim.id ) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
    #end
</select>