
<td class="record_header" >ID Pengguna<img src="../img/sortdown.png" class="sorting" onclick="sort('id')" /></td>
<td class="record_header" >Nama Pegawai<img src="../img/sortdown.png" class="sorting" onclick="sort('namaPegawai')" /></td>
<td class="record_header" >No. Telefon<img src="../img/sortdown.png" class="sorting" onclick="sort('noTelefon')" /></td>
<td class="record_header" >Kementerian/Agensi/Jabatan<img src="../img/sortdown.png" class="sorting" onclick="sort('agensi.kementerian.keterangan')" /></td>
<td class="record_header" >Tarikh Daftar<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhDaftar')" /></td>
<td class="record_header" >Tarikh Luput<img src="../img/sortdown.png" class="sorting" onclick="sort('tarikhLuput')" /></td>
<td class="record_header" >Status<img src="../img/sortdown.png" class="sorting" onclick="sort('flagAktif')" /></td>
<td class="record_header" >HQ<img src="../img/sortdown.png" class="sorting" onclick="sort('flagHQ')" /></td>