<select id="flagHQ" name="flagHQ" style="width:180px" onChange="$('err_flagHQ').innerHTML=''; at(this, event);">
	<option value="">SILA PILIH</option>
    <option value="Y" #if ($!r.flagHQ == 'Y') selected #end>YA</option>
    <option value="T" #if ($!r.flagHQ == 'T') selected #end>TIDAK</option>
</select>