<table align="center"
<tr><td align="center" style="font-weight:bold; font-size:14pt">


Sorry!<br>
You are not allowed to modify content<br>
from this repository!

</td></tr>
<tr><td align="center">

<input type="button" value="Close" onclick="self.close()">

</td></tr>
</table>