<table align="center"
<tr><td align="center" style="font-weight:bold; font-size:14pt">
<br><br>
Your changes has been SAVED.<br>
You may refresh your browser to view the changes.

</td></tr>
<tr><td align="center">

<input type="button" value="Close" onclick="self.close()">

</td></tr>
</table>