
<td class="record_header" style="width:250px;font-weight:bold">Jenis Kesalahan<img src="../img/sortdown.png" class="sorting" onclick="sort('jenisKesalahan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Catatan<img src="../img/sortdown.png" class="sorting" onclick="sort('catatan')" /></td>
<td class="record_header" style="width:300px;font-weight:bold">Status<img src="../img/sortdown.png" class="sorting" onclick="sort('status')" /></td>
