<select class="texts" id="flagBayaran" name="flagBayaran" onChange="$('err_flagBayaran').innerHTML=''">
	    <option value="">SILA PILIH</option>
	    <option #if ( $!rekod.flagBayaran == '5' )selected #end value="5">ANSURAN</option>
	    <option #if ( $!rekod.flagBayaran == '1' ) selected #end value="1">BELUM BAYAR</option>
	    <option #if ( $!rekod.flagBayaran == '2' ) selected #end value="2">TELAH BAYAR</option>
	    <option #if ( $!rekod.flagBayaran == '3' ) selected #end value="3">TUNGGAKAN</option>
	    <option #if ( $!rekod.flagBayaran == '4' ) selected #end value="4">SELESAI</option>
</select>