<script>
    _jq(document).ready(function() {
        _jq('#penghuniABT').DataTable({
    		"language": {
                "url": "../css/jquery.dataTables/Malay.json"
            }
    	});
    } );
</script>
<fieldset>
	<legend class="legend">AKAUN BELUM TERIMA</legend>
	<table width="100%">
		<tr>
			<td>
				<table width="100%">
				  <tr>
				    <td style="width:150px"></td>
				    <td style="width:10px"></td>
				    <td></td>
				  </tr>
				## --------------- Start display data sahaja untuk maklumat detail --------------- 
					<b><u>MAKLUMAT PENGHUNI</u></b>
					#input_readonly_all_label("noKP" "No Pengenalan" "$!r.pemohon.noKP")
					#input_readonly_all_label("namaPenghuni" "Nama" "$!r.pemohon.userName")
					
					#set ($tarikhMasuk = $!util.getDateTime($!tarikhMasuk,'dd-MM-yyyy'))
				    #if ($!r.tarikhMasuk) 
				    	#set ($tarikhMasuk = "$!util.getDateTime($!r.tarikhMasuk,'dd-MM-yyyy')") 
				    #end
					#input_readonly_all_label("tarikhMasuk" "Tarikh Masuk Kuaters" "$tarikhMasuk")
					
					#set ($tarikhKeluar = $!util.getDateTime($!tarikhKeluar,'dd-MM-yyyy'))
				    #if ($!r.tarikhKeluar) 
				    	#set ($tarikhKeluar = "$!util.getDateTime($!r.tarikhKeluar,'dd-MM-yyyy')") 
				    #end
					#input_readonly_all_label("tarikhKeluar" "Tarikh Keluar Kuaters" "$tarikhKeluar")
					
					#input_readonly_all_label("kadarSewa" "Kadar Sewa" "$!r.kuarters.sewa")
					
					#input_readonly_all_label("status" "Status Rayuan" "<b>$!r.status</b>")
					
				## --------------- End display data sahaja untuk maklumat detail --------------- 
				</table>
			</td>
			<td>
				<table width="100%">
				  <tr>
				    <td style="width:80px"></td>
				    <td style="width:10px"></td>
				    <td></td>
				  </tr>
				## --------------- Start display data sahaja untuk maklumat detail --------------- 
					<b><u>ALAMAT</u></b> 
					#input_readonly_all_label("noUnit" "No Unit" "$!r.kuarters.noUnit") 
					#input_readonly_all_label("lokasi" "Lokasi" "$!r.kuarters.lokasi.keterangan")
					#input_readonly_all_label("tempat" "Kawasan" "$!r.kuarters.kawasan")
					#input_readonly_all_label("bandar" "Bandar" "$!r.kuarters.bandar.keterangan")
					#input_readonly_all_label("negeri" "Negeri" "$!r.kuarters.bandar.negeri.keterangan")
				## --------------- End display data sahaja untuk maklumat detail --------------- 
				</table>
			</td>
		</tr>
	</table>
	<br /><br />
	
	<b><u>REKOD ABT</u></b>
	<p align="left">
		<input type="button" value="Tambah" align='left' id="btnTambahAbt">
	</p>
	<script>
		_jq('#btnTambahAbt').on('click', function(){
			doDivAjaxCall3$formname('addpopup','funcTambahAbt','');
	        jQuery('#addpopup').fadeIn();
	    });
	</script>
	<br />
	<table id="penghuniABT" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Bil.</th>
                <th>Bulan Tunggakan</th>
                <th>Jumlah Tunggakan (RM)</th>
                <th>Jumlah Bayaran (RM)</th>
                <th>Tarikh Bayaran</th>
                <th>Status Bayaran</th>
                <th>Catatan</th>
                <th>Papar</th>
            </tr>
        </thead>
		
		<tbody>
			#set( $count = 0 )
    		#foreach ( $c in $abtList )
    			#set ( $count = $count + 1 )
                <tr>
                    <td align="center" >$count</td>
                    
                    #if($!c.bulanTunggakan == '1')
                  		#set($bulan = 'JANUARY')
                 	#elseif($!c.bulanTunggakan == '2')
                 		#set($bulan = 'FEBRUARY')
                 	#elseif($!c.bulanTunggakan == '3')
                 		#set($bulan = 'MARCH')
                 	#elseif($!c.bulanTunggakan == '4')
                 		#set($bulan = 'APRIL')
                 	#elseif($!c.bulanTunggakan == '5')
                 		#set($bulan = 'MAY')
                 	#elseif($!c.bulanTunggakan == '6')
                 		#set($bulan = 'JUNE')
                 	#elseif($!c.bulanTunggakan == '7')
                 		#set($bulan = 'JULY')
                 	#elseif($!c.bulanTunggakan == '8')
                 		#set($bulan = 'AUGUST')
                 	#elseif($!c.bulanTunggakan == '9')
                 		#set($bulan = 'SEPTEMBER')
                 	#elseif($!c.bulanTunggakan == '10')
                 		#set($bulan = 'OCTOBER')
                 	#elseif($!c.bulanTunggakan == '11')
                 		#set($bulan = 'NOVEMBER')
                 	#elseif($!c.bulanTunggakan == '12')
                 		#set($bulan = 'DECEMBER')
                 	#else
                  		#set($bulan = '')
                  	#end
                  	<td align="center" >$bulan</td>
                  		
                    <td align="center" >$util.formatDecimal($c.jumlahTunggakan)</td>
                    <td align="center" >$util.formatDecimal($c.jumlahBayaran)</td>
                    
				    #if ($!c.tarikhBayaran) 
				    	#set ($tarikhBayaran = "$!util.getDateTime($!c.tarikhBayaran,'dd-MM-yyyy')") 
				    #else
				    	#set ($tarikhBayaran = "-") 
				    #end
				 	<td align="center" >$tarikhBayaran</td>
##					<td align="center" >$!util.getDateTime($!c.tarikhBayaran,'dd-MM-yyyy')</td>
                    
                    #if($!c.flagBayaran == '1')
                  		#set($statusBayaran = 'BELUM BAYAR')
                 	#elseif($!c.flagBayaran == '2')
                  		#set($statusBayaran = 'TELAH BAYAR')
                  	#elseif($!c.flagBayaran == '3')
                  		#set($statusBayaran = 'TUNGGAKAN')
                  	#elseif($!c.flagBayaran == '4')
                  		#set($statusBayaran = 'SELESAI')
                  	#elseif($!c.flagBayaran == '5')
                  		#set($statusBayaran = 'ANSURAN')
                  	#else
                  		#set($statusBayaran = '')
                  	#end
                    <td align="center" >$statusBayaran</td>
                    
                    <td align="center" >$!c.catatan</td>
                    
                    <td align="center" ><a href="javascript:void()" id="link$c.id"> <img alt="edit" src="../img/edit.gif" border="0"> </a></td>
                </tr>
                <script>
                    _jq('#link$c.id').on('click', function(){
						doDivAjaxCall3$formname('editpopup','editABT','idABT=$c.id');
                        jQuery('#editpopup').fadeIn();
                    });
                </script>
			#end
		</tbody>
    </table>
    
</fieldset>

<div id="addpopup" class="popup"></div>
<div id="editpopup" class="popup"></div>
