<table width="80%" cellpadding="5" cellspacing="0">
    <tr>
        <td style="width:150px"></td>
        <td style="width:10px"></td>
        <td></td>
    </tr>
	#number("findNoKp" "No. Kad Pengenalan" "")
	#input("findPemohon" "Nama" "")
	#date_input("findTarikhMohonDeposit" "Tarikh Mohon Deposit" "")
</table>