<div id="divKontraktor">	
	#parse("$path/maklumatKontraktor/maklumatKontraktor.vm")
</div>

<table width="100%">
	<tr>
		<td align="right">
    		<input id="simpan" name="simpan" type="button" value="Simpan" onclick="javascript:doSaveKontraktor();"/>
			<input id="btnBack" type="button" value="Kembali" onClick="$('div_main_entry').style.display='none';$('div_main').style.display='block';doDivAjaxCall$formname('div_list','list_page','page_num=$!current_page_num')">
		</td>
	</tr>
</table>