<select id="idKategoriBil" name="idKategoriBil" style="width:100%" onChange="doDivAjaxCall3$formname('selectKodBil','selectKodBil','')">
	<option value="">SILA PILIH</option>
	#foreach( $n in $selectKategoriBil)
		<option #if ($n.id ==  $!r.kodBil.kategori.id) selected #end value="$n.id">$n.keterangan.toUpperCase()</option>
	#end
</select>
