<select id="idStatus" name="idStatus" style="width:100%">
	<option value="">SILA PILIH</option>
	<option #if ( "Y" == $r.status) selected #end value="Y">AKTIF</option>
	<option #if ( "T" == $r.status) selected #end value="T">TIDAK AKTIF</option>
</select>
